@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),  url(../fonts/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(../fonts/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
 
}
@font-face {
  font-family: 'BebasNeueRegular';
  font-style: italic;
  font-weight: 400;
  background:url(../fonts/BebasNeue-webfont.woff)
  src: local('BebasNeueRegular Italic'), local('BebasNeueRegular-Italic'), url(../fonts/BebasNeue-webfont.woff) format('woff');
} 
.center {
	margin-left: auto;
	margin-right: auto;
}
.centered {
	text-align: center;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.full {
	width: 100%
}
.mr {
	margin-right: 50px;
}
.end {
	margin-right: 0!important;
}
.more:after {
	content: " »";
}
.separate-top {
	border-top: 1px solid #D8D8D8;
	padding-top: 21px;
}
.separate-bottom {
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 21px¡;
	margin-bottom: 21px;
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
hr {
	border: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #fff;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	filter: alpha(opacity = 30);
	clear: both;
	height: 0;
	margin: 42px 0;
}
[class^="col"]+[class^="col"] {
	margin-left: 50px;
}
.col1 {
	width: 30px;
}
.col2 {
	width: 70px;
}
.col3 {
	width: 110px;
}
.col4 {
	width: 150px;
}
.col5 {
	width: 190px;
}
.col6 {
	width: 230px;
}
.col7 {
	width: 270px;
}
.col8 {
	width: 310px;
}
.col9 {
	width: 350px;
}
.col10 {
	width: 390px;
}
.col11 {
	width: 430px;
}
.col12 {
	width: 470px;
}
.col13 {
	width: 510px;
}
.col14 {
	width: 550px;
}
.col15 {
	width: 590px;
}
.col16 {
	width: 630px;
}
.col17 {
	width: 670px;
}
.col18 {
	width: 710px;
}
.col19 {
	width: 750px;
}
.col20 {
	width: 790px;
}
.col21 {
	width: 830px;
}
.col22 {
	width: 870px;
}
.col23 {
	width: 910px;
}
.full {
	width: 100%;
}
.row1 {
	height: 21px;
}
.row2 {
	height: 42px;
}
.row3 {
	height: 63px;
}
.row4 {
	height: 84px;
}
.row5 {
	height: 105px;
}
.row6 {
	height: 126px;
}
@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/bebas-neue/BebasNeue-webfont.eot');
	src: url('../fonts/bebas-neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas-neue/BebasNeue-webfont.woff') format('woff'), url('../fonts/bebas-neue/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/bebas-neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.bebas-neue {
	font-family: 'BebasNeueRegular', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-weight: normal;
}
.ptsans {
	font-family: 'PT Sans', sans-serif;
}
.italic {
	font-style: italic;
}
html {
	font: 81.3%/1.618 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}
body, select, input, textarea {
	color: #444;
	font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, hgroup, ul + *, ol + *, dd, p, figure + *, pre, table, fieldset, hr {
	margin-bottom: 21px;
}
hgroup > * {
	margin-bottom: 0;
}
.gigantic {
	font-size: 4rem;
	letter-spacing: -2px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	;
}
h1 {
	font-size: 3rem;
	letter-spacing: -2px;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
	padding: 5px 0;
}
h4 {
	font-size: 1.2rem;
	padding: 8px 0 9px;
}
h5, .normal, body {
	font-size: 1rem;
}
.small {
	font-size: .8rem;
}
html, body {
	height: 100%;
}
body {
	background: url('../images/bg-diamond.png') #f5f2f2 fixed;
}
[role="main"] {
	background: rgba(255,255,255,.2);
	width: 910px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -273px;
	z-index: 1;
	padding-top: 126px;
	padding-bottom: 42px;
}
[role="main"].home {
	padding-top: 0;
}
[role="main"]:after {
	content: "";
	display: block;
	height: 273px;
	width: 910px;
	position: relative;
	margin: 0 auto;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,.6);
	background: rgba(0,0,0,.6);
	height: 84px;
	z-index: 6;
}
header, header .center {
	border-bottom: 1px solid rgba(255,255,255,.6);
	background: rgba(0,0,0,.6);
}
header .center {
	width: 910px;
	height: 100%;
	position: relative;
	z-index: 999;
}
.logo {
	display: block;
	width: 120px;
	position: relative;
	margin: 0 auto;
	z-index: 9999;
}
nav {
	text-align: center;
	width: 100%;
	position: relative;
	top: -100px;
	color: #fff;
	font: 17px 'BebasNeueRegular', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;

}
nav li {
	display: inline;
	float: none;
}
nav a {
	display: inline-block;
	padding: 10px 30px;
}
nav a:hover {
	text-decoration: underline;
}
nav li + li {
	border-left: 1px solid rgba(255,255,255,.6);
}
nav li:nth-of-type(4) {
	margin-left: 120px;
	border-left: none;
}
.nivoSlider, .nivoSlider * {
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}
.slider {
	width: 100%;
	height: 562px;
	margin-bottom: 42px;
	-moz-box-shadow: 0 2px 3px -1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 2px 3px -1px rgba(0,0,0,0.4);
	box-shadow: 0 2px 3px -1px rgba(0,0,0,0.4);
	;
}
.nivoSlider {
	z-index: 4;
}
.nivo-controlNav {
	padding: 0;
	position: relative;
	top: -63px;
	z-index: 5;
}
.nivo-control {
	display: block;
	float: left;
	overflow: hidden;
	width: 182px;
	background: #fff;
}
.nivo-control img {
	max-width: 100%;
}
.nivo-control:hover img {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}
.recent {
	width: 100%;
	border-top: 1px solid #d8d8d8;
}
.recent-summary, .recent article {
	float: left;
}
.recent article {
	width: 270px;
	margin-bottom: 21px;
}
.recent article + article {
	margin-left: 50px;
}
.recent article:nth-of-type(3n+4) {
	margin-left: 0;
}
.recent article figure > a {
	position: relative;
	float: left;
	display: block;
}
.recent article figure > a:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/plus-sign.png') no-repeat center center rgba(0,0,0,.6);
	top: 0;
	left: 0;
	float: left;
	display: block;
	opacity: 0;
}
.recent article figure > a:hover {
	-moz-box-shadow: 0 8px 12px -8px #000;
	-webkit-box-shadow: 0 8px 12px -8px #000;
	box-shadow: 0 8px 12px -8px #000;
}
.recent article figure > a:hover:after {
	opacity: 1;
}
figcaption .more, .blog .more {
	float: right;
	font-style: italic;
	color: #E095B4;
}
figcaption .more:hover, .blog .more:hover {
	color: #E35A88;
}
h1, .about p, .about h4, .more-info h4, .more-info h2, .more-info p {
	padding: 0 20px;
}
.services {
	margin-bottom: 42px;
}
.table {
	width: 100%;
	background: rgba(255,255,255,.3);
	margin-top: 42px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.table ul {
	float: left;
	width: 20%;
	margin: 0;
	position: relative;
	z-index: 2;
}
.table ul+ul {
	text-align: center;
}
.table li {
	position: relative;
}
.table ul:nth-child(n+2) li {
	border-left: 1px solid rgba(0,0,0,.2);
	border-right: 1px solid rgba(255,255,255,1);
}
.table ul:nth-child(n+2) li:first-child {
	background: #3A3A3A;
	border-left: 1px solid rgba(0,0,0,.6);
	border-right: 1px solid rgba(255,255,255,.1);
}
.table li:first-child {
	height: 105px;
	overflow: hidden;
}
.table li:first-child span {
	display: block;
	color: #fff;
	line-height: 105px;
	height: 105px;
	width: 100%;
	position: absolute;
	background: #3A3A3A;
	z-index: 2;
}
.table ul:hover li:first-child span {
	background: rgba(0,0,0,.3);
	font-size: .8rem;
	height: 17px;
	line-height: 17px;
}
.table ul:first-child li {
	padding-left: 10px;
}
.table li:nth-child(n+2) {
	line-height: 42px;
	height: 42px;
	width: 100%;
}
.table li:nth-child(2n) {
	background-color: #f0f0f0;
}
.table h4 {
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-weight: normal;
	font-size: 3rem;
}
.table h4 {
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-weight: normal;
	font-size: 3rem;
	padding: 21px 0 4px;
}
.table h4:after {
	content: "each";
	display: block;
	font-size: .8rem;
	color: #e1e1e1;
	position: relative;
	top: -15px;
	left: 30px;
	z-index: 1;
}
.small-plan h4 {
	background: #4a993e;
}
.medium-plan h4 {
	background: #c129f9;
}
.big-plan h4 {
	background: #f96129;
}
.corporate-plan h4 {
	background: #29c1f9;
}
.checked {
	background-image: url('../images/icon-check.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.gallery {
	width: 909px;
	position: relative;
	margin: 0 auto 63px;
}
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}
.filter {
	float: right;
	margin-top: -63px;
}
.filter li {
	float: left;
}
.filter li + li {
	margin-left: 5px;
}
.filter a {
	background: #E35A88;
	color: #fff;
	display: block;
	;
	padding: 5px 10px;
}
.filter a:hover {
	background: #3A3A3A;
}
.isotope li {
	width: 303px;
	height: 303px;
	float: left;
	overflow: hidden;
}
.isotope a {
	display: block;
	position: relative;
	z-index: 4;
}
.isotope a:after {
	content: attr(title);
	color: #fff;
	padding: 0 10px;
	background: rgba(0,0,0,.6);
	position: absolute;
	top: -21px;
	opacity: 0;
	z-index: 5;
}
.isotope a:hover figure {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}
.isotope a:hover:after {
	opacity: 1;
	top: 0;
}
.blog article {
	margin: 0 20px 21px;
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 21px;
}
.blog article:last-child {
	border: none;
	padding-bottom: 0;
}
.blog article, .post-description {
	overflow: hidden;
	position: relative;
}
.blog article > a:first-of-type {
	float: left;
	margin-right: 20px;
	position: relative;
}
.blog article > a:first-of-type:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/plus-sign.png') no-repeat center center rgba(0,0,0,.6);
	top: 0;
	left: 0;
	float: left;
	display: block;
	opacity: 0;
}
.blog article > a:first-of-type:hover {
	-moz-box-shadow: 0 8px 12px -8px #000;
	-webkit-box-shadow: 0 8px 12px -8px #000;
	box-shadow: 0 8px 12px -8px #000;
}
.blog article > a:first-of-type:hover:after {
	opacity: 1;
}
.post-description h4 {
	padding: 0 0 17px;
}
.post-info, .post-info li {
	float: left;
}
.post-info, .post-date {
	color: #a6a6a6;
	font-style: italic;
}
.post-info li {
	margin-right: 10px;
}
.post-date {
	position: absolute;
	top: 0;
	right: 0;
}
.post-info li:hover, .post-date:hover {
	border-bottom: 1px solid #a6a6a6;
}
.post-tags {
	background: url('../images/bg-tags.png') no-repeat;
}
.post-comments {
	background: url('../images/bg-comments.png') no-repeat;
}
.post-tags, .post-comments {
	background-position: left 5px;
	padding-left: 17px;
}
.form {
	float: left;
	width: 550px;
	padding: 0 50px 0 20px;
	margin-right: 50px;
	border-right: 1px solid #a6a6a6;
}
form h5 {
	margin-bottom: 21px;
}
.form * {
	width: 100%;
}
input[type=text], input[type=email], textarea {
	padding: 4px 5px 3px;
	margin-bottom: 21px;
	border: 1px solid #00aef1;
	-moz-box-shadow: 0px 1px 3px rgba(57,97,105,0.3) inset, 0 1px 4px -3px rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 1px 3px rgba(57,97,105,0.3) inset, 0 1px 4px -3px rgba(0,0,0,.6);
	box-shadow: 0px 1px 3px rgba(57,97,105,0.3) inset, 0 1px 4px -3px rgba(0,0,0,.6);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	-moz-box-shadow: 0px 1px 3px rgba(57,97,105,0.3) inset, 0 8px 10px -8px rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 1px 3px rgba(57,97,105,0.3) inset, 0 8px 10px -8px rgba(0,0,0,.6);
	box-shadow: 0px 1px 3px rgba(57,97,105,0.3) inset, 0 8px 10px -8px rgba(0,0,0,.6);
}
input[type=submit] {
	border: none;
	width: 70px;
	padding: 6px 0 5px;
	float: right;
	font-size: 11px;
	color: #fff;
	background: #00aef1;
	-moz-box-shadow: 0px 1px 0px rgba(1,49,67,0.6);
	-webkit-box-shadow: 0px 1px 0px rgba(1,49,67,0.6);
	box-shadow: 0px 1px 0px rgba(1,49,67,0.6);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
input[type=submit]:active {
	margin-top: 1px;
}
.contact-info {
	float: left;
}
footer {
	bottom: 0;
	left: 0;
	width: 100%;
	background: url('../images/bg-footer.png') #000;
	color: white;
	z-index: 6;
	border-top: 1px solid #000;
}
footer, footer > * {
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}
.footer-inner, .footer-inner-extend {
	width: 910px;
	position: relative;
	margin: 0 auto;
}
.footer-inner {
	height: 63px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	color: white;
	font-style: italic;
	text-align: center;
	line-height: 63px;
}
.footer-inner-extend {
	height: 210px;
	border-top: 1px solid rgba(0,0,0,0.8);
	padding: 21px 20px 0;
}
footer ul {
	float: left;
}
footer ul + ul {
	margin-left: 100px;
}
.bottom-lists {
	position: relative;
	width: 700px;
	margin: 0 auto;
}
footer li {
	padding: 3px 0;
	border-top: 1px solid rgba(0,0,0,1);
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
footer li:first-of-type {
	padding-top: 0;
	border-top: 0;
}
footer li:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
}
.social-nav li {
	list-style: none;
	padding: 3px 0;
}
.social-nav a:before {
	display: block;
	float: left;
	margin: 0 10px 0 -1px;
	position: relative;
	top: 2px;
}
.social-nav [href^="http://facebook.com"]:before {
	content: url('../images/facebook.png');
}
.social-nav [href^="http://twitter.com"]:before {
	content: url('../images/twitter.png');
}
.social-nav [href^="http://pinterest.com"]:before {
	content: url('../images/pinterest.png');
}
.social-nav [href^="http://flickr.com"]:before {
	content: url('../images/flickr.png');
}


/*Reset.css*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption, hgroup, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section {
	display: block;
}
audio:not([controls]) {
	display: none;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font: 13px/1.618 sans-serif;
	color: #444;
}
ul {
	list-style: none;
}
ol {
	list-style-type: decimal;
}
nav ul, nav li {
	margin: 0;
}
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
figure {
	position: relative;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
a img {
	border: 0;
}
figure img, object, embed, video {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover, a:active {
	outline: 0;
}
a:focus {
	outline: none;
}
::-moz-focus-inner {
border:0
}
select, input, textarea, button {
	font: 99% sans-serif;
}
input, select {
	vertical-align: middle;
}
::-webkit-input-placeholder {
color:#222;
}
:-moz-placeholder {
color:#222;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
label {
	cursor: pointer;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
*width:13px;
*height:13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance:none;
}
button, input {
	line-height: normal;
}
legend {
	white-space: normal;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: "";
	content: none;
}
small {
	font-size: 85%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}
button, input, select, textarea {
	margin: 0;
}
::selection {
	background: #E095B4;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
background:#E095B4;
color:#fff;
text-shadow:none;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
background:transparent;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}

@media print {
* {
	background: transparent !important;
	color: black !important;
	box-shadow: none !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: "";
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
@page {
	margin: 0.5cm;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
}