<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="" lang=""><head><include type="head"></include><!--[if IE 8]>
    <link rel="stylesheet" href="/templates//css/ie.css" />
  <![endif]--></head><body class="all ">

  <!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">

	<div class="bg_top">

    <!-- Top -->
    
      <div id="top-row">
        <div class="row-container">
          <div class="">
            <div id="top" class="">
              <!--start top-->{$editabletop}<!--end top-->
            </div>
          </div>
        </div>
      </div>
    

    <!-- Header -->
      <div id="header-row">
        <div class="row-container">
          <div class="">
            <header><div class="">
                  <!-- Logo -->
                  <div id="logo" class="span">
                    <a href="">
                      <img src="" alt=""></a>
                  </div>
                  <!--start header-->{$editableheader}<!--end header-->
              </div>
            </header></div>
        </div>
      </div>

    <!-- Navigation -->
    
      <div id="navigation-row">
        <div class="row-container">
          <div class="">
            <div class="">
              <nav><!--start navigation-->{$editablenavigation}<!--end navigation-->
              </nav></div>
          </div>
        </div>
      </div>
    

    <!-- Showcase -->
    
      <div id="showcase-row">
        <div class="row-container">
          <div class="">
            <div class="">
                <!--start showcase-->{$editableshowcase}<!--end showcase-->
            </div>
          </div>
        </div>
      </div>
    

	</div>

    <!-- Feature -->
    
      <div id="feature-row">
        <div class="row-container">
          <div class="">
            <div class="">
                <!--start feature-->{$editablefeature}<!--end feature-->
            </div>
          </div>
        </div>
      </div>
    
	
    <div class="bg_cont">

    <!-- Maintop -->
    
      <div id="maintop-row">
        <div class="row-container">
          <div class="">
            <div id="maintop" class="">
              <!--start maintop-->{$editablemaintop}<!--end maintop-->
            </div>
          </div>
        </div>
      </div>
    

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="">
          <div class="content-inner ">
        
            <!-- Left sidebar -->
            
              <div id="aside-left" class="span">
                <aside><!--start aside-left-->{$editableaside-left}<!--end aside-left-->
                </aside></div>
            
        
            <div id="component" class="span">
              <!-- Breadcrumbs -->
              
                <div id="breadcrumbs-row">
                  <div id="breadcrumbs">
                    <!--start breadcrumbs-->{$editablebreadcrumbs}<!--end breadcrumbs-->
                  </div>
                </div>
              
        
              <!-- Content-top -->
              
                <div id="content-top-row" class="">
                  <div id="content-top">
                    <!--start content-top-->{$editablecontent}<!--end content-top-->
                  </div>
                </div>
              
        
                <include type="message"></include><include type="component"></include><!-- Content-bottom --><div id="content-bottom-row" class="">
                  <div id="content-bottom">
                    <!--start content-bottom-->{$editablecontent-bottom}<!--end content-bottom-->
                  </div>
                </div>
              
            </div>
        
            <!-- Right sidebar -->
            
              <div id="aside-right" class="span">
                <aside><!--start aside-right-->{$editableaside-right}<!--end aside-right-->
                </aside></div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Mainbottom -->
    
      <div id="mainbottom-row">
        <div class="row-container">
          <div class="">
            <div id="mainbottom" class="">
              <!--start mainbottom-->{$editablemainbottom}<!--end mainbottom-->
            </div>
          </div>
        </div>
      </div>
    

    <!-- Bottom -->
    
      <div id="bottom-row">
        <div class="row-container">
          <div class="">
            <div id="bottom" class="">
              <!--start bottom-->{$editablebottom}<!--end bottom-->
            </div>
          </div>
        </div>
      </div>
    
    
    </div>
    
    </div>
  </div>

  <div id="footer-wrapper">
    <div class="footer-wrapper-inner">
      <!-- Footer -->
      
        <div id="footer-row">
          <div class="row-container">
            <div class="">
              <div id="footer" class="">
                <!--start footer-->{$editablefooter}<!--end footer-->
              </div>
            </div>
          </div>
        </div>
      
      
      <!-- Copyright -->
        <div id="copyright-row">
          <div class="row-container">
            <div class="">
              <div class="">
                <!-- Footer Logo -->
                <div id="copyright" class="span">
                  
                  <a class="footer_logo" href="">
                    <img src="" alt=""></a>
  					      
                  
  					      
					        
					        
                  
                  <a class="privacy_link" href=""></a>
  					      
                  
                  <a class="terms_link" href=""></a>
  					      
                </div>
                <!--start copyright-->{$editablecopyright}<!--end copyright-->
                
                <div class="span12">
                  <div id="to-desktop">
                    <a href="#"><span class="to_desktop"></span><span class="to_mobile"></span></a>
                  </div>
                </div>
  
                More <a rel="nofollow" href="http://www.templatemonster.com/category/spa-accessories-joomla-templates/" target="_blank">Spa Accessories Joomla Templates at TemplateMonster.com</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
    <div id="back-top">
      <a href="#"><span></span></a>
    </div>
  


  
    <!--start modal-->{$editablemodal}<!--end modal-->
  

  <!--start debug-->{$editabledebug}<!--end debug-->

  

</body></html>
