/* color:#7eaa06; */
body,html{
	margin:0;
	padding:0;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#312821;
	line-height:20px;
	}
p, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
* {
	border:none
}
a{
	border:0;
	color:#1BC2EF;
	}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
.main {
	margin:0 auto;
	width:1050px;
}
/*-------------------layout----------------------------*/
.layout_header{width:1050px; float:left;}
.layot_topmenu{width:1050px;}
.layout_mainarea{width:1050px;}
.layout_bannerarea{width:1050px; float:left; padding:5px 0px;}
.layout_row1{width:1050px; float:left; padding:5px 0px;}
.layout_threecolumnbox{width:342px; float:left;}
.layout_homecontentrow2{width:1050px; min-height:310px; }
.layout_fourcolumnbox{width:254px; float:left; }

/*-------------------layout----------------------------*/
.main_outer{
	background:url(../images/bg.jpg) no-repeat top center #000;
}
.outerwrapper_container{
}
.outerwrapper{
	width:1050px;	 margin: 0 auto; overflow:hidden;
	}
.wrapper{
	width:1050px; border-top:0;padding-bottom:5px;
	}
.header_wrapper{
	width:1050px; 
	margin:0px;
	padding:0px;
	float:left;}
.logo_sec{
	float:left;
	width:400px;
	height:80px;
	padding-top:25px;
}
.logo_name{
	float:left;
	width:400px;
	height:80px;
}
.logo_name h1{
	font-family: 'Open Sans Condensed', sans-serif; font-size:40px; color:#FFF; font-weight:normal; padding: 7px 0 0 0; width:400px; float:left; }
.logo_name h1 span{
	font-family: 'Open Sans Condensed', sans-serif; font-size:40px; color:#7eaa06;}
.logo_name h2{
	font-family: 'Open Sans Condensed', sans-serif; font-size:20px; color:#93999a; font-weight:normal; letter-spacing:.17em; margin-top:5px; width:400px; float:left;}
.socialshare{ 
	padding:0px;
	float:right;}	
.socialshare a{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.socialshare a:hover{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
	opacity:0.5;
}
.top_menu{
	padding-top:10px;
	height:40px;
	float:left;
	margin-top:15px;
}
.top_menu ul{
	height:40px;
	margin:0;
	padding:15px 0 0 0;
	float:right;}
.top_menu li{
	list-style:none;	display:block;	float:left;	margin-left:5px;
	}
.top_menu li a{
	height:40px; 
	line-height:40px; 
	padding: 0 20px; 
	display:block;
	text-decoration:none; 
	font-family: Helvetica, Arial, sans-serif;
	font-size:15px; color:#8d8d8e; font-weight:normal;
	cursor:pointer;}
.top_menu li a:hover {
	border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#7eaa06;
	color:#FFF;}
.top_menu .active a {
	border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#7eaa06;
	color:#FFFFFF;}
.banner ul, .threecolumnbox ul, .homecontentrow2 ul{
	height:40px;
	margin:0;
	padding:15px 0 0 0;
	float:right;}
.banner li,.threecolumnbox li, .homecontentrow2 li{
	list-style:none;	display:block;	float:left;	margin-left:5px;
	}
.banner li a, .threecolumnbox li a, .homecontentrow2 li a{
	height:40px; 
	line-height:40px; 
	padding: 0 20px; 
	display:block;
	text-decoration:none; 
	font-family: Helvetica, Arial, sans-serif;
	font-size:15px; color:#8d8d8e; font-weight:normal;
	cursor:pointer;}
.banner li a:hover, .threecolumnbox li a:hover, .homecontentrow2 li a:hover {
	border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#0cacce;
	color:#FFF;}
.banner .active a, .threecolumnbox .active a, .homecontentrow2 .active a{
	border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#0cacce;
	color:#FFFFFF;}
.banner_area_wrapper{
	width:1050px;
	margin-top:15px;
}
.banner{
	border:1px solid #696a6b;
	padding:9px;
	width:1030px;
	background:none;
	}
.banner img{
	height:580px;
	width:1030px;}
.homecontentrow1{
	padding:10px 0px;
	margin-top:25px;
	width:1050px;}
.threecolumnbox{
	width:300px;
	padding:0px 28px 30px 0px;
	float:left;}
.rightmarg1{
	margin-right:35px;}
.threecolumnbox h3, .recent_work_blk h3{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#696a6b;
	margin-bottom:40px;
	}
.threecolumnbox h3 span, .recent_work_blk h3 span{
	color:#7EAA06;}
.threecolumnbox img{
	width:300px;
	height:210px;
	padding:5px 0px;
	}
.threecolumnbox2{
	width:300px;
	padding:0px 30px 0px 30px;
	border-left:1px dashed #cccccc;
	height:250px;
	float:left;}
	
.threecolumnbox2 h3{
	 font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#696a6b;
	margin-bottom:20px;
	}
.threecolumnbox2 h3 span{
	color:#13c1e0;}
.homecontentrow1_image{
	margin-bottom:20px;}
.homecontentrow1_image img{
	width:290px;
	height:100px;
	border:5px solid #FFF;}
.homecontentrow1 p{
	color: #787878;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;}
.exp{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp li{
	width:282px;
	list-style:none;
	background: url("../images/menu_marker.png") no-repeat scroll 0 8px transparent;
	color:#5c5c5c;
    padding-bottom: 18px;
    padding-left: 18px;
}
.pad li p{
	width:282px;
	float:left;
	margin-top:7px;
    font-family:Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.more_blk{
	width:300px;
	float:left;
	margin-top:10px;
}
.morelink{
	border-radius:3px;
	-webkit-border-radius:3px;
	color:#ffffff;
	padding:7px 25px 7px 10px;
	line-height:21px;
	border:1px solid #9cc629;
	cursor:pointer;
	background:url(../images/right_arrow.png) #7eaa06 80% 55% no-repeat;}
.morelink:hover{
	cursor:pointer;
	border:1px solid #13c1e0;
	background:url(../images/right_arrow.png) #0c7588 85% 55% no-repeat;}
.new_date{
	width:300px;
	float:left;
}
.new_date ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.new_date li{
	width:300px;
	margin:0px 0px 17px 0px;
	padding:5px 0px 14px 0px;
	border-bottom:1px dashed #cccccc;
	list-style:none;
}
.date {
	float:left;
	width:46px;
	margin-right:20px;
	text-align:center;
	font-size:30px;
	color:#13c5ff;
	line-height:1.2em;
	padding-bottom:20px
}
.date span {
	display:block;
	font-size:53px;
	line-height:1.2em;
	margin-top:-8px;
	margin-bottom:-22px;
	letter-spacing:-2px
}
.homecontentrow2{
	margin:15px 0px 0px 0px;
	padding:15px 0px;
	width:1050px;
	float:left;
	}
.phylosophy_blk{
	width:300px;
	float:left;
	margin-top:15px;
	padding-left:30px;
	padding-bottom:20px;
	background:url(../images/sep1.jpg) repeat-y left top;
}
.phylosophy_blk p{
	width:300px !important;
	float:left;
	color: #b5b5b5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	line-height:21px;
}
.phylosophy_hdr{
	color: #0081c7;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	width:300px;}
.phylosophy_hdr span{
	color: #FFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.homecontentrow2_content{
}
.recent_work_blk{
	width:700px;
	padding-left:20px;
	float:left;
}
.recent_work_blk_hdr{
	color: #696a6b;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	float:left;
	width:700px;}
.recent_work_blk_hdr span{
	color: #7EAA06;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.recent_works{
	width:699px;
	margin-top:25px;
	float:left;
}
.r_work{
	width:200px;
	float:left;
	margin-right:49px;
}
.r_work img{
	width:190px;
	border:1px solid #2a2b2d;
	background:none;
	padding:4px;
	height:140px;
	float:left;
}
.nomarg{
	margin-right:0px !important;
}
.r_work p{
	width:200px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
	color: #727677;
	float:left;
	text-align:center;
	margin:5px 0 0 0;
	padding:0px;
}
.footer_outer{
	width:100%;
	height:80px;
	margin:0px;
	background:#9dc237;
}
.footer{
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:25px 0 15px 0; width:1050px;}
footer_content{
	width:1050px;
	float:left;
}
.footer_content p{
	color: #687939;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 15px;
	width:500px;
	float:left;
	}
.footer_logo{
	height:35px;
	float:right;
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#48382c; font-weight:normal;}
.footer_logo span{
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#814415;}
/*---------------------inner-------------------------*/
.inner_bg{
	background:url(../images/inner_bg.jpg) repeat-x;
}
.inner_content_block{
	width:1050px;
	padding:50px 0px;
	border-top:1px solid #474848;
	margin-top:15px;
}
.outerwrapper2{
	width:100%; background:#414141; min-height:305px;}
.wrapper2{
	width:1050px; margin: 0 auto; border-top:0; padding-bottom:5px;}
.content_left{
	width:700px;
	float:left;
	padding-right:48px;
}
.content_left_hdr{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#dedede;
	margin-bottom:20px;
	width:700px;
	}
.content_left p{
	color: #a0a3a4;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 22px;
	margin:25px 0px 15px 0px;
}
.content_left_hdr span{
	color:#7eaa06;}
.content_right{
	width:258px;
	float:left;
	background:url(../images/testi_bg.png) repeat;
	padding:20px;
	border:1px dashed #717677;
}
.Testimonials{
	width:258px;
	float:left;
}
.Testimonials h3{
	color:#7eaa06;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	background:url(../images/testimonial_icon_green.png) no-repeat;
	padding-left:50px;
	padding-bottom:15px;
	border-bottom:1px dashed #717677}
.Testimonials ul{
	margin:0;
	padding:0;}
.Testimonials li{
	list-style:none;
	border-bottom:1px solid #717677;
	padding:10px 0 0 0;}
.Testimonials p{
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
	color:#93999a;
	line-height:19px;
	padding-bottom:10px;}
.author{
	color:#5e6c3a !important;
	text-align:right;}
.contact_address{
	width:258px;
	float:left;
	padding:10px 0px;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
	color:#828788;
	line-height:19px;
}
.contact_address span{
	color:#7eaa06;
	font-family:"open Sans Condensed", arial;
	font-size:22px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
}
.contact_address p{
	width:258px;
	float:left;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
	color:#828788;
	line-height:19px;
}
.contact_form{
	width:320px;
	float:left;
	margin-top:30px;
}
.contact_form h4{
	color:#93999a;
	font-family:"open Sans Condensed", arial;
	font-size:26px;
	font-weight:normal;
	float:left;
	margin-bottom:10px;
	width:320px;
}
.text_feild {
    background:#3a3a3a;
    border: 1px solid #414242;
    color: #666868;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.text_area {
    background:#3a3a3a;
    border: 1px solid #414242;
    color: #666868;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
    height: 100px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.submit{
	width:100px;
	height:34px;
	float:left;
	margin:10px 0px;
	cursor:pointer;
	border-radius:3px;
	-webkit-border-radius:3px;
	color:#ffffff;
    font: 16px Helvetica, Arial,  sans-serif;
	border:1px dashed #a5cf31;
	outline:none;
	background:#7eaa06;
}
.submit:hover{
    font: 16px Helvetica, Arial,  sans-serif;
	border:1px dashed #0b9ab4;
	background:#0b7c91;
}
.portfolio{
	padding:10px 0px;
	clear:both;}
.portfolio ul{
	margin:0;
	list-style:none;
	padding:0;}
.portfolio li{
	list_style:none;
	display:block;
	float:left;
	border:1px solid #555555;
	padding:4px;
	margin:29px;}
.portfolio li:hover{
	opacity:0.7;
	}
	
.nomargin{
		margin-right:0!important;}
.portfolio_desc{
	padding:20px;}
.portfolio_desc h2{
	  color: #7D7D7D;
	  text-transform:uppercase;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
    font-weight: normal;
	padding-bottom:5px;}
.portfolio_desc p{
	  color: #C0BEBE;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    font-weight: normal; }