<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>F1 Fashion</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="outerwrapper">
			<div class="wrapper" id="sitecolor">
				<!--start header-->{$editableheader}<!--end header-->
			<div class="clear"></div>
			<!--start row1-->{$editablerow1}<!--end row1-->
				<div class="clear"></div>
				<!-- start footer -->{$editablefooter}<!-- end footer -->
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
