/* color:#3cb033; */
body,html{
	margin:0;
	padding:0;
	color:#333333;
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:13px;
	background:url(../images/bg.jpg) no-repeat top center #FFF;}
p, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
a{
	border:0;
	color:#1BC2EF;
	}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
/*-------------------layout----------------------------*/
.layout_header{width:1050px;}
.layot_topmenu{ height:58px; width:1050px;}
.layout_bannerarea{width:1050px;}
.layout_welcome{min-height:360px; float:left; width:369px;}
.layout_row1{width:1050px; margin-top:10px;}
.layout_threecolumnbox{width:348px; float:left;}
.layout_row2{width:1050px; margin-top:10px;}
.layout_row2threecolumnbox{width:348px; float:left;}
.layout_fourcolumnbox{width:254px; float:left; }

/*-------------------layout----------------------------*/
.outerwrapper_container{
		border-top:3px solid #FFF;}
.wrapper{
	width:1050px; border-top:0; padding-bottom:5px; margin:0px auto; }
.header_wrapper{
	width:1050px;
	min-height:144px;}
.logo_sec{
	height:77px;
	padding:15px;
	background:#FFF;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	float:left;
}	
.logo_image{
	height:77px;
	margin:0px;
	float:left;
}
.logo_image img{
	height:77px;}
.compnynamencaption{
	height:77px;
	margin:0px 0 10px 20px; float:left;
	}
.compnynamencaption h1{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial; font-size:35px; color:#64655f; font-weight:normal; padding: 10px 0 0 0; }
.compnynamencaption h1 span{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial; font-size:35px; color:#6c9a0e; font-weight:normal; }	
.compnynamencaption h2{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial; font-size:16px; color:#989494; font-weight:normal;}
.top_menu{
	background:url(../images/menu_bg.jpg) repeat-x;
	border-radius:10px;
	-webkit-border-radius:10px;
	}
.top_menu ul{
	height:44px;
	margin:0;
	padding:7px 10px;}
.top_menu li{
	list-style:none;	display:block;	float:left; margin-right:5px; 
	}
.top_menu li a{
	height:44px; 
	line-height:44px; 
	padding: 0 35px; 
	display:block;
	text-decoration:none; 
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:16px; color:#ffffff; font-weight:normal;
	border-radius:6px;
	-webkit-border-radius:6px;
	cursor:pointer;}
.top_menu li a:hover {background:url(../images/menu_over.jpg) repeat-x;}
.top_menu .active a {background:url(../images/menu_act_green.jpg) repeat-x;}
.main_content_area{
	width:1050px;
	background:url(../images/wt_bg.png) repeat;
	margin-top:20px;
}
.banner_area_wrapper{
	min-height:370px;
	width:1030px;
	padding:10px 5px 10px 10px;
	}
.banner{
	width:1030px;
	float:left;
	background:#656e76;
	}
.banner img{
	max-height:370px;
	max-width:1030px;
	}
.banner h2{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:29px;
	color:#FFF;
	padding:15px;}
.banner p{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:15px;
	color:#ffffff;
	line-height:21px;
	text-align:justify;
	padding:15px;
	}
.welcome_area{
	height:360px;
	background:url(../images/welcome_note_bg.jpg) no-repeat #4e7f2f;
	}
.welcome_area img{
	height:360px;
	width:369px;
}
.welcome_area h2, .threecolumnbox h2{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:29px;
	padding:35px 25px 15px 25px;
	color:#8b8986;
	padding-bottom:10px;}
.welcome_area p{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:14px;
	color:#454544;
	line-height:22px;
	padding:7px 25px 10px 25px;
	}
.morelink{
	border-radius:25px;
	-webkit-border-radius:25px;
	color:#ffffff;
	padding:3px 35px 3px 20px;
	line-height:21px;
	cursor:pointer;
	background:url(../images/arrow_right.gif) #6c9a0e 85% 50% no-repeat;
	margin-top:15px;}
.morelink:hover{
	background:url(../images/arrow_right.gif) #4f4f4f 85% 50% no-repeat;
}
.morelink2{
	border-radius:25px;
	-webkit-border-radius:25px;
	color:#ffffff;
	padding:3px 35px 3px 20px;
	line-height:21px;
	cursor:pointer;
	background:url(../images/arrow_right.gif) #e3c72d 85% 50% no-repeat;
	margin-top:15px;}
.morelink2:hover{
	background:url(../images/arrow_right.gif) #4c4d2c 85% 50% no-repeat;
}	
.homecontentrow1{
	padding:35px 11px 25px 11px;
	width:1028px;
	}
.threecolumnbox{
	margin:10px 5px 10px 10px;
	width:303px;
	border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	float:left;
	padding:15px;
	background:url(../images/blk_default.jpg) no-repeat #399ba4;
	}
.threecolumnbox img{
	width:303px;
	height:250px;
}
.color1{
	background:url(../images/blk_green.jpg) no-repeat #83b401;
}
.color2{
	background:url(../images/blk_drakgreen.jpg) no-repeat #5ea547;
}
.color3{
	background:url(../images/blk_bluegreen.jpg) no-repeat #298999;
}
.threecolumnbox h2{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
	height:34px;
    font-weight: normal;
	color:#64655f;
	margin-bottom:15px;
	border-bottom:1px dashed #b4cd7a;
	padding:5px 0px 10px 0px;
	}
.threecolumnbox h3{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 27px;
	height:43px;
    font-weight: normal;
	color:#f7f7f7;
	padding:10px;
	}
.threecolumnbox h3 img, .welcome_area h3 img, .banner h3 img, .row2threecolumnbox h3 img{
	width:40px;
	height:27px;
	margin-right:7px;
}
.threecolumnbox h3 span{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 27px;
	line-height:43px;
	height:43px;
	display:inline-block;
    font-weight: normal;
	color:#f7f7f7;
}
.threecolumnbox p{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 15px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
	margin-top:7px;
	}
.welcome_area h3, .banner h3, .fourcolumnbox h3{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
	height:34px;
	padding:10px;
    font-weight: normal;
	color:#64655f;
	margin-bottom:15px;
	}
.banner h3{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
	height:34px;
	padding:10px;
    font-weight: normal;
	color:#FFF;
	margin-bottom:15px;
	}
.row2threecolumnbox{
	margin:10px 5px 10px 10px;
	width:333px;
	float:left;
	border-top:1px solid #ededed;
}
.row2threecolumnbox img{
	width:333px;
	height:115px;
	margin:7px 0px;
}
.row2threecolumnbox h3{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
    font-weight: normal;
	color:#676767;
	margin-bottom:15px;
	padding-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid #ededed;
}
.row2threecolumnbox p{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
	margin-top:7px;
}
.row2threecolumnbox ul{
	margin:7px 0px 0px 0px;
	padding:0px;
}
.row2threecolumnbox li{
	list-style:none;
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
	padding:0px 0px 10px 0px;
	border-bottom:1px dashed #e5e5e5;
	margin:0px 0px 10px 0px;
}
.row2threecolumnbox li a{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 14px;
    font-weight: bold;
	color:#6c9a0e;
	margin-bottom:5px;
	text-decoration:none;
}
.blue_a{
	color:#000 !important;
	text-decoration:none;
}
.blue_a:hover{
	color:#858585 !important;
	text-decoration:none;
}
.row2threecolumnbox li a:hover{
	color:#000;
	text-decoration:none;
}
.row2threecolumnbox li img{
	width:77px;
	height:59px;
	margin:8px 8px 8px 0px;
	float:left;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.row2threecolumnbox li p{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
}
.row2threecolumnbox h2{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
    font-weight: normal;
	color:#676767;
	margin-bottom:15px;
	padding-bottom:10px;
}
.banner ul, .threecolumnbox ul, .welcome_area ul, .fourcolumnbox ul{
	margin:7px 0px 0px 0px;
	padding:5px;
}
.threecolumnbox li, .welcome_area li, .fourcolumnbox li{
	list-style:none;
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
	padding:10px 5px;
	border-bottom:1px dashed #e5e5e5;
	margin:0px 0px 10px 0px;
}
.banner li a, .threecolumnbox li a, .welcome_area li a, .fourcolumnbox li a{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	color:#dd8410;
	margin-bottom:5px;
}
.threecolumnbox li img, .welcome_area li img, .fourcolumnbox li img{
	width:77px !important;
	height:59px !important;
	margin:8px 8px 8px 0px;
	float:left;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.banner li p, .threecolumnbox li p, .welcome_area li p, .fourcolumnbox li img{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
}
.homecontentrow2{
	margin:10px 0px;
	padding:30px 0 0 0;
	border-top:1px solid #E9E8E6;
	width:1050px;
	}
.homecontentrow2_hdr{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
    font-weight: normal;
	color:#676767;
    margin-bottom: 30px;
}
.homecontentrow2_hdr h3{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
	margin:0px 10px;
    font-weight: normal;
	color:#676767;
}
.homecontentrow2_content{
}
.fourcolumnbox{
	margin:0 10px;
	float:left;
	width:220px;
	}
.fourcolumnbox img{
	max-width:220px !important;
	max-height:120px !important;
}
.rightmarg2{
	margin-right:40px;}
.no-rightmarg{
	margin-right:35px;}
.fourcolumnbox_image{
	width:220px;
	height:120px;
	margin-bottom:15px;}
.fourcolumnbox p{
	color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 8px;
}
.fourcolumnbox p span{
	color:#999999;}
.row2threecolumnbox .fourcolumnbox_image img{
	width:333px;
	height:115px;
	margin:7px 0px;
}
.footer_outer{
	width:100%;
	min-height:75px;
	padding-bottom:20px;
}
.footer{
	width:1050px;
	padding:0px 0 7px 0; 
	margin:10px auto;
	border-top:1px solid #e3e3e1;
	border-bottom:1px solid #e3e3e1;
}
.copy{
	width:399px;
	float:left;
	padding-left:10px;
}
.footer p{
	color: #73816a;
    font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 12px;
    line-height: 12px;
	padding-top:10px;
    padding-bottom: 15px;}
.ftr_link{
	float:left;
	width:649px;
	padding:0px;
}
.footer ul{
	float:left;
	padding:0px;
}
.footer li{
	list-style:none;
	float:left;
	font:13px "Trebuchet MS", "Helvetica Condensed", Arial;
	color: #7dab00;
	padding:0px;
}
.footer li a{
	font:13px "Trebuchet MS", "Helvetica Condensed", Arial;
	color: #73816a;
	text-decoration:none;
	padding:0px 10px;
	float:left;
}
.socialshare{ 
	margin-top:20px;
	padding:0px;
	float:right;}	
.socialshare a{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.socialshare a:hover{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
	opacity:0.5;
}

/*------------------------------------------innercontentarea--------------------------------------------*/
.innercontentrea{
	padding:25px;
	background:#FFF;
	}
.content_left{
	float:left;
}
.content_right{
	float:left;
	border-left:1px solid #E9E8E6;
	padding-left:10px;
}
.innercontentrea_leftcol{
	width:674px;
	float:left;
	padding: 15px 25px 15px 15px;
	}
.innercontentrea_rightcol{
	width:270px;
	padding: 15px 15px 15px 25px;
	float:right;
	}
.innercontentrea_leftcol h2{
	color:#514E4E;
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:22px;
	font-weight:normal;
	padding-bottom:20px;
}
.innercontentrea_leftcol p{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	color:#868686;
	font-size:14px;
	line-height:22px;
	padding-bottom:15px;
}
.featuredservices, .Testimonials{
	width:270px;
	margin-bottom:25px;}
.featuredservices h3,
.Testimonials h3{
	color:#618817;
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:22px;
	font-weight:normal;
	padding-bottom:15px;}
.featuredservices ul{
	margin:0;
	padding:0;}
.featuredservices li{
	list-style:none;
	border-bottom:1px dotted #E9E8E6;
	padding:10px 0;}
.featuredservices li a{
	color:#949090;
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	padding:7px 0 7px 35px;
	background:url(../images/arrow2.png)  0% 50% no-repeat;}
.Testimonials ul{
	margin:0;
	padding:0;}
.Testimonials li{
	list-style:none;
	border-bottom:1px solid #E9E8E6;
	padding:10px 0 0 0;}
.Testimonials p{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:13px;
	color:#969595;
	line-height:19px;
	padding-bottom:10px;}
.author{
	color:#706D6D !important;
	text-align:right;}
.homecontentrow1_image img{
	width:310px;
	height:150px;}
.fourcolumnbox_image img{
	width:220px;
	height:120px;}
.lnews_inr{
	width:270px;
	float:left;
	margin-bottom:30px;
}
.lnews_inr img{
	width:270px;
	height:115px;
	margin:7px 0px;
}
.lnews_inr h3{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
    font-weight: normal;
	color:#618817;
	margin-bottom:15px;
	padding-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid #ededed;
}
.lnews_inr p{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
	margin-top:7px;
}
.lnews_inr ul{
	margin:7px 0px 0px 0px;
	padding:0px;
}
.lnews_inr li{
	list-style:none;
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
	padding:0px 0px 10px 0px;
	border-bottom:1px dashed #e5e5e5;
	margin:0px 0px 10px 0px;
}
.lnews_inr li a{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 14px;
    font-weight: bold;
	color:#4295f3;
	margin-bottom:5px;
	text-decoration:none;
}	
.lnews_inr li img{
	width:77px;
	height:59px;
	margin:8px 8px 8px 0px;
	float:left;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.lnews_inr li p{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 13px;
    font-weight: normal;
	line-height:21px;
	color:#76766c;
}
.lnews_inr h2{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
    font-size: 25px;
    font-weight: normal;
	color:#676767;
	margin-bottom:15px;
	padding-bottom:10px;
}
.content_left_hdr{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#737271;
	margin-bottom:20px;
	width:650px;
	}
.content_left p{
	color: #8a8987;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
	margin:25px 0px 15px 0px;
}
.content_left_hdr span{
	color:#779c20;}
.contact_address{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:22px;
	padding-left:40px;
	margin-top:20px;
}
.contact_address span{
	color:#9cbe2e;
	font-family:"open Sans Condensed", arial;
	font-size:30px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
	margin-bottom:10px;
}
.contact_address p{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:19px;
}
.contact_form{
	width:320px;
	float:left;
	margin-top:30px;
}
.contact_form h4{
	color:#9b9b9b;
	font-family:"open Sans Condensed", arial;
	font-size:26px;
	font-weight:normal;
	float:left;
	margin-bottom:10px;
	width:320px;
}
.text_feild {
	border-radius:5px;
	-webkit-border-radius:5px;
    background:#cacbcc;
    border: 1px solid #b5b5b5;
    color: #737373;
    font: 13px Arial,Helvetica,sans-serif;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.text_area {
	border-radius:5px;
	-webkit-border-radius:5px;
    background:#cacbcc;
    border: 1px solid #b5b5b5;
    color: #737373;
    font: 13px Arial,Helvetica,sans-serif;
    height: 100px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.submit{
	width:100px;
	height:34px;
	border-radius:5px;
	-webkit-border-radius:5px;
	float:left;
	margin:10px 0px;
	cursor:pointer;
    color: #FFF;
    font: 16px Arial,Helvetica,sans-serif;
	border:0;
	outline:none;
	background:url(../images/menu_act_green.jpg) repeat-x;
}
.submit:hover{
    font: 16px Arial,Helvetica,sans-serif;
	background:url(../images/menu_over.jpg) repeat-x;
}
.left_pad{
padding:25px 20px;
}