<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>::Whales Tours & Travels::</title>
</head>

<body>
<div class="main_outer">
	<div class="outer_container">
	<div id="sitecolor">
		<div class="wrapper2">
			<div class="layout_header">
			<!-- start header -->{$editableheader}<!-- end header -->
			<div class="clear"></div>
			</div>
			<div class="layot_topmenu">
			<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
			<div class="clear"></div>
			</div>
			<div class="layout_row1">
			<!-- start row1 -->{$editablerow1}<!-- end row1-->
				</div>
			<div class="layout_homecontentrow2">
			<!-- start row2-->{$editablerow2}<!-- end row2-->
			<div class="clear"></div>
			</div>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="footer_outer">
			<div class="footer">
				<!-- start footer -->{$editablefooter}<!-- end footer -->
			</div>
		</div>
	</div>
</div>		
</div>	
</body>
</html>
