RewriteEngine On
RewriteBase /
#RewriteCond %{HTTP_HOST} ^create\-website\-fast\.com
#RewriteRule ^(.*)$ /sitebuild/$1 [L]

#php_value post_max_size 10M
#php_value upload_max_filesize 10M

ErrorDocument 404 /error.html

Options -Indexes