<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>TeamBuzz</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="outerwrapper">
			<div class="wrapper">
				<!-- start header -->
				<div class="layout_header">
					<div class="header_wrapper">
						<div class="logo_sec">
							<div class="compnynamencaption">
								<h1 id="heading" data-type="heading">Team<span>BuZz</span></h1>
								<h2 id="caption" data-type="caption">The complete Business solution</h2>
							</div>
						</div>
				<div class="layot_topmenu">
					<div class="top_menu">
						<ul  data-type="menu">
							<li class="active"><a data-alias="index">Home</a></li>
							<li><a data-alias="aboutus">About Us</a></li>
							<li><a data-alias="services">Services</a></li>
							<li><a data-alias="contactus">Contact Us </a></li>
						</ul>
					<div class="clear"></div>
				</div>
				
				</div>
						<div class="clear"></div>
					</div>
				</div>
				<!-- end header -->
				<div class="layout_bannerarea">
					<div class="banner_area_wrapper">
					<div class="layout_banner">
						<div class="banner">
						<!-- start banner -->
						<div data-type="slider">
						<img src="images/banner.jpg" width="750" height="370" data-edit="true" title="Click here to update your gallery" />
						</div>
						<!-- end banner -->
						</div>
					</div>
					<div class="layout_welcome_area">
						<!-- start note -->
						<div class="welcome_area">
						<h2>Welcome</h2>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
						Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
						consectetuer adipis cing elit. Mauris fermentum dictum magna. 
						Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.</p>
						<p><a class="morelink right">more</a></P>
						<div class="clear"></div>
					</div>
					<!-- end note -->
					</div>
					<div class="clear"></div>
				</div>
				</div>
				<div class="clear"></div>
				<!-- start box1 -->
				<div class="layout_row1">
					<div class="homecontentrow1">
						<div class="layout_threecolumnbox">
							<div class="threecolumnbox">
							<h3>Business <span>Planning</span> </h3>
							<div class="homecontentrow1_image">
							<img src="images/img1.jpg" data-edit="true">
							</div>
							<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
								Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
								consectetuer adipis cing elit. Mauris fermentum dictum magna. 
							</p>
							<p><a class="morelink right">more</a></P>
							<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="layout_threecolumnbox">
							<div class="threecolumnbox">
								<h3>Quality <span>Control</span> </h3>
								<div class="homecontentrow1_image">
								<img src="images/img2.jpg" data-edit="true">
								</div>
								<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
									Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
									consectetuer adipis cing elit. Mauris fermentum dictum magna. 
								</p>
								<p><a class="morelink right">more</a></P>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="layout_threecolumnbox">
							<div class="threecolumnbox">
								<h3>Business <span>Strategies</span> </h3>
								<div class="homecontentrow1_image">
								<img src="images/img3.jpg" data-edit="true">
								</div>
								<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
									Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
									consectetuer adipis cing elit. Mauris fermentum dictum magna. 
								</p>
								<p><a class="morelink right">more</a></P>
								<div class="clear"></div>
							</div>
						</div>
						
						<div class="clear"></div>
					</div>
				
				</div>
				<!-- end box1 -->
				
				<!-- start box2 -->
				<div class="layout_homecontentrow2">
					<div class="homecontentrow2">
						<div class="homecontentrow2_hdr">
						Our Mission
						</div>
						<div class="homecontentrow2_content">
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
								<div class="fourcolumnbox_image">
								<img src="images/img4.jpg" data-edit="true">
								</div>
								<p><span>Finance</span></p>
								<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
								<div class="clear"></div>
							</div>
								
							</div>
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
									<div class="fourcolumnbox_image">
									<img src="images/img5.jpg" data-edit="true">
									</div>
									<p><span>Accounting</span></p>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
									<div class="clear"></div>
								</div>
							</div>
							
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
									<div class="fourcolumnbox_image">
									<img src="images/img6.jpg" data-edit="true">
									</div>
									<p><span>Economics</span></p>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
									<div class="clear"></div>
								</div>
							</div>
							
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
									<div class="fourcolumnbox_image">
									<img src="images/img7.jpg" data-edit="true">
									</div>
									<p><span>Support</span></p>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
									<div class="clear"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				
				
				
				
					<div class="clear"></div>
				</div>
				
				<!-- end box2 -->
				
			<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="footer_outer">
			<div class="footer">
			<!-- start footer -->
			<div id="site_banner" data-type="site_banner"></div>
			<div class="footer_content">
				 <p>&copy;2013 TeamBuzz All Rights Reserved </p>
				 <div class="socialshare"  data-type="socialshare">
					<a href="#"><img src="images/ricon_facebook1.png" data-edit="true"></a>
					<a href="#"><img src="images/ricon_linkedin1.png" data-edit="true"></a>
					<a href="#"><img src="images/ricon_twitter1.png" data-edit="true"></a>
				</div>
			</div>
			<!-- end footer -->
			</div>
		</div>

	</div>
	</div>
	</div>
	
</body>
</html>
