
/*
	
	dark theme color:#4B4F52;
	theme color- #7E858A
	light theme color- #D3D5D7
	semi theme color:#EFF0F1;
 	 */


html, body {
    height: 100%;
    margin: 0;
    padding: 0; color:#626667
	
}
h1, h2, h3, h4, h5, h6, h7, p, ul{
	margin:0; padding:0;}
.clear{ clear:both;
}

a:link,
a:visited,
a:active{
	color:#242424;
	text-decoration:none;
}
a:hover{
	color:#242424;
	text-decoration:none;
}



/*--------------------------------- New styles start--------------------------------*/
.wrps_main{ width:100%;
			position:relative;
			min-height: 100%;
			position: relative;
			
}

.top_wrps{ width:100%;
		   /*height:113px;*/
		   background-color:#ffffff;
		  
}
.inner_top_wrps{ width:100%;
		   /*height:80px;*/
		   background-color:#ffffff!important;
		  border-bottom:#7E858A solid 10px;
		  
}

.promo_dv_ads{ width:100%;
			   height:170px;
			   background:url(mid-bg.jpg) repeat-x bottom;
				
}
.tpwrp_inner{ /*height:80px;*/
			  width:900px;
			  margin:0 auto;
}

.banner_wrps{ 
			  background-color:#7E858A;
}
/*.prom_addmid{ width:900px;
			  height:152px;
			  background:url(promo_hds.jpg) top left no-repeat;
			  margin:0 auto;
}*/

.bnr_inwrap{ width:900px;
			 background:url(banner_bg.png) top left no-repeat;
			 margin:0 auto;
}

.logo_tpsections{ width:378px;
				  /* height:80px; */
				  float:left;
                                  padding: 20px 0px;
}

.top_rightsection{ width:522px;
                   float:right;
                   padding:0;
}



/*------ top nav styles start --------*/

.hmnavstyles ul{ list-style:none;
				 float:right;
				 margin:0;
				 padding:0;
}

.hmnavstyles li{ float:left;
				  margin:0 0 0 10px;
}

.hmnavstyles li a{ font-family:Arial, Helvetica, sans-serif;
				   font-size:15px;
				   color:#686F6F;
				   text-decoration:none;
				   padding:28px 5px 28px 5px;
				   text-transform:uppercase;
				   display:block;
}

.hmnavstyles li a:hover,.hmnavstyles li a.active{ color:#FF891D; 
}

/*------ top nav styles end --------*/

.banner_lftxtsection{	width:497px;
					  /*height:417px;*/
					  float:left;
					  position:relative;
}

.banner_text{
	/*position:absolute;*/
	top:20px;
	width:450px;
        color:#FFFFFF;
}
.banner_text .head{
	font-family: dosis, arial;
	font-size:35px;
	line-height:35px;	
	color:#FFFFFF; padding:50px 0 0 0;
	
	margin-bottom:10px;
	/*text-shadow:#333333 2px 2px 5px;
	font-weight:bold;*/
	
}
.banner_text .head span{	
	color:#D3D5D7;
	
}
.banner_text .cnt{
	font-family: dosis, arial;
	font-size:19px;
	line-height:30px; padding:10px 0 0 0;
	color:#FFFFFF;
	
}

.banner_slide_section{ width:403px;
					  height:417px;
					  float:left;
					  position:relative;
}

/*.strtbtn{ width:264px;
		  height:83px;
		  float:left;
		  position:absolute;
		  bottom:30px;
		  background-image:url(start_btn.png);
		  background-repeat:no-repeat;
		  background-position:left;
}*/
.strtbtn{
		  /* position:absolute;
		  bottom:60px;*/
          margin-bottom: 15px;
}

.strtbtn a{  display:block; color:#fff;margin-top: 15px;}

.strtbtn a span{ display:none;	  
}

.slide_computwrp{ width:376px;
				  height:301px;
				  position:absolute;
				  background-image:url(slide_screen.png);
				  background-repeat:no-repeat;
				  bottom:29px;
				  padding-top:42px;
				  padding-left:18px;
				  
}

.slider_container{
	width:360px;
	height:200px;
}

/*.price_dvs{ width:206px;
			background-image:url(stckr_img.png);
			background-repeat:no-repeat;
			position:absolute;
			bottom:0px;
			right:5px;
			height:120px;
}
*/.price_dvs{ width:215px;
			/*position:absolute;*/
			bottom:75px;
			left:205px;
                        margin-top: 10px;
}

.price_amnt h5{ font-family: dosis, arial;
				font-size:26px;
				color:#FFFBB3;
				margin:0;
				font-weight:normal;
				
}
.cntarea_dvs{ padding:0px 0 160px 0;
			  min-height:100%;
			  position:relative;
}


.cnt_innerdvs{ width:900px;
			   margin:0 auto;
			   position:relative;
			   text-align:left;
			   
}
.cnt_innerdvs_admin{ 
width:900px;
			   margin:0 auto;
			   font-size:12px;
			   
}

.hm_lftdiv{ width:433px;
		    float:left;
			background:url(../images/vrt_dtlines.jpg) top right repeat-y;
			padding:0 20px 0 0;
			
			

}

.hm_rgtdiv{ width:421px;
			float:right;
}

.hm_lftdiv h1{ font-family: dosis, arial;
				font-size:31px;
				color:#4b4b4b;
				font-weight:normal;
				margin:5px 0 5px 0;
				padding:5px 0 15px 0;
}

.hm_rgtdiv h2{ font-family: dosis, arial;
				font-size:32px;
				color:#4b4b4b;
				font-weight:normal;
				margin:5px 0 5px 0;
				padding:5px 0 5px 0;
}

.hm_lftdiv p{ font-family:Arial, Helvetica, sans-serif;
			  font-size:14px;
			  color:#626667;
			  margin:0; font-weight:normal;
			  padding:5px 0 5px 0;
			  line-height:22px;
}








/*----------- Footer Styles Start------------*/

.ftr_divsmani{ width:100%;
			   height:116px;
			   background-color:#242424;
			   position:absolute;
			   bottom:0;
			   color:#FFFFFF;
			   font-family:Arial, Helvetica, sans-serif;
			   font-size:12px;
			   
}

.ftr_divsmani a:link,
.ftr_divsmani a:visited,
.ftr_divsmani a:active
{ 
text-decoration:none;
			   
}
.ftr_divsmani a:hover
{ 
color:#FFFFFF;
			   
}

.ftr_mains{ width:900px;
			height:96px;
			margin:0 auto; padding:20px 0 0 0
}
.ftr_mains p{color:#686f6f !important;}
.ftr_mains p a{color:#686f6f !important;}
.ftr_mains p a:hover{color:#fff !important;}

.footer_lfet{ width:400px; text-align:right}

.footer_rgt{ width:440px;}

.footer_rgt p{ font-family:Arial, Helvetica, sans-serif;
			   font-size:12px;
			   color:#686f6f;
}

.tmlist_styles{ /*border:1px solid #ECECEC;
				background-color:#FBFBFB;*/
}






/*--------------------------------- New styles end--------------------------------*/















.background{
   background: #FFFFFF;
}
.maintext {
        FONT-WEIGHT: normal;
        FONT-SIZE: 12px;
        COLOR: #000000;
        font-family:Arial, Helvetica, sans-serif;
}
.whitetext {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #FFFFFF;;
        FONT-FAMILY: verdana;
}
.greentext{
       FONT-SIZE: 11px;
       COLOR: green;
       FONT-FAMILY: verdana;


}
.helptext {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	line-height: 14px;
}
.maintextbold{
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        color: #333333;
}
.bigTitleText{
        FONT-WEIGHT: bold;
        FONT-SIZE: 15px;
        COLOR: #333333;
        FONT-FAMILY: verdana;
}
.editorbutton {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000000;
        background-color: #FFFFFF;
        border: 1px solid #7C6416;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-image:url(../images/btn_bg.gif);
	background-repeat:repeat-x;
	border:none;
	background-color:#FF6E1F;
	padding:3px 10px 3px 10px;
}
.textbox {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
        border: 1px solid #CFCDD6;
        padding: 3px 3px 3px 5px;
}
.selectbox {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
        border: 1px solid #CFCDD6;
        padding: 3px 3px 3px 5px;
}
.errormessage{
       FONT-WEIGHT: normal;
        FONT-SIZE: 13px;
        COLOR:red;
        FONT-FAMILY: verdana;
        padding: 10px 0 0 0;
}
.anchor{
        font-family: Arial;
        font-size: 12px;

        line-height: 18px;
        color: blue;
        text-decoration: none;


}
.maintextbigbold{
       FONT-WEIGHT: bold;
        FONT-SIZE: 13px;
        COLOR: #333333;
        FONT-FAMILY: verdana;


}

.redtext{
       FONT-SIZE: 12px;
        COLOR: red;
        FONT-FAMILY: Arial, Helvetica, sans-serif;


}
.MoveUp {
        background-image: url(/images/arr_up.gif);
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 15px;
        font-size: 11px;
}
.Actions {
        color: #999999;
        font-size: 11px;
}

.textwhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #1B5269;
}

.toplinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: #1B5269;
}
.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: underline;
}
.subtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #818181;
}
.bodyband {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, verdana, helvetica, sans-serif; TEXT-DECORATION: none
}
.toolbar {
	BORDER-RIGHT: #d4d0c8 1px solid; BORDER-TOP: #d4d0c8 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #d4d0c8 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #d4d0c8 0px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: buttonface
}
/*.blacksub {
	background-color: #DDF9F7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}*/
.blacksub {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #303131;}
.listingmain {
	background-color: #D3D5D7;
}
.fieldsets {
	border: 1px solid #C5C3C3;
}
.editorlinks{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #000000;
	text-decoration: underline;
}
.sidelinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #666666;
	font-weight: bold;
}
.easytext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #666666;
	font-weight: normal;
}
.copyright {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #E41E4F;
	font-weight: bold;
}
.heading {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #E41E4F;
	font-weight: bold;
}
.borderbg{
   background:#AFE1FA;
}
.footerbg{
  background:#DDF1FB;
}
.headerclass{
   background: url(../images/echeader.gif);BACKGROUND-REPEAT: no-repeat;
}

.userheaderclass{
   background: url(../images/ecinnerheader.gif);BACKGROUND-REPEAT: no-repeat;
}
.editorheaderclass{
   background: url(../images/paenlheader.gif);BACKGROUND-REPEAT: no-repeat;
}
#bubble_tooltiplicensekey{
	width:307px;
	position:absolute;
	display:none;
}
#bubble_tooltiplicensekey .bubble_top{
	background-image: url('../images/bubble_toplicense.gif');
	background-repeat:no-repeat;
	height:16px;
}
#bubble_tooltiplicensekey .bubble_middle{
	background-image: url('../images/bubble_middlelicense.gif');
	background-repeat:repeat-y;
	background-position:bottom left;
	padding-left:22px;
	padding-right:7px;
}
#bubble_tooltiplicensekey .bubble_middle span{
	position:relative;
	top:-8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:14px;
}
#bubble_tooltiplicensekey .bubble_bottom{
	background-image: url('../images/bubble_bottomlicense.gif');
	background-repeat:no-repeat;
	background-repeat:no-repeat;
	height:44px;
	position:relative;
	top:-6px;
}

.footer_comm_div{
	clear:both;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;
}
.footer_comm_div a:link,
.footer_comm_div a:visited,
.footer_comm_div a:active

{
	color:#7E858A;
	text-decoration:none;
	font-size:12px;
}
.footer_comm_div a:hover

{
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}

.main_heading{
	color:#7E858A;
	font-family:"Trebuchet MS";
	font-size:28px;
	font-weight:normal;
	background-image:url('../images/divider_dot.gif');
	background-repeat:repeat-x;
	background-position:bottom;
	margin:5px 0px 10px 0;
	padding:0 0 10px 0;
}

.helpcenter{
	background-color:#D3D5D7;
	border-bottom:#7E858A solid 1px;
}
.helpcenter_head{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	font-size:16px;
	padding:0 10px 10px 0;
}
.helpcenter_image{	
	padding:0 10px 10px 0;
}
.helpcenter_image img{
	border:#7E858A solid 2px;	
}
.common_box{
	
}

.adm_toplinks{
	padding-top:10px;
	font-size:12px;
	color:#FFFFFF;	
	font-family:Arial, Helvetica, sans-serif;
}
.adm_toplinks a:link,
.adm_toplinks a:visited,
.adm_toplinks a:active
{
	text-decoration:none;
	color:#FFFFFF;
	
}
.adm_toplinks a:hover
{
	
	text-decoration:underline;	
}

/* Home jquery slider */

@charset "utf-8";
/* CSS Document */
.lof-slidecontent{
	position:relative;
	overflow:hidden;	
	width:360px;
	height:200px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-main-outer{
	position:relative;
	height:100%;
	width:600px;
	z-index:3px;
	overflow:hidden;
}





/* main flash */
ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	margin:0;
	height:200px;
	width:360px;
	position:absolute;
	overflow:hidden;
}

ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	height:100%;
	width:360px;
	float:left;
}
.lof-opacity  li{
	position:absolute;
	top:0;
	left:0;
	float:inherit;
}
ul.lof-main-wapper li img{
	padding:0px;	
	width:360px;
}

li-desc{
	z-index:100px;
	position:absolute;
	top:150px;
	left:50px;
	width:400px;
	background:url(../images/transparent_bg.png);

	/* filter:0.7(opacity:60) */
}
li-desc p{
	color:#FFF;
	margin:0 8px;
	padding:8px 0
}
li-desc h3 a{
	color:#FFF;	
	margin:0;
	font-size:140%;
	padding:20px 8px 2px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
}
li-desc h3 a:hover{
	color:#FF6;
	text-decoration:underline;
}

/* item navigator */
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}
ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}
.lof-navigator-outer{
	position:absolute;
	right:0;
	top:00px;
	z-index:100;
	height:300px;
	width:310px;
	overflow:hidden;
	color:#FFF
}
.lof-navigator li.active{
	background:url(../images/arrow-bg.png) no-repeat scroll left center; 
	color:#FFF
}
.lof-navigator li:hover{
	
}


.lof-navigator li h3{
	color:#FFF;
	font-size:100%;
	padding:15px 0 0 !important;
	margin:0;

}
.lof-navigator li div{
	background:url(../images/transparent_bg.png);
	color:#FFF;
	height:100%;
	position:relative;
	margin-left:15px;
	padding-left:15px;
	border-top:1px solid #E1E1E1;
}

.lof-navigator li.active div{
	background:url(../images/grad-bg.gif);
	color:#FFF;
}
.lof-navigator li img{
	height:60px;
	width:60px;
	margin:15px 15px 10px 0px;
	float:left;
	padding:3px;
	border:#C5C5C5 solid 1px;
}
.lof-navigator li.active img{
	border:##6C8E5C  solid 1px;
}
.lof-navigator li.active h3{
	color:#FFF;
}

/* New style for Cpanel */
.cpanel_container{
	clear:both;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.cpanel_row{
	/*border-bottom:#EFEFEF solid 3px;*/
	margin-bottom:10px;
	padding:20px 0 10px 0;
	
}
.cpanel_row .item{
	width:285px;
	margin-right:10px;	
	float:left;
}
.cpanel_row .item .image{
	width:85px;
	margin-right:10px;	
	float:left;
}
.cpanel_row .item .image img{
	border:0;
}
.cpanel_row .item .cnt{
	width:190px;
	float:left;
	font-size:14px;
	font-weight:normal;
	text-align:left;
}
.cpanel_row .item .cnt h3{	
	font-size:20px;
	font-family:dosis, arial;
	font-weight:normal;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
	background:url(../../images/divider_dot.gif) repeat-x bottom;	
}

.cpanel_row .item .cnt h3 a:link,
.cpanel_row .item .cnt h3 a:visited,
.cpanel_row .item .cnt h3 a:active
{
	color:#7E858A;
	text-decoration:none;	
}
.cpanel_row .item .cnt h3 a:hover
{
	color:#666666;	
}


.cpanel_row .item .cnt p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#797C7D;
	line-height:22px;	
	margin:0 0 10px 0;
}
.comm_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
}
/*------------------------------*/

.buildtype_img1{
	background-color:#EFEFEF;
	height:240px;
	background-image:url(../../images/buildtype1.png);
	background-repeat:no-repeat;
	background-position:left;
}
.buildtype_img2{
	background-color:#EFEFEF;
	height:240px;
	background-image:url(../../images/buildtype2.png);
	background-repeat:no-repeat;
	background-position:left;
}
.buildtype_head{
	background-color:#EFEFEF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	text-align:left;
	padding:5px 10px 10px 10px;
}
.buildtype_head a:link,
.buildtype_head a:visited,
.buildtype_head a:active
{
	color:#000000;
	text-decoration:none;
}
.buildtype_head a:hover
{
	color:#7E858A;	
}
.buildtype_text{
	background-color:#EFEFEF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:left;
	padding:5px 10px 10px 10px;
}
.buildtype_cnt{
	background-color:#EFEFEF;	
	text-align:right;
	padding:5px 10px 10px 10px;
}
.stage_selector{
	background-color:#EFEFEF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	text-align:left;
	padding:10px 10px 10px 10px;
}
.stage_selector span{
	color:#7E858A;
	font-size:25px;
	font-weight:bold;
	background-color:#FFFFFF;
	padding:3px 15px 3px 15px;
}
/*.temp_list_box{
	border:#E0DFDF solid 5px;
	padding:15px 10px 10px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px; 
}*/
/*---------------------------------------------------------------new styles-----------------------------------------*/
.headingstyle_new{
	padding:35px 0 25px 0;
	text-align:left;}
.headingstyle_new h1{
	font-family:Dosis, Arial;
	color:#7E858A;
	font-weight:normal;
	font-size:30px;
	padding-bottom:7px;}
.headingstyle_new h5
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#989595;
	font-weight:normal;}
.commntbl_style1{
	}
.commntbl_style1 td{
	padding:7px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#989595;}
.commntbl_style1 input[type="text"],
.commntbl_style1 input[type="password"]{
	padding:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#989595;
	border:1px solid #D5D3D3;
	width:350px;}
.nopadding{
	padding:0!important;}
.notetxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#989595;
	font-weight:normal;
	padding:5px 0;}
.signup_btn{
	width:135px;
	height:39px;
	background:url(signup_btn.jpg);
	cursor:pointer;
	border:0 none;
	}
.login_btn{
	width:135px;
	height:39px;
	background:url(login_btn.jpg);
	cursor:pointer;
	border:0 none;
	}
.get_pwd{
	width:178px;
	height:39px;
	background:url(getpwd_btn.jpg);
	cursor:pointer;
	border:0 none;
	}
.extrapadding{
	padding:15px 0!important;}
.error_msg{
	color:#ff0000;
	background-color:#FCD8D8;
	border:1px solid #EFB8B8;
	padding:5px 15px;
	font-size:12px;
	text-align:left;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:0;}
.login_extralinks{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#989595;
	font-weight:normal;}
.login_extralinks a{
	color:#7E858A;}
.wlcme_user{
	position:absolute;
	top:0;
	right:0;
	background-color:#7E858A;
	border-radius: 0 0 10px 10px;
	padding:3px 20px 10px 20px;}
.wlcme_user p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	}
.wlcme_user p span{
	font-size:14px;
	font-weight:bold;
	}
.new_centercontainer{
	}
.creationmode_header{
	padding:25px 0;}
.process_no{
	width:45px;
	height:45px;
	float:left;
	background-color:#BEF7F4;
	font-family:"trebuchet MS", Arial;
	font-size:28px;
	line-height:45px;
	text-align:center;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	margin-right:20px;}
.process_title{
	float:left;
	font-family:dosis, arial;
	font-size:31px;
	color:#7E858A;}
.create_option{
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border:1px solid #E0E1E1;
	padding:20px;
	width:372px;
	float:left;}
.create_option h2{
	color: #7E858A;
    float: left;
    font-family: dosis,arial;
    font-size: 23px;
	font-weight:normal;
	clear:both;
	padding:5px 0 20px 0;}
.createoption_img{
	width:372px;
	height:175px;
	background-image: url(../../images/buildtype1.png);
	clear:both;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-bottom:20px;}
.createoption_img2{
	width:372px;
	height:175px;
	background-image: url(../../images/buildtype2.png);
	clear:both;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-bottom:20px;}
.createoption_desc p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#6C6D6D;}
.createoption_desc{
	padding:0 0 20px 0;}
.continue_btn{
	width:116px;
	height:34px;
	background:url(continue_btn.jpg);
	cursor:pointer;
	border:0 none;}
.left{
	float:left;}
.right{
	float:right;}
.create_option_or{
	text-align:center;
	font-family:dosis, arial;
	font-size:40px;
	color:#A3A8A8;
	float:left;
	padding:200px 14px;}
	
	
	
/****************************new admin********************************/

.nav{height:37px; background:#4B4F52}
.nav ul{ margin:0 auto; width:900px; font-family:Arial, Helvetica, sans-serif}
.nav ul li{ margin:0px; float:left; text-align:center; font-size:13px; line-height:37px; list-style:none}
.nav ul li a{color:#fff; padding:0 12px; display:block}
.nav ul li a:hover{color:#fff; padding:0 12px; display:block; background:#7E858A}
.nav ul li a.active{color:#fff; padding:0 12px; display:block; background:#7E858A}
.admin-pnl{width:876px; margin:auto; text-align:left; padding:10px 12px; font-family:Arial, Helvetica, sans-serif}
.admin-pnl h2{	font-size:28px;	font-family:dosis, arial;	font-weight:normal; margin:20px 0; padding:0px; color:#7E858A}
.admin-pnl h3{	font-size:28px;	font-family:dosis, arial;	font-weight:normal; margin:0 0 5px 0; padding:0px; color:#7E858A}
.admin-pnl h4{	font-size:24px;	font-family:dosis, arial;	font-weight:normal; margin:0 0 5px 0; padding:0px; color:#7E858A}
.admin-pnl h5{	font-size:23px;	font-family:dosis, arial;	font-weight:normal; margin:0 0 15px 0; padding:0px; color:#616161}

.admin-lft{width:425px; margin:0 20px 0 0; float:left}
.admin-ryt{width:425px; margin:0 0px 0 0; float:right}
.admin-bx{width:425px;  margin:0 0 25px 0}
.admin-bx table{ border-left:1px solid #ccc; border-top:1px solid #ccc;}
.admin-bx table th{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px; color:#8e8e8e}
.admin-bx table td{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px; color:#8e8e8e}
.admin-bx-big{  margin:0 0 25px 0}
.admin-bx-big table{ border-left:1px solid #ccc; border-top:1px solid #ccc;}
.admin-bx-big table th{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-size:13px; padding:5px; color:#8e8e8e}
.admin-bx-big table td{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px; font-size:13px; color:#8e8e8e}

.lft{float:left}
.ryt{ float:right}

.admin-logo{float:left; padding:15px 0 0 12px; font-family:Arial, Helvetica, sans-serif; font-size:25px}
.admin-top-links{float:right; font-family:Arial, Helvetica, sans-serif; padding:10px 0 0 0}
.admin-top-links p{color:#5f5f5f; font-size:13px}
.admin-top-links p a{color:#5f5f5f; font-size:13px}
.admin-top-links p a:hover{color:#0b928b}
.admin-ftr-pnl{ background:#242424; padding:20px 0}
.admin-ftr-nw{width:876px; margin:auto; text-align:left; padding:0px 12px; font-family:Arial, Helvetica, sans-serif}
.ftr-lft{width:430px; float:left}
.ftr-lft p{ font-size:12px; color:#696f6f}
.ftr-lft p a{color:#696f6f}
.ftr-lft p a:hover{color:#fff}

.ftr-ryt{width:430px; float:right}
.ftr-ryt p{color:#696f6f; font-size:12px; text-align:right}
.ftr-ryt p a{color:#696f6f}
.ftr-ryt p a:hover{color:#fff}

.content-tab-pnl{padding:0 0 20px 0}
.content-tab-hd{ border-bottom:1px solid #c4c4c4; padding:0 0 5px 0}
.content-tab-pnl h4{ float:left;font-size:20px;	font-family:dosis, arial;	font-weight:normal; margin:0px; padding:0px; color:#343434;}
.content-tab-pnl h4 a{color:#343434; text-decoration:none}
.content-tab-pnl h4 a:hover{color:#000}
.content-tab-pnl h5{ float:left;font-size:20px;	font-family:dosis, arial;	font-weight:normal; margin:0px; padding:0px; color:#2b2c2c;}
.content-tab-pnl h5:hover{color:#7E858A;}

/*.content-tab-pnl span{ float:right; display:block; width:20px; text-align:center; border:1px solid #ccc; border-radius:3px; color:#343434; font-size:13px; font-weight:bold}*/
.content-tab-pnl span{ float:right;}
.content-tab{padding:15px 0 0px 0; text-align:left}
.content-tab h6{font-family:Arial, Helvetica, sans-serif; font-size:16px; margin:15px 0 0 0; color:#7E858A; font-weight:normal}
.content-tab table{padding:0 0 0px 0; font-family:Arial, Helvetica, sans-serif}
.content-tab table td{padding:10px 0; color:#4f5151; font-size:13px}
.content-tab table td input[type="text"] { width:380px; line-height:30px; height: 30px; border:1px solid #d5d3d3}
.content-tab table td input[type="password"] { width:380px; line-height:30px; height: 30px; border:1px solid #d5d3d3}
.content-tab table td select { width:390px;height:35px; border:1px solid #d5d3d3; padding:7px 5px}
.content-tab table td textarea { width:380px;height:100px; border:1px solid #d5d3d3; padding:7px 5px}
.txt-small{width:330px !important; margin:0 10px 0 0}

.save-btn{width:135px; height:39px; background:url(../../images/save-btn.jpg) no-repeat; border:0px; margin:0 0 0 248px}
.admin-login{ width:500px; margin:50px auto; border:1px solid #cfcfcf; padding:25px;}
.admin-login label{ font-size:14px; color:#666666}
.admin-login input[type=text]{width:310px; padding:8px 5px; margin:10px 0}
.admin-login input[type=password]{width:310px; padding:8px 5px; margin:10px 0}

/********buttons*********/
.btn{width:185px; height:55px;background:url(start-btn.png) no-repeat; display:block; color:#fff;font-family: dosis, arial;text-transform:uppercase; cursor:pointer; font-size:30px; line-height:55px; text-align:center}
.btn01{height:35px; background:url(orange-btn-bg.jpg) repeat-x; padding:0 20px; border:1px solid #f09220;font-size:18px !important;font-family: dosis, arial !important; color:#fff; border-radius:5px; line-height:35px; text-transform:uppercase; cursor:pointer}
.btn02{height:35px; background:url(grey-btn-bg.jpg) repeat-x; padding:0 20px; border:1px solid #dbd8d8;font-size:18px;font-family: dosis, arial; color:#878787!important; border-radius:5px; line-height:35px; text-transform:uppercase; cursor:pointer}
.btn03{height:26px; background:url(orange-btn-bg.jpg) repeat-x; padding:0 20px; border:1px solid #f09220;font-size:17px;font-family: dosis, arial; color:#fff; border-radius:5px; line-height:26px; text-transform:uppercase; cursor:pointer}
.grey-btn01{background:url(grey-btn01.png)no-repeat; display:block; text-decoration:none; color:#777878 !important; width:125px; height:36px; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; text-align:center; line-height:36px; cursor:pointer}
.grey-btn02{font-family: dosis, arial;background:url(grey-btn01.png)no-repeat; display:inline-block; text-decoration:none; color:#3c3c3c !important; width:125px; height:36px; font-size:22px; font-weight:normal; text-align:center; line-height:36px; cursor:pointer; text-transform:uppercase; border:0px}
.btn04{height:39px; background:url(orange-btn-bg.jpg) repeat-x; padding:3px 20px; border:1px solid #e38009;font-size:22px;font-family: dosis, arial; color:#fff !important; border-radius:5px; line-height:35px; text-transform:uppercase; cursor:pointer; font-weight:normal}
.btn04 a{color:#fff !important}
.btn05{height:30px; background:url(orange-btn-bg.jpg) repeat-x; padding:3px 20px; border:1px solid #e38009;font-size:18px;font-family: dosis, arial; color:#fff !important; border-radius:5px; line-height:30px; cursor:pointer; font-weight:normal}
.btn05 a{color:#fff !important}
.grey-btn03{font-family: dosis, arial;background:url(grey-btn03.jpg) repeat-x; display:block; text-decoration:none; color:#434343 !important;  height:28px; font-size:18px; font-weight:normal; text-align:center; line-height:28px; cursor:pointer; padding:0 15px; border:1px solid #ccc; border-radius:4px}
.grey-btn03 a{display:block; text-decoration:none; color:#434343 !important; cursor:pointer}
.grey-btn04{font-family: dosis, arial;background:url(grey-btn03.jpg) repeat-x; text-decoration:none; color:#434343 !important;  height:28px; font-size:18px; font-weight:normal; text-align:center; cursor:pointer; padding:0 15px ; border:1px solid #ccc; border-radius:4px; width:80px}
.grey-btn04 a{display:inline-block; text-decoration:none; color:#434343 !important; cursor:pointer}


.bc01{padding:15px 0px 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px}
.bc01 ul{padding:0px; margin:0px}
.bc01 ul li{padding:0 0 0 0px; margin:0px; list-style:none; float:left}
.bc01 ul li a{color:#616161}
.bc01 ul li a span{color:#616161}
.bc01 ul li a:hover{color:#7E858A}
.bc01-active a{color:#7E858A !important;}

.steps{ padding:0 0 15px 0}
.steps ul{margin:0px; padding:0px}
.steps ul li{margin:0px; padding:0px; list-style:none; float:left; line-height:32px; color:#999999}
.steps ul li a{ color:#999999}
.steps ul li.active{color:#1e1e1e}
.step1{background:url(sprite-bc.png) no-repeat 0px 0px; width:175px; height:32px; text-indent:30px}
.step2{background:url(sprite-bc.png) no-repeat -15px 0px; width:175px; height:32px; text-indent:20px}
.step3{background:url(sprite-bc.png) no-repeat -15px 0px; width:175px; height:32px}
.step4{background:url(sprite-bc.png) no-repeat -15px 0px; width:175px; height:32px}
.step5{background:url(sprite-bc.png) no-repeat -665px 0px; width:175px; height:32px}

.template-design-pnl{display:block}
.template-design-pnl label{ color:#616161; font-size:14px; margin:15px 50px 15px 0;}
.template-design-pnl p{ color:#616161; font-size:14px; padding:5px 0}
.template-design-pnl input[type=text]{width:400px; padding:8px 5px; margin:10px 0; border:1px solid #d5d3d3}
.template-design-pnl select{width:400px; padding:8px 5px; margin:10px 0; border:1px solid #d5d3d3}
.file-browse{width:385px; padding:8px 5px; margin:10px 0; border:1px solid #d5d3d3}
.file-browse01{width:385px; padding:5px; margin:10px 0; border:1px solid #d5d3d3}
.help-ico{width:21px; height:20px; padding:10px 0 0 15px; display:inline-block}
.btm-pnl{border-top:1px solid #ccc; margin:25px 0 0 0; padding:15px 0; overflow:hidden}
.notes-btm{width:450px}
.btm-ryt{width:250px; text-align:right}
.btm-ryt label{margin:0 0 15px 0 !important; display:inline-block}
.prom_addmid{ width:900px;  margin:0 auto}
.bx-mid01{width:225px; text-align:center;background:url(icon1.png) 75px 30px no-repeat; height:150px}
.prom_addmid h6{font-family: dosis, arial; color:#3f3e3c; font-size:20px; font-weight:normal; padding:115px 0 0 0}
.bx-mid02{width:225px; text-align:center;background:url(icon2.png)75px 30px no-repeat; height:150px}
.bx-mid03{width:225px; text-align:center;background:url(icon3.png) 75px 30px no-repeat; height:150px}
.bx-mid04{width:225px; text-align:center;background:url(icon4.png) 75px 30px no-repeat; height:150px}
.share-pnl{margin:15px 0 0 0;background:url(get-social.jpg) no-repeat; height:40px; padding:0 0 0 105px;}

.cnt_innerdvs h2{font-size: 30px;font-family: dosis, arial;font-weight: normal;margin:20px 0;padding: 0px;color: #7E858A;}

.border-pnl{ border:1px solid #D3D5D7; background:#EFF0F1; padding:25px; border-radius:6px; margin:0 0 25px 0}
.border-pnl01{ border:1px solid #D3D5D7; background:#EFF0F1; padding:25px; border-radius:6px; margin:0 0 25px 0}
.border-pnl h3{font-size: 26px;font-family: dosis, arial;font-weight: normal;margin: 0 0 20px 0;padding: 0px;color: #7E858A;}
.border-pnl label{font-size: 14px;color: #414242; font-family:Arial, Helvetica, sans-serif}
.border-pnl input[type=text]{width:415px; height:26px; border:1px solid #e1e1e1; padding:0 4px; line-height:26px}

.create-top-pnl{ border-bottom:1px dotted #b6b8b9}
.create-top-hd{ width:450px}
.create-top-hd h3{font-size: 26px;font-family: dosis, arial;font-weight: normal;margin: 0 0 5px 0;padding: 0px;color: #7E858A;}
.create-top-srch{ width:360px; text-align:right}
.create-top-srch select{ width:128px; height:26px;border:1px solid #e1e1e1;; padding:4px}
.create-top-srch input[type=text]{width:128px; height:20px; border:1px solid #e1e1e1; padding:2px; line-height:26px; margin:0 0 0 6px}
.search-grey{ width:70px; height:28px;background:url(search-btn-grey.png) no-repeat; display:block; cursor:pointer; float:right; margin:0 0 0 8px}
.or{display:block; text-align:center; color:#838383; font-size:27px; font-weight:normal;font-family: dosis, arial; padding:0 0 25px 0}

.table-listing{border:0px; padding:20px 0 0 0}
.table-listing th{font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #303131; text-align:left; padding:10px 0; }
.table-listing td{font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #303131; word-break:break-all; padding:6px 0}
.bordr-top{border-top: 1px dotted #b6b8b9}

.pagination{ padding:15px 0 0 0}
.pagination ul{margin:0px; padding:0px}
.pagination ul li{margin:0px; padding:0 3px; float:left; list-style:none}
.pagination ul li a{color:#464646 !important}
.pagination ul li a:hover{color:#dc7a05 !important}
.pagination ul li a.active{color:#dc7a05 !important}


.category-display{ border-bottom:1px dotted #dadcdc}
.category-box{width:255px; overflow:hidden; float:left; text-align:center; margin:20px 22px}
.category-box p{font-size: 20px;font-family: dosis, arial;padding:15px 0;color: #666464; }
.category-box p a{color: #666464; }
.category-box p a:hover{color: #7E858A; }

.templ-catgry{padding:0 0 20px 0}
.templ-catgry label{color:#717171; font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:0 15px 0 0}
.templ-catgry select{ border:1px solid #d8dddf; width:200px; height:26px; padding:3px}

.temp_list_box{ width:256px; height:180px;	border:#e6e8e8 solid 1px;padding:25px 10px 20px 10px;font-family:Arial, Helvetica, sans-serif;font-size:15px;box-shadow:inset 0 0 10px #e6e8e8; border-radius:5px; margin:0 30px 30px 0; text-align:center}

.color-picker{display:inline-block; float:right; padding:3px 0 0 0}
.color-picker ul{}
.color-picker ul li{padding:0px; margin:1px; list-style:none; float:left; display:inline-block}
.color-picker ul li.blue{ background:#00a5ed; display:block; width:8px; height:8px; border:1px solid #fff}
.color-picker ul li.green{ background:#6b9002; display:block; width:8px; height:8px}
.color-picker ul li.red{ background:#e50a0a; display:block; width:8px; height:8px}
.color-picker ul li span{ display:none}
.color-picker ul li:hover{outline:1px solid #848888}
.color-picker ul li.themeactive{outline:1px solid #848888}
.color-picker01{float:right; padding:3px 0 0 0}
.color-picker01 ul{ float:right}
.color-picker01 ul li{padding:0px; margin:1px; list-style:none; float:left; display:inline-block}
.color-picker01 ul li.blue{ background:#00a5ed; display:block; width:8px; height:8px; border:1px solid #fff}
.color-picker01 ul li.green{ background:#6b9002; display:block; width:8px; height:8px}
.color-picker01 ul li.red{ background:#e50a0a; display:block; width:8px; height:8px}
.color-picker01 ul li span{ display:none}
.color-picker01 ul li:hover{outline:1px solid #848888}
.color-picker01 ul li.themeactive{outline:1px solid #848888}


.admin-listing{ margin:auto; text-align:left; padding:10px 0px; font-family:Arial, Helvetica, sans-serif}
.admin-listing h2{	font-size:28px;	font-family:dosis, arial;	font-weight:normal; margin:0 0 20px 0; padding:0px; color:#7E858A}

.admin-search-pnl{ background: #edefef; padding:10px 15px; border-radius:5px; border:1px solid #eae9e9;
background: #edefef;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#edefef));
background: -webkit-linear-gradient(#ffffff, #edefef);
background: -moz-linear-gradient(#ffffff, #edefef);
background: -ms-linear-gradient(#ffffff, #edefef);
background: -o-linear-gradient(#ffffff, #edefef);
background: linear-gradient(#ffffff, #edefef);
-pie-background: linear-gradient(#ffffff, #edefef);
behavior: url(/pie/PIE.htc);
}
.admin-search-pnl select{border:1px solid #eae9e9; width:80px; height:30px; padding:5px 2px; float:left; margin:0 0 0 10px}
.admin-search-pnl label{float:left; padding:7px 0 0 0; font-size:14px; color:#505050}
.admin-search-pnl img{ display:inline-block; float:left; padding:3px 0 0 0; margin:0 10px}
.admin-search-pnl input[type=text]{border:1px solid #eae9e9; width:80px; height:28px; padding:0 5px !important; float:left; margin:0 10px}

.admin-table-list{text-align:left; margin:20px 0px; font-family:Arial, Helvetica, sans-serif; border-left:1px solid #d9d6d6; border-top:1px solid #d9d6d6}
.admin-table-list th{text-align:left; padding:6px; border-bottom:1px solid #d9d6d6; border-right:1px solid #d9d6d6; background:#f3f5f5; font-size:12px}
.admin-table-list th img{ float:right;filter: alpha(opacity=50);opacity: 0.5; padding:0px 0 0 0}
.admin-table-list th img:hover{ float:right;filter: alpha(opacity=100);opacity: 1;}
.admin-table-list th a{ color:#505050}
.admin-table-list td{text-align:left; padding:6px !important; border-bottom:1px solid #d9d6d6; border-right:1px solid #d9d6d6; color:#505050; font-size:12px}
.admin-table-list td a{ color:#505050}
.admin-table-btm{ margin:10px 0; font-family:Arial, Helvetica, sans-serif; font-size:12px}

.total-list{ display:block}
.list-pagin{ display:block; text-align:right; width:250px}
.list-pagin span.active{ float:none !important; display:inline !important; border:0px !important; color:#7E858A}
.list-pagin a{ color:#505050}
.list-pagin a:hover{ color:#7E858A}

.btn-box{width:395px; text-align:right }

.form-pnl{ font-family:Arial, Helvetica, sans-serif}
.form-pnl ul{padding:10px 0; margin:0px}
.form-pnl ul li{padding:10px 0; margin:0px; list-style:none}
.form-pnl ul li label{display:inline-block; width:220px; font-size:14px; color:#5c5c5c; vertical-align:top}
.form-pnl p{font-size:12px; color:#b2b2b2}
.form-pnl ul li label sup{color:#f00; font-size:11px}
.form-pnl ul li input[type=text]{width: 380px;line-height: 30px; height: 30px;border: 1px solid #d5d3d3; padding:3px 5px}
.form-pnl ul li input[type=password]{width: 380px;line-height: 30px;border: 1px solid #d5d3d3;}
.form-pnl ul li textarea{width: 385px;border: 1px solid #d5d3d3; resize:none}
.form-pnl ul li select{width: 390px;line-height: 30px;border: 1px solid #d5d3d3; padding:6px 3px; height:36px}
.form-pnl select {width: 390px;line-height: 30px;border: 1px solid #d5d3d3; padding:6px 3px; height:36px!important;}
.btn-container{display:inline-block; text-align:right; width:390px; float:none !important}


/* Newly Added */
.welcome{
text-align: right;
font-family:Arial, Helvetica, sans-serif; font-size:12px;
	padding:3px 10px;
	background-color:#EFF0F1;
	border:1px solid #D3D5D7;
	border-top:none;
	float:right;
}
.welcome span{
    color: #FF891D;
    font-weight: normal; font-size:13px
}
.admin_welcome{
    padding-top: 6px;
}

.successmessage{
       font-weight: normal;
        font-size : 13px;
        color:green;
        font-family: verdana;
        padding: 10px 0 0 0;
}

.help_style{
   font-size : 11px!important;
   font-style: italic;
   color: #B2B2B2;
   float: none!important;
   vertical-align: bottom !important
}

.cntarea_dvs_admin{ padding:0px 0 5px 0;
			  min-height:100%;
			  position:relative;
}

.dsply-tpl-btm{padding:0 0 0 0; width:215px; margin:0 auto;}
.tpl-id{width:150px; float:left; font-size:12px; text-align:left; color:#797c7d; margin-left:15px;}
.tpl-id span{display:inline-block}
.display-tmplte-pnl td{margin:0 10px 10px 0}

.step-cnt{width:43px; height:43px;background:url(circle01.png) no-repeat; text-align:center; color:#4B4F52; display:inline-block; margin:0 10px 0 0; font-size:28px; line-height:43px}
.template-pop{padding:0px; border-radius:10px}
.innerModalPopupDiv{border-radius:10px !important;box-shadow: inset 0 0 4px #666666;}
.outerModalPopupDiv{ background:#fff !important; border-radius:10px !important; box-shadow: inset 0 0 10px #000; padding:0px !important;width: 490px !important;}
.tpl-preview{display:block}
.tpl-preview th, .tpl-preview h6{ text-align:left; color:#0fb9b0;font-family: dosis, arial; font-weight:bold; font-size:20px}
.tpl-preview td strong{color:#676a6a;font-family:arial; font-weight:normal; font-size:16px; display:block; padding:0 0 15px 0}

.tpl-close{position:absolute; top:-10px; right:-10px}
.customize-tbl{display:block}
.customize-tbl th{display:block; text-align:left; color:#838383;font-family: dosis, arial; font-size:25px; font-weight:normal}
.customize-tbl td{padding:5px 0}
.customize-tbl td h4{display:block; text-align:left; color:#7E858A;font-family: dosis, arial; font-size:22px; font-weight:normal; border-bottom:1px solid #c5c6c7; padding:10px 0 5px 0}
.customize-tbl td label{display:inline-block; text-align:left; font-size:13px; font-weight:normal; padding:0px 0 0px 5px; line-height:20px; color:#404040; font-family:Arial, Helvetica, sans-serif}
.customize-tbl td span{display:inline-block; text-align:left; font-size:11px; font-weight:normal; padding:0px 0 0px 5px; line-height:20px; color:#929292; font-family:Arial, Helvetica, sans-serif}
.customize-tbl td input[type=text]{width:685px; height:25px}
.customize-tbl td textarea{width:680px; height:60px; resize:none}
.customize-tbl td select{height:29px}
.txt-bx05{height:20px; float:left}
.select10{width:150px !important}
.txt10{width:150px !important}
.txt09{font-family:Arial, Helvetica, sans-serif;font-size: 14px;color: #626667; line-height:20px}
.submit-site{padding:10px 20px; border:1px solid #bbb !important; margin:15px 0; border-radius:8px}
.txt_10{
	color:#666666!important;
	padding:0 0 10px 0!important;}
.txt_10 input[type="checkbox"]{
	margin-right:6px;
	}
.txt12{font-family:Arial, Helvetica, sans-serif;font-size: 12px!important;color: #848585; line-height:20px}
/*-----------------------------------------------------------------New styles payment page--------------------------------------------------------------------*/
.pymnt_mainmsg{
	border:1px solid #AAAAAA;
	padding:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	}
.pymnt_mainmsg p{color: #2B2C2C;
    font-family: dosis,arial;
    font-size: 20px;
    font-weight: normal;}
.pymnt_mainmsg p span{color: #7E858A;}
.preview_listing{
        width:420px;
        height:280px;
        /*background-color:#cfcfcf;*/
}
.previewlist{
        width:120px;
        height:120px;
        background-color:#fff;
        float:left;
        margin-right:20px;
        margin-bottom:33px;
		text-align:center;
}
.previewlist a{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-bottom:7px;}
.hm_wrap{
	padding-top:25px;}
.newwadd_templates{
	display:block;
	width:120px;
	height:81px;
	margin-bottom:5px;}
.hm_rgtdiv h2 {
	color: #4B4B4B;
    font-family: dosis,arial;
    font-size: 31px;
    font-weight: normal;
    margin: 5px 0;
    padding: 5px 0 15px;}
.selectbox2 {
    border: 1px solid #D5D3D3;
    height: 36px;
    line-height: 30px;
    padding: 6px 3px;
    width: 369px;
}
.smallpadding{
	padding:35px 0 0 0!important;}
.bordertop{
	border-top:1px solid #D5D3D3;}
.pymnttable1{
	}
.pymnttable1 td{
	padding:10px 0;}
.pymnt_mainmsg table td{
	padding:0!important;}
.pymnttable1 .maintext{color: #4F5151;
    font-size: 13px;
    padding: 10px 0;}
.pymnttable1 .textbox{
	  border: 1px solid #D5D3D3;
    color: #989595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 8px;
    width: 350px;}
.pymnttable1 .SelectBox{
		border: 1px solid #D5D3D3;
    color: #989595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 8px;
    width: 350px;}
/*-----------------------------------innerpages styling continues------------------------------*/
.hding_10{display:block; text-align:left; color:#7E858A;font-family: dosis, arial; font-size:22px; font-weight:normal; border-bottom:1px solid #c5c6c7; padding:10px 0 5px 0; margin:0 0 10px 0;}
.txt11{
	 color: #5C5C5C!important;
    font-size: 14px!important;
	padding-left:0!important;
   }

.txt11 sup {
    color: #FF0000;
    font-size: 11px;
}
.customize-tbl2{}
.customize-tbl2 th{display:block; text-align:left; color:#838383;font-family: dosis, arial; font-size:25px; font-weight:normal}
.customize-tbl2 td{padding:10px 0}
.customize-tbl2 input[type="text"]{ border: 1px solid #D5D3D3;
    height: 30px;
    line-height: 30px;
    padding: 3px 5px;
    width: 380px;}
.customize-tbl2 .maintext{ color: #5C5C5C;
    font-size: 14px;
    vertical-align: top;
}
.customize-tbl2 textarea{ border: 1px solid #D5D3D3;
    padding: 3px 5px;
    width: 380px;}
.text12{
	 color: #929292!important;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px!important;
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 0 5px;
    text-align: left;
}
.link01{
	 color: #2B2C2C;
    font-family:Arial, Helvetica, sans-serif;
	padding:0 5px 5px 12px;
    font-size: 12px;
    font-weight: normal;
	background:url(arrowleft.gif) 0% 25% no-repeat;}
.admin-table-list td a{
	 color: #0b828b!important;}
.link02{
	 color: #0b828b!important;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;}
.small{
	width:158px!important;}
.medium{
	width:225px!important;
	margin-right:10px;}
.hding_11{
    color: #7E858A;
    display: block;
    font-family: dosis,arial;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 10px 0 0 0;
    text-align: left;}
.leftmr01{
	margin-left:254px;}
.admin-bx div{
	border:1px solid #cfcfcf!important;
	}
.admin-bx .clear{
	border:0 none!important;}

.content-tab-pnl .ui-widget-content,
.content-tab-pnl .ui-widget-header,
.content-tab-pnl .ui-state-default{
	background-image: none!important;
	background-color:#ffffff!important;
	border-radius:0!important;
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;}
.content-tab-pnl .ui-state-active{
	border-bottom:1px solid #d3d3d3!important;}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #d3d3d3!important/*{borderColorHover}*/;}
.ui-accordion .ui-accordion-icons{
	padding-left:0!important;}
.category-box a{
	display:block;
	margin:0 auto;
	height:105px;}
.temp_category_selector{
	padding:10px 0 25px 0;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#9A9B9B;
	}
.temp_category_selector select{
	   border: 1px solid #D5D3D3;
    height: 30px;
    line-height: 30px;
    padding: 4px 3px;
    width: 250px;
	margin-left:10px;
	color:#888888;}
.temp_img_preview{
	padding:0 0 7px 0;}
.searchengine_options{
	width:380px;
	float:left;
	}
.ui-accordion .ui-accordion-content{
	padding: 1em 0!important;}
.content-tab table td{
	color:#848585;
	font-size:14px;}
.textbox05{
	border: 1px solid #D5D3D3;
    height: 30px;
    line-height: 30px;
    width: 371px!important;
	margin-left:5px;
}
.headingstyle_3{color: #7E858A;    font-family: dosis,arial;    font-size: 30px;    font-weight: normal;    margin: 20px 0;    padding: 0 0 10px 0!important; border-bottom:1px solid #CECECE;}
.managing_options{}
.manage_box{width:210px; height:183px; border:1px solid #E5E4E4; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; float:left; margin-right:17px; background-color:#fdfdfd;}
.no_margin{margin-right:0!important;}
.manage_box_hdr{ height:45px; border-bottom:1px solid #E5E4E4; background-color:#E6E7E8; padding:0 10px; }
.manage_box_hdr h3{ color: #555555;  text-decoration: none; float:left; line-height:40px;  font-family: dosis,arial;    font-size: 20px;    font-weight: normal;}
.manage_box_hdr a{padding:0!important;}
.manage_box a{ display:block; width:210px; text-align:center; vertical-align:middle; padding:19px 0;}
.userdashboard_ursites{
	padding:20px 0 0 0;}
.userdashboard_ursites h5 {   color: #616161;
    font-family: dosis,arial;
    font-size: 23px;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 0;
}
.userdashboard_ursites table {
	background-color:#cccccc;
}
.userdashboard_ursites table th{ padding:10px; background-color:#FFFFFF; color: #8E8E8E; font-famliy:Arial; font-size:13px; font-weight:bold;}
.userdashboard_ursites table td{padding:10px; background-color:#FFFFFF; color: #8E8E8E; font-famliy:Arial; font-size:13px; font-weight:normal;}
/*----------------------footwer social share---------------*/
.twitter_footer{width:28px; height:28px; display:block; float:left; margin-left:5px; background:url(twitter.jpg) 0% 0% no-repeat;}
.facebook_footer{width:28px; height:28px; display:block; float:left; margin-left:5px; background:url(fb.jpg) 0% 0% no-repeat;}
.googleplus_footer{width:28px; height:28px; display:block; float:left; margin-left:5px; background:url(gplus.jpg) 0% 0% no-repeat;}
.rss_footer{width:28px; height:28px; display:block; float:left; margin-left:5px; background:url(rss.jpg) 0% 0% no-repeat;}
.share-pnl span{display:none;}

/*----------------------footwer social share---------------*/