/* CSS Document */

body{ margin:0; padding:0; font-family:Arial; font-size:13px;}
*{ margin:0; padding:0;}
h2{ margin-bottom:10px; margin-top:20px;}
h3{ margin-bottom:10px;}
.header_wraper{ float:left; width:100%; margin-bottom:15px;}
.header{ width:75%; margin:0px auto;}
.logo{ float: left; margin-top:8px;}
.contactblock{ float:right; width:22%; margin-top:38px;}
.contactnmbr{ text-align:center; font-family:arial; font-size:20px; color:#999999;}
.text{ text-align:center; font-family:arial; font-size:16px; color:#666666;}
.topmanu{clear:both; width:75%; height:40px;; margin:0px auto;  border:1px solid #ccc;
 background: -webkit-linear-gradient(#f5f8f9,#06C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5f8f9,#06C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5f8f9,#06C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5f8f9,#06C); /* Standard syntax */
  line-height:40px;}
.topmanu ul{ list-style:none;}
.topmanu ul li a{ float:left; text-decoration:none; padding-left:0px; padding-right:0px; line-height:40px; border-right:1px solid #000; text-align:center;
 background: -webkit-linear-gradient(#f5f8f9,#06C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5f8f9,#06C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5f8f9,#06C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5f8f9,#06C); /* Standard syntax */
color:#ffffff !important;}
.topmanu ul li a:hover{  background:url(../images/manubg.png) repeat; color:#ffffff;}
.topmanu ul li a.active{ background:url(../images/manubg.png) repeat; border-right:1px solid #999999;}
.maincontent{ width:75%; margin:0px auto; margin-top:15px;}
.contentimg{ float:left; width:100%; /*background:url(../images/bgimg.png) center no-repeat;*/}
.inerblock{ float:right; width:30%; margin-top:18px;}
.inerheading{ font-family:arial; font-size:28px; font-weight:normal; color:#2f86b1;}
.descrip{ font-family:; font-size:20px; color:#CCCCCC;}
.discountblock{ float:left; width:28%; margin-top:25px;}
.morebuton{ float:left; margin-top:20px;}
.textblock{ float:left; width:38%; margin-left:26px; margin-right:28px; margin-top:25px;}
.serviceblock{ float:left; width:27%; margin-left:26px; margin-right:28px; margin-top:25px;}
.desc{ float:left; width:94%; font-family:arial; font-size:14px; color:#999999; margin-top:10px;}
.janna{ float:right; font-family:arial; font-size:42px; color:#4fa5fa; margin-top:20px;}
.description{ font-family:"Times New Roman", Times, serif; font-size:16px; padding-top:3px;}
.size{  font-family:arial; font-size:14px; color:#cccccc;}
.misajblock{ float:left; width:28%; margin-top:25px;}
.heading{ font-family:arial; font-size:24px; font-weight: normal;}
.vline{ width:75%; margin:0px auto;}
.footer{ width:75%; margin:0px auto;}
.copyright{ float:left; font-family:arial; font-size:14px; font-weight:normal; color:#cccccc; margin-top:15px; margin-bottom:20px;}
.footermanu{ float:right; width:28%; margin-top:15px;}
.footermanu ul{ list-style:none;}
.footermanu ul li a{ float:left; text-decoration:none; list-style:none; color:#c6c6c6;}
.footermanu ul li a:hover{ color:red;}
.space{ float:left; padding-left:10px;}
#googleMap{float:left; width:100%;height:380px; margin-left:0px; margin-top:10px;}
.vertline{ float:left; width:97%; border-top:1px solid #CCCCCC; margin:30px auto;}
.contactusblock{ float:left; width:46%; margin-top:25px;}
.text_feild {border: 1px solid #B5B5B5; border-radius: 5px; color:#737373; font: 13px Arial; height: 20px; margin:10px 0; padding:5px; width:415px;}
.text_area { border:1px solid #B5B5B5; border-radius:5px; color:#737373; font:13px Arial; height:100px; margin:10px 0; padding:5px; width:415px;}
.submit { background:none repeat scroll 0 0 #8AC035; border:0 none; border-radius:5px; color:#FFFFFF; cursor:pointer; float:left; font:16px Arial; height: 34px; margin: 10px 0; outline: medium none; width: 100px;}
.width { background: none repeat scroll 0 0 #ECF1F3; float:left; width:15%;}




@media screen and (max-width: 1280px) {

.header_wraper{ float:left; width:100%; margin-bottom:15px;}
.header{ width:75%; margin:0px auto;}
.logo{ float: left; margin-top:8px;}
.contactblock{ float:right; width:22%; margin-top:38px;}
.contactnmbr{ text-align:center; font-family:arial; font-size:20px; color:#999999;}
.text{ text-align:center; font-family:arial; font-size:16px; color:#666666;}
.topmanu{ clear:both; width:75%; height:40px;; margin:0px auto;}
.topmanu ul{ list-style:none;}
.topmanu ul li a{ float:left; text-decoration:none; color:#919395; padding-left:0px; padding-right:0px; line-height:40px; border-right:1px solid #999999; text-align:center;}
.topmanu ul li a:hover{  background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/}
.topmanu ul li a.active{ background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/ border-right:1px solid #999999;}
.maincontent{ width:75%; margin:0px auto; border-top:1px solid #CCCCCC; margin-top:15px;}
.contentimg{ float:left; width:100%; height:385px; /*background:url(../images/contentimg.png) center no-repeat;*/}
.inerblock{ float:right; width:34%; margin-top:12px;}
.inerheading{ font-family:arial; font-size:28px; font-weight:normal; color:#2f86b1;}
.descrip{ font-family:; font-size:20px; color:#CCCCCC;}
.discountblock{ float:left; width:28%; margin-top:25px;}
.morebuton{ float:left; margin-top:20px;}
.textblock{ float:left; width:38%; margin-left:26px; margin-right:0px; margin-top:25px;}
.serviceblock{ float:left; width:42%; margin-left:26px; margin-right:28px; margin-top:25px;}
.desc{ float:left; width:94%; font-family:arial; font-size:14px; color:#999999; margin-top:10px;}
.janna{ float:right; font-family:arial; font-size:42px; color:#4fa5fa; margin-top:20px;}
.description{ font-family:"Times New Roman", Times, serif; font-size:16px; padding-top:3px;}
.size{  font-family:arial; font-size:14px; color:#cccccc;}
.misajblock{ float:left; width:28%; margin-top:25px;}
.heading{ font-family:arial; font-size:24px; font-weight: normal;}
.vline{ width:100%; margin:0px auto;}
.footer{ width:75%; margin:0px auto;}
.copyright{ float:left; font-family:arial; font-size:14px; font-weight:normal; color:#cccccc; margin-top:15px; margin-bottom:20px;}
.footermanu{ float:right; width:46%; margin-top:15px;}
.footermanu ul{ list-style:none;}
.footermanu ul li a{ float:left; text-decoration:none; list-style:none; color:#c6c6c6;}
.footermanu ul li a:hover{ color:red;}
.space{ float:left; padding-left:10px;}
.width { background: none repeat scroll 0 0 #ECF1F3; float:left; width:16%;}
#googleMap{float:left; width:100%;height:380px; margin-left:0px; margin-top:10px;}

}


@media screen and (max-width: 980px) {

.header_wraper{ float:left; width:100%; margin-bottom:15px;}
.header{ width:88%; margin:0px auto;}
.logo{ float: left; margin-top:8px;}
.contactblock{ float:right; width:22%; margin-top:38px;}
.contactnmbr{ text-align:center; font-family:arial; font-size:20px; color:#999999;}
.text{ text-align:center; font-family:arial; font-size:16px; color:#666666;}
.topmanu{ clear:both; width:88%; height:40px;; margin:0px auto;}
.topmanu ul{ list-style:none;}
.topmanu ul li a{ float:left; text-decoration:none; font-size:12px; color:#919395; padding-left:0px; padding-right:0px; line-height:40px; border-right:1px solid #999999; text-align:center;}
.topmanu ul li a:hover{  background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/}
.topmanu ul li a.active{ background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/ border-right:1px solid #999999;}
.maincontent{ width:95%; margin:0px auto; border-top:1px solid #CCCCCC; margin-top:15px;}
.contentimg{ float:left; width:100%; height:360px; /*background:url(../images/contentimg.png) center no-repeat;*/}
.inerblock{ float:right; width:35%; margin-top:8px;}
.inerheading{ font-family:arial; font-size:28px; font-weight:normal; color:#2f86b1;}
.descrip{ font-family:; font-size:20px; color:#CCCCCC;}
.discountblock{ float:left; width:48%; margin-top:25px;}
.morebuton{ float:left; margin-top:20px;}
.textblock{ float:left; width:45%; margin-left:26px; margin-right:0px; margin-top:25px;}
.serviceblock{ float:left; width:35%; margin-left:26px; margin-right:28px; margin-top:25px;}
.desc{ float:left; width:94%; font-family:arial; font-size:14px; color:#999999; margin-top:10px;}
.janna{ float:right; font-family:arial; font-size:42px; color:#4fa5fa; margin-top:20px;}
.description{ font-family:"Times New Roman", Times, serif; font-size:16px; padding-top:3px;}
.size{  font-family:arial; font-size:14px; color:#cccccc;}
.misajblock{ float:left; width:100%; margin-top:25px;}
.heading{ font-family:arial; font-size:24px; font-weight: normal;}
.vline{ width:100%; margin:0px auto;}
.footer{ width:76%; margin:0px auto;}
.copyright{ float:left; font-family:arial; font-size:14px; font-weight:normal; color:#cccccc; margin-top:15px; margin-bottom:20px;}
.footermanu{ float:right; width:60%; margin-top:15px;}
.footermanu ul{ list-style:none;}
.footermanu ul li a{ float:left; text-decoration:none; list-style:none; color:#c6c6c6;}
.footermanu ul li a:hover{ color:red;}
.space{ float:left; padding-left:10px;}
.width { background: none repeat scroll 0 0 #ECF1F3; float:left; width:16%;}
#googleMap{float:left; width:100%;height:380px; margin-left:0px; margin-top:10px;}

}

@media screen and (max-width: 800px) {

.header_wraper{ float:left; width:100%; margin-bottom:15px;}
.header{ width:75%; margin:0px auto;}
.logo{ float: left; margin-top:8px;}
.contactblock{ float:right; width:22%; margin-top:38px;}
.contactnmbr{ text-align:center; font-family:arial; font-size:20px; color:#999999;}
.text{ text-align:center; font-family:arial; font-size:16px; color:#666666;}
.topmanu{ clear:both; width:75%; min-height:162px; background:#ecf1f3; margin:0px auto; border:1px solid #CCCCCC;}
.topmanu ul{ list-style:none;}
.topmanu ul li a{ float:left; width:100%; text-decoration:none; color:#919395; padding-left:0px; padding-right:0px; line-height:40px; border-right:1px solid #999999; text-align:center; font-size:18px;}
.topmanu ul li a:hover{  background:none;}
.topmanu ul li a.active{ width:100%; background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/ border-right:1px solid #999999; text-align:center; font-size:18px;}
.maincontent{ width:75%; margin:0px auto; border-top:1px solid #CCCCCC; margin-top:15px;}
.contentimg{ float:left; width:100%; height:360px;}
.inerblock{ float:right; width:38%; margin-top:5px;}
.inerheading{ font-family:arial; font-size:25px; font-weight:normal; color:#2f86b1;}
.descrip{ font-family:; font-size:16px; color:#CCCCCC;}
.discountblock{ float:left; width:50%; margin-top:25px;}
.morebuton{ float:left; margin-top:20px;}
.textblock{ float:left; width:49%; margin-left:5px; margin-right:0px; margin-top:25px;}
.serviceblock{ float:left; width:40%; margin-left:26px; margin-right:28px; margin-top:25px;}
.desc{ float:left; width:94%; font-family:arial; font-size:14px; color:#999999; margin-top:10px;}
.janna{ float:right; font-family:arial; font-size:38px; color:#4fa5fa; margin-top:20px;}
.description{ font-family:"Times New Roman", Times, serif; font-size:16px; padding-top:3px;}
.size{  font-family:arial; font-size:14px; color:#cccccc;}
.misajblock{ float:left; width:55%; margin-top:25px;}
.heading{ font-family:arial; font-size:24px; font-weight: normal;}
.footer{ width:75%; margin:0px auto;}
.copyright{ float:left; font-family:arial; font-size:14px; font-weight:normal; color:#cccccc; margin-top:15px; margin-bottom:20px;}
.footermanu{ float:left; width:78%; margin-top:0px;}
.footermanu ul{ list-style:none;}
.footermanu ul li a{ float:left; text-decoration:none; list-style:none; color:#c6c6c6;}
.footermanu ul li a:hover{ color:red;}
.space{ float:left; padding-left:10px;}
.contactusblock{ width:75%; margin:0px auto;}
.text_area { border:1px solid #B5B5B5; border-radius:5px; color:#737373; font:13px Arial; height:100px; margin:10px 0; padding:5px; width:415px;}
#googleMap{float:left; width:100%;height:380px; margin-left:0px; margin-top:10px;}

}



@media screen and (max-width: 768px) {

.header_wraper{ float:left; width:100%; margin-bottom:15px;}
.header{ width:75%; margin:0px auto;}
.logo{ float: left; width:100%; margin-top:8px;}
.contactblock{ float:left; width:40%; margin-top:38px; display:none;}
.contactnmbr{ text-align:center; font-family:arial; font-size:20px; color:#999999;}
.text{ text-align:center; font-family:arial; font-size:16px; color:#666666;}
.topmanu{ clear:both; width:75%; min-height:162px; margin:0px auto; border:1px solid #CCCCCC;}
.topmanu ul{ list-style:none;}
.topmanu ul li a{ float:left; width:100%; text-decoration:none; color:#919395; padding-left:0px; padding-right:0px; line-height:40px; border-right:1px solid #999999; text-align:center; font-size:18px;}
.topmanu ul li a:hover{ background:none;}
.topmanu ul li a.active{ width:100%; background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/ border-right:1px solid #999999; text-align:center; font-size:18px;}
.maincontent{ width:75%; margin:0px auto; border-top:1px solid #CCCCCC; margin-top:15px;}
.contentimg{ float:left; width:100%; height:195px;}
.inerblock{ float:right; width:36%; margin-top:8px; display:none;}
.inerheading{ font-family:arial; font-size:22px; font-weight:normal; color:#2f86b1;}
.descrip{ font-family:; font-size:15px; color:#CCCCCC;}
.discountblock{ float:left; width:100%; margin-top:25px;}
.morebuton{ float:left; margin-top:20px;}
.textblock{ float:left; width:100%; margin-left:5px; margin-right:0px; margin-top:25px;}
.serviceblock{ float:left; width:100%; margin-left:26px; margin-right:28px; margin-top:25px;}
.desc{ float:left; width:94%; font-family:arial; font-size:14px; color:#999999; margin-top:10px;}
.janna{ float:right; font-family:arial; font-size:38px; color:#4fa5fa; margin-top:20px;}
.description{ font-family:"Times New Roman", Times, serif; font-size:16px; padding-top:3px;}
.size{  font-family:arial; font-size:14px; color:#cccccc;}
.misajblock{ float:left; width:100%; margin-top:25px;}
.heading{ font-family:arial; font-size:24px; font-weight: normal;}
.footer{ width:75%; margin:0px auto;}
.copyright{ float:left; font-family:arial; font-size:14px; font-weight:normal; color:#cccccc; margin-top:15px; margin-bottom:20px;}
.footermanu{ float:left; width:78%; margin-top:0px;}
.footermanu ul{ list-style:none;}
.footermanu ul li a{ width:80%; text-align:center; text-decoration:none; list-style:none; color:#c6c6c6; padding-right:100px;}
.footermanu ul li a:hover{ color:red;}
.space{ float:left; padding-left:65px;}
.contactusblock{ width:60%; margin:0px auto;}
.text_feild { border:1px solid #B5B5B5; border-radius:5px; color:#737373; font: 13px Arial; height:20px; margin:10px 0; padding:5px; width:240px;}
.text_area { border:1px solid #B5B5B5; border-radius:5px; color:#737373; font:13px Arial; height:100px; margin:10px 0; padding:5px; width:240px;}
#googleMap{float:left; width:100%;height:380px; margin-left:0px; margin-top:10px;}

}


@media screen and (max-width: 360px) {

.header_wraper{ float:left; width:100%; margin-bottom:15px;}
.header{ width:75%; margin:0px auto;}
.logo{ float:left; width:100%; margin-top:8px;}
.contactblock{ float:right; width:100%; margin-top:38px;}
.contactnmbr{ text-align:center; font-family:arial; font-size:20px; color:#999999;}
.text{ text-align:center; font-family:arial; font-size:16px; color:#666666;}
.topmanu{ clear:both; width:75%; min-height:162px; background:#ecf1f3; margin:0px auto; border:1px solid #CCCCCC;}
.topmanu ul{ list-style:none;}
.topmanu ul li a{ float:left; width:100%; text-decoration:none; color:#919395; padding-left:0px; padding-right:0px; line-height:40px; border-right:1px solid #999999; text-align:center; font-size:18px;}
.topmanu ul li a:hover{  background:none;}
.topmanu ul li a.active{ width:100%; background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/ border-right:1px solid #999999; text-align:center; font-size:18px;}
.maincontent{ width:75%; margin:0px auto; border-top:1px solid #CCCCCC; margin-top:15px;}
.contentimg{ float:left; width:100%; height:100px;}
.inerblock{ float:right; width:87%; margin-top:5px;}
.inerheading{ font-family:arial; font-size:25px; font-weight:normal; color:#2f86b1;}
.descrip{ font-family:; font-size:16px; color:#CCCCCC;}
.discountblock{ float:left; width:100%; margin-top:25px;}
.morebuton{ float:left; margin-top:20px;}
.textblock{ float:left; width:100%; margin-left:5px; margin-right:0px; margin-top:25px;}
.serviceblock{ float:left; width:100%; margin-left:26px; margin-right:28px; margin-top:25px;}
.desc{ float:left; width:94%; font-family:arial; font-size:14px; color:#999999; margin-top:10px;}
.janna{ float:right; font-family:arial; font-size:38px; color:#4fa5fa; margin-top:20px;}
.description{ font-family:"Times New Roman", Times, serif; font-size:16px; padding-top:3px;}
.size{  font-family:arial; font-size:14px; color:#cccccc;}
.misajblock{ float:left; width:100%; margin-top:25px;}
.heading{ font-family:arial; font-size:24px; font-weight: normal;}
.footer{ width:75%; margin:0px auto;}
.copyright{ float:left; font-family:arial; font-size:14px; font-weight:normal; color:#cccccc; margin-top:15px; margin-bottom:20px;}
.footermanu{ float:left; width:100%; margin-top:0px;}
.footermanu ul{ list-style:none;}
.footermanu ul li a{ width:85%; text-decoration:none; list-style:none; color:#c6c6c6; text-align:center;}
.footermanu ul li a:hover{ color:red;}
.space{ float:left; padding-left:10px;}
.contactusblock{ width:100%; margin:0px auto;}
.text_feild { border:1px solid #B5B5B5; border-radius:5px; color:#737373; font:13px Arial; height:20px; margin:10px 0; padding:5px; width:225px;}
.text_area { border:1px solid #B5B5B5; border-radius:5px; color:#737373; font:13px Arial; height:100px; margin:10px 0; padding:5px; width:225px;}
#googleMap{float:left; width:100%;height:380px; margin-left:0px; margin-top:10px;}

}



@media screen and (max-width: 320px) {

.header_wraper{ float:left; width:100%; margin-bottom:15px;}
.header{ width:75%; margin:0px auto;}
.logo{ float:left; width:100%; margin-top:8px;}
.contactblock{ float:right; width:100%; margin-top:38px;}
.contactnmbr{ text-align:center; font-family:arial; font-size:20px; color:#999999;}
.text{ text-align:center; font-family:arial; font-size:16px; color:#666666;}
.topmanu{ clear:both; width:75%; min-height:162px; background:#ecf1f3; margin:0px auto; border:1px solid #CCCCCC;}
.topmanu ul{ list-style:none;}
.topmanu ul li a{ float:left; width:100%; text-decoration:none; color:#919395; padding-left:0px; padding-right:0px; line-height:40px; border-right:1px solid #999999; text-align:center; font-size:18px;}
.topmanu ul li a:hover{ background:none;}
.topmanu ul li a.active{ width:100%; background:url(../images/manubg.png) repeat; /*background:#98d4f3;*/ border-right:1px solid #999999; text-align:center; font-size:18px;}
.maincontent{ width:75%; margin:0px auto; border-top:1px solid #CCCCCC; margin-top:15px;}
.contentimg{ float:left; width:100%; height:90px;}
.inerblock{ float:right; width:100%; margin-top:5px;}
.inerheading{ font-family:arial; font-size:25px; font-weight:normal; color:#2f86b1;}
.descrip{ font-family:; font-size:16px; color:#CCCCCC;}
.discountblock{ float:left; width:100%; margin-top:25px;}
.morebuton{ float:left; margin-top:20px;}
.textblock{ float:left; width:100%; margin-left:5px; margin-right:0px; margin-top:25px;}
.serviceblock{ float:left; width:100%; margin-left:26px; margin-right:28px; margin-top:25px;}
.desc{ float:left; width:94%; font-family:arial; font-size:14px; color:#999999; margin-top:10px;}
.janna{ float:right; font-family:arial; font-size:38px; color:#4fa5fa; margin-top:20px;}
.description{ font-family:"Times New Roman", Times, serif; font-size:16px; padding-top:3px;}
.size{  font-family:arial; font-size:14px; color:#cccccc;}
.misajblock{ float:left; width:100%; margin-top:25px;}
.heading{ font-family:arial; font-size:24px; font-weight: normal;}
.footer{ width:75%; margin:0px auto;}
.copyright{ width:100%; font-family:arial; font-size:14px; font-weight:normal; color:#cccccc; margin-top:15px; margin-bottom:20px; text-align:center;}
.footermanu{ float:left; width:100%; margin-top:0px;}
.footermanu ul{ list-style:none;}
.footermanu ul li a{ width:100%; text-decoration:none; list-style:none; color:#c6c6c6; padding-right:65px; text-align:center;}
.footermanu ul li a:hover{ color:red;}
.space{ float:left; padding-left:10px;}
#googleMap{float:left; width:100%;height:380px; margin-left:0px; margin-top:10px;}


}