<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>::subpage::</title>
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main_outer">
    <div id="sitecolor">
    <div class="outerwrapper_container">
        <div class="wrapper">

        <div class="layout_header">
          
          <div class="header_wrapper">
          <!-- start header-->{$editableheader}<!-- end header--> 
             <!-- start menu-->{$editablemenu}<!-- end menu -->
          </div>
          
          <div class="clear"></div>
        </div>
        
        <div class="content_wrapper">
          
          <div class="main-content">
          	<!-- start maincontent -->{$editablemaincontent}<!-- end maincontent -->
          </div>
          
          <div class="footerboxs">
          	<!-- start box1 -->{$editablebox1}<!-- end box1 -->
            <!-- start box2 -->{$editablebox2}<!-- end box2 -->
            <!-- start box3 -->{$editablebox3}<!-- end box3 -->
          </div>
          
          <!-- start copyright -->
          <div class="copyright">
          	CHARM &copy; 2014  |  <a href="#">PRIVACY POLICY</a>
          </div>
          <!-- end copyright -->
        
          <div class="clear"></div>
        </div>
        
	    </div>
    </div>
    </div>
</div>        
</body>
</html>
