/* MISC */
a{
	color: #E5B840;
}
input[type="submit"], button[type="submit"]{
	background: #E5B840;
}
blockquote, blockquote p{
	color: #E5B840;
}
#commentform input[type="submit"],
.label{
	background: #E5B840;
}

/* HEADER */
.logo{
	background: #E5B840;
	background: rgba(229, 184, 64, 0.8);
}
.page-title{
	background: #E5B840;
	background: rgba(229, 184, 64, 0.8);
}
/* SLIDER */
.flex-caption{
	background: #E5B840;
	background: rgba(229, 184, 64, 0.8);
}
.flex-direction-nav li .prev,
.flex-direction-nav li .next{
	background-color: #E5B840;
}

/* MENU */
#main-nav #magic-line{
	background: #E5B840;
}
#main-nav ul a:hover span,
#main-nav ul li.sfHover a span,
#main-nav ul li.current-cat a span,
#main-nav ul li.current_page_item a span,
#main-nav ul li.current-menu-item a span,
#main-nav ul li.current_page_ancestor a span {
	color: #E5B840;
}
#main-nav ul ul{
	border-bottom-color:#E5B840;
}
#credit{
	border-bottom: 5px solid #E5B840;
}
#photo-gallery li .prettyphoto,
#photo-masonry .photo .prettyphoto,
#photo-masonry .photo-caption{
	background-color: #E5B840;
}

/* BLOG POST */
.post-format-icon.standard,
.post-format-icon.image,
.post-format-icon.gallery,
.post-format-icon.audio,
.post-format-icon.video,
.post-format-icon.quote,
.post-format-icon.chat,
.post-format-icon.aside,
.post-format-icon.status,
.post-format-icon.link,
.widget .posts .post-thumb-small .standard,
.widget .posts .post-thumb-small .image,
.widget .posts .post-thumb-small .gallery,
.widget .posts .post-thumb-small .audio,
.widget .posts .post-thumb-small .video,
.widget .posts .post-thumb-small .quote,
.widget .posts .post-thumb-small .chat,
.widget .posts .post-thumb-small .aside,
.widget .posts .post-thumb-small .status,
.widget .posts .post-thumb-small .link {
	background-color: #E5B840;
}
.widget .about-us ul.communication,
.widget .timing .day{
	color: #E5B840;
}

/* BACK TO TOP */
#toTop{
	background-color: #E5B840;
}

/* PAGINATION */
.pagination a:hover, 
.pagination .current{
	background-color: #E5B840;
}

/* SHORTCODE */
.panel.callout h3{
	color: #E5B840;
}
.panel.callout .button.b-one{
	background: #E5B840;
}
.service-wrap .service .title{
	background: #E5B840;
}
.service-wrap .service .link{
	background-color: #E5B840;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal,
.jcarousel-skin-tango .jcarousel-next-horizontal{
	background-color: #E5B840;
}
.shortcode.pricelist .price{
	color: #E5B840;
}
.testimonial .flex-direction-nav li a{
	background-color: #E5B840;
}
.pricelist-page .price{
	color: #E5B840;
}
.staff .details span{
	color: #E5B840;
}

/* TEXT HIGHLIGHT */
::selection{ background: #E5B840; }  /* Safari */
::-moz-selection{ background: #E5B840; }  /* Firefox */
