<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>::maxBuz::</title>
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="wrapper">
       		
            <div class="layout_header">
				<!-- start header-->
				<div class="header_wrapper">
					<div class="logo_image">
						<img src="images/logo.png" id="logo" data-type="logo" data-edit="true">
					</div>
					<div class="compnynamencaption">
                    	<h1 id="heading" data-type="heading" style="display:none;">siren<span>barbershop</span></h1>
                        <h2 id="caption" data-type="caption" style="display:none;">html template</h2>
                        <p>7278 South Shelby St, Indianapolis, IN 46721 <br><b>Hours:</b> Mon-Fri: 9am-6:30pm,<br>Sat: 9am-6pm, Sun: Closed</p>
                        <p><span style="font-family:&#39;Oswald&#39;;font-size:14px;color:#e4e7e8;">CALL: (360) 656-6911<span style="color:#c9cfd1;">&nbsp;</span></span></p>
					</div>
				</div>
				<!-- end header-->
				<div class="clear"></div>
			</div>
            
            <div class="layot_banner">
				<!-- start banner -->
				<div class="banner_wrapper" data-type="slider">
                	<img src="images/slide-3.jpg" title="Click here to update your gallery"  height="480" width="940" alt="banner" data-edit="true" >
					<div class="clear"></div>
				</div>
				<!-- end banner -->
			</div>
            
            <div class="layot_menu">
				<!-- start menu-->
				<div class="menu_wrapper">
                <label for="show-menu" class="show-menu">Show Menu</label>
				<input type="checkbox" id="show-menu" role="button">
                	<ul class="menu menu-level-0" id="menu" data-type="menu">
                        <li class="sub item-first  active"> <a data-alias="index">HOME</a></li>
                        <li class="menu-delimiter delimiter-position-first"></li>
                        <li class="sub item-"> <a data-alias="subpage">SUBPAGE</a></li>
                        <li class="menu-delimiter delimiter-position-first"></li>
                        <li class="sub item-"> <a data-alias="services">SERVICES</a></li>
                        <li class="menu-delimiter delimiter-position-first"></li>
                        <li class="sub item-"> <a data-alias="product">PRODUCT</a></li>
                        <li class="menu-delimiter delimiter-position-first"></li>
                        <li class="sub item-"> <a data-alias="gallery" >GALLERY</a></li>
                        <li class="menu-delimiter delimiter-position-first"></li>
                        <li class="sub item-last"> <a data-alias="contact">CONTACT</a></li>
                    </ul>
					<div class="clear"></div>
				</div>
				<!-- end Menu -->
			</div>
            
            <div class="layout_footer">
            <div id="site_banner" data-type="site_banner"></div>
				<!-- start footer-->
				<div class="footer_wrapper">
					<div class="logo_image">
						<div class="socialshare"  data-type="socialshare">
                            <img src="images/facebook_1.png" data-edit="true">
                            <img src="images/dribbble_1.png" data-edit="true">
                            <img src="images/google.png" data-edit="true">
                            <img src="images/twitter_1.png" data-edit="true">
                        </div>
					</div>
					<div class="footer_copyright">
						<p>Siren &copy; 2014 All Rights Reserved &nbsp;| &nbsp;<a href="#" ><u>Privacy Policy</u></a></span></p>
					</div>
				</div>
				<!-- end footer-->
				<div class="clear"></div>
			</div>
        
         </div>
	</div>
	</div>
</div>   
</body>
</html>
