<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>Untitled Document</title>
</head>
<body class="home page page-id-5 page-parent page-template page-template-homepage-php">
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="wrapper">
        
        <header>
          <div class="width-container">
             <!-- start header -->
            <h1 id="logo" class="logo_image"><img src="images/logo.png" id="logo" data-type="logo" data-edit="true"></h1>
            <!-- end header -->
            
            <!-- start menu -->
            <nav>
              <div class="menu-main-navigation-container">
                <ul id="menu-main-navigation" class="sf-menu sf-js-enabled">
                  <li class="menu-item current-menu-item " ><a data-alias="index">Home</a></li>
                  <li class="menu-item"><a data-alias="subpage">About us</a></li>
                  <li class="menu-item"><a data-alias="menu">Menu</a></li>
                  <li class="menu-item"><a data-alias="template">Template</a></li>
                  <li class="menu-item"><a data-alias="news">News</a></li>
                  <li class="menu-item"><a data-alias="contact">Contact</a></li>
                </ul>
              </div>
            </nav>
            <!-- end menu -->
            
            <div class="clearfix"></div>
          </div>
        </header>
        
        <!-- start banner -->
        <div id="homepage-slider-container">
            <div class="flexslider" id="homepage-slider">
              <ul class="slides">
                <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 1;"> <img src="images/slide1.jpg" data-edit="true">
                </li>
              </ul>
            </div>
        </div>
        <!-- end banner -->




    <div id="main" class="site-main">
          
          
      <div class="width-container">
			<!-- start box1 -->	
        <div class="grid3column ">
              <h3>Welcome to White Rock</h3>
          <img src="images/welcome-image.jpg" alt="Welcome to White Rock" class="aligncenter" data-edit="true">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar est eget odio porttitor molestie. Vestibulum id dui quis erat vehicula pulvinar. Duis eu felis justo, vitae viverra dui. Pellentesque venenatis mi vel sapien adipiscing venenatis.</p>
              <span><a href="#" target="_self" class="progression-medium progression-grey">Read about us</a></span> 
        </div>
            <!-- end box1 --> 
            
            <!-- start box2 -->  
            <div class="grid3column ">
              <h3>Reserve a Table</h3>
              <img src="images/reserve-table.jpg" alt="Reserve a Table" class="aligncenter" data-edit="true">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar est eget odio porttitor molestie. Vestibulum id dui quis erat vehicula pulvinar. Duis eu felis justo, vitae viverra dui. Pellentesque venenatis mi vel sapien adipiscing venenatis.</p>
              <span><a href="#" target="_self" class="progression-medium progression-grey">Call and reserve a table</a></span> 
            </div>
            <!-- end box2 -->
            
            <!-- start box3 -->
            <div class="grid3column lastcolumn">
              <h3>Our Menu</h3>
              <img src="images/our-menu.jpg" alt="Our Menu" class="aligncenter" data-edit="true">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar est eget odio porttitor molestie. Vestibulum id dui quis erat vehicula pulvinar. Duis eu felis justo, vitae viverra dui. Pellentesque venenatis mi vel sapien adipiscing venenatis.</p>
              <span><a href="#" target="_self" class="progression-medium progression-grey">VIew our menu</a></span> 
            </div>
            <!-- end box3 -->
            
            <div class="clearfix"></div>
      </div>
         
          
          
          <div class="widget-area-highlight">
            <div class="width-container">
              <div id="footer-widgets">
                <div class="footer-4-column">
                  
                  <!-- start metabox -->
                  <div id="meta-2" class="widget homepage-widget widget_meta">
                    <h3 class="header-underline">Meta</h3>
                    <ul>
                      <li><a href="#">Log in</a></li>
                      <li><a href="#" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                      <li><a href="#" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                      <li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
                    </ul>
                  </div>
                  <!-- end metabox -->
                  
                  <!-- start mailchimp -->
                  <div id="text-2" class="widget homepage-widget widget_text">
                    <h3 class="header-underline">Email Updates</h3>
                    <div class="textwidget">
                      <div id="mc_embed_signup">
                        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                          <label for="mce-EMAIL">Join our digital mailing list and get news, deals, and be first to know about events at White Rock!</label>
                          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter e-mail address" required="">
                          <div class="clear">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- end mailchimp --> 
                  
                  <!-- start address -->
                  <div id="location-widget-2" class="widget homepage-widget location">
                    <h3 class="header-underline">Visit us</h3>
                    <h6 class="heading-address-widget">White Rock Restaurant </h6>
                    <div class="address-widget">1422 1st St. Napa, CA 94559 </div>
                    <div class="phone-widget"><span>Phone:</span> (707) 255-0211</div>
                    <div class="mobile-widget"><span>Mobile:</span> (707) 255-0210</div>
                    <div class="e-mail-widget"><span>E-mail:</span> <a href="mailto:admin@e-mail.com">admin@e-mail.com</a></div>
                    <div class="social-icons"> 
                    	<a class="facebook" href="http://facebook.com/" target="_blank">F</a> 
                        <a class="twitter" href="http://twitter.com/" target="_blank">t</a> 
                        <a class="vimeo" href="http://vimeo.com/" target="_blank">v</a> 
                        <a class="linkedin" href="http://linkedin.com/" target="_blank">l</a> 
                        <a class="youtube" href="http://youtube.com/" target="_blank">y</a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <!-- end address -->
                  
                  <!-- start hours -->
                  <div id="our-hours-widget-2" class="widget homepage-widget hours">
                    <h3 class="header-underline">Our Hours</h3>
                    <ul id="open-hours">
                      <li>
                        <div class="date-day grid2column">
                          <h6>Monday</h6>
                        </div>
                        <div class="hours-date grid2column lastcolumn">8:00 AM - 11:00 PM</div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="date-day grid2column">
                          <h6>Tuesday</h6>
                        </div>
                        <div class="hours-date grid2column lastcolumn">8:00 AM - 11:00 PM</div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="date-day grid2column">
                          <h6>Wednesday</h6>
                        </div>
                        <div class="hours-date grid2column lastcolumn">8:00 AM - 11:00 PM</div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="date-day grid2column">
                          <h6>Thursday</h6>
                        </div>
                        <div class="hours-date grid2column lastcolumn">8:00 AM - 11:00 PM</div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="date-day grid2column">
                          <h6>Friday</h6>
                        </div>
                        <div class="hours-date grid2column lastcolumn">11:00 AM - 11:00 PM</div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="date-day grid2column">
                          <h6>Saturday</h6>
                        </div>
                        <div class="hours-date grid2column lastcolumn">11:00 AM - 11:00 PM</div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="date-day grid2column">
                          <h6>Sunday</h6>
                        </div>
                        <div class="hours-date grid2column lastcolumn">Closed</div>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                  <!-- end hours -->
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
      </div>
      <div class="clearfix"></div>
        </div>
        
        <footer>
          <div class="width-container">
            <div id="copyright">
             
              <!-- start footerlogo -->
              <div class="grid2column"> 
              	<a href="index.html" id="footer-logo"><img src="images/logo-footer.png" id="logo" data-type="logo" data-edit="true"></a> 
              </div>
              <!-- end footerlogo -->
              
              <!-- start footermenu -->
              <div class="grid2column lastcolumn">
                <div class="menu-footer-navigation-container">
                  <ul id="menu-footer-navigation" class="footer-menu">
                    <li class="menu-item" ><a data-alias="index">Home</a></li>
                    <li class="menu-item"><a data-alias="subpage">About us</a></li>
                  	<li class="menu-item"><a data-alias="menu">Menu</a></li>
                  	<li class="menu-item"><a data-alias="template">Template</a></li>
                  	<li class="menu-item"><a data-alias="news">News</a></li>
                  	<li class="menu-item"><a data-alias="contact">Contact</a></li>
                  </ul>
                </div>
              </div>
              <!-- end footermenu -->
              
              <div class="clearfix"></div>
            </div>
          </div>
        </footer>
        </div>
    </div>
    </div>
</div>
        
</body>
</html>
