<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Contact us</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css"/>
</head>
<body>
<div class="container-fluid" id="sitecolor">
	<!-- start topmenu -->
    <header class="row">
	<div  class="navbar">
    	<ul data-type="menu">
        	<li class="active col-lg-offset-2 col-md-offset-2 col-sm-offset-2"><a data-alias="index">Home</a></li>
        	<li><a data-alias="about">About</a></li>
        	<li><a data-alias="service">Service</a></li>
        	<li><a data-alias="contact">Contact</a></li>      
        </ul>
	</div>
	<div style="clear:both;"></div>
    </header>
    <!-- end topmenu -->
	<!-- start header-->
		<div class="logo logo_image"><img src="images/logo.png" id="logo" data-type="logo" data-edit="true"></div>
	<!-- end header-->
     <!-- start maincontent -->	
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row1 row">
            <h2>Keep In touch</h2>
			     <article>
					<form action="" method="post">
					  <input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Name :">
				      <input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Email :">
					  <input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Telephone :">
					  <input name="" type="text" class="text_area" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Message :">
					  <input name="" type="submit" class="submit" value="SUBMIT">
					</form>
			   </article>
           </div>
       </div>
   <div class="clearfix"></div>
   <!-- end maincontent -->	
   <!-- start map -->
   <div class="row" id="beforeFooter">
       			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29186.92875821475!2d90.37832019999999!3d23.8766336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c5d05e7074dd%3A0xd1c58803049f00c7!2sUttara!5e0!3m2!1sen!2s!4v1400657083268" width="100%" height="220" frameborder="0" style="border:0"></iframe>
   </div>
   <!-- end map -->
	<!-- start footer -->
    <footer class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
       		<div class="col-lg-6 col-md-6 col-sm-6  col-xs-12  pull-right">
                    <div  class="navbar">
						<ul data-type="menu">
							<li class="active col-lg-offset-2 col-md-offset-2 col-sm-offset-2"><a data-alias="index">Home</a></li>
							<li><a data-alias="about">About</a></li>
							<li><a data-alias="service">Service</a></li>
							<li><a data-alias="contact">Contact</a></li>      
						</ul>
					</div>
        	 </div>
            	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  pull-left" style="text-align:center;">
                	&copy;2011 All Rights Reserved.
                </div>
     </div>
		</div>
    </footer>
	<!-- end footer -->
</div>
</body>
</html>
