
.dj-main {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    height: 44px;
    background: none;
    position: relative;
    z-index: 500;
    font-family: arial, verdana, sans-serif;
    width: auto;
	border-left:0px solid #1d2a36
}

.dj-main li.dj-up {
	position: relative;
    display: block;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
}

.dj-main li a.dj-up_a {
    display: block;
    float: left;
    height: 44px;
    line-height: 33px;
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 0 15px;
    cursor: pointer;
    background: none;
}

.dj-main li a.dj-up_a span {
    float: left;
    display: block;
    padding: 5px 15px 5px 0;
    height: 44px;
    background: none;
	border-right:0px solid #1d2a36;
}

.dj-main li a.dj-up_a span.dj-drop {
    padding: 0 25px 0 0;
    background: none;
}

.dj-main li:hover a.dj-up_a, .dj-main li.active a.dj-up_a {
    color: #333;
    background: no-repeat;
}

.dj-main li:hover a.dj-up_a span, .dj-main li.active a.dj-up_a span {
    background: no-repeat right top;
}

.dj-main li:hover a.dj-up_a span.dj-drop, .dj-main li.active a.dj-up_a span.dj-drop {
    background: no-repeat right top;
    padding-bottom: 3px;
}

.dj-main li.separator > a {
    cursor: default;
}

.dj-main li a.dj-up_a span span.image-title {
	background: none;
	padding: 0 0 0 5px;
	display: inline;
	float: none;
	height: auto;
}
.dj-main img {
	border: 0;
	margin: 0;
}

/* Default list styling */
.dj-main li:hover {
    position: relative;
    z-index: 200;
}

.dj-main li:hover ul.dj-submenu {
    left: 1px;
    top: 45px;
    background: #666;
    padding: 0px;
    border: 0px solid #0b4d97;
    width: auto;
    height: auto;
    z-index: 300;
	text-align:left;
}

.dj-main li:hover ul.dj-submenu li {
    display: block;
    height: auto;
    position: relative;
    float: left;
    width: 190px;
    font-weight: normal;
	text-align:left;
}

.dj-main li:hover ul.dj-submenu li a {
    display: block;
    font-size: 12px;
    height: auto;
    width: auto;
    line-height: 26px;
    color: #5e5e5e;
    text-decoration: none;
    border: 0px solid #576f85;
    padding-left: 0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:left;
}

.dj-main li ul.dj-submenu li a.dj-more {
    background: #444444 180px 6px no-repeat;
}

.dj-main li:hover ul.dj-submenu li a:hover, .dj-main li ul.dj-submenu li a.active, .dj-main li ul.dj-submenu li li a.active, .dj-main li ul.dj-submenu li li li a.active {
    background: #444444; /*hover*/
    color: #333;
    border-color: none;
}

.dj-main li:hover ul.dj-submenu li a.dj-more:hover {
    background: #444444 180px 6px no-repeat;
    color: #333;
}

.dj-main li:hover ul.dj-submenu li a.dj-more-active {
    background: #444444 180px 6px no-repeat;
    color: #333;
}

.dj-main li:hover ul.dj-submenu li a.dj-more-active:hover {
	border:none;
    border-color: #333;
    background: #444444 180px 6px no-repeat;
}

.dj-main li:hover li:hover ul, .dj-main li:hover li:hover li:hover ul, .dj-main li:hover li:hover li:hover li:hover ul, .dj-main li:hover li:hover li:hover li:hover li:hover ul {
    left: 190px;
    top: -4px;
    background: #444444;
    padding: 0px;
    border: 0px solid #0b4d97;
    white-space: nowrap;
    width: 190px;
    z-index: 400;
    height: auto;
}

.dj-main ul, .dj-main li:hover ul ul, .dj-main li:hover li:hover ul ul, .dj-main li:hover li:hover li:hover ul ul, .dj-main li:hover li:hover li:hover li:hover ul ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
	text-align:left;
}

.dj-main li:hover li:hover a.dj-more, .dj-main li:hover li:hover li:hover a.dj-more, .dj-main li:hover li:hover li:hover li:hover a.dj-more, .dj-main li:hover li:hover li:hover li:hover li:hover a.dj-more {
    background: #522f27 180px 6px no-repeat;
    color: #fff;
    border-color: #fff;
}

.dj-main li:hover li:hover li a.dj-more, .dj-main li:hover li:hover li:hover li a.dj-more, .dj-main li:hover li:hover li:hover li:hover li a.dj-more {
    background: #576f85 url(../images/arrow.gif) 180px 6px no-repeat;
    color: #000;
    border-color: #50b5d0;
}
