<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Home Page</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body id="sitecolor">

<!--start header -->

<div class="header_wraper">
  <div class="header">
    <div class="logo">
      <a href="#"><img alt="" src="images/logo.png" id="logo" data-type="logo" data-edit="true" /></a>
    </div>
	<div class="contactblock">
	  <div class="contactnmbr">
	    813.453.8666
	  </div>
	  <div class="text">
	    You Deserve A Personal Touch
	  </div>
	</div>
  </div>
</div>
<!--end header -->

<!--start topmenu-->
<div class="topmanu">
	<ul data-type="menu">
	  <li  class="active"><a class="width" data-alias="index">HOME</a></li>
	  <li><a class="width" data-alias="about">ABOUT</a></li>
	  <li><a class="width" data-alias="services">SERVICES</a></li>
	  <li><a class="width" data-alias="contact">CONTACT</a></li>
	</ul>  
  </div>
<!--end topmenu-->



<div class="maincontent">
	<!-- start slider -->
  <div class="contentimg" data-type="slider">
    <img width="100%" src="images/bgimg.png" data-edit="true" />
  </div>
  <!-- end slider -->
		
  <!--start maincontent -->
  <div class="discountblock">
    <div class="discountimg">
	  <img alt="" width="100%;" src="images/saveimg.png" data-edit="true" />
	</div>
	<div class="description">
	  Lorem ipsum dolor sit amet<br />
      <span class="size">Adipisicing elit, sed do eiusmod tempor.</span>
	</div>
	<div class="morebuton">
	  <a href="#"><img alt="" src="images/learnmorebtn.png" data-edit="true" /></a>
	</div>
  </div>
  <div class="textblock">
    <h1 class="heading" id="heading" data-type="heading">
	  Welcome To Skincare With Janna
	</h1>
	<div class="desc">
	  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div> 
	<div class="janna">
	  Janna Casesa
	</div> 
  </div>
  <div class="misajblock">
    <div class="misajimg">
	  <img alt="" width="100%;" src="images/misajimg.png" data-edit="true" />
	</div> 
	<div class="description">
	  Lorem ipsum dolor sit amet<br />
      <span class="size">Adipisicing elit, sed do eiusmod tempor.</span>
	</div>
	<div class="morebuton" style="float:right;">
	  <a href="#"><img alt="" src="images/learnmorebtn.png" data-edit="true" /></a>
	</div>
  </div>
  <div class="vline" style="width:100%">
    <img alt="" width="100%;" src="images/footerline.png" data-edit="true" />
  </div>
</div>
<!--end maincontent-->

<!--start footer-->

<div class="footer">
  <div class="footermanu">
    <ul data-type="menu">
	  <li class="space"><a data-alias="index">HOME</a></li>
	  <li class="space"><a data-alias="about">ABOUT</a></li>
	  <li class="space"><a data-alias="services">SERVICES</a></li>
	  <li class="space"><a data-alias="contact">CONTACT</a></li>
	</ul>
  </div>
  <div class="copyright">
    Copyright © Skincare With Janna 2010  
  </div>
</div>
<!--end footer-->
</body>
</html>
