
/*
theme color- 33ABDB

 light theme color- C3E8F8*/





html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	
}

.clear{ clear:both;
}

a:link,
a:visited,
a:active{
	color:#33ABDB;
	text-decoration:none;
}
a:hover{
	color:#000000;
	text-decoration:none;
}



/*--------------------------------- New styles start--------------------------------*/
.wrps_main{ width:100%;
			position:relative;
			min-height: 100%;
			position: relative;
			
}

.top_wrps{ width:100%;
		   height:80px;
		   background-color:#2B2B2B;
		  
}
.inner_top_wrps{ width:100%;
		   height:80px;
		   background-color:#2B2B2B!important;
		  border-bottom:#33ABDB solid 10px;
		  
}

.promo_dv_ads{ width:100%;
			   height:152px;
			   background:url(../images/add_tile_mid.jpg) top left repeat-x;
				
}
.tpwrp_inner{ height:80px;
			  width:900px;
			  margin:0 auto;
}

.banner_wrps{ height:417px;
			  background-color:#33ABDB;
}
.prom_addmid{ width:900px;
			  height:152px;
			  background:url(../images/promo_hds.jpg) top left no-repeat;
			  margin:0 auto;
}

.bnr_inwrap{ width:900px;
			 height:417px;
			 background:url(../images/banner_bg.png) top left no-repeat;
			 margin:0 auto;
}

.logo_tpsections{ width:378px;
				  height:80px;
				  float:left;
}

.top_rightsection{ width:522px;
				   float:right;
				   height:80px;
}



/*------ top nav styles start --------*/

.hmnavstyles ul{ list-style:none;
				 float:right;
				 margin:0;
				 padding:0;
}

.hmnavstyles li{ float:left;
				  margin:0 0 0 10px;
}

.hmnavstyles li a{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				   font-size:16px;
				   color:#FFFFFF;
				   text-decoration:none;
				   padding:28px 5px 28px 5px;
				   text-transform:uppercase;
				   display:block;
}

.hmnavstyles li a:hover{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				   font-size:16px;
				   color:#FFFFFF;
				   text-decoration:none;
				   padding:28px 5px 28px 5px;
				   text-transform:uppercase;
				   background-color:#3E3E3E;
				   display:block;
}

/*------ top nav styles end --------*/

.banner_lftxtsection{ width:497px;
					  height:417px;
					  float:left;
					  position:relative;
}

.banner_text{
	position:absolute;
	top:20px;
	width:450px;
}
.banner_text .head{
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	line-height:45px;	
	color:#FFFFFF;
	font-weight:bold;
	margin-bottom:10px;
	text-shadow:#333333 2px 2px 5px;
	letter-spacing:1px;
	
}
.banner_text .head span{	
	color:#C3E8F8;
	
}
.banner_text .cnt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;	
	color:#FFFFFF;
	
}

.banner_slide_section{ width:403px;
					  height:417px;
					  float:left;
					  position:relative;
}

.strtbtn{ width:264px;
		  height:83px;
		  float:left;
		  position:absolute;
		  bottom:30px;
}

.slide_computwrp{ width:376px;
				  height:301px;
				  position:absolute;
				  background-image:url(../images/slide_screen.png);
				  background-repeat:no-repeat;
				  bottom:29px;
				  padding-top:42px;
				  padding-left:18px;
				  
}

.slider_container{
	width:360px;
	height:200px;
}

.price_dvs{ width:206px;
			background-image:url(../images/stckr_img.png);
			background-repeat:no-repeat;
			position:absolute;
			bottom:0px;
			right:5px;
			height:120px;
}


.price_amnt h5{  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size:32px;
				color:#D51616;
				margin:0;
				text-align:center;
				font-weight:bold;
				padding:82px 20px  0 20px;
				
}
.cntarea_dvs{ padding:10px 0 160px 0;
			  min-height:100%;
			  position:relative;
}


.cnt_innerdvs{ width:900px;
			   margin:0 auto;
}
.cnt_innerdvs_admin{ 
width:802px;
			   margin:0 auto;
			   font-size:12px;
			   
}

.hm_lftdiv{ width:433px;
		    float:left;
			background:url(../images/vrt_dtlines.jpg) top right repeat-y;
			padding:0 20px 0 0;
			
			

}

.hm_rgtdiv{ width:421px;
			float:right;
}

.hm_lftdiv h1{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size:26px;
				color:#797C7C;
				text-transform:uppercase;
				font-weight:normal;
				margin:5px 0 5px 0;
				padding:5px 0 5px 0;
}

.hm_rgtdiv h2{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size:26px;
				color:#797C7C;
				text-transform:uppercase;
				font-weight:normal;
				margin:5px 0 5px 0;
				padding:5px 0 5px 0;
}

.hm_lftdiv p{ font-family:Arial, Helvetica, sans-serif;
			  font-size:14px;
			  color:#666666;
			  margin:0;
			  padding:5px 0 5px 0;
			  line-height:22px;
			  text-align:justify; 
}








/*----------- Footer Styles Start------------*/

.ftr_divsmani{ width:100%;
			   height:116px;
			   background-color:#2B2B2B;
			   position:absolute;
			   bottom:0;
			   color:#FFFFFF;
			   font-family:Arial, Helvetica, sans-serif;
			   font-size:12px;
			   
}

.ftr_divsmani a:link,
.ftr_divsmani a:visited,
.ftr_divsmani a:active
{ 
text-decoration:none;
			   
}
.ftr_divsmani a:hover
{ 
color:#FFFFFF;
			   
}

.ftr_mains{ width:900px;
			height:116px;
			margin:0 auto;
}

.footer_lfet{ width:400px;
			  height:116px;
			  float:left;
}

.footer_rgt{ width:440px;
			  height:116px;
			  float:right;
}

.footer_rgt p{ font-family:Arial, Helvetica, sans-serif;
			   font-size:12px;
			   color:#FFFFFF;
			   text-align:right;
			   padding:40px 0 25px 0;
}

.tmlist_styles{ border:1px solid #ECECEC;
				background-color:#FBFBFB;
}






/*--------------------------------- New styles end--------------------------------*/















.background{
   background: #FFFFFF;
}
.maintext {
        FONT-WEIGHT: normal;
        FONT-SIZE: 12px;
        COLOR: #000000;
        font-family:Arial, Helvetica, sans-serif;
}
.whitetext {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #FFFFFF;;
        FONT-FAMILY: verdana;
}
.greentext{
       FONT-SIZE: 11px;
       COLOR: green;
       FONT-FAMILY: verdana;


}
.helptext {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	line-height: 14px;
}
.maintextbold{
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        color: #333333;
}
.bigTitleText{
        FONT-WEIGHT: bold;
        FONT-SIZE: 15px;
        COLOR: #333333;
        FONT-FAMILY: verdana;
}
.editorbutton {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000000;
        background-color: #FFFFFF;
        border: 1px solid #7C6416;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-image:url(../images/btn_bg.gif);
	background-repeat:repeat-x;
	border:none;
	background-color:#FF6E1F;
	padding:3px 10px 3px 10px;
}
.textbox {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
        border: 1px solid #CFCDD6;
        padding: 3px 3px 3px 5px;
}
.selectbox {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
        border: 1px solid #CFCDD6;
        padding: 3px 3px 3px 5px;
}
.errormessage{
       FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR:red;
        FONT-FAMILY: verdana;
}
.anchor{
        font-family: Arial;
        font-size: 12px;

        line-height: 18px;
        color: blue;
        text-decoration: none;


}
.maintextbigbold{
       FONT-WEIGHT: bold;
        FONT-SIZE: 13px;
        COLOR: #333333;
        FONT-FAMILY: verdana;


}

.redtext{
       FONT-SIZE: 12px;
        COLOR: red;
        FONT-FAMILY: Arial, Helvetica, sans-serif;


}
.MoveUp {
        background-image: url(/images/arr_up.gif);
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 15px;
        font-size: 11px;
}
.Actions {
        color: #999999;
        font-size: 11px;
}

.textwhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #1B5269;
}

.toplinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: #1B5269;
}
.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: underline;
}
.subtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #818181;
}
.bodyband {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, verdana, helvetica, sans-serif; TEXT-DECORATION: none
}
.toolbar {
	BORDER-RIGHT: #d4d0c8 1px solid; BORDER-TOP: #d4d0c8 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #d4d0c8 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #d4d0c8 0px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: buttonface
}
.blacksub {
	background-color: #C3E8F8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.listingmain {
	background-color: #C3E8F8;
}
.fieldsets {
	border: 1px solid #C5C3C3;
}
.editorlinks{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #000000;
	text-decoration: underline;
}
.sidelinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #666666;
	font-weight: bold;
}
.easytext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #666666;
	font-weight: normal;
}
.copyright {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #E41E4F;
	font-weight: bold;
}
.heading {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #E41E4F;
	font-weight: bold;
}
.borderbg{
   background:#AFE1FA;
}
.footerbg{
  background:#DDF1FB;
}
.headerclass{
   background: url(../images/echeader.gif);BACKGROUND-REPEAT: no-repeat;
}

.userheaderclass{
   background: url(../images/ecinnerheader.gif);BACKGROUND-REPEAT: no-repeat;
}
.editorheaderclass{
   background: url(../images/paenlheader.gif);BACKGROUND-REPEAT: no-repeat;
}
#bubble_tooltiplicensekey{
	width:307px;
	position:absolute;
	display:none;
}
#bubble_tooltiplicensekey .bubble_top{
	background-image: url('../images/bubble_toplicense.gif');
	background-repeat:no-repeat;
	height:16px;
}
#bubble_tooltiplicensekey .bubble_middle{
	background-image: url('../images/bubble_middlelicense.gif');
	background-repeat:repeat-y;
	background-position:bottom left;
	padding-left:22px;
	padding-right:7px;
}
#bubble_tooltiplicensekey .bubble_middle span{
	position:relative;
	top:-8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:14px;
}
#bubble_tooltiplicensekey .bubble_bottom{
	background-image: url('../images/bubble_bottomlicense.gif');
	background-repeat:no-repeat;
	background-repeat:no-repeat;
	height:44px;
	position:relative;
	top:-6px;
}

.footer_comm_div{
	clear:both;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;
}
.footer_comm_div a:link,
.footer_comm_div a:visited,
.footer_comm_div a:active

{
	color:#33ABDB;
	text-decoration:none;
	font-size:12px;
}
.footer_comm_div a:hover

{
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}

.main_heading{
	color:#33ABDB;
	font-family:"Trebuchet MS";
	font-size:28px;
	font-weight:normal;
	background-image:url('../images/divider_dot.gif');
	background-repeat:repeat-x;
	background-position:bottom;
	margin:5px 0px 10px 0;
	padding:0 0 10px 0;
}

.helpcenter{
	background-color:#C3E8F8;
	border-bottom:#33ABDB solid 1px;
}
.helpcenter_head{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	font-size:16px;
	padding:0 10px 10px 0;
}
.helpcenter_image{	
	padding:0 10px 10px 0;
}
.helpcenter_image img{
	border:#33ABDB solid 2px;	
}
.common_box{
	border:#DFDFDF solid 2px;
}

.adm_toplinks{
	padding-top:10px;
	font-size:12px;
	color:#FFFFFF;	
	font-family:Arial, Helvetica, sans-serif;
}
.adm_toplinks a:link,
.adm_toplinks a:visited,
.adm_toplinks a:active
{
	text-decoration:none;
	color:#FFFFFF;
	
}
.adm_toplinks a:hover
{
	
	text-decoration:underline;	
}

/* Home jquery slider */

@charset "utf-8";
/* CSS Document */
.lof-slidecontent{
	position:relative;
	overflow:hidden;	
	width:360px;
	height:200px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-main-outer{
	position:relative;
	height:100%;
	width:600px;
	z-index:3px;
	overflow:hidden;
}





/* main flash */
ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	margin:0;
	height:200px;
	width:360px;
	position:absolute;
	overflow:hidden;
}

ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	height:100%;
	width:360px;
	float:left;
}
.lof-opacity  li{
	position:absolute;
	top:0;
	left:0;
	float:inherit;
}
ul.lof-main-wapper li img{
	padding:0px;	
	width:360px;
}

li-desc{
	z-index:100px;
	position:absolute;
	top:150px;
	left:50px;
	width:400px;
	background:url(../images/transparent_bg.png);

	/* filter:0.7(opacity:60) */
}
li-desc p{
	color:#FFF;
	margin:0 8px;
	padding:8px 0
}
li-desc h3 a{
	color:#FFF;	
	margin:0;
	font-size:140%;
	padding:20px 8px 2px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
}
li-desc h3 a:hover{
	color:#FF6;
	text-decoration:underline;
}

/* item navigator */
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}
ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}
.lof-navigator-outer{
	position:absolute;
	right:0;
	top:00px;
	z-index:100;
	height:300px;
	width:310px;
	overflow:hidden;
	color:#FFF
}
.lof-navigator li.active{
	background:url(../images/arrow-bg.png) no-repeat scroll left center; 
	color:#FFF
}
.lof-navigator li:hover{
	
}


.lof-navigator li h3{
	color:#FFF;
	font-size:100%;
	padding:15px 0 0 !important;
	margin:0;

}
.lof-navigator li div{
	background:url(../images/transparent_bg.png);
	color:#FFF;
	height:100%;
	position:relative;
	margin-left:15px;
	padding-left:15px;
	border-top:1px solid #E1E1E1;
}

.lof-navigator li.active div{
	background:url(../images/grad-bg.gif);
	color:#FFF;
}
.lof-navigator li img{
	height:60px;
	width:60px;
	margin:15px 15px 10px 0px;
	float:left;
	padding:3px;
	border:#C5C5C5 solid 1px;
}
.lof-navigator li.active img{
	border:##6C8E5C  solid 1px;
}
.lof-navigator li.active h3{
	color:#FFF;
}
