/*div.jjmenu {position:absolute;	background:#fffef0;	border-bottom:2px solid gray;	border-right:1px solid gray;	padding:0px;}
div.jj_menu_item {	color:black;	border:1px solid gray;	border-bottom:none;	background:url(../images/menuitem.gif) no-repeat black;	cursor:pointer;}
div.jj_menu_item span {	display:block;	padding:4px;}
div.jj_menu_item_hover {	background:#e4e4e4;	}

.editablefile:hover{cursor:move;}*/

div.jjmenu {position:absolute;	background:#ffffff;	border:1px solid #B9B6B6; padding:0px; box-shadow: 3px 3px 5px 1px #666; }
div.jj_menu_item {	border-bottom:1px dotted #666666;background:#ffffff; padding:5px 10px;  color: #333333; 
 	font-family: Arial,Helvetica,sans-serif ;
    font-size: 12px;
	cursor:pointer;
	text-align:left;}
div.jj_menu_item span {	display:block;	padding:4px;}
div.jj_menu_item_hover {	background:#e4e4e4;	}

.editablefile:hover{cursor:move;}