/* color:#3cb033; */
body,html{
	margin:0;
	padding:0;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#0f0f0f;
	line-height:20px
	}
p, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
* {
	border:none
}
a{
	border:0;
	color:#3cb033;
	}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
.main {
	margin:0 auto;
	width:1050px;
}
/*-------------------layout----------------------------*/
.layout_header{width:1050px; float:left;}
.layot_topmenu{width:1050px;}
.layout_bannerarea{width:1050px; float:left; background:#FFF; 	margin-top:15px;
}
.layout_row1{width:1050px; float:left;}
.layout_threecolumnbox{width:342px; float:left;}
.layout_homecontentrow2{width:1050px; float:left; }
.layout_fourcolumnbox{width:254px; float:left; }

/*-------------------layout----------------------------*/
.main_outer{
	background:url(../images/bg_main.jpg) repeat-x #424242;
}
.outerwrapper_container{
	border-top:2px solid #1C1C1C;}
.outerwrapper{
	width:1050px;	 margin: 0 auto;}
.wrapper{
	width:1050px; border-top:0;padding-bottom:5px;}
.header_wrapper{
	height:105px;
	width:1050px; margin-top:0px; margin-bottom:10px;}
.logo_sec{
	float:left;
	width:400px;
	height:80px;
	padding-top:25px;
}
.logo_name{
	float:left;
	width:400px;
	height:80px;
}
.logo_name h1{
	font-family: 'Open Sans', sans-serif; font-size:40px; color:#FFF; font-weight:normal; height:40px; }
.logo_name h1 span{
	font-family: 'Open Sans', sans-serif; font-size:40px; color:#3cb033;}
.logo_name h2{
	font-family: 'Open Sans Condensed', sans-serif; font-size:20px; color:#989494; font-weight:normal; letter-spacing:.17em; margin-top:7px;}
.socialshare{ 
	padding:0px;
	margin-left:5px;
	float:right;}	
.socialshare a{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.socialshare a:hover{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
	opacity:0.5;
}
.top_menu{
	border-bottom:1px solid #5c5c5c; border-top:1px solid #5c5c5c; padding:10px 0px; height:50px; padding-right:10px;width:1040px; margin:0px;}
.top_menu ul{
	height:50px;
	margin:0;
	padding:0;}
.top_menu li{
	list-style:none;	display:block;	float:left;	margin-left:10px;
	}
.top_menu li a{
	height:50px; 
	line-height:50px; 
	padding: 0 50px; 
	display:block;
	text-decoration:none; 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size:23px; color:#ffffff; font-weight:normal;
	cursor:pointer;}
.top_menu li a:hover {background-color:#5c5c5c;}
.top_menu .active a {background-color:#3cb033;}
.banner_area_wrapper{
	width:1050px;
}
.banner{
	border:10px solid #FFF;
	width:1030px;
	background:#e1e1e1;
	}
.banner img{
	height:430px;
	width:1030px;}
.banner_shade{
	width:1050px;
	height:37px;
	padding:0px;
	margin:0px;
	float:left;
	background:url(../images/banner-shade.jpg) no-repeat;}
.homecontentrow1{
	padding:10px 0px;
	margin-top:15px;
	width:1050px;}
.threecolumnbox{
	width:300px;
	padding:0px 28px 0px 0px;
	height:320px;
	float:left;}
.rightmarg1{
	margin-right:35px;}
.threecolumnbox h3{
	   font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#514E4E;
	margin-bottom:20px;
	}
.threecolumnbox h3 span{
	color:#3cb033;}
.threecolumnbox2{
	width:300px;
	padding:0px 30px 0px 30px;
	border-left:1px dashed #cccccc;
	height:250px;
	float:left;}
	
.threecolumnbox2 h3{
	 font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#514E4E;
	margin-bottom:20px;
	}
.threecolumnbox2 h3 span{
	color:#3cb033;}
.homecontentrow1_image{
	margin-bottom:20px;}
.homecontentrow1_image img{
	width:290px;
	height:100px;
	border:5px solid #FFF;}
.homecontentrow1 p{
	color: #5c5c5c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;}
.exp{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp li{
	width:282px;
	list-style:none;
	background: url("../images/menu_marker_green.png") no-repeat scroll 0 8px transparent;
	color:#5c5c5c;
    padding-bottom: 18px;
    padding-left: 18px;
}
.pad li p{
	width:282px;
	float:left;
	margin-top:7px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.more_blk{
	width:300px;
	float:left;
	margin-top:10px;
}
.morelink{
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#ffffff;
	padding:3px 35px 3px 20px;
	line-height:21px;
	cursor:pointer;
	background:url(../images/right_arrow.png) #3cb033 85% 50% no-repeat;}
.morelink:hover{
	cursor:pointer;
	background:url(../images/right_arrow.png) #3aa8f4 85% 50% no-repeat;}
.new_date{
	width:300px;
	float:left;
}
.new_date ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.new_date li{
	width:300px;
	margin:0px 0px 17px 0px;
	padding:5px 0px 14px 0px;
	border-bottom:1px dashed #cccccc;
	list-style:none;
}
.date {
	float:left;
	width:46px;
	margin-right:20px;
	text-align:center;
	font-size:30px;
	color:#3cb033;
	line-height:1.2em;
	padding-bottom:20px
}
.date span {
	display:block;
	font-size:53px;
	line-height:1.2em;
	margin-top:-8px;
	margin-bottom:-22px;
	letter-spacing:-2px;
}
.homecontentrow2{
	margin:15px 0px 0px 0px;
	padding:15px 0px;
	width:1050px;
	}
.phylosophy_blk{
	width:300px;
	float:left;
	margin-top:15px;
	padding-left:30px;
	padding-bottom:20px;
	background:url(../images/sep1.jpg) repeat-y left top;
}
.phylosophy_blk p{
	width:300px !important;
	float:left;
	color: #b5b5b5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	line-height:21px;
}
.phylosophy_hdr{
	color: #3cb033;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	width:300px;}
.phylosophy_hdr span{
	color: #FFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.homecontentrow2_content{
}
.recent_work_blk{
	width:700px;
	padding-right:20px;
	margin-top:15px;
	float:left;
}
.recent_work_blk_hdr{
	color: #3cb033;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	float:left;
	width:700px;}
.recent_work_blk_hdr span{
	color: #FFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.recent_works{
	width:699px;
	margin-top:10px;
	float:left;
}
.r_work{
	width:200px;
	float:left;
	margin-right:27px;
}
.r_work img{
	width:190px;
	border:5px solid #545353;
	height:140px;
	float:left;
}
.r_work p{
	width:200px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 16px;
	color: #FFF;
	float:left;
	text-align:center;
	margin:5px 0 0 0;
	padding:0px;
}
.footer_outer{
	width:100%;
	height:80px;
	margin:0px;
	background:#000;
	overflow:hidden;
}
.footer{
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:25px 0 15px 0; width:1050px;}
footer_content{
	width:1010px;
	padding:0px 20px;
	float:left;
}
.footer_content p{
	color: #6b6b6b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 15px;
	width:460px;
	float:left;
	}
.footer_logo{
	height:35px;
	float:right;
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#4a4a4a; font-weight:normal;}
.footer_logo span{
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#a7a7a7;}
/*---------------------inner-------------------------*/
.inner_bg{
	background:url(../images/inner_bg.jpg) repeat-x;
}
.inner_content_block{
	width:1050px;
	margin:50px 0px;
}
.outerwrapper2{
	width:100%; background:#414141; min-height:305px;}
.wrapper2{
	width:1050px; margin: 0 auto; border-top:0; padding-bottom:5px;}
.content_left{
	width:700px;
	float:left;
	padding-right:47px;
	border-right:1px dashed #cccccc;
}
.content_left_hdr{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#514E4E;
	margin-bottom:20px;
	width:700px;
	}
.content_left p{
	color: #5c5c5c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
	margin:25px 0px 15px 0px;
}
.content_left_hdr span{
	color:#3cb033;}
.content_right{
	width:300px;
	float:left;
}
.Testimonials{
	width:260px;
	float:left;
	padding-left:40px;
}
.Testimonials h3{
	color:#3cb033;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	background:url(../images/testimonial_icon.png) no-repeat;
	padding-left:50px;
	padding-bottom:15px;
	border-bottom:1px solid #f3f3f3}
.Testimonials ul{
	margin:0;
	padding:0;}
.Testimonials li{
	list-style:none;
	border-bottom:1px dashed #b4b4b4;
	padding:10px 0 0 0;}
.Testimonials p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:19px;
	padding-bottom:10px;}
.author{
	color:#3cb033 !important;
	text-align:right;}
.contact_address{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:22px;
	padding-left:40px;
}
.contact_address span{
	color:#3cb033;
	font-family:"open Sans Condensed", arial;
	font-size:30px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
	margin-bottom:10px;
}
.contact_address p{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:19px;
}
.contact_form{
	width:320px;
	float:left;
	margin-top:30px;
}
.contact_form h4{
	color:#9b9b9b;
	font-family:"open Sans Condensed", arial;
	font-size:26px;
	font-weight:normal;
	float:left;
	margin-bottom:10px;
	width:320px;
}
.text_feild {
    background:#FFF;
    border: 1px solid #dadada;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.text_area {
    background:#FFF;
    border: 1px solid #dadada;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 100px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.submit{
	width:100px;
	height:34px;
	float:left;
	margin:10px 0px;
	cursor:pointer;
    color: #FFF;
    font: 16px Arial,Helvetica,sans-serif;
	border:0;
	outline:none;
	background:#3cb033;
}
.submit:hover{
    font: 16px Arial,Helvetica,sans-serif;
	background:#011823;
}
