<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>Royal Tourusm</title>
</head>
<body>
	<div class="main_outer">
		<div id="sitecolor">
		<div class="outerwrapper">
			<div class="wrapper">
				<!-- start header -->
				<div class="header_wrapper">
					<div class="logo_sec">
					<div class="logo_name">
						<h1 id="heading" data-type="heading">RO<span>Y</span>AL </h1>
						<h2 id="caption" data-type="caption">Tours &amp; Travels</h2>
					</div>
					</div>
				</div>
				<!-- end header -->
				<div class="clear"></div>
				 <!-- start topmenu -->
				<div class="top_menu">
					<ul  data-type="menu">
						<li class="active"><a data-alias="index">Home</a></li>
						<li><a data-alias="aboutus">About Us</a></li>
						<li><a data-alias="gallery">Gallery</a></li>
						<li><a data-alias="contactus">Contact Us </a></li>
					</ul>
					<div class="clear"></div>
				</div>
				 <!-- end topmenu -->
				
				<div class="clear"></div>
				<div class="banner_area_wrapper">
					<div class="banner">
					<!-- start banner_image -->
						<div data-type="slider">
						<img src="images/banner.jpg" data-edit="true" title="Click here to update your gallery" />
						</div>
					<!-- end banner_image -->
					</div>
					<!-- start box -->
					<div class="welcome_area">
						<h2>Welcome</h2>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
						Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
						consectetuer adipis cing elit. Mauris fermentum dictum magna. 
						Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.</p>
						<p><a class="morelink right">more</a></P>
						<div class="clear"></div>
					</div>
					<!-- end box -->
					<div class="clear"></div>
				</div>
				<div class="homecontentrow1">
					<!-- start row1 -->
					<div class="threecolumnbox rightmarg1">
						<h3>Vacation Package <span>Services</span> </h3>
						<div class="homecontentrow1_image">
						<img src="images/img1.jpg" data-edit="true">
						</div>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
							Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
							consectetuer adipis cing elit. Mauris fermentum dictum magna. 
							Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.
						</p>
						<p><a class="morelink right">more</a></P>
						<div class="clear"></div>
					</div>
					
					<div class="threecolumnbox rightmarg1">
						<h3>Honeymoon Package <span>Services</span> </h3>
						<div class="homecontentrow1_image">
						<img src="images/img2.jpg" data-edit="true">
						</div>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
							Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
							consectetuer adipis cing elit. Mauris fermentum dictum magna. 
							Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.
						</p>
						<p><a class="morelink right">more</a></P>
						<div class="clear"></div>
					</div>
					
					<div class="threecolumnbox">
						<h3>Hot Destination <span>Services</span> </h3>
						<div class="homecontentrow1_image">
						<img src="images/img3.jpg" data-edit="true">
						</div>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
							Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
							consectetuer adipis cing elit. Mauris fermentum dictum magna. 
							Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.
						</p>
						<p><a class="morelink right">more</a></P>
						<div class="clear"></div>
					</div>
					<!-- end row1 -->
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="homecontentrow2">
					<!-- start row2 -->
					<div class="homecontentrow2_hdr">
					Hot Packages
					</div>
					<div class="homecontentrow2_content">
						<div class="fourcolumnbox rightmarg2">
							<div class="fourcolumnbox_image">
							<img src="images/img4.jpg" data-edit="true">
							</div>
							<h3>Maldives</h3>
							<p>6-23 Nights ; 3-5 stars</p>
							<p><span>Cost  : $25000$</span></p>
							<div class="clear"></div>
						</div>
						
						<div class="fourcolumnbox rightmarg2">
							<div class="fourcolumnbox_image">
							<img src="images/img5.jpg" data-edit="true">
							</div>
							<h3>US</h3>
							<p>6-23 Nights ; 3-5 stars</p>
							<p><span>Cost  : $25000$</span></p>
							<div class="clear"></div>
						</div>
						
						<div class="fourcolumnbox rightmarg2">
							<div class="fourcolumnbox_image">
							<img src="images/img6.jpg" data-edit="true">
							</div>
							<h3>Switzerland</h3>
							<p>6-23 Nights ; 3-5 stars</p>
							<p><span>Cost  : $25000$</span></p>
							<div class="clear"></div>
						</div>
						
						<div class="fourcolumnbox ">
							<div class="fourcolumnbox_image">
							<img src="images/img7.jpg" data-edit="true">
							</div>
							<h3>Australia</h3>
							<p>6-23 Nights ; 3-5 stars</p>
							<p><span>Cost  : $25000$</span></p>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<!-- end row2 -->
					<div class="clear"></div>
				</div>
			<div class="clear"></div>
			</div>
			<div class="footer">
				<!-- start footer -->
				<div id="site_banner" data-type="site_banner"></div>
				 <p>&copy;2013 Royal Tours &amp; Travels All Rights Reserved </p>
				 <div class="clear"></div>
				 <div class="socialshare"  data-type="socialshare">
						<a href="#"><img src="images/ricon_facebook.png" data-edit="true"></a>
						<a href="#"><img src="images/ricon_linkedin.png" data-edit="true"></a>
						<a href="#"><img src="images/ricon_twitter.png" data-edit="true"></a>
				</div>
				<!-- end footer -->
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
</body>
</html>
