<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>::Galaxy::</title>
</head>
<body>
	<div class="outerwrapper_container">
		<div id="sitecolor">
		<div class="wrapper">
			<div class="layout_header">
				<!--start header-->
				<div class="header_wrapper">
					<div class="logo_sec">
					<div class="logo_image">
						<img src="images/logo.jpg" id="logo" data-type="logo" data-edit="true">
					</div>
					<div class="compnynamencaption">
							<h1 id="heading" data-type="heading"><span>Galaxy</span> Tours</h1>
							<h2 id="caption" data-type="caption">Lorem ipsum dolorslit</h2>
					</div>
					</div>
				</div>
				<!--end header-->
				<div class="clear"></div>
			</div>
			<div class="layot_topmenu">
				<!-- start topmenu -->
				<div class="top_menu">
						<ul  data-type="menu">
							<li class="active"><a data-alias="index">Home</a></li>
							<li><a data-alias="aboutus">About Us</a></li>
							<li><a data-alias="services">Services</a></li>
							<li><a data-alias="contactus">Contact Us </a></li>
						</ul>
					<div class="clear"></div>
				</div>
				<!-- end topmenu -->
			</div>
			<div class="main_content_area">
				<div class="layout_bannerarea">
					<div class="banner_area_wrapper">
						<div class="banner">
							<!-- start banner -->
							<div data-type="slider">
								<img src="images/banner.jpg" data-edit="true" title="Click here to update your gallery">
							</div>
							<div class="clear"></div>
							<!-- end banner -->	
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="layout_row1">
					<div class="layout_row2threecolumnbox">
						<div class="row2threecolumnbox">
							<!-- start box1-->
							<h3>WELCOME</h3>
							<img src="images/who_we.jpg" dta-edit="true">
							<p>
Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco..
							</p>
							<p><a class="morelink right">more</a></P>
							<div class="clear"></div>
							<!-- end box1-->
							<div class="clear"></div>
						</div>
					</div>
					<div class="layout_row2threecolumnbox">
						<div class="row2threecolumnbox">
							<!-- start box2-->
							<h3>Our Services</h3>
							<ul>
								<li>
									<a href="#">Praesent vestibulum molestie</a><br/>
									<p>
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
									</p>
								</li>
								<li>
									<a href="#">Praesent vestibulum</a><br/>
									<p>
									Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. Phasellus porta. Fusce suscipit varius mi...</p>
								</li>
							</ul>
							<p><a class="morelink right">more</a></P>
							<div class="clear"></div>
							<!-- end box2-->
							<div class="clear"></div>
						</div>
					</div>
					<div class="layout_row2threecolumnbox">
						<div class="row2threecolumnbox">
							<!-- start box3-->
							<h3>Latest News</h3>
							<ul>
								<li>
									<a href="#" class="blue_a">Praesent vestibulum </a><br/>
									<img src="images/news_img1.jpg" data-edit="true">
									<p>
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor....
									</p>
								</li>
								<div class="clear"></div>
								<li>
									<a href="#" class="blue_a">Praesent vestibulum </a><br/>
									<img src="images/news_img2.jpg" data-edit="true">
									<p>
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor....
									</p>
								</li>
							</ul>
							<p><a class="morelink right">more</a></P>
							<div class="clear"></div>
							<!-- end box3-->
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="layout_row2">
				<div class="homecontentrow2">
					<div class="homecontentrow2_hdr">
					<h3>Hot Packages</h3>
					</div>
					<div class="homecontentrow2_content">
						<div class="fourcolumnbox rightmarg2">
							<!-- start box4-->
							<div class="fourcolumnbox_image">
							<img src="images/img4.jpg" data-edit="true">
							</div>
							<p><span>Cost  : $250$</span></p>
							<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
							<div class="clear"></div>
							<!-- end box4-->
						</div>
						<div class="fourcolumnbox rightmarg2">
							<!-- start box5-->
							<div class="fourcolumnbox_image">
							<img src="images/img5.jpg" data-edit="true">
							</div>
							<p><span>Cost  : $250$</span></p>
							<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
							<div class="clear"></div>
							<!-- end box5-->
						</div>
						<div class="fourcolumnbox rightmarg2">
							<!-- start box6-->
							<div class="fourcolumnbox_image">
							<img src="images/img6.jpg" data-edit="true">
							</div>
							<p><span>Cost  : $250$</span></p>
							<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
							<div class="clear"></div>
							<!-- end box6-->
						</div>
						<div class="fourcolumnbox ">
							<!-- start box7-->
							<div class="fourcolumnbox_image">
							<img src="images/img7.jpg" data-edit="true">
							</div>
							<p><span>Cost  : $250$</span></p>
							<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
							<div class="clear"></div>
							<!-- end box7-->
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="footer_outer">
			<div class="footer">
				<div id="site_banner" data-type="site_banner"></div>
				<!--start footer-->
				<div class="ftr_link">
				<ul data-type="menu">
					<li><a href="#" data-alias="index">Home</a>/</li><li><a href="#" data-alias="aboutus">About us</a>/</li><li><a href="#" data-alias="services">Services</a>/</li><li><a href="#" data-alias="contactus">Contact us</a></li>
				</ul>
				<div class="copy">
				<p>&copy;2013 Galaxy tours All Rights Reserved</p>
				</div>
				</div>
				<div class="socialshare"  data-type="socialshare">
					<img src="images/ricon_facebook.png" data-edit="true">
					<img src="images/ricon_linkedin.png" data-edit="true">
					<img src="images/ricon_twitter.png" data-edit="true">
				</div>
				<div class="clear"></div>
				<!--end footer-->
				<div class="clear"></div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>