@import "_vars.less";

.main {
    .available-slot, .flashdeal-item {
        img {
            //max-height: 150px;
        }

        .info {
            background: @light_gray;
            padding: 10px;
        }

        p {
            margin: 0;
        }
    }
}
