.guide-body {
    padding-top: 50px; 
    font-family: 'Comfortaa'; 
    text-align: center;

    a {
        color: #000;
        padding: 0px;
        margin-left: 0px;
    }
}

.loyalty-introduction {
    font-weight: 700; 
    font-size:20px;
    padding-top: 10px;

    &.color {
        color: #999;
        font-weight: 400;
    }
}

.loyalty-introduction-button {
    width: 300px;
    margin-top: 30px;
}

.loyalty-general-info {
    width:100%;
    margin-left: 5%;
    margin-right: 0%;    
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.loyalty-general-info-column {
    width: 33%;
    margin-top: 10px;
    float: left;
}

.loyalty-general-info-row {    
    span {
        font-size: 18px;
        color: #999;
    }

    &.margin {
        margin-top: 15px;
    }
}

.clear-both {
    clear: both;
}

.kantis-introduction {
    background: #f6841e;
    color:#FFF;
    margin-left: -15%;
    width: 127.5%;
    padding-top: 30px;
    padding-bottom: 40px;

    span {
        font-size: 40px;
    }

    p {
        line-height: 30px;
    }
}

.loyalty-background01 { 
    background-image: url(/assets/img/loyalityBody01.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 127.5%;
    height:752px;
    text-align: center;
    font-family: 'Comfortaa';
    font-weight:bold;
    color: #FFF;
    margin-left: -15%;
}

.kantis-circle {
    width: 42%;
    float: left;

    &.content {
        width: 300px;
        height: 300px;
        border-radius: 150px;
        background: #eb8b2e;
        margin-top: 200px;
        margin-left: 170px;
        color: #FFF;
        font-size: 18px;
        font-weight: normal;
        padding-top: 90px;
        line-height: 30px;
    }
}

.kantis-info {
    margin-left: 5%;
    margin-top: 60px;
    text-align: left;
    width: 50%;
    float: left;
}

.kantis-info-header {
    font-size: 30px;
    font-weight: normal;

    &.margin {
        margin-top: 60px;
    }
}

.kantis-info-content {
    margin-top: 30px;

    &.margin {
        margin-top: 15px;
    }    

    span {
        font-size: 16px;
        color: #FFF;
        font-weight: normal;
        padding-left: 25px;
    }
}

.loyalty-bullet {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.loyalty-controlling {
    margin-top: 50px;
    border-bottom: 3px solid #CCC;
}

.loyalty-controlling-header {
    color: #000;
    font-size: 36px;
    font-weight: normal;
}

.loyalty-controlling-description {
    margin-top: 70px;    
    margin-left:5%;
    width: 90%;
}

.loyalty-controlling-description-image {
    width: 50%;
    float: left;

    img {
        width: 100%;
    }
}

.loyalty-controlling-description-text {
    margin-left: 50px;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    width: 45%;
    float: left;

    &.margin {
        margin-top:20px;
    }
}

.color-orange {
    color: #f6841e;
}

.color-black {
    color: #000;
}

.loyalty-controlling-description-text-row {
    margin-top:20px;

    &.margin-bottom {
        margin-bottom: 30px;
    }

    span {
        font-size: 20px;
        color: #000;
        font-weight: normal;
        padding-left: 25px;
    }
}

.kantis-text {
    margin-top: 40px;
    font-size: 56px;
}

.kantis-text-image {
    width: 100%;
    margin-top: 100px;
}
