@orange: #e67e22;
@light-yellow: #F2F5A9;

.no-display {
    display: none;
}

.selected {
    background-color: @light-yellow;
}

.full {
    width: 100%;
    clear: both;
}

.data-row {
    padding-bottom: 15%;
    clear: both;
}

.required {
    color: @orange;
}
