@import "_vars.less";

.main {
    margin: 10px auto;

    .search-left {
        height: 600px;
        overflow-y: scroll;
        border-right: 1px solid #ccc;

        .business-row {
            border-bottom: 1px solid #ccc;
            margin: 15px 0;
        }
    }
}
