/* color:#ca4503; */
body,html{
	margin:0;
	padding:0;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#0f0f0f;
	line-height:20px
	}
p, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
* {
	border:none
}
a{
	border:0;
	color:#1BC2EF;
	}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
.main {
	margin:0 auto;
	width:1050px;
}
/*-------------------layout----------------------------*/
.layout_header{width:1050px; float:left;}
.layot_topmenu{width:1050px; float:left;}
.layout_bannerarea{width:1050px; float:left;}
.layout_row1{width:1050px; min-height:300px; float:left;}
.layout_threecolumnbox{width:342px; float:left;}
.layout_homecontentrow2{width:1050px; min-height:310px; float:left; }
.layout_fourcolumnbox{width:254px; float:left; }
.layot_footer{width:100%; overflow:hidden;}

/*-------------------layout----------------------------*/
.main_outer{
	background:url(../images/bg_main.jpg) repeat-x #f2f3f7;
}
.outerwrapper{
	width:1050px;	 margin: 0 auto;}
.wrapper{
	width:1050px; border-top:0;padding-bottom:5px;}
.header_wrapper{
	height:115px;
	width:1050px; margin-top:0px;}
.logo_sec{
	float:left;
	padding:20px;
	margin:20px 0px;
	background:#ca4503;
}
.logo{
	float:left;
	margin-right:12px;
}
.logo_name{
	float:left;
	height:50px;
}
.logo_name h1{
	font-family: 'Open Sans', sans-serif; font-size:38px; color:#b2b2b2; font-weight:normal; margin:0px; padding:0px;}
.logo_name h1 span{
	font-family: 'Open Sans', sans-serif; font-size:38px; color:#ad8b79;}
.logo_name h2{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;  font-size:15px; color:#b2b2b2; font-weight:normal;  margin-top:3px; padding:0px;}
.socialshare{ 
	padding:0px;
	float:right;}	
.socialshare a{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.socialshare a:hover{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
	opacity:0.5;
}
.top_menu{
	height:38px; margin-top:7px;
	background:url(../images/top_menu_bg.jpg) repeat-x;}
.top_menu ul{
	margin:0;
	height:38px;
	padding:0px;}
.top_menu li{
	list-style:none;	display:block;	float:left;}
.top_menu li a{
	height:28px; 
	line-height:28px; 
	padding: 5px 50px; 
	display:block;
	text-decoration:none; 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px; color:#ffffff; font-weight:normal;
	cursor:pointer;}
.top_menu li a:hover {	background:url(../images/top_menu_li_bg.jpg) repeat-x;}
.top_menu .active a {background:url(../images/top_menu_over_bg_or.jpg) repeat-x;}
.banner_area_wrapper{
	width:1050px;
	margin-top:15px;
	border-bottom:1px solid #dadde2;
}
.banner{
	border:10px solid #FFF;
	width:1030px;
	background:#FFF;
}
.banner img{
	height:430px;
	width:1030px;}
.banner ul{
	width:1030px;
	margin:0;
	background:url(../images/top_menu_bg.jpg) repeat-x;
	height:38px;	padding:0px;}
.banner li{
	list-style:none;	display:block;	float:left;}
.banner li a{
	height:28px; 
	line-height:28px; 
	padding: 5px 50px; 
	display:block;
	text-decoration:none; 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px; color:#ffffff; font-weight:normal;
	cursor:pointer;}
.homecontentrow1{
	padding:20px 0px 30px 0px;
	margin-top:15px;
	border-bottom:1px solid #dadde2;
	width:1050px;}
.threecolumnbox{
	width:300px;
	padding:0px 28px 0px 0px;
	float:left;}
.rightmarg1{
	margin-right:35px;}
.threecolumnbox h3{
	   font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: normal;
	color:#a2a6aa;
	margin-bottom:20px;
	}
.threecolumnbox h3 span{
	color:#ca4503;}
.threecolumnbox3{
	width:330px;
	padding:0px 0px 0px 30px;
	border-left:1px solid #dadde2;
	float:left;}
	
.threecolumnbox3 h3{
	font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: normal;
	color:#a2a6aa;
	margin-bottom:20px;
	}
.threecolumnbox3 h3 span{
	color:#ca4503;}
.threecolumnbox2{
	width:300px;
	padding:0px 29px 0px 29px;
	border-left:1px solid #dadde2;
	float:left;}
	
.threecolumnbox2 h3, .designer_blk h3, .recent_work_blk h3, .banner h3{
	 font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: normal;
	color:#a2a6aa;
	margin:10px 0px;
	margin-bottom:20px;
	}
.threecolumnbox2 h3 span, .designer_blk h3 span, .recent_work_blk h3 span, .banner h3 span{
	color:#ca4503;}
		
.homecontentrow1_image{
	margin-bottom:20px;}
.homecontentrow1_image img{
	width:290px;
	height:100px;
	padding:4px;
	border:1px solid #c6c6c6;}
.homecontentrow1 p, .banner p{
	color: #6b6b6b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;}
.exp{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp ul{
	float:left;
	margin:0px;
	padding:0px;
}
.exp li{
	list-style:none;
	background: url("../images/menu_marker.png") no-repeat scroll 0 14px transparent;
	color:#5c5c5c;
    padding-bottom: 8px;
	padding-top: 10px;
	border-bottom:1px solid #dadde2;
    padding-left: 18px;
}
.exp li a{
	color:#3b87c5; 
	text-decoration:none;
	font:15px Georgia, "Times New Roman", Times, serif;
}
.pad li p{
	float:left;
	margin-top:7px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.threecolumnbox ul, .threecolumnbox2 ul, .threecolumnbox3 ul{
	float:left;
	margin:0px;
	padding:0px;
}
.threecolumnbox li, .threecolumnbox2 li, .threecolumnbox3 li{
	list-style:none;
	background: url("../images/menu_marker.png") no-repeat scroll 0 14px transparent;
	color:#5c5c5c;
    padding-bottom: 8px;
	padding-top: 10px;
	border-bottom:1px solid #dadde2;
    padding-left: 18px;
}
.threecolumnbox li a, .threecolumnbox2 li a, .threecolumnbox3 li a{
	color:#3b87c5; 
	text-decoration:none;
	font:15px Georgia, "Times New Roman", Times, serif;
}
.threecolumnbox li p, .threecolumnbox2 li p, .threecolumnbox3 li p{
	float:left;
	margin-top:7px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.threecolumnbox img, .threecolumnbox new_face img {
    border: 1px solid #C6C6C6 !important;
    height: 100px !important;
    padding: 4px !important;
    width: 290px !important;
}
.threecolumnbox2 img, .threecolumnbox2 new_face img {
    border: 1px solid #C6C6C6 !important;
    height: 100px !important;
    padding: 4px !important;
    width: 290px !important;
}
.threecolumnbox3 img {
    border: 5px solid #C8C9CB;
    float: left;
    height: 145px;
    margin-top: 7px;
    width: 314px;
}
.more_blk{
	float:left;
	margin-top:10px;
}
.morelink{
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#ffffff;
	padding:3px 35px 3px 20px;
	line-height:21px;
	cursor:pointer;
	background:url(../images/right_arrow.png) #ca4503 85% 50% no-repeat;}
.morelink:hover{
	background:url(../images/right_arrow.png) #000 91% 50% no-repeat;}
	
.new_face{
	width:329px;
	float:left;
}
.new_face img{
	width:314px;
	height:145px;
	border:5px solid #c8c9cb;
	float:left;
	margin-top:7px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.new_face p{
	float:left;
	margin-top:7px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	padding-right:10px;
}
.homecontentrow2{
	margin:15px 0px 0px 0px;
	padding:15px 0px;
	width:1050px;
	}
.designer_blk{
	width:329px;
	float:left;
	margin-top:15px;
	padding-left:28px;
	padding-bottom:20px;
	border-left:1px solid #dadde2;
}
.designer_blk img{
	width:324px;
	float:left;
	height:145px;
}
.designer_blk p{
	float:left;
	color:#5c5c5c;
	margin-top:7px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	line-height:21px;
}
.designer_blk_hdr{
	font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: normal;
	color:#a2a6aa;
    margin-bottom: 20px;
	}
.designer_blk_hdr span{
	color:#ca4503;
}
.homecontentrow2_content{
}
.recent_work_blk{
	width:670px;
	padding-right:20px;
	margin-top:15px;
	float:left;
}
.recent_work_blk_hdr{
	color:#a2a6aa;
	 font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
	float:left;
}
.recent_work_blk_hdr a{
	color:#a2a6aa;
	text-decoration:none;
}	
.recent_work_blk_hdr span{
	color:#ca4503;
	 font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: normal;
}
.recent_works{
	margin-top:10px;
	float:left;
}
.r_work{
	width:200px;
	float:left;
	margin-right:17px;
}
.r_work img{
	width:190px !important;
	padding:4px;
	border:1px solid #bfc0c1;
	height:140px!important;
	float:left;
}
.r_work p{
	width:200px;
	color: #6b6b6b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	float:left;
	text-align:center;
	margin:5px 0 0 0;
	padding:0px;
}
.footer_outer{
	width:100%;
	height:80px;
	margin:0px;
	background:#ca4503;
}
.footer{
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:25px 0 15px 0; width:1050px;}
footer_content{
	width:1050px;
	float:left;
}
.footer_content p{
	color: #c7cdd3;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 15px;
	width:500px;
	float:left;
	}
.footer_logo{
	height:40px;
	float:right;
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#4a4a4a; font-weight:normal;}
.footer_logo span{
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#a7a7a7;}
/*---------------------inner-------------------------*/
.inner_content_block{
	width:1050px;
	margin:25px 0px;
}
.content_left_outer{
	float:left;
	padding-right:48px;
}
.blk1{
	width:300px;
	float:left;
}
.blk1 img{
	width:300px;
}
.content_right_outer{
	float:left;
}
.blk2{
	width:660px;
	min-height:550px;
	padding:20px;
	background:#f9f9f9;
	float:left;
}
.blk2_hdr{
	 font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
	color:#a2a6aa;
	margin-bottom:20px;
	width:660px;
	}
.blk2 p{
	color: #969696;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 22px;
	margin:25px 0px 15px 0px;
	text-align:justify;
}
.blk2_hdr span{
	color:#ca4503;}
.author{
	color:#916445 !important;
	text-align:right;}
.contact_address{
	width:280px;
	float:left;
	padding:10px 0px;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
	color:#969696;
	line-height:19px;
}
.contact_address span{
	color:#ca4503;
	 font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
}
.contact_address p{
	width:258px;
	float:left;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
	color:#969696;
	line-height:19px;
}
.contact_form{
	width:320px;
	float:left;
	margin-top:30px;
}
.contact_form h4{
	color:#ca4503;
	font-family:"open Sans Condensed", arial;
	font-size:26px;
	font-weight:normal;
	float:left;
	margin-bottom:10px;
	width:320px;
}
.text_feild {
    background:#FFF;
    border: 1px solid #e9e9e9;
    color: #c5c5c5;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.text_area {
    background:#FFF;
    border: 1px solid #e9e9e9;
    color: #c5c5c5;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:13px;
    height: 100px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.submit{
	width:100px;
	height:34px;
	float:left;
	margin:10px 0px;
	cursor:pointer;
	border-radius:3px;
	-webkit-border-radius:3px;
	color:#ffffff;
    font: 16px Helvetica, Arial,  sans-serif;
	outline:none;
	background:#ca4503;
}
.submit:hover{
    font: 16px Helvetica, Arial,  sans-serif;
	background:#000;
}
