<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Home  page</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css"/>
</head>
<body>
<div class="container-fluid" id="sitecolor">
	<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
	 <div class="col-lg-10 col-lg-offset-1">
	 <!-- start header-->{$editableheader}<!-- end header-->
        	<div class="row">
            	 <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
				 <!-- start slider -->{$editableslider}<!-- end slider -->
               </div>
           </div>
       </div>
	   <div id="problem"></div>
		<!-- start maincontent -->{$editablemaincontent}<!-- start maincontent -->
   <div class="clearfix"></div>
   <!-- start featured -->{$editablefeatured}<!-- end featured -->
	<!-- start footer -->{$editablefooter}<!-- end footer -->
</div>
</body>
</html>
