<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Home  page</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css"/>
</head>
<body>
<div class="container-fluid" id="sitecolor">
	<!-- start topmenu -->
    <header class="row">
    	<ul data-type="menu" class="navbar navbar-default hidden-xs">
        	<li class="active col-lg-offset-2 col-md-offset-2 col-sm-offset-2"><a data-alias="index">Home</a></li>
        	<li><a data-alias="about">About</a></li>
        	<li><a data-alias="service">Service</a></li>
        	<li><a data-alias="contact">Contact</a></li>
        </ul>
	<div style="clear:both;"></div>
    </header>
    <!-- end topmenu -->
	 <div class="col-lg-10 col-lg-offset-1">
	 <!-- start header-->
		<div class="logo logo_image"><img src="images/logo.png" id="logo" data-type="logo" data-edit="true"></div>
	<!-- end header-->
        	<div class="row">
            	 <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
				 <!-- start slider -->
                   <div data-type="slider" id="sliderframe">
                       <img  src="images/slider-image.png"  class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12" style=" height:380px; margin-top:10px;" data-edit="true"/>           
                   </div>
				   <div style="clear:both;"></div>
				   <!-- end slider -->
               </div>
           </div>
       </div>
	   <div id="problem"></div>
		<!-- start maincontent -->
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row1 row">
				<div class="centeralbaarlogos  col-lg-12">
             
                    <div class="row">
                	<img src="images/clinoue.png" class=" img-responsive col-lg-2 col-md-2 col-sm-2" alt="clinoue logo" data-edit="true"/>
                    <img src="images/lopeal.png" class=" img-responsive col-lg-3 col-md-3 col-sm-3" alt="lopeal logo" data-edit="true"/>
                    <img  src="images/paul.png" class="img-responsive col-lg-4 col-md-4 col-sm-4" alt="paul logo" data-edit="true"/>
                    <img src="images/pca.png" class=" img-responsive col-lg-3 col-md-3 col-sm-3" alt="pca logo" data-edit="true"/>
                	</div>
                </div>            
            </div>
        		<div class="row row1">
                                <div class="boxes">
                                <header>About The Owner</header>
                                	
                                   
                                    <img src="images/lorel1.png"  class="img-responsive pull-left" data-edit="true" alt="about the owner"/>
                               			 
                                        <h5>Lorest Dolor Quist</h5>
                                         <p>
                                        Pellentesque habitant morbi tristique senectus et  fames ac turpis egestas. Nam id lacus dui, in aliquet orci. 
                                        </p>
                                        <p style="text-align:right"><a href="#">>><i>Read More</i></a></p>
                               		 </div>
                                    <div class="boxes">
                                    <header>Featured Stylist</header>
                                 		
                                     
                                    <img src="images/lorel2.png"  class="img-responsive pull-left" data-edit="true"  alt="about the owner"/>
                               			<h5>Lorest Dolor Quist</h5>
                                     <p>
                                        Pellentesque habitant morbi tristique senectus et  fames ac turpis egestas. Nam id lacus dui, in aliquet orci. 
                                       	
                                        </p>
                                        <p  style="text-align:right"><a href="#">>><i>Read More</i></a></p>
                                </div>
                                    <div class="boxes">
                                    <header>Our Hours Of Operations</header>
                                    	<div class="row">
                                        	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <div style="padding:6px;">
                                                    <b>Monday</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:30 - 5:30<br />
                                                    <b>Tuesday</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:30 - 5:30<br />
                                                    <b>Wednesday</b> 8:30 - 5:30<br />
                                                    <b>Tursday</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:30 - 5:30<br />
                                                    <b>Friday</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:30 - 5:30<br/>
                                                    <b>Satureday</b> &nbsp; &nbsp;8:30 - 5:30<br />
                                                    <b>Sunday</b>  &nbsp;Closed <br />
                                                   
                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            	<h5  style="text-align:center"><b>Address</b></h5>
                                                <div id="barsprator">
                                                	<address>
                                                            1777 Some Street <br />
                                                            City, State 33333<br /><br />
														<b>333. 555. 6666</b>
                                                    </address>
                                                		
                                                </div>
                                            </div>
                                        </div>
                                </div>
           </div>
		   <div style="clear:both;"></div>
       </div>
       <!-- start maincontent -->
   <div class="clearfix"></div>
   <!-- start featured -->
   <div class="row" id="beforeFooter">
   	 <div class="col-lg-10 col-lg-offset-1">
   			<div class="row1">
           	<div class="col-lg-6 col-md-6 col-sm-6">
       				<header>
                    		<span>Who we Are</span>	
                    </header> 
                    	<p>
                        	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam id lacus dui, in aliquet orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam id lacus dui.	
                        <br />
                        <a href="#"> <img src="images/read-more.png"  alt="Read More"/></a>
                        </p>
                  </div>
            	<div class="col-lg-6 col-md-6 col-sm-6" >
       				 <img src="images/1.jpg" data-edit="true"/>
					 <img src="images/2.jpg" data-edit="true"/>
					 <img src="images/3.jpg" data-edit="true"/>
					 <img src="images/4.jpg" data-edit="true"/>
                 </div>
        </div>
   	</div>
	<div style="clear:both;"></div>
   </div>
   <!-- end featured -->
	<!-- start footer -->
    <footer class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
       		<div class="col-lg-6 col-md-6 col-sm-6  col-xs-12  pull-right">
                    <ul data-type="menu" class="navbar">
                        <li class="active col-lg-offset-2 col-md-offset-2 col-sm-offset-2"><a data-alias="index">Home</a></li>
                        <li><a data-alias="about">About</a></li>
                        <li><a data-alias="service">Service</a></li>
                        <li><a data-alias="contact">Contact</a></li>
                    
                    </ul>
        	 </div>
            	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  pull-left" style="text-align:center;">
                	&copy;2011 All Rights Reserved.
                </div>
     </div>
		</div>
    </footer>
	<!-- end footer -->
</div>
</body>
</html>
