@CHARSET "UTF-8";
@import url(reset.css);
@import url(lib.css);
html, body{
	background: #f6f4f5 url(../img/backend/body.png) 0 0 repeat-x;
	color: #595a5c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 100%;
}
a:link, a:visited, a:active, a:hover{
	color: #63A8C9;
	outline: none;
	text-decoration: none;
}
#loading{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: wait;
    border-radius: 8px;
    z-index: 9999;
}
#processing {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color:#E5E5E5;
	color:#000000;
	display:none;
	font-weight:bold;
	left:50%;
	padding:5px 8px;
	position:absolute;
	top:20px;
	width:auto;
	z-index:9999;
}
#container{
	min-height: 100%;
	width: 100%;	
}
#header{
	height: 118px;
	position: relative;
	margin: 0 auto;
	width: 1040px;
}
#logo{
	display: block;
	width: 552px;
	margin: 0 auto;
	height: 118px;
}
#middle{
	padding: 25px 10px 60px;
	margin: 0 auto;
	min-width: 1040px;
}
#leftmenu{
	float: left;
	width: 240px;	
}
#right{
	float: right;
	width: 782px;
}
#footer-wrap{
	background: #f6f5f5 url(../img/backend/footer.png) 0 0 repeat-x;
	height: 40px;
	margin-top: -40px;
	width: 100%;
}
#footer{
	height: 40px;
	margin: 0 auto;
	position: relative;
	width: 1040px;
}
#footer p{
	position: absolute;
	top: 15px;
	right: 0;
}
.content-top{
	background: url(../img/backend/content-top.png) 0 0 no-repeat;
	height: 12px;
	overflow: hidden;
}
.content-middle{
	background: url(../img/backend/content-middle.png) 0 0 repeat-y;
	padding: 10px 20px;
	position: relative;
	/*min-height: 500px;*/
}
.content-bottom{
	background: url(../img/backend/content-bottom.png) 0 0 no-repeat;
	height: 11px;
	overflow: hidden;
	
}
.pj-paginator{
    height: 40px;
    overflow: visible !important;
    position: relative;
}
.pj-paginator .pj-menu-list-wrap{
    left: 5px !important;
    top: 30px !important;
}
.leftmenu-top{
	background: url(../img/backend/leftmenu-top.png) 0 0 no-repeat;
	height: 10px;
	overflow: hidden;
	width: 240px;
}
.leftmenu-middle{
	background: url(../img/backend/leftmenu-middle.png) 0 0 repeat-y;
	overflow: hidden;
	width: 240px;
}
.leftmenu-bottom{
	background: url(../img/backend/leftmenu-bottom.png) 0 0 no-repeat;
	height: 10px;
	overflow: hidden;
	width: 240px;
}
/* Login */
#login-content{
	margin: 80px auto 0;
	min-height: 220px;
	height: auto !important;
	height: 220px;
	width: 560px;
}
#login-content h3{
	color: #6f8a9f;
	font-weight: bold;
	font-size: 1.4em;
	margin: 0 0 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.login-box{
	width: 517px;
	height: 197px;
	background: url(../img/backend/login.png) 0 0 no-repeat;
	overflow: hidden;
	padding: 20px;
}
/* Buttons */
.button{
	border: none;
	cursor: pointer;
	height: 30px;
	width: 97px;	
}
.button_login{background: url(../img/backend/btn_login.png) 0 0 no-repeat;}
.button_save{background: url(../img/backend/btn_save.png) 0 0 no-repeat;}
.button_search{background: url(../img/backend/btn_search.png) 0 0 no-repeat;}
.button_report{background: url(../img/backend/btn_report.png) 0 0 no-repeat;}
.button_send{background: url(../img/backend/btn_send.png) 0 0 no-repeat;}
.button_delete{background: url(../img/backend/btn_delete.png) 0 0 no-repeat;}
.button_hover{background-position: 0 -30px;}
/* Form controls */
.text,
.select,
.textarea{
	background-color: #fff;
	border: solid 1px #a0bad1;
	box-shadow: inset 2px 2px 1px #e8e8e8;
	border-radius: 3px;
	-moz-box-shadow: inset 2px 2px 1px #e8e8e8;	
	-moz-border-radius: 3px;
	-webkit-box-shadow: inset 2px 2px 1px #e8e8e8;
	-webkit-border-radius: 3px;
	padding: 5px 3px;
}
.text{
	height: 20px;
}
.form{}
.form p,
.p{
	overflow: hidden;
	margin: 0 0 10px;
}
.pj-form p,
.pj-form .p{
	padding: 0 !important;
}
.form .title{
	display: block;
	float: left;
	padding: 6px 0 0;
	width: 150px;
}
label.error,
label.error_clean{
	color: red;
	display: block;
	/*padding: 5px 0 0 150px;*/
	font-size: 12px;
	text-indent: 150px;
}
label.error_clean{
	text-indent: 0;
}
label.err{
	background-color: #FFB4B4;
	border: solid 1px #990000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #660000;
	display: block;
	width: auto;
	padding: 5px;
	margin: 0;
}
em{
	display: block;
	padding: 3px 0 2px 0;
	margin: 5px 0 5px 150px;
}
.tblError em{
	margin-left: 0;
}
.pj-form-field{
	box-sizing: content-box;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; 
}
.pj-form-field-custom label.error{
	text-indent: 0;
}
span.left{
	display: block;
	margin: 6px 0 0;
}
.form h3{
	color: #185181;
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}
/* Menu */
.menu{
	list-style: none;
	margin: 9px auto;
	overflow: hidden;
	width: 199px;
}
.menu li{
	margin: 0 0 5px 0;
}
.menu li a:link, .menu li a:visited{
	background: url(../img/backend/leftmenu-sprite_.png) 0 0 no-repeat;
	color: #989393;		
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	height: 37px;
	line-height: 37px;
	width: 199px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
}
.menu li a:hover,
.menu li a.menu-focus{
	background-position: 0 -37px;
	color: #242625;
	text-decoration: none;
}
.menu a span{
	display: block;
	float: left;
	height: 30px;
	margin: 3px 12px 0 10px;
	width: 35px;
}
.menu-dashboard{background: url(../img/backend/menu-dashboard.png) 0 -30px no-repeat}
.menu-employees{background: url(../img/backend/menu-employees.png) 0 -30px no-repeat}
.menu-services{background: url(../img/backend/menu-services.png) 0 -30px no-repeat}
.menu-time{background: url(../img/backend/menu-time.png) 0 -30px no-repeat}
.menu-options{background: url(../img/backend/menu-options.png) 0 -30px no-repeat}
.menu-users{background: url(../img/backend/menu-users.png) 0 -30px no-repeat}
.menu-bookings{background: url(../img/backend/menu-bookings.png) 0 -30px no-repeat}
.menu-reports{background: url(../img/backend/menu-reports.png) 0 -30px no-repeat}
.menu-preview{background: url(../img/backend/menu-preview.png) 0 -30px no-repeat}
.menu-install{background: url(../img/backend/menu-install.png) 0 -30px no-repeat}
.menu-logout{background: url(../img/backend/menu-logout.png) 0 -30px no-repeat}
.menu-focus .menu-dashboard, .menu a:hover .menu-dashboard,
.menu-focus .menu-employees, .menu a:hover .menu-employees,
.menu-focus .menu-services, .menu a:hover .menu-services,
.menu-focus .menu-time, .menu a:hover .menu-time,
.menu-focus .menu-options, .menu a:hover .menu-options,
.menu-focus .menu-bookings, .menu a:hover .menu-bookings,
.menu-focus .menu-reports, .menu a:hover .menu-reports,
.menu-focus .menu-users, .menu a:hover .menu-users,
.menu-focus .menu-preview, .menu a:hover .menu-preview,
.menu-focus .menu-install, .menu a:hover .menu-install,
.menu-focus .menu-logout, .menu a:hover .menu-logout{
	background-position: 0 0;
}
/* table */
.table{
	border-collapse: separate;
	border-top: solid 1px #e5e2e2;
	border-left: solid 1px #e5e2e2;
	border-bottom: solid 1px #e5e2e2;
	empty-cells: show;
	width: 100%;
}
.table th{
	background-color: #fff;
	border-bottom: solid 1px #e5e2e2;
	border-right: solid 1px #e5e2e2;
	color: #027ac6;
	font-weight: bold;
	font-size: 1.2em;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 10px;
}
.table th.nosub{
	border-bottom: solid 1px #fff;
}
.table th.sub{
	background-color: #f7f7f7;
	border-right: solid 1px #e5e2e2;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-top: solid 1px #fff;
	color: #000;
	font-size: 1em;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	white-space: nowrap;
}
.table th.sort{
	overflow: hidden;
	padding: 0;
	width: 16px;
}
.table th.sort div{
	height: 35px;
	line-height: normal;
	overflow: hidden;
	width: 16px;
}
.table a:link, .table a:visited{
	color: #007AC3; /*808080;*/
	text-decoration: none;
}
.table a:hover{
	text-decoration: underline;
}
.sort a{
	display: block;
	height: 16px;
	overflow: hidden;
	width: 16px;
}
.sort a.up:link, .sort a.up:visited, .sort a.up:hover{ background: url(../img/backend/icons/bullet_arrow_up.png) 0 0 no-repeat; }
.sort a.down:link, .sort a.down:visited, .sort a.down:hover{ background: url(../img/backend/icons/bullet_arrow_down.png) 0 0 no-repeat; }
.table tbody tr.odd{
	background-color: #fff;
}
.table tbody tr.even{
	background-color: #F7F7F7;
}
.table tbody tr.highlight{
	background-color: #FFFFCC;
}
.table tbody tr.hover{
	background-color: #F7F7F7;
}
.table a.icon:link, .table a.icon:visited{
	color: #757777;
	display: block;
	height: 16px;
	line-height: 16px;
	text-indent: 20px;
	text-decoration: none;
}
.table a.icon-edit{
	background: url(../img/backend/icon-edit.png) 0 0 no-repeat;
}
.table a.icon-delete,
.table a.icon-del{
	background: url(../img/backend/icon-delete.png) 0 0 no-repeat;
}
.table td{
	border-right: solid 1px #e5e2e2;
	border-top: solid 1px #e5e2e2;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
	padding: 5px 7px;
}
.table span.ghost{
	display: block;
	width: 24px;
	height: 24px;
}
/* jqueryui fix */
.ui-widget {
    font-family: inherit;
    font-size: inherit;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: inherit;
    font-size: inherit;
}
img.ui-datepicker-trigger {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	padding: 10px 0;
	overflow: hidden;
}
#content div.ui-tabs{
	padding: 0;
}
#content div.ui-widget-content{
	background: none;
	border: none;
}
/* Errors */
.notice-box{
	margin: 0 0 10px 0;
	overflow: hidden;
	width: 742px;
}
.notice-top{
	background: url(../img/backend/notice-top.png) 0 0 no-repeat;
	height: 2px;
	overflow: hidden;
}
.notice-middle{
	background: url(../img/backend/notice-middle.png) 0 0 repeat-y;	
	overflow: hidden;
	padding: 10px;
	position: relative;
}
.notice-bottom{
	background: url(../img/backend/notice-bottom.png) 0 0 no-repeat;
	height: 5px;
	overflow: hidden;
}
.notice-middle .notice-close{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 4px;
	background: url(../img/backend/closeGray.png) 0 0 no-repeat;
}
.notice-middle .notice-info{
	background: url(../img/backend/icon-info.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 32px;
	margin: 0 10px 0 0;
	width: 32px;	
}
/* New notice */
.notice-box{
	margin: 0 0 10px 0;
	overflow: hidden;
	width: auto;
	padding: 10px;
	position: relative;
	background-color: #E9F5FA;
	border: solid 1px #A9E4FC;
	box-shadow: inset -1px -1px 1px #F4FAFC, 1px 1px 1px #E5E5E5;
}
.notice-box .notice-close{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 4px;
	background: url(../img/backend/closeGray.png) 0 0 no-repeat;
}
.notice-box .notice-info{
	background: url(../img/backend/icon-info.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 32px;
	margin: 0 10px 0 0;
	width: 32px;	
}
/* status */
.label-status{
	padding: 2px 4px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}
.user-role-admin{background-color: #6EB738; color: #fff; text-shadow: 1px 1px 1px #3E6820;}
.user-role-owner{background-color: #006699; color: #fff; text-shadow: 1px 1px 1px #092B90;}
.user-role-editor{background-color: #CC6633; color: #fff; text-shadow: 1px 1px 1px #996600;}
.order-status-pending{background-color: #FF9900; color: #000; text-shadow: 1px 1px 1px #fff;}
.order-status-confirmed{background-color: #2A8000; color: #fff; text-shadow: 1px 1px 1px #999;}
.order-status-cancelled{background-color: #B3B3B3; color: #fff; text-shadow: 1px 1px 1px #333;}
.order-type-pickup{background-color: #996100; color: #fff; text-shadow: 1px 1px 1px #999;}
.order-type-delivery{background-color: #990052; color: #fff; text-shadow: 1px 1px 1px #333;}
.is_featured-1{background-color: #FF9900; color: #000; text-shadow: 1px 1px 1px #fff;}
.is_featured-0{background-color: #B3B3B3; color: #fff; text-shadow: 1px 1px 1px #333;}

.booking-icon{
	text-indent: 27px;
	display: block;
	line-height: 20px;
}
/* paginator */
.paginator{
	overflow: hidden;
	margin: 10px 0 0 0;
}
.paginator li{
	display: inline-block;
}
.paginator li a:link, .paginator li a:visited{
	background-color: #CCCCCC;
	color: #000;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 1px 4px;
	border-radius: 2px;
	text-decoration: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}
.paginator li a:hover{
	background-color: #EAEAEA;
}
.paginator li a.focus{
	background-color: #072B4F;
	color: #fff;
}
/* fieldset */
.fieldset{
	margin: 0 0 10px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
}
.fieldset legend{
	background-color: #003366;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 250px;
}
/* Colors */
.white{background-color: #fff; border: solid 1px #ccc; color: #000 !important}
.sky{background-color: #EAFBFB; border: solid 1px #ccc;}
.light{background-color: #f5f5f5; border: solid 1px #ccc;}

.gallery-item{
	background-color: #fdfdfd;
	float: left;
	width: 100px;
	height: 140px;
	margin: 0 5px 5px 0;
	text-align: center;
}
.gallery-image{
	cursor: move;
	margin: 0 !important;
}
.gallery-image a.image{
	cursor: move;
}
.gallery-image img{
	border: solid 1px #ccc;
	padding: 1px;
	margin: 7px 0 0 0;
}
#sortable{
	overflow: hidden;
	width: 740px;
}
.stock-image{
	display: block;
	float: left;
	margin: 0 5px 5px 0;
}
.stock-image img,
.in-stock{
	padding: 1px;
	border: solid 1px #ccc;
}
.stock-image img.current{
	border: solid 1px #003399;
}

.ico{
	display: block;
	height: 16px;
	width: 16px;
}
.ico-add2{background: url(../img/backend/icon-add2.png) 0 0 no-repeat;}
.ico-delete2{background: url(../img/backend/icon-delete2.png) 0 0 no-repeat;}

.attr abbr{
	font-weight: bold;
}
.attr, .attr_item{
	float: left;
	margin: 0 5px 0 0;
}
.attr a, .attr input,
.attr_item a, .attr_item input{
	float: left;
}
.attr a, 
.attr_item a{
	margin: 7px 0 0 5px;
}
.attr abbr, 
.attr_item abbr{
	cursor: pointer;
}

.attrBox{
	border-bottom: solid 1px #ccc;
	line-height: 34px;
	overflow: hidden;
	padding: 5px 0;
}
.img-frame{
	border: solid 1px #ccc;
	padding: 1px;
}
.map_holder{
	width: 710px;
	height: 280px;
	padding: 10px;
	border: solid 1px #ccc;
	margin: 0 0 10px;
}
.map_canvas{
	width: 100%;
	height: 100%;
	display: block;
}
.opBox{
	border-bottom: solid 1px #ccc;
	margin: 0 0 10px;
}
.extra_header{
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */
	border: solid 1px #ddd;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font: bold 14px/30px Arial, sans-serif;
	padding: 10px;
}
.tipsy-listing{
	width: 420px;
}
.tipsy-listing .tipsy-inner{
	width: 400px;
	text-align: left;
	max-width: 400px;
}
.as-avatar{
	max-width: 75px;
	max-height: 75px;
	border: none;
	vertical-align: middle;
}
.icon-question{
	display: inline-block;
	height: 12px;
	width: 12px;
	background: url(../img/backend/help.png) center center no-repeat;
}
.pj-table .pj-table-icon-email{
	background: url(../img/backend/pj-icon-email.png) 0 0 no-repeat;
}
.pj-table .pj-table-icon-phone{
	background: url(../img/backend/pj-icon-phone.png) 0 0 no-repeat;
}
.pj-table .pj-table-icon-email,
.pj-table .pj-table-icon-phone{
	display: inline-block;
	margin: 0 4px 0 0;
	width: 23px;
	height: 24px;
}
#print_wrap{
	height: 842px;
	width: 595px;
	background-color: #fff;
	padding: 10px 0;
	margin: 0 auto;
	width: 700px;
}

.dContainer{
	position: relative;
}
.dWrapper{
	width: 670px;
	overflow-x: scroll;
	overflow-y: visible;
	padding-bottom: 5px;
	/*margin-left: 72px;*/
}
.dTable{
	width: 100%;
}
.dTable td{
	white-space: nowrap;
}
.dTable td.dHeadcol {
	border-top: solid 1px #e5e2e2;
	border-bottom: solid 1px #fff;
	border-right: solid 1px #fff;
	position: absolute;
	margin-top: -1px;
	left: 0;
	top: auto;
	width: 60px;
}
.dTable td.dSlot{
	min-width: 120px;
	max-width: 200px;
}
a.dashboardView{
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
}
.dTable td.dHead{
	background-color: #f7f7f7;
	font-weight: bold;
}
#tabs{
	border: 0;
}
.AdminTime.form .pj-table td,
.AdminTime.form .pj-table th{
	padding: 5px 2px;
}
.AdminTime.form .pj-form-field{
	padding: 1px;
}
.item_details .pj-button{
	margin: 0 0 0 5px;
}
.item_details div.button{
    display: block;
    height: auto;
    margin-right: 35px;
    text-align: right;
    width: auto;
}
#frmCreateBooking .title,
#frmUpdateBooking .title{
	 width: 90px;
}

/* Layout 2 */
.layout_2 #leftmenu{
	float: none;
	width: 100%;	
	margin-bottom: 10px;
}
.layout_2 .leftmenu-top,
.layout_2 .leftmenu-bottom{
	display: none;
}
.layout_2 .leftmenu-middle {
    background: none repeat scroll 0 0 #ECEBEB;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 5px #888888;
    padding: 10px 10px;
    width: auto;
    overflow: visible;
}
.layout_2 .menu{
	margin: 0;
	overflow: visible;
	width: auto;
	text-align: center;
}
.layout_2 .menu li{
	margin: 0;
	display: inline-block;
}
.layout_2 .menu li a:hover, .menu li a.menu-focus {
    color: #242625;
    text-decoration: none;
}
.layout_2 .menu li a:link, .menu li a:visited {
    background: url("../img/backend/leftmenu-sprite.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #FAFFFB #99ACB9 #99ACB9 #FAFFFB;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #989393;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 5px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: auto;
    margin-right: 1px;
}
.layout_2 .menu a span{
	margin-left: 0;
	margin-right: 0;
}
.layout_2 #right{
	float: none;
	width: 100%;
}
.layout_2 .content-top,
.layout_2 .content-bottom{
	display: none;
}
.layout_2 .content-middle {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 5px #888888;
    padding: 10px 20px;
}
.layout_2 .dWrapper{
	width: auto;
}
.pjActionEmployeeWeek .pj-form-field-custom{
	float: left;
}
.pjActionEmployeeWeek .pj-form-field-custom-after .pj-form-field {
	padding: 6px 6px 7px;
}
.pjActionEmployeeWeek .pj-form-field-after{
	height: 27px;
}
.dWrapper .dSlot{
	background: #808080;
	color: #FFF;
}
.dWrapper .client{
	background: #008000;
}
.dWrapper .asSlotBooked{
	background-color: #ed1c24;
}
.dWrapper .pending,
.dWrapper .pending > div:after{
	background: yellow !important;
}
.dWrapper .pending a{
	color: #333 !important;
}
.dWrapper .arrived,
.dWrapper .arrived > div:after{
	background: #ADD8E6 !important;
}
.dWrapper .paid,
.dWrapper .paid > div:after{
	background: #00008B !important;
}


.dWrapper .no_show_up,
.dWrapper .no_show_up > div:after{
	background: #A9A9A9 !important;
}
.dWrapper .asSlotBooked > div,
.dWrapper .asSlotFreetime > div{
	height: 24px;
    position: relative;
    /* width: 100%; */
}
.dWrapper .asSlotBookedPlus > div:after{
    background-color: #ED1C24;
    content: "";
    height: 25px;
    position: absolute;
    right: -5px;
    top: -10px;
}
.dWrapper .dSlot a{
	color: #FFF;
}
.dWrapper .asSlotBookedPlus a{
	display: none;
}
.dWrapper .asSlotBooked > div a.moreBooking{
	font-size: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.dWrapper .asSlotFreetime > div a.removeFreetime{
    background: #22b14c;
    border-radius: 99999px;
    height: 15px;
    position: absolute;
    right: 20px;
    text-indent: -9999px;
    top: 5px;
    width: 15px;
}
.week-button{
	margin-left: 20px;
	margin-right: 20px;
}
.week-button li{
	display: inline-block;
	padding: 5px;
}
.week-button li a{
    float: left;
    height: 20px;
    position: relative;
    text-indent: -9999px;
    width: 20px;
}
.week-button li.prev a,
.week-button li.next a{
	width: 10px;
}
.week-button li a:after{
	border-color: transparent #63A8C9;
    border-style: solid;
    border-width: 8px 10px;
    content: "";
    left: 0;
    position: absolute;
    top: 3px;
}
.week-button li.prev-week a:before,
.week-button li.next-week a:before{
	border-color: transparent #63A8C9;
    border-style: solid;
    border-width: 8px 10px;
    content: "";
    left: 9px;
    position: absolute;
    top: 3px;
}
.week-button li.prev-week a:after{
	border-left-color: transparent;
	border-left-width: 0px;
}
.week-button li.prev-week a:before{
	border-left-color: transparent;
	border-left-width: 0px;
}
.week-button li.prev a:after{
	border-left-color: transparent;
    border-left-width: 0px;
}
.week-button li.next a:after{
	border-right-color: transparent;
    border-right-width: 0px;	
    left: auto;
    right: 0;
}
.week-button li.next-week a:after{
	border-right-color: transparent;
	border-right-width: 0px;
    left: auto;
    right: 0;
}
.week-button li.next-week a:before{
	border-right-color: transparent;
	border-right-width: 0px;
    left: auto;
    right: 9px;
}
.week-day{
	margin-top: 5px;
}
.week-day li{
	display: inline-block;
}
.week-day a{
    display: inline-block;
    line-height: 15px;
    padding: 3px 10px;
}
.week-day a.active{
	background: #63A8C9;
	color: #FFF;
}


/* Calendar */
/*******************************Calendar Top Navigation*********************************/
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #787878 ;       
}
 
div#calendar div.header{
    line-height:40px;   
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:582px;
    height:40px;    
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{  
    position:absolute;
    top:0px;    
    height: 17px;
    display:block;
    cursor:pointer; 
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}
 
 
div#calendar div.header a.prev{ 
    left:0px;
}
 
div#calendar div.header a.next{ 
    right:0px;
}
 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar table.box-content{
   width: 100%;
   border-right: 1px solid #C4C4C4;
}
div#calendar table.box-content th{
	border-left: 1px solid #C4C4C4;
	color: #384B51;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: url("../img/backend/bg-day-name.png") no-repeat scroll -1px 0 #F6F6F6;
}
div#calendar table.box-content td{
	border: 1px solid #C4C4C4;
	background-color: #F7F7F7;
}
div#calendar table.box-content .day{
	padding: 30px 12px 10px;
	position: relative;
}
div#calendar table.box-content .day_num {
    color: #B6BABB;
    position: absolute;
    right: 7px;
    top: 5px;
	font-size: 14px;
}
div#calendar table.box-content .day p span,
div#monthly-review p span{
    float: right;
}
div#calendar #employee_id,
div#monthly-review #employee_id{
	float: right;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
	font-weight: bold;
}
div#monthly-review #employee_id{
	margin-top: 10px;
	margin-right: 10px;
}
.monthly-review .monthly-control {
    color: #595A5C;
    font-size: 70%;
    line-height: 49px;
    margin: 0 20px;
    text-decoration: none;
}
#installcontent{
	font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
}
.pj-table-row-week{
	background-color: #faf8ea;
}



.layout_2 .dWrapper{
	position: relative;
	padding-top: 27px;
}
.layout_2 .scroll-y{
	float: left;
    margin: 0;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.layout_2 .dWrapper td{
	padding: 0;
}
.layout_2 .dWrapper td > * {
    min-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}
    .layout_2 .dWrapper td .booking_cell a.editbooking {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
    }

.layout_2 .dWrapper td.dHead{
	border: 0;
}
.layout_2 .dWrapper td.dHead > *{
	background-color: #f7f7f7;
	font-weight: bold;
	border: solid 1px #ccc;
	border-left: solid 2px #fff;
	border-top: solid 1px #fff;
	border-right: solid 1px #e5e2e2;
	border-bottom: solid 1px #e5e2e2;
	empty-cells: show;
}
.layout_2 .dWrapper thead td.dHead > * {
	position: absolute;
    top: 0;
    height: 28px;
    overflow: visible;
    border-right: solid 0px #e5e2e2;
}
.layout_2 .dWrapper:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #f7f7f7;
	height: 28px;
	border-bottom: solid 1px #e5e2e2;
	border-top: solid 1px #fff;
}
.layout_2 .dWrapper thead td.dHead > span{
	border-left: solid 1px #e4e4e4;
	margin-left: -1px;
}
