<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Sub  page</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css"/>
</head>
<body>
<div class="container-fluid" id="sitecolor">
	<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
	<!-- start header-->{$editableheader}<!-- end header-->
     
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row1 row">
			<!-- start maincontent -->{$editablemaincontent}<!-- start maincontent -->
	<!-- start footer -->{$editablefooter}<!-- end footer -->
</div>
</body>
</html>
