/* color:#0775d2; */
body,html{
	margin:0;
	padding:0;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#F6F6F6;}
p, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
a{
	border:0;
	color:#1BC2EF;
	}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
/*-------------------layout----------------------------*/
.layout_header{width:1050px; height:130px;}
.layot_topmenu{width:1050px;}
.layout_bannerarea{width:1050px; height:380px;}
.layout_banner{  height: 370px; width: 750px; float:left;}
.layout_welcome_area{height:370px; float:right; width:285px;}
.layout_row1{width:1050px; min-height:300px; }
.layout_threecolumnbox{width:342px; float:left;}
.layout_homecontentrow2{width:1050px; min-height:310px; }
.layout_fourcolumnbox{width:254px; float:left; }

/*-------------------layout----------------------------*/
.main_outer{
	 background:url(../images/bg.jpg) no-repeat top center #000;
}
.outerwrapper{
	width:100%; border-top:6px solid #0775d2;}
.wrapper{
	width:1050px; margin: 0 auto; padding-bottom:5px; }
.header_wrapper{
	width:1050px;
	height:130px;
	}
.logo_sec{
	float:left;
	width:550px;
	height:90px;
	padding-top:20px;
	padding-bottom:10px;
}
.logo{
	float:left;
	margin-right:12px;
}
.logo img{
	width:68px;
	height:65px;
}
.logo_name{
	float:left;
	height:73px;
}
.logo_name h1{
	font-family: "Trebuchet MS", "Helvetica Condensed", Arial; font-size:30px; color:#FFF; font-weight:normal; }
.logo_name h1 span{
	font-family: "Trebuchet MS", "Helvetica Condensed", sans-serif; font-size:40px; color:#ffd34c;}
.logo_name h2{
	font-family: 'Open Sans Condensed', sans-serif; font-size:20px; color:#FFF; font-weight:normal; letter-spacing:.05em; margin-top:4px;}
.top_menu{
	background-color:#1c1c1c; margin-top:5px; height:54px; width:1050px; background:url(../images/menu_bg_blue.jpg) repeat-x;}
.top_menu ul{
	height:40px;
	margin:0;
	padding:7px 0px;}
.top_menu li{
	list-style:none;	display:block;	float:left;	margin-left:10px;
	}
.top_menu li a{
	height:40px; 
	line-height:40px; 
	padding: 0 50px; 
	display:block;
	text-decoration:none; 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size:23px; color:#ffffff; font-weight:normal;
	cursor:pointer;}
.top_menu li a:hover {background-color:#941711;}
.top_menu .active a {background-color:#3f9eef;}
.socialshare{ 
	padding:0px;
	margin-right:15px;
	float:right;}	
.socialshare a{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.socialshare a:hover{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
	opacity:0.5;
}
.banner_area_wrapper{
	padding:5px;
	background:#4c4444;
	height:370px;
	width:1040px;
	margin-top:10px;
	}
.banner{
	}
.banner img{
	height:370px;
	width:750px;}
.welcome_area{
	height:310px;
	padding:30px 24px;
	background:url(../images/wel_banner.jpg) no-repeat;
	
	}
.welcome_area h2{
	font-family:"open Sans Condensed", arial;
	font-size:35px;
	color:#E8E8E8;
	padding-bottom:10px;}
.welcome_area p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#C3C1C1;
	line-height:23px;
	padding-bottom:15px;
	}
.more_blk{
	float:left;
	width:300px;
	margin-top:10px;
}
.morelink{
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#ffffff;
	padding:3px 35px 3px 20px;
	line-height:21px;
	cursor:pointer;
	float:right;
	background:url(../images/right_arrow.png) #0775d2 75% 50% no-repeat;}
.morelink:hover{
	background:url(../images/right_arrow.png) #f48110 85% 50% no-repeat;}
.homecontentrow1{
	padding:20px 10px;
	width:1030px;
	margin-top:20px;
	background:#1c1b1b;
	 border-top:2px solid #536575;
	}
.threecolumnbox{
	width:300px;
	padding:0px 25px 0px 0px;
	color:#5c5c5c;
	float:left;}
.rightmarg1{
	margin-right:25px;}
.threecolumnbox h3{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#646363;
	margin-bottom:20px;
	}
.threecolumnbox h3 span{
	color:#0775d2;}
.threecolumnbox3{
	width:300px;
	padding:0px 0px 0px 25px;
	border-left:1px solid #343232;
	float:left;}
	
.threecolumnbox3 h3{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#646363;
	margin-bottom:20px;
	}
.threecolumnbox3 h3 span{
	color:#0775d2;}
.threecolumnbox2{
	width:300px;
	padding:0px 25px 0px 24px;
	border-left:1px solid #343232;
	float:left;}
	
.threecolumnbox2 h3{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#646363;
	margin-bottom:20px;
	}
.threecolumnbox2 h3 span{
	color:#0775d2;}
.homecontentrow1_image{
	width:300px;
	margin-bottom:20px;}
.homecontentrow1_image img{
	width:290px;
	height:150px;
	border:5px solid #F3F1EF;}
.homecontentrow1 p{
	color: #969595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;}
.homecontentrow2{
	padding:15px 17px 25px 17px;
	margin:30px 0 0 0;
	width:1016px;
	background:#1c1b1b;
	 border-top:2px solid #536575;
	}
.homecontentrow2_hdr{
	color:#646363;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 30px;
	width:1002px;}
.homecontentrow2_hdr span{
	color:#0775d2;
}	
.homecontentrow2_content{
}
.fourcolumnbox{
	margin:0 17px;}
.rightmarg2{
	margin-right:40px;}
.fourcolumnbox_image{
	margin-bottom:15px;}
.fourcolumnbox p{
	color: #6c6262;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 8px;
}
.fourcolumnbox a{
	color: #0775d2;
	text-decoration:none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.exp{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp li{
	width:282px;
	list-style:none;
	background: url("../images/arrow_right.gif") no-repeat scroll 0 10px transparent;
	color:#5c5c5c;
	line-height:19px;
    padding-bottom: 10px;
	padding-top: 8px;
	border-bottom:1px dashed #3d3b3b;
    padding-left: 18px;
}
.exp li a{
	color:#0775d2; 
	margin-bottom:7px;
	text-decoration:none;
	font:14px Arial,Helvetica,sans-serif;
}
.exp li p{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	margin:0px; padding:0px;
}
.new_date{
	width:300px;
	float:left;
}
.new_date ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.new_date li{
	width:300px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
	margin:0px 0px 17px 0px;
	padding:5px 0px 14px 0px;
	border-bottom:1px dashed #3D3B3B;
	list-style:none;
}
.date {
	float:left;
	width:86px;
	margin-right:20px;
	text-align:center;
	font-size:30px;
	color:#504c4c;
	line-height:1.2em;
	padding:5px;
	background:#2c6ca2;
}
.date span {
	display:block;
	font-size:53px;
	line-height:1.2em;
	margin-top:-8px;
	margin-bottom:-22px;
	letter-spacing:-2px
}
.fourcolumnbox p span{
	color:#999999;}
.footer{
	padding:10px 0; width:1050px; margin:15px 0 0 0; float:left; height:50px; 	background:#272727; border-top:4px solid #2c6ca2;
}
footer_content{
	width:1050px;
	float:left;
}
.footer_content p{
	color: #6b6b6b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 15px;
	width:700px;
	margin-left:15px;
	float:left;
	}

/*------------------------------------------innercontentarea--------------------------------------------*/
.innercontentrea{
	width:1000px;
	padding:25px;
	background-color:#1c1b1b !important;
	float:left;
	margin-top:20px;
	}
.innercontentrea_leftcol{
	width:699px;
	float:left;
	padding: 0 25px 0 0;
	}
.innercontentrea_rightcol{
	width:246px;
	padding-left:23px;
	float:right;
	border-left:1px solid #484848;}
.innercontentrea_leftcol h2{
	color:#0775d2;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	padding-bottom:20px;
}
.innercontentrea_leftcol p{
	font-family:Arial, Helvetica, sans-serif;
	color:#737373;
	font-size:14px;
	line-height:22px;
	padding-bottom:15px;
}
.featuredservices{
	width:248px;
	margin-bottom:25px;}
.featuredservices h3,
.Testimonials h3{
	color:#0775d2;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	padding-bottom:15px;}
.featuredservices ul{
	margin:0;
	padding:0;}
.featuredservices li{
	list-style:none;
	border-bottom:1px dotted #484848;
	padding:10px 0;}
.featuredservices li a{
	color:#949090;
	font-family:"open Sans Condensed", arial;
	font-size:16px;
	text-decoration:none;
	font-weight:normal;
	padding:7px 0 7px 35px;
	background:url(../images/bullet_blue.png)  0% 50% no-repeat;}
.Testimonials ul{
	margin:0;
	padding:0;}
.Testimonials li{
	list-style:none;
	border-bottom:1px solid #484848;
	padding:10px 0 0 0;}
.Testimonials p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#969595;
	line-height:19px;
	padding-bottom:10px;}
.author{
	color:#0775d2 !important;
	text-align:right;}
.fourcolumnbox_image img{
	width:220px;
	height:120px;}
.content_left{
	width:650px;
	float:left;
	padding-right:46px;
	border-right:1px solid #484848;
}
.content_left_hdr{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#737271;
	margin-bottom:20px;
	width:650px;
	}
.content_left p{
	color: #8a8987;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
	margin:25px 0px 15px 0px;
}
.content_left_hdr span{
	color:#0775d2;}
.content_right{
	width:300px;
	float:left;
}	
.contact_address{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:22px;
	padding-left:40px;
}
.contact_address span{
	color:#0775d2;
	font-family:"open Sans Condensed", arial;
	font-size:30px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
	margin-bottom:10px;
}
.contact_address p{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:19px;
}
.contact_form{
	width:320px;
	float:left;
	margin-top:30px;
}
.contact_form h4{
	color:#9b9b9b;
	font-family:"open Sans Condensed", arial;
	font-size:26px;
	font-weight:normal;
	float:left;
	margin-bottom:10px;
	width:320px;
}
.text_feild {
	border-radius:5px;
	-webkit-border-radius:5px;
    background:#606060;
    border: 1px solid #404040;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.text_area {
	border-radius:5px;
	-webkit-border-radius:5px;
    background:#606060;
    border: 1px solid #404040;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 100px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.submit{
	width:100px;
	height:34px;
	border-radius:5px;
	-webkit-border-radius:5px;
	float:left;
	margin:10px 0px;
	cursor:pointer;
    color: #FFF;
    font: 16px Arial,Helvetica,sans-serif;
	border:0;
	outline:none;
	background:url(../images/submit_btn_blue.jpg) repeat-x;
}
.submit:hover{
    font: 16px Arial,Helvetica,sans-serif;
	background:url(../images/submit_btn_over.jpg) repeat-x;
}
	