/* color:#efba01; */
body,html{
	margin:0;
	padding:0;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#0f0f0f;
	line-height:20px
	}
p, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
* {
	border:none
}
a{
	border:0;
	color:#1BC2EF;
	}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
.main {
	margin:0 auto;
	width:1050px;
}
/*-------------------layout----------------------------*/
.layout_header{width:1050px; float:left;}
.layot_topmenu{width:1050px; float:left;}
.layout_bannerarea{width:1050px; float:left;}
.layout_row1{width:1050px; float:left;}
.layout_threecolumnbox{width:342px; float:left;}
.layout_homecontentrow2{width:1050px; min-height:310px; }
.layout_fourcolumnbox{width:254px; float:left; }

/*-------------------layout----------------------------*/
.main_outer{
	background:url(../images/bg-main.jpg) repeat #FFF;
	}
	.main_inner{
	background:url(../images/bg_top.jpg) repeat-x;
	}
.outerwrapper_container{
	border-top:2px solid #1C1C1C;}
.outerwrapper{
	width:100%; overflow:hidden;}
.wrapper{
	width:1050px; margin: 0 auto; border-top:0; padding-bottom:5px;}
.header_wrapper{
	height:127px;
	width:1050px;
	margin-top:0px;
}
.logo_sec{
	float:left;
	width:550px;
	height:73px;
	padding-top:40px;
	padding-bottom:10px;
}
.logo{
	float:left;
	margin-right:12px;
}
.logo_name{
	float:left;
	height:73px;
}
.logo_name h1{
	font-family: 'Open Sans', sans-serif; font-size:40px; color:#e54912; font-weight:normal; }
.logo_name h1 span{
	font-family: 'Open Sans', sans-serif; font-size:40px; color:#efba01;}
.logo_name h2{
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;  font-size:15px; color:#464545; font-weight:normal; letter-spacing:.19em; margin-top:10px;}
.socialshare{ 
	padding:0px;
	float:right;}	
.socialshare a{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.socialshare a:hover{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
	opacity:0.5;
}
.top_menu{
	padding:0px 10px 14px 10px; height:58px; margin-top:11px; width:1030px; background:url(../images/menu_bg_yellow.png) repeat-x;}
.top_menu ul{
	height:58px;
	margin:0;
	padding:0;}
.top_menu li{
	list-style:none;	display:block;	float:left; margin-right:5px;
	}
.top_menu li a{
	height:58px; 
	line-height:58px; 
	padding: 0 50px; 
	display:block;
	text-decoration:none; 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size:23px; color:#FFF; font-weight:normal;
	cursor:pointer;}
.top_menu li a:hover {background:url(../images/menu_bg.jpg) repeat-x; color:#ffffff;}
.top_menu .active a {background:url(../images/menu_bg.jpg) repeat-x; color:#ffffff;}
.banner_area_wrapper{
	width:1050px;
	margin-top:15px;
}
.banner{
	border:10px solid #FFF;
	width:1030px;
	background:#e1e1e1;
}
.banner img{
	height:430px;
	width:1030px;}
.welcome_area{
	height:296px;
	padding:95px 40px 30px 0px;
	float:left;
	width:380px;
	}
.welcome_area h2, .banner h2{
	font-family:"open Sans Condensed", arial;
	font-size:35px;
	color:#dca81d;
	padding-bottom:10px;
	margin-bottom:10px}
.welcome_area p, .banner p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#807f83;
	line-height:22px;
	padding-bottom:15px;
	}
.morelink{
	border-radius:8px;
	margin-top:10px;
	-webkit-border-radius:8px;
	color:#ffffff;
	padding:8px 35px 8px 20px;
	line-height:21px;
	margin-bottom:10px;
	cursor:pointer;
	background:url(../images/arrow_right.gif) #efba01 85% 50% no-repeat;}
.morelink:hover{
	cursor:pointer;
	background:url(../images/arrow_right.gif) #000 85% 50% no-repeat;}

.homeblkrow1{
	padding:35px 6px 25px 6px;
	width:1038px;
}
.blkbox{
	width:321px;
	float:left;
	}
.blkbox ul{
	width:320px;
	float:left;
	margin:0px;
}
.blkbox li{
	width:320px;
	list-style:none;
	display:block;
	margin:0px 0px 5px 0px;
	font-size:14px; color:#afafaf; font-weight:normal;
	background-image:url(../images/adv-li.jpg);
	background-repeat:no-repeat;
	padding-left:18px;
}
.rightmarg1{
	margin-right:36px;}
.blkbox h3, .banner h3{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size:31px;
    font-weight: normal;
	text-align:center;
	color:#514E4E;
	padding:15px;
	margin-bottom:8px;
	margin-top:5px;
	}
.blkbox h3 span, .banner h3 span{
	color:#efba01;}
.homeblkrow1_image{
	margin-bottom:20px;}
.homeblkrow1_image img{
	width:250px;
	height:250px;
	border-radius:125px;
	-webkit-border-radius:125px;
	border:5px solid #dac6a6;
	margin-left:30px;}
.homeblkrow1_image img:hover{
	opacity:0.8;}
	
.homeblkrow1 p{
	color: #969595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	text-align:center;
    line-height: 22px;
    padding-bottom: 15px;}	
.more_blk{
	width:300px;
	float:left;
	margin-top:10px;
}
.new_date{
	width:300px;
	float:left;
}
.new_date ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.new_date li{
	width:300px;
	margin:0px 0px 17px 0px;
	padding:5px 0px 14px 0px;
	border-bottom:1px dashed #cccccc;
	list-style:none;
}
.date {
	float:left;
	width:46px;
	margin-right:20px;
	text-align:center;
	font-size:30px;
	color:#13c5ff;
	line-height:1.2em;
	padding-bottom:20px
}
.date span {
	display:block;
	font-size:53px;
	line-height:1.2em;
	margin-top:-8px;
	margin-bottom:-22px;
	letter-spacing:-2px
}
.homecontentrow2{
	margin:15px 0px 0px 0px;
	padding:15px 0px;
	width:1050px;
	float:left;
	}
.phylosophy_blk{
	width:300px;
	float:left;
	margin-top:15px;
	padding-left:30px;
	padding-bottom:20px;
	background:url(../images/sep1.jpg) repeat-y left top;
}
.phylosophy_blk p{
	width:300px !important;
	float:left;
	color: #b5b5b5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	line-height:21px;
}
.phylosophy_hdr{
	color: #0081c7;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	width:300px;}
.phylosophy_hdr span{
	color: #FFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.homecontentrow2_content{
}
.recent_work_blk{
	width:700px;
	padding-right:20px;
	margin-top:15px;
	float:left;
}
.recent_work_blk_hdr{
	color: #0081c7;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	float:left;
	width:700px;}
.recent_work_blk_hdr span{
	color: #FFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.recent_works{
	width:699px;
	margin-top:10px;
	float:left;
}
.r_work{
	width:200px;
	float:left;
	margin-right:27px;
}
.r_work img{
	width:190px;
	border:5px solid #545353;
	height:140px;
	float:left;
}
.r_work p{
	width:200px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 16px;
	color: #FFF;
	float:left;
	text-align:center;
	margin:5px 0 0 0;
	padding:0px;
}
.footer_outer{
	width:100%;
	height:80px;
	margin:0px;
	background:#000;
}
.footer{
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:25px 0 15px 0; width:1050px;}
footer_content{
	width:1050px;
	float:left;
}
.footer_content p{
	color: #6b6b6b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 15px;
	width:500px;
	float:left;
	}
.footer_logo{
	height:35px;
	float:right;
	text-align:right;
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#4a4a4a; font-weight:normal;}
.footer_logo span{
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#827142;}
/*---------------------inner-------------------------*/
.inner_content_block{
	width:1010px;
	margin:10px 0px;
	background:#FFF;
	padding:30px 20px;
}
.outerwrapper2{
	width:100%; background:#414141; min-height:305px;}
.wrapper2{
	width:1050px; margin: 0 auto; border-top:0; padding-bottom:5px;}
.content_left{
	width:650px;
	float:left;
	padding-right:47px;
	border-right:1px dashed #cccccc;
}
.content_left_hdr{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#737271;
	margin-bottom:20px;
	width:650px;
	}
.content_left p{
	color: #8a8987;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
	margin:25px 0px 15px 0px;
}
.content_left_hdr span{
	color:#efba01;}
.content_right{
	width:300px;
	float:left;
}
.Testimonials{
	width:260px;
	float:left;
	padding-left:40px;
}
.Testimonials h3{
	color:#efba01;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	background:url(../images/testimonial_icon.png) no-repeat;
	padding-left:50px;
	padding-bottom:15px;
	border-bottom:1px solid #f3f3f3}
.Testimonials ul{
	margin:0;
	padding:0;}
.Testimonials li{
	list-style:none;
	border-bottom:1px dashed #b4b4b4;
	padding:10px 0 0 0;}
.Testimonials p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:19px;
	padding-bottom:10px;}
.author{
	color:#dca81d !important;
	text-align:right;}
.featuredservices{
	width:260px;
	margin-left:40px;
	margin-bottom:25px;
	float:left;}
.featuredservices h3{
	color:#efba01;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	background:url(../images/featured_icon.jpg) no-repeat;
	padding-left:35px;
	padding-bottom:15px;}
.featuredservices ul{
	margin:0;
	padding:0;}
.featuredservices li{
	list-style:none;
	border-bottom:1px dashed #E9E8E6;
	padding:10px 0;}
.featuredservices li a{
	color:#949090;
	font-family:"open Sans Condensed", arial;
	font-size:16px;
	text-decoration:none;
	font-weight:normal;
	padding:7px 0 7px 35px;
	background:url(../images/arrow1.png)  0% 50% no-repeat;}	
.featuredservices li a:hover{
	color:#000;
}	
.contact_address{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:22px;
	padding-left:40px;
}
.contact_address span{
	color:#eb4b1a;
	font-family:"open Sans Condensed", arial;
	font-size:30px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
	margin-bottom:10px;
}
.contact_address p{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:19px;
}
.contact_form{
	width:320px;
	float:left;
	margin-top:30px;
}
.contact_form h4{
	color:#9b9b9b;
	font-family:"open Sans Condensed", arial;
	font-size:26px;
	font-weight:normal;
	float:left;
	margin-bottom:10px;
	width:320px;
}
.text_feild {
	border-radius:5px;
	-webkit-border-radius:5px;
    background:#FFF;
    border: 1px solid #dadada;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.text_area {
	border-radius:5px;
	-webkit-border-radius:5px;
    background:#FFF;
    border: 1px solid #dadada;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 100px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.submit{
	width:100px;
	height:34px;
	border-radius:5px;
	-webkit-border-radius:5px;
	float:left;
	margin:10px 0px;
	cursor:pointer;
    color: #FFF;
    font: 16px Arial,Helvetica,sans-serif;
	border:0;
	outline:none;
	background:url(../images/submit_btn_yellow.jpg) repeat-x;
}
.submit:hover{
    font: 16px Arial,Helvetica,sans-serif;
	background:url(../images/submit_btn_over.jpg) repeat-x;
}
