<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Beauty center</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
<div id="sitecolor">
<div class="container">
  <div class="row clear">
      <!--start header-->{$editableheader}<!--end header-->
  
    <div class="navigation">
	<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
    </div>
    
    <div class="slideshow">
    <!-- start banner -->{$editablebanner}<!-- end banner -->
	</div>
    <div class="col col-12">
    <!-- start main -->{$editablemain}<!-- end main -->
    </div>
  </div>
</div>
<!-- start footer -->{$editablefooter}<!-- end footer -->
	</div>
</body>
</html>
