<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>Amen Photography</title>
</head>

<body>
	<div class="outerwrapper_container">
		<div id="sitecolor">
		<div class="outerwrapper">
			<div class="wrapper">
				<!--start header-->
				<div class="header_wrapper">
					<div class="logo_area">
						<div class="logo_image">
							<img src="images/logo.jpg" id="logo" data-type="logo" data-edit="true">
						</div>
						<div class="compnynamencaption">
							<h1 id="heading" data-type="heading">a m e n</h1>
							<h2 id="caption" data-type="caption">Professional Photographer</h2>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="top_menu">
					<ul data-type="menu">
						<li class="active"><a data-alias="index">Home</a>||</li>
						<li><a data-alias="about">About</a>||</li>
						<li><a data-alias="gallery">Gallery</a>||</li>
						<li><a data-alias="contactus">Contact Us</a></li>
					</ul>
					<div class="clear"></div>
				</div>
					<div class="clear"></div>
				</div>
				<!--end header-->
				<div class="banner_area_wrapper">
					<!-- start banner-->
					<div class="banner">
						<div data-type="slider">
							<img src="images/banner.jpg" data-edit="true" title="Click here to update your gallery" />
						</div>
					</div>
					<!-- end banner-->
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				</div>
			<div class="footer">
				<!-- start footer -->
				<div id="site_banner" data-type="site_banner"></div>
				<div class="footer_content">
				 <p>&copy;2013 amen All Rights Reserved</p>
				 <div class="socialshare"  data-type="socialshare">
					<img src="images/ricon_facebook.png" data-edit="true">
					<img src="images/ricon_linkedin.png" data-edit="true">
					<img src="images/ricon_twitter.png" data-edit="true">
				 </div>
				 <div class="clear"></div>
				</div>
				<!-- end footer -->
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	</body>
</html>
