/*-----------------------------------------------------------------------------------*/
/*	Header Menu
/*-----------------------------------------------------------------------------------*/
/*mobile menu*/
.select-menu {
	display: none;
}

/*magicline*/
#main-nav ul.sf-menu{
	float: left;
	position: relative;
}
#main-nav #magic-line{
    display: inline-block;
    position: absolute;
    top: -5px;
    float: none;
    left: 0;
    z-index: 100;
    list-style: none outside none;
    width: 100px;
	height: 5px;
	padding: 0;
}
#main-nav {
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main-nav ul.sf-menu{
	margin-left: 15px;
}
#main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main-nav ul a {
	padding: 20px;
    float: left;
	position: relative;
	z-index: 9999;
	font-size: 13px;
    color: #FFFFFF;
}

#main-nav ul li {
	position: relative;
	float: left;
    margin: 0;
	padding: 0;
}

#main-nav ul li:hover { 
	color: #E0E0E0; 
	visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

#main-nav ul ul li { width: 100%; }

/*separator*/
#main-nav .nav-separator {
	display: none;
	width: 1px;
	height: 49px;
	background: #1B1B1B;
}

/*for all main items*/
#main-nav ul li a {
	color: #FFFFFF;
}
#main-nav ul a:hover,
#main-nav ul li.sfHover a,
#main-nav ul li.current-cat a,
#main-nav ul li.current_page_item a,
#main-nav ul li.current-menu-item a,
#main-nav ul li.current_page_ancestor a,
#main-nav ul li.current_page_parent a{
	margin-bottom: -1px; /*for hiding other border*/
	text-decoration: none;
	outline: none;
	color: #FFFFFF !important;
	border-bottom: 1px solid #181818;
	background: #181818;
}
#main-nav ul li span.nav-bg { 
	position: absolute;
	display: none;
	z-index: 9;
	width: 100%;
	height: 100%;
	left: 0;
}

#main-nav ul.sf-menu>li:hover {
	font-size: 12px;
}
#main-nav ul.sf-menu>li {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
#main-nav ul.sf-menu>li>a {
	color: #EEEEEE;
}

#main-nav ul a:hover span,
#main-nav ul li.sfHover a span,
#main-nav ul li.current-cat a span,
#main-nav ul li.current_page_item a span,
#main-nav ul li.current-menu-item a span,
#main-nav ul li.current_page_ancestor a span {
	outline: none;
}
#main-nav ul a:hover span,
#main-nav ul li.sfHover li a,
#main-nav ul li.sfHover li a span {
	background: none;
}
#main-nav li li a:hover,
#main-nav li.sfHover li a {
	color: #E5B840;
	border-bottom: none;
	background: none;
}
#main-nav li a span {
    display: block;
    padding: 0;
    float: left;
    cursor: pointer;
}

#main-nav li li a span {
	margin-left: 20px;
	padding: 0; 
}

.sf-sub-indicator { text-indent: -9999px; }

#main-nav li a span.sf-sub-indicator {
    width: 10px;
    height: 5px;
    float: left;
    margin: 0;
    padding: 0;
	background: url(../images/arrow-down.png) no-repeat;
}
#main-nav ul a:hover span.sf-sub-indicator,
#main-nav ul li.sfHover a span.sf-sub-indicator,
#main-nav ul li.current-cat a span.sf-sub-indicator,
#main-nav ul li.current_page_item a span.sf-sub-indicator,
#main-nav ul li.current-menu-item a span.sf-sub-indicator { 
	outline: none; 
}

#main-nav li li a span.sf-sub-indicator,
#main-nav li.sfHover li a span.sf-sub-indicator {
	background: url(../images/plus.png) 0px 0px no-repeat;
    height: 12px;
    margin: 5px 0 0 0;
    width: 10px;
    float: right;
}

#main-nav li.sfHover li.sfHover li a span.sf-sub-indicator { 
	background: url(../images/plus.png) 0px 0px no-repeat; 
}

#main-nav li li.sfHover a span.sf-sub-indicator,
#main-nav li li.sfHover li.sfHover a span.sf-sub-indicator { 
	background: url(../images/plus.png) 0px 0px no-repeat; 
}

/* Make sub menus appear */
#main-nav ul li:hover ul,
#main-nav ul li.sfHover ul {
	left: 0px;
	top: 23px; /* match top ul list item height */
	z-index: 99;
}

/* Hide all subs subs (4 levels deep) */
#main-nav ul li:hover li ul,
#main-nav ul li.sfHover li ul,
#main-nav ul li li:hover li ul,
#main-nav ul li li.sfHover li ul,
#main-nav ul li li li:hover li ul,
#main-nav ul li li li.sfHover li ul { 
	top: -9999em;
}

/* Displays all subs subs (4 levels deep) */
#main-nav ul li li:hover ul,
#main-nav ul li li.sfHover ul,
#main-nav ul li li li:hover ul,
#main-nav ul li li li.sfHover ul,
#main-nav ul li li li li:hover ul,
#main-nav ul li li li li.sfHover ul {
	left: 176px; /* match .nav ul width */
	top: -22px;
}

/*--------Second level skin--------*/
#main-nav ul ul {
	position: absolute;
	top: -9999em;
	width: 174px; /* left offset of submenus need to match (see below) */
    padding: 0;
    margin: 39px 0 0 -1px;
	border-bottom: 4px solid;
	background: #181818;
}
#main-nav ul ul li {
	float: left;
	width: 174px;
	background: none;
	border-bottom: 1px solid #222222;
	margin: 0;
	padding: 5px 0;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	transition: all 1s ease 0s; 
}
#main-nav ul ul li:hover{
	background: #333333 url(../images/line-pattern.png);
}
#main-nav ul ul li.sfHover li,
#main-nav ul ul a:hover span,
#main-nav ul ul li.sfHover li a,
#main-nav ul ul li.sfHover li a span {
	color: #E5B840;
}

#main-nav ul ul li:first-child  {
	border-top: none; 
}
#main-nav ul ul li:last-child {
	border-bottom: none; 
}
#main-nav ul ul li a {
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
	padding: 5px 0;
	width: 100%;
	color: #e5b840;
}

/*Webkit 3rd level menu Fixed*/
#main-nav ul ul{
	visibility: visible !important;
	display: block !important;
}