<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin http://www.delfi.lv
        Header set Access-Control-Allow-Credentials true
    </IfModule>
    
    RewriteEngine On

    # Redirect Trailing Slashes...
    #RewriteRule ^(.*)/$ /$1 [L,R=301] # this caused redirection loop in index.php in subfolder so disable for now

    # Redirect /loyalty/app to /app/lc
    RewriteRule ^loyalty/app/(.*)$ /app/lc [R=301,L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Redirect www to non-www
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

</IfModule>
