<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>::homepage::</title>
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main_outer">
    <div id="sitecolor">
    <div class="outerwrapper_container">
        <div class="wrapper">

        <div class="layout_header">
          
          <div class="header_wrapper">
          <!-- start header-->
            <div class="logo_image"> <img src="images/logo.png" id="logo" data-type="logo" data-edit="true"> </div>
          <!-- end header--> 
             <!-- start menu-->
            <div class="compnynamencaption">
              <h1 id="heading" data-type="heading" style="display:none;">siren<span>barbershop</span></h1>
              <h2 id="caption" data-type="caption" style="display:none;">html template</h2>
				<div class="menu_wrapper">
                	<ul class="menu menu-level-0" id="menu" data-type="menu">
                        <li class="active"> <a data-alias="index">HOME</a></li>
                        <li> <a data-alias="subpage">SUBPAGE</a></li>                        
                        <li> <a data-alias="portfolio">PORTFOLIO</a></li>                        
                        <li> <a data-alias="staff">STAFF</a></li>                        
                        <li> <a data-alias="contact">CONTACT</a></li>
                    </ul>
				</div>
            </div>
            <!-- end menu -->
          </div>
          
          <div class="clear"></div>
        </div>
        
        <div class="content_wrapper">
          <!-- start banner -->
          	<div class="banner" data-type="slider">
            	<img src="images/slider-4.jpg" data-edit="true" >
            </div>
          <!-- end banner -->
          
          <!-- start welcome -->
          <div class="welcome_box">
          	<div class="welcome_text">
              <h2>Welcome!</h2>
              <h3>New styles in hair cuts, hair color, make up services.</h3>
              <p>Architecto beatae naseaeraciat kuiase undeosler miasosac usa ntuedearsteked icexplic abo nemo enim ipsam lertasevol uptatemia voluptas sit. Aspernatur aut odit aut fugitedera quia consequuntur magni dolores eosqui ratione voluptatem. Fequi nesciunt neque porro quisquam estqui dolorem ipsumquia dolor sitamet.</p>
            </div>
          </div>
          <!-- end welcome -->
          
          <!-- start ournews -->
          <div class="ournews_box">
            <div class="ournews_content">
              <h2>Our News</h2>
              <span class="date">15.12.2011 Lertasera Miaseras </span>
              <p>unde omasler miase lerosac cntiureuede earsteked icta su expline enim ipsam ertase volupta quia voluptasit. </p>
              <a class="readmore">read more</a>
            </div>
          </div>
          
          <!-- end ournews -->
          
          <div class="footerboxs">
          	<!-- start box1 -->
            	<div class="box1">
                  <h2>Our Services</h2>
                  <div class="service">
                    <h3>Creative Hair Cuts</h3>
                    <p><a href="#">Oluptatemquia volups sitsptur tosedera it autfugise consequuntur.</a></p>
                  </div>
                  
                  <div class="service">
                    <h3>Permanent Make Up</h3>
                    <p><a href="#">Oluptatemquia volups sitsptur tosedera it autfugise consequuntur.</a></p>
                  </div>
                  
                  <div class="service">
                    <h3>Facials</h3>
                    <p><a href="#">Oluptatemquia volups sitsptur tosedera it autfugise consequuntur.</a></p>
                  </div>
                </div>
            <!-- end box1 -->
            <!-- start box2 -->
            	<div class="box2">
                  <h2>2012 HairTrends</h2>
                  <img src="images/page-1-img-1.jpg" data-edit="true" >
                  <p><strong>KERTYADE FERTASERA MIASERAS LERTYAS</strong></p>
                  <p>Malerosac cusa ntium reuede eareicta lertyasera su explicabonemo enim ipsam lertase volupta lertas fugised quia consequ lertyuntures.</p>
                  <a class="readmore">read more</a>
                </div>
            <!-- end box2 -->
            <!-- start box3 -->
            	<div class="box3">
                  <h2>Most Popular</h2>
                  <ul>
                  	<li>HAIR COLORING</li>
                    <li>HENNA BODY ART</li>
                    <li>MANICURES</li>
                    <li>PEDICURES</li>
                    <li>WAXING</li>
                    <li>SKINCARE</li>
                    <li>HAIR TREATMENTS</li>
                    <li>NAIL CARE</li>
                  </ul>
                </div>
            <!-- end box3 -->
          </div>
          
          <!-- start copyright -->
          <div class="copyright">
          	CHARM &copy; 2014  |  <a href="#">PRIVACY POLICY</a>
          </div>
          <!-- end copyright -->
        
          <div class="clear"></div>
        </div>
        
	    </div>
    </div>
    </div>
</div>        
</body>
</html>
