body,#sitecolor{background:#767f84 url(../images/main-shining.png) scroll 0 0 no-repeat; }
body,html{
	margin:0;
	padding:0;
	color:#333333;
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:13px;}
p,ul,li, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
a{
	border:0;
	text-decoration:none;
	color:#1BC2EF;
	}
li{ list-style:none;}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
.wrapper{ width:940px; margin:0 auto;}

/*Header CSS */

.layout_header{ margin-bottom:10px;}

.logo_image{ float:left;}

.compnynamencaption{ 
	font-family: 'Arial';
	font-size: 11px;
	color: #c9cfd1;
	float:right;
	margin-top:50px;
}

/* Menu CSS */
.menu_wrapper{
width: 940px;
height: 70px;
background: linear-gradient(rgb(255, 237, 69), rgb(253, 225, 56));
}

.menu_wrapper li{ float:left;  cursor:pointer;width:16.56%; height:70px; display:inline-block;text-align:center; border-right:1px solid #7C470C;}

.menu_wrapper .item-last{ border:none;}

.menu_wrapper li a{ color:#615619; width:100%; height:70px; display:inline-block; line-height:70px; text-align:center;}

.menu_wrapper li:hover, .menu_wrapper .active{background: linear-gradient( to bottom, rgba(194,170,41,1), rgba(224,197,48,1) );}

.menu_wrapper li:hover a, .menu_wrapper .active a{ color:#FFFFFF;}

.menu-delimiter{
width: 1px !important;
height: 70px;
vertical-align: middle;
background: url(../images/separator.png) center center no-repeat;
}

/* CONTENT CSS */

.content_wrapper{ background:#f4f4f4; padding:25px 60px 25px 35px; font-family: 'Arial'; font-size: 14px; color: #5a5f61; line-height:20px;}

.content_wrapper h1{font-family: 'Lobster';font-size: 48px; font-weight:normal;color: #545859; padding:25px 0;}

.content_wrapper p{ margin-bottom:20px;}

/* Footer */
.layout_footer{ background:url(../images/footer-bg.png) no-repeat scroll 50% 0; height:50px; padding-top:20px;}

.footer_wrapper li{ float:left; margin:5px; cursor:pointer;}

.footer_wrapper li span{ display:inline-block; line-height:40px;}

#fb{height: 40px;
width: 40px;
background: url('../images/facebook.png') no-repeat top left;}

#twitt{height: 40px;
width: 40px;
background: url('../images/twitter.png') no-repeat top left;}

#gplus{height: 40px;
width: 40px;
background: url('../images/google.png') no-repeat top left;}

#rss{height: 40px;
width: 40px;
background: url('../images/dribbble.png') no-repeat top left;}


#fb:hover{background: url('../images/facebook_1.png') no-repeat top left;}

#twitt:hover{background: url('../images/twitter_1.png') no-repeat top left;}

#gplus:hover{background: url('../images/google_1.png') no-repeat top left;}

#rss:hover{background: url('../images/dribbble_1.png') no-repeat top left;}


.footer_copyright{ font-family: 'Arial';
font-size: 11px;
color: #c9cfd1; float:right; margin-top:15px;}

.footer_copyright a{	color: #c9cfd1; font-family: 'Arial'; font-size: 11px; }


@media screen and (min-width:320px) and (max-width:939px){
	
	.wrapper{ width:100%; margin:0 auto;}
	
	.logo_image{ width:100%; text-align:center;}
	
	.compnynamencaption{ width:100%; text-align:center; margin:5px;}
	
	.compnynamencaption p{ width:100%; text-align:center;}
	
	.banner_wrapper img{ width:100%; height:auto;}
	
	.menu_wrapper{ width:100%;}
	
	.menu_wrapper li{ float:left;  cursor:pointer;width:100%; height:auto; display:inline-block;text-align:center; background: linear-gradient(rgb(255, 237, 69), rgb(253, 225, 56));
}

	.menu_wrapper li a{ color:#615619; width:100%; height:auto; display:inline-block; line-height:36px; text-align:center;}
	
	.footer_wrapper{ width:100%; text-align:center; }
	
	.footer_wrapper li{ float:none; display:inline;}
	
	.footer_copyright{ width:100%; text-align:center;}
}


/*for menu*/
/*Strip the ul of padding and list styling*/
.menu_wrapper ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Create a horizontal list with spacing*/
.menu_wrapper li {
	display:inline-block;
	float: left;
}

/*Style for menu links*/
.menu_wrapper li a {
	display:block;
}



/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 939px){
	/*Make dropdown links appear inline*/
	.menu_wrapper ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.menu_wrapper li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.menu_wrapper ul li, .menu_wrapper li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}