<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>Untitled Document</title>
</head>
<body class="page page-template-default">
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="wrapper">
        
        <header>
          <div class="width-container">
             <!-- start header -->{$editableheader}<!-- end header -->
            
            <!-- start menu -->{$editablemenu}<!-- end menu-->
            
            <div class="clearfix"></div>
          </div>
        </header>
        
        <!-- start pagetitle -->{$editablepagetitle}<!-- end pagetitle -->
<div class="clearfix"></div>




    <div id="main" class="site-main">
        <!-- start maincontent -->{$editablemaincontent}<!-- end maincontent -->    
          
          <div class="widget-area-highlight">
            <div class="width-container">
              <div id="footer-widgets">
                <div class="footer-4-column">
                  
                  <!-- start meta -->
                  <div id="meta-2" class="widget homepage-widget widget_meta">
                    <h3 class="header-underline">Meta</h3>
                    <ul>
                      <li><a href="#">Log in</a></li>
                      <li><a href="#" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                      <li><a href="#" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                      <li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
                    </ul>
                  </div>
                  <!-- end meta -->
                  
                  <!-- start mailchimp -->{$editablemailchimp}<!-- end mailchimp --> 
                  
                  <!-- start address -->{$editableaddress}<!-- end address -->
                  
                  <!-- start hours -->{$editablehours}<!-- end hours -->
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
      </div>
      <div class="clearfix"></div>
        </div>
        
        <footer>
          <div class="width-container">
            <div id="copyright">
             
              <!-- start footerlogo -->{$editablefooterlogo}<!-- end footerlogo -->
              
              <!-- start footermenu -->{$editablefootermenu}<!-- end footermenu -->
              
              <div class="clearfix"></div>
            </div>
          </div>
        </footer>
        </div>
    </div>
    </div>
</div>
        
</body>
</html>
