.as-table-wrapper {
  overflow-x: scroll;
}
.as-table-left-header {
  margin-top: 1px;
}
.as-table-left-header td {
  text-align: center;
  height: 30px;
}
.as-table {
  cursor: pointer;
  margin: 0;
}
.as-table th {
  min-width: 150px;
  max-width: 200px;
}
.as-table td {
  color: #fff;
  background-color: #080;
  border: 1px solid #fff;
}
.as-table .inactive td {
  background-color: #888;
}
.as-table .booked {
  background-color: #ed1c24;
}
.as-table .booked a {
  color: #fff;
}
.as-table small {
  font-weight: 700;
  margin-right: 30px;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
