.intro {
  margin-bottom: 0 !important;
}
.intro .btn-lg {
  margin-top: 20px;
}
.intro .guide-body {
  padding-top: 50px;
  font-family: 'Comfortaa';
  text-align: center;
}
.intro .loyalty-introduction {
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
}
.intro .loyalty-introduction.color {
  color: #999;
  font-weight: 400;
}
.intro .loyalty-introduction-button {
  width: 300px;
  margin-top: 30px;
}
.intro .loyalty-general-info {
  width: 100%;
  padding: 30px 0 20px 5%;
  text-align: left;
}
.intro .loyalty-general-info-column {
  width: 33%;
  margin-top: 10px;
  float: left;
}
.intro .loyalty-general-info-row span {
  font-size: 18px;
  color: #999;
}
.intro .loyalty-general-info-row.margin {
  margin-top: 15px;
}
.intro .clear-both {
  clear: both;
}
.intro .kantis-introduction {
  background: #f6841e;
  color: #FFF;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  font-weight: 600;
}
.intro .kantis-introduction span {
  font-size: 40px;
}
.intro .kantis-introduction p {
  line-height: 30px;
  font-size: 17px;
}
.intro .loyalty-background01 {
  background-image: url(/assets/img/loyalityBody01.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 752px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #FFF;
}
.intro .kantis-circle {
  width: 42%;
  float: left;
}
.intro .kantis-circle.content {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: #eb8b2e;
  margin-top: 50%;
  margin-left: 10%;
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  padding-top: 90px;
  line-height: 30px;
}
.intro .kantis-info {
  margin-left: 5%;
  margin-top: 60px;
  text-align: left;
  width: 50%;
  float: left;
}
.intro .kantis-info-header {
  font-size: 30px;
  font-weight: normal;
}
.intro .kantis-info-header.margin {
  margin-top: 80px;
}
.intro .kantis-info-content {
  margin-top: 30px;
}
.intro .kantis-info-content.margin {
  margin-top: 15px;
}
.intro .kantis-info-content span {
  font-size: 16px;
  color: #FFF;
  font-weight: normal;
  padding-left: 25px;
}
.intro .loyalty-bullet {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.intro .loyalty-controlling {
  margin-top: 50px;
  border-bottom: 3px solid #CCC;
}
.intro .loyalty-controlling-header {
  color: #000;
  font-size: 36px;
  font-weight: normal;
}
.intro .loyalty-controlling-description {
  margin-top: 70px;
  margin-left: 5%;
  width: 90%;
}
.intro .loyalty-controlling-description-image {
  width: 50%;
  float: left;
}
.intro .loyalty-controlling-description-image img {
  width: 100%;
}
.intro .loyalty-controlling-description-text {
  margin-left: 50px;
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
  width: 45%;
  float: left;
}
.intro .loyalty-controlling-description-text.margin {
  margin-top: 20px;
}
.intro .color-orange {
  color: #f6841e;
}
.intro .color-black {
  color: #000;
}
.intro .loyalty-controlling-description-text-row {
  margin-top: 20px;
}
.intro .loyalty-controlling-description-text-row.margin-bottom {
  margin-bottom: 30px;
}
.intro .loyalty-controlling-description-text-row span {
  font-size: 20px;
  color: #000;
  font-weight: normal;
  padding-left: 25px;
}
.intro .kantis-text {
  margin-top: 40px;
  font-size: 56px;
}
.intro .kantis-text-image {
  width: 100%;
}
.intro .timeslot-introduction {
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
}
.intro .timeslot-introduction.color {
  font-weight: 300;
  color: #999;
}
.intro .timeslot-general-info {
  color: #999;
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.intro .timeslot-general-info p {
  margin-bottom: 2px;
  margin-top: 5px;
}
.intro .timeslot-demo {
  width: 100%;
}
.intro .timeslot-demo-image {
  width: 35%;
  float: left;
}
.intro .timeslot-demo-image img {
  width: 100%;
}
.intro .timeslot-demo-image.margin {
  margin-left: 5%;
}
.intro .timeslot-demo-image.image-big {
  width: 500px;
}
.intro .timeslot-demo-content {
  width: 60%;
  float: left;
}
.intro .timeslot-demo-content.margin {
  margin-left: 5%;
  margin-top: 5%;
}
.intro .timeslot-demo-content.margin-top {
  margin-top: 7%;
}
.intro .timeslot-demo-content-paragraph {
  font-size: 25px;
  font-weight: 700;
}
.intro .timeslot-demo-content-paragraph.padding {
  padding-left: 30px;
}
.intro .timeslot-demo-content-paragraph.margin {
  margin-top: 10%;
}
.intro .timeslot-demo-content-paragraph-color {
  color: #999;
  font-weight: 400;
  font-size: 17px;
}
.intro .timeslot-demo-content-paragraph-color.padding {
  padding-left: 15px;
}
.intro .timeslot-footer {
  margin-top: 50px;
}
.intro .marketing-background01 {
  margin-top: 10%;
  margin-bottom: 5%;
}
.intro .marketing-background01-image {
  width: 40%;
  float: left;
}
.intro .marketing-background01-image img {
  width: 100%;
}
.intro .marketing-background01-text {
  width: 45%;
  float: right;
}
.intro .marketing-background01-text-header {
  width: 100%;
  padding-top: 20%;
}
.intro .marketing-background01-text-header span {
  color: #000;
  font-size: 36px;
  font-weight: normal;
}
.intro .marketing-background01-text-content {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: #f6851f;
  margin-top: 10%;
  margin-left: 20%;
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20%;
  line-height: 120%;
}
.intro .marketing-background02 {
  background-image: url(/assets/img/marketingBack02.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #FFF;
  margin-bottom: 5%;
}
.intro .marketing-background02-circle {
  margin-right: 3%;
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: #f6851f;
  margin-top: 140px;
  margin-left: 170px;
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  padding-top: 100px;
  line-height: 30px;
}
.intro .marketing-background02-text {
  width: 57%;
  float: left;
  padding-top: 80px;
  padding-left: 20%;
}
.intro .marketing-background02-text span {
  color: #FFF;
  font-size: 36px;
  font-weight: normal;
}
.intro .marketing-background04 {
  background-image: url(/assets/img/marketingBack04.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #FFF;
}
.intro .marketing-background04-header {
  margin-left: 170px;
  margin-bottom: -5%;
  padding-top: 80px;
  text-align: left;
}
.intro .marketing-background04-header span {
  color: #FFF;
  font-size: 36px;
  font-weight: normal;
}
.intro .cashier-background01 {
  background-image: url(/assets/img/cashierBack01.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 675px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: bold;
  color: #FFF;
  margin-top: 0%;
}
.intro .cashier-background01-circle {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background: #FFF;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 170px;
  color: #999;
  font-size: 17px;
  font-weight: normal;
  float: left;
}
.intro .cashier-background01-circle-header {
  padding-top: 90px;
}
.intro .cashier-background01-circle-content {
  padding-top: 10px;
}
.intro .cashier-background02 {
  margin-top: 50px;
  border-bottom: 3px solid #CCC;
}
.intro .cashier-background02-header {
  color: #000;
  font-size: 36px;
  font-weight: normal;
}
.intro .cashier-background02-content {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.intro .cashier-background02-content-image {
  width: 58%;
  float: left;
}
.intro .cashier-background02-content-image img {
  width: 100%;
}
.intro .cashier-background02-content-circle {
  margin-left: 5%;
  margin-top: 0px;
  margin-left: 30px;
  text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 175px;
  background: #eb8b2e;
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
  float: left;
}
.intro .cashier-background02-content-circle-header {
  margin-top: 100px;
}
.intro .cashier-background02-content-circle-text {
  margin-top: 10px;
}
.intro .cashier-background03 {
  background-image: url(/assets/img/cashierBack03.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 547px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: bold;
  color: #FFF;
  margin-top: 0%;
}
.intro .cashier-background03-header {
  width: 80%;
  margin-left: 10%;
  padding-top: 30px;
}
.intro .cashier-background03-header span {
  color: #FFF;
  font-size: 36px;
  font-weight: normal;
}
.intro .cashier-background03-circle {
  width: 350px;
  height: 350px;
  border-radius: 175px;
  background: #FFF;
  margin-top: 30px;
  margin-left: 770px;
  color: #999;
  font-size: 16px;
  font-weight: normal;
}
.intro .cashier-background03-circle-header {
  padding-top: 60px;
}
.intro .cashier-background03-circle-content {
  padding-top: 10px;
}
.intro .list-head {
  width: 80%;
  margin-left: 10%;
}
.intro .weblist-item-icon {
  width: 25%;
  text-align: center;
  font-weight: 700;
  color: #999;
  float: left;
  margin-top: 30px;
  position: relative;
}
.intro .weblist-item-icon img {
  width: 60%;
}
.intro .weblist-item-icon-thumb {
  width: 220px;
  position: absolute;
  left: 150px;
  top: 100px;
  z-index: 1000;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.6);
  display: none;
}
.intro .weblist-item-icon-thumb img {
  width: 100%;
}
.grey-divider {
  border: none !important;
  margin-top: 0 !important;
}
