/* line 5, /Applications/XAMPP/xamppfiles/htdocs/klikkaaja/public/assets/less/lcapp.less */
#consumer-table tbody tr {
  cursor: pointer;
}
/* line 9, /Applications/XAMPP/xamppfiles/htdocs/klikkaaja/public/assets/less/lcapp.less */
#consumer-table .no-display {
  display: none;
}
/* line 13, /Applications/XAMPP/xamppfiles/htdocs/klikkaaja/public/assets/less/lcapp.less */
#consumer-table .selected {
  background-color: #f2f5a9;
}
/* line 19, /Applications/XAMPP/xamppfiles/htdocs/klikkaaja/public/assets/less/lcapp.less */
#consumer-info .panel-heading h3 {
  margin: 0;
}
/* line 22, /Applications/XAMPP/xamppfiles/htdocs/klikkaaja/public/assets/less/lcapp.less */
#consumer-info .line {
  padding-bottom: 15px;
}
