.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-group-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
}
.list-group-item.active {
  z-index: 2;
  color: #ffffff;
}
.sidebar-nav-v1 li {
  padding: 0;
}
.sidebar-nav-v1 li.active {
  background: #f5f5f5;
  border-color: #ddd;
}
.sidebar-nav-v1 li a {
  display: block;
  padding: 8px 30px 8px 10px;
  color: #000000;
}
.sidebar-nav-v1 li.active a {
  background-color: #e67e22;
  color: #FFF;
}
.consumer-buttons {
  margin-bottom: 5px;
  float: right;
}
.btn-u {
  border: 0;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 16px;
  position: relative;
  background: #72c02c;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  width: 90px;
}
.btn-u.btn-u-blue {
  background: #3498db;
}
.btn-u.btn-u-red {
  background: #e74c3c;
}
.clear-both {
  clear: both;
}
.panel {
  margin-bottom: 0;
}
.panel.blue {
  border-color: #3498db;
}
.panel.red {
  border-color: #e74c3c;
}
.panel.green {
  border-color: #2ecc71;
}
.panel.sea {
  border-color: #1abc9c;
}
.panel.orange {
  border-color: #e67e22;
}
.panel.yellow {
  border-color: #f1c40f;
}
.panel.grey {
  border-color: #95a5a6;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.panel-heading.blue {
  background: #3498db;
}
.panel-heading.red {
  background: #e74c3c;
}
.panel-heading.green {
  background: #2ecc71;
}
.panel-heading.sea {
  background: #1abc9c;
}
.panel-heading.orange {
  background: #e67e22;
}
.panel-heading.yellow {
  background: #f1c40f;
}
.panel-heading.grey {
  background: #95a5a6;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #FFFFFF;
}
