@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,cyrillic,latin-ext,greek,cyrillic-ext);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial, Verdana, sans-serif;
  font-weight: 300;
}
a:link,
a:hover {
  text-decoration: none;
}
.comfortaa {
  font-family: "Comfortaa";
}
.orange {
  color: #ec7923;
}
.white {
  color: white;
}
.to-upper {
  text-transform: uppercase;
}
.grey-divider {
  background-color: #424242;
  height: 12px;
}
.btn-orange {
  background-color: #ec7923;
  color: #fff;
}
.btn-orange:hover {
  color: #fff;
}
.btn-tutustu {
  margin: 20px 0;
}
.header {
  border-bottom: 5px solid #424242;
  text-align: center;
  background: transparent url(../img/background.jpg) no-repeat center center;
  background-size: cover;
}
.header nav {
  padding: 20px 0;
}
.header nav .nav-links a {
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}
.header nav .nav-links a:after {
  content: "|";
  padding-left: 15px;
}
.header nav .nav-links li {
  padding-right: 10px;
}
.header nav .nav-links li:last-child a:after {
  content: "";
}
.header nav .nav-links.active a,
.header nav .nav-links a:hover {
  color: white;
}
.header nav .nav-links:hover a:after {
  color: #333333;
}
.header .logo {
  width: 450px;
}
.header .welcome-text {
  padding-right: 20px;
}
.header .img-homepage {
  width: 80vh;
}
.header .imac-wrapper {
  display: block;
  text-align: center;
}
.header .imac-wrapper .imac {
  background: transparent url(../img/imac.png) no-repeat center center;
  position: relative;
  width: 565px;
  height: 450px;
  display: inline-block;
}
.header .imac-wrapper .imac .bx-wrapper {
  padding-top: 19px;
  padding-left: 20px;
}
.header .imac-wrapper .imac .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header .text-header {
  font-family: "Comfortaa";
  color: white;
  font-size: 10vh;
  font-weight: 700;
  margin: 30px 0;
}
.header.homepage {
  min-height: 100vh;
}
.nav-admin > li > a {
  color: #ec7923;
}
.nav-admin > li > a:hover {
  background: none;
}
.nav-admin .active > a {
  background-color: #ec7923;
  color: #fff;
}
.nav-admin .active > a:hover {
  background-color: #ed8333;
}
.as-table-wrapper {
  overflow-x: scroll;
}
.as-table-left-header {
  margin-top: 1px;
}
.as-table-left-header td {
  text-align: center;
  height: 30px;
}
.nav-as .dropdown-menu > li > a {
  font-weight: 300;
}
.nav-as .dropdown-menu > li > a:hover,
.nav-as .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #f09652;
}
.nav-as .open > a,
.nav-as .open > a:hover,
.nav-as .open > a:focus {
  background-color: #f09652;
  color: #fff;
}
.as-table {
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
.as-table th {
  min-width: 150px;
  max-width: 200px;
}
.as-table td {
  color: #333333;
  background-color: #f5b869;
  border: 1px solid #fff;
}
.as-table .inactive td {
  background-color: #888;
  color: #eeeeee;
}
.as-table .booked {
  background-color: #ed1c24;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}
.as-table .booked a {
  color: #fff;
}
.as-table small {
  font-weight: 700;
  margin-right: 30px;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.as-calendar {
  background: #eee;
  white-space: nowrap;
  overflow-x: scroll;
}
.as-col {
  width: 200px;
  display: inline-block;
  margin-bottom: 0px;
}
.as-col ul {
  padding: 0px;
  margin-left: -3px;
  margin-bottom: 0px;
}
.as-col li {
  height: 30px;
  line-height: 28px;
  list-style-type: none;
  margin: 0;
  color: #333333;
  background-color: #f5b869;
  border: 1px solid #fff;
  text-align: center;
}
.as-col li.as-col-header {
  background: #ccc;
  font-weight: 700;
}
.as-col li.active {
  cursor: pointer;
}
.as-col li.inactive {
  background-color: #888;
  color: #eeeeee;
  cursor: no-drop;
}
.as-col li.booked {
  background-color: #ed1c24;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-align: left;
  padding: 0 10px;
}
.as-col li.booked a {
  color: #fff;
}
.as-col li.booked span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 165px;
  display: inline-block;
}
.as-col li.freetime {
  background-color: #22b14c;
}
.as-col li.slot-booked-head {
  border-bottom: 0;
}
.as-col li.slot-booked-body {
  border-top: 0;
  border-bottom: 0;
}
.as-col-left-header {
  width: 100px;
  display: inline-block;
}
.as-col-left-header li {
  height: 30px;
  line-height: 28px;
  list-style-type: none;
  color: #333333;
  background-color: #ddd;
  border: 1px solid #fff;
  text-align: center;
}
.as-modal-form {
  display: none;
}
.as-submit-row {
  text-align: right;
  padding-top: 10px;
  border-top: 1px dotted #ddd;
}
.as-calendar-action {
  width: 300px;
  margin: 20px;
}
.as-calendar-book {
  width: 800px;
  margin: 20px;
}
.as-freetime-form {
  width: 500px;
  margin: 20px;
}
div.tooltip-inner {
  max-width: 350px;
}
.main {
  margin: 40px auto 50px auto;
}
.main .dashboard-services li {
  margin-bottom: 10px;
}
.main .dashboard-services div {
  font-family: "Comfortaa";
  border: 1px solid #f4c8b2;
}
.main .dashboard-services h4 {
  margin-top: 0;
  background-color: #ec7923;
  color: white;
  padding: 10px;
}
.main .dashboard-services p {
  text-align: center;
}
.main .dashboard-services img {
  width: 100px;
}
.main .services {
  text-align: center;
}
.main .services a {
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}
.footer {
  color: #aaaaaa;
  margin-bottom: 50px;
}
.footer h4 {
  font-weight: 600;
  text-transform: uppercase;
  color: #444444;
}
.footer .company-name {
  font-size: 20px;
  color: #333333;
}
.footer .company-name span {
  color: #ec7923;
}
.footer .list-social-networks {
  margin-top: 20px;
}
.footer .list-social-networks li {
  padding: 0 3px;
}
.footer .list-social-networks a {
  border: 1px solid #dddddd;
  padding: 5px 10px;
  border-radius: 50%;
  color: #333333;
  font-size: 16px;
}
