.comfortaa {
  font-family: "Comfortaa", Helvetica, Arial, Verdana;
}
.orange {
  color: #ec7923;
}
.main .search-left {
  height: 600px;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
}
.main .search-left .result-row {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.main .search-left .result-row:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.main .search-left .result-row.selected {
  background: #fff2de;
  cursor: pointer;
}
