/* ::::: http://fonts.googleapis.com/css?family=Rouge+Script ::::: */

@font-face {
	font-family: "Rouge Script";
	font-style: normal;
	font-weight: 400;
	src: local("Rouge Script"), local("RougeScript-Regular"), url('../fonts/agxdsqzjmy12qs0ixjs6v3hcuogz7vygh680lgh-uxm.woff') format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Open+Sans ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('../fonts/cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Oswald:400,300 ::::: */

@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 300;
	src: local("Oswald Light"), local("Oswald-Light"), url('../fonts/hqhm7bvc_nzztui2lzqtdt8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	src: local("Oswald Regular"), local("Oswald-Regular"), url('../fonts/-g5pdusrgvxvol5u-a_whw.woff') format("woff");
}
/* ::::: http://rayoflightthemes.com/htmltemplates/lotus_html_template/spa_black/css/bootstrap.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio:not([controls]) {
	display: none;
}
html {
	font-size: 100%;
}
a:focus {
	outline: thin dotted rgb(51, 51, 51);
	outline-offset: -2px;
}
a:hover, a:active {
	outline: 0px none;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0px none;
}
button, input, select, textarea {
	margin: 0px;
	font-size: 100%;
	vertical-align: middle;
}
button, input {
	line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding: 0px;
border: 0px none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}
body {
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: rgb(51, 51, 51);
	background-color: rgb(255, 255, 255);
}
.mainContainer
{
	width:100%;
	float:left;
}
a {
	color: rgb(0, 136, 204);
	text-decoration: none;
}
a:hover, a:focus {
	color: rgb(0, 85, 128);
	text-decoration: underline;
}
.row {
	margin-left: -20px;
}
.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}
.row:after {
	clear: both;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 940px;
}
.span12 {
	width: 940px;
}
.span9 {
	width: 700px;
}
.span6 {
	width: 460px;
}
.span4 {
	width: 300px;
}
.span3 {
	width: 220px;
}
.container {
	margin-right: auto;
	margin-left: auto;
}
.container:before, .container:after {
	display: table;
	line-height: 0;
	content: "";
}
.container:after {
	clear: both;
}
p {
	margin: 0px 0px 10px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1, h2, h3 {
	line-height: 40px;
}
h2 {
	font-size: 31.5px;
}
h3 {
	font-size: 24.5px;
}
h4 {
	font-size: 17.5px;
}
h6 {
	font-size: 11.9px;
}
ul, ol {
	padding: 0px;
	margin: 0px 0px 10px 25px;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0px;
}
li {
	line-height: 20px;
}
form {
	margin: 0px 0px 20px;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: rgb(85, 85, 85);
	vertical-align: middle;
	border-radius: 4px;
}
input, textarea, .uneditable-input {
	width: 206px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
	width: auto;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color: rgb(153, 153, 153);
}
input, textarea, .uneditable-input {
	margin-left: 0px;
}
input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
color: rgb(185, 74, 72);
border-color: rgb(238, 95, 91);
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
border-color: rgb(233, 50, 45);
box-shadow: 0px 0px 6px rgb(248, 185, 183);
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: rgb(249, 249, 249);
}
.collapse {
	position: relative;
	height: 0px;
	overflow: hidden;
	transition: height 0.35s ease 0s;
}
.collapse.in {
	height: auto;
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
padding: 0px;
border: 0px none;
}
.accordion {
	margin-bottom: 20px;
}
.accordion-group {
	margin-bottom: 2px;
	border-radius: 4px;
}
.accordion-heading {
	border-bottom: 0px none;
}
.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
}
.accordion-toggle {
	cursor: pointer;
}
.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid rgb(229, 229, 229);
}
/* ::::: http://rayoflightthemes.com/htmltemplates/lotus_html_template/spa_black/css/bootstrap-responsive.css ::::: */

/* ::::: http://rayoflightthemes.com/htmltemplates/lotus_html_template/spa_black/css/style.css ::::: */

header, nav, article, section, aside, footer {
	display: block;
}
img {
	max-width: 100%;
	width: auto;
}
img {
}
img, embed, object, video, iframe {
	max-width: 100%;
}
a:link, a:visited {
	outline: medium none;
	text-decoration: none;
}
ul, ol {
	line-height: 1;
	margin: 0px 0px 24px;
	padding: 0px;
	list-style: none outside none;
}
ul li, ol li {
	padding: 0px;
	list-style: none outside none;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', "BebasNeueRegular", san-serif;
	line-height: 1.2;
	font-weight: normal;
	color: rgb(120, 20, 20);
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
p {
	font-size: 14px;
	font-family: open sans, arial, san-serif;
	line-height: 1.7;
	margin: 0px 0px 21px;
	color: rgb(51, 51, 51);
}
@font-face {
	font-family: "BebasNeueRegular";
	src: url('../font/bebasneue-webfont.eot');
}
@font-face {
	font-family: "BebasNeueRegular";
	font-style: normal;
	font-weight: normal;
	src: url('../font/undefined') format("woff"), url('../font/bebasneue-webfont.ttf') format("truetype");
}
body {
	line-height: 1.6;
	color: rgb(51, 51, 51);
	font-size: 13px;
	font-family: "open sans", arial, san-serif;
	background-attachment: fixed;
}
.logo {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	float: left;
}
.menuwrappermobile {
	display: none;
	width: 100%;
	z-index: 100;
}
.accordion {
	font-family: "open sans";
	text-align: center;
	position: relative;
	z-index: 100;
}
.accordion .accordion-group {
	border: medium none;
}
.accordion .accordion-heading {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	padding: 0px;
	margin-bottom: 0px;
}
.accordion .accordion-heading a:link, .accordion .accordion-heading a:visited {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	font-size: 18px;
	outline: medium none;
	color: rgb(51, 51, 51);
	border: medium none;
}
.accordion .accordion-heading a:hover {
	color: rgb(255, 255, 255);
	background: none repeat scroll 0% 0% rgb(120, 20, 20);
}
.accordion .accordion-inner {
	font-size: 13px;
	outline: medium none;
	color: rgb(255, 255, 255);
}
.accordion .accordion-inner:hover {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.accordion .accordion-inner a:link, .accordion .accordion-inner a:visited {
	color: rgb(255, 255, 255);
}
.accordion .accordion-inner:hover a {
	color: rgb(51, 51, 51);
}
.menuwrapperdesktop {
	font-family: "open sans";
	width: 100%;
	line-height: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
	position: relative;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	display: block;
	color: rgb(123, 16, 77);
	height: 120px;
}
#menu {
	margin-top: 0px;
	list-style: none outside none;
	float: right;
	margin-right: -18px;
}
#menu li {
	height: 55px;
	padding: 65px 23px 0px;
	float: left;
	transition: all 0.3s ease 0s;
	position: relative;
	line-height: 0;
}
#menu .menu1:hover {
	background: none repeat scroll 0% 0% rgb(120, 20, 20);
}
#menu li .mainmenu {
	background: url('../images/menushape.png') no-repeat scroll center bottom transparent;
	height: 20px;
	width: 100%;
	color: rgb(120, 20, 20);
}
#menu li:hover .mainmenu {
	background: url('../images/menushapehover.png') no-repeat scroll center bottom transparent;
	color: rgb(255, 255, 255);
}
#menu li .mainmenulast {
	background: none repeat scroll 0% 0% transparent;
}
#menu li:hover .mainmenulast {
	background: none repeat scroll 0% 0% transparent;
}
#menu a {
	font-size: 16px;
	float: left;
	text-transform: uppercase;
}
#menu li:hover > ul {
	display: block;
}
#menu ul {
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
	display: none;
	position: absolute;
	top: 120px;
	left: 0px;
	z-index: 99999;
}
#menu ul li {
	width: 150px;
	height: auto;
	line-height: 1;
	white-space: nowrap;
	float: none;
	text-transform: none;
	padding: 0px;
	display: block;
}
#menu ul li:last-child {
	box-shadow: none;
}
#menu ul a {
	margin: 1px 0px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	color: rgb(120, 20, 20);
	font-size: 14px;
	padding: 14px 22px 14px 28px;
	height: auto;
	width: 170px;
	border-radius: 5px;
	line-height: 1;
	display: block;
	white-space: nowrap;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#menu ul a:hover {
	background: none repeat scroll 0% 0% rgb(120, 20, 20);
	color: rgb(255, 255, 255);
}
.sliderbg {
	width: 100%;
	background: url('../images/sliderbg.png') repeat-y scroll center center rgb(15, 15, 16);
	height: auto;
	z-index: 0;
}
.phone {
	max-width: 1140px;
	text-align: right;
	margin-right: auto;
	margin-left: auto;
	font-family: "open sans";
	font-size: 14px;
}
.phone p {
	color: rgb(255, 255, 255);
	font-style: italic;
	padding-top: 17px;
	margin-right: 40px;
}
.underslider {
	width: 100%;
	height: auto;
	background: none repeat scroll 0% 0% rgb(252, 224, 193);
	font-family: "rouge script";
	font-size: 36px;
	color: rgb(125, 21, 81);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 11px;
	margin: 0px;
	border-bottom: 1px dashed rgb(120, 20, 20);
	border-top: 1px dashed rgb(120, 20, 20);
}
.underslider p {
	width: 100%;
	max-width: 1160px;
	margin-left: auto;
	margin-right: auto;
	font-family: "rouge script";
	font-size: 36px;
	color: rgb(125, 29, 29);
}
.spacolumn {
	text-align: center;
}
.spaheadline {
	height: 60px;
	width: 246px;
	margin: 0px auto;
	text-align: center;
	background: url('../images/headlinebg.png') no-repeat scroll left top transparent;
}
.spaheadline h3 {
	font-size: 30px;
	margin-top: 0px;
	padding-top: 10px;
	color: rgb(252, 224, 193);
}
.spacolumn h6 {
	text-align: center;
	color: rgb(120, 20, 20);
	font-family: open sans;
	font-size: 14px;
	line-height: 1.6;
}
.circleimage1 {
	width: 281px;
	height: 281px;
	margin: 0px auto 38px;
	background: url('../images/circleimage1.jpg') no-repeat scroll center center transparent;
	border: 5px solid rgb(252, 225, 196);
	border-radius: 100%;
}
.circleimage2 {
	width: 281px;
	height: 281px;
	margin: 0px auto 38px;
	background: url('../images/circleimage2.jpg') no-repeat scroll center center transparent;
	border: 5px solid rgb(252, 225, 196);
	border-radius: 100%;
}
.decoration {
	width: 100%;
	height: 32px;
	margin: 0px auto 21px;
	background: url('../images/decoration.png') no-repeat scroll center center transparent;
}
.button1 a:link, .button1 a:visited {
	width: 158px;
	height: 35px;
	margin-bottom: 21px;
	text-transform: uppercase;
	font-family: open sans;
	background: url('../images/button2.png') no-repeat scroll left top transparent;
	display: inline-block;
	color: rgb(120, 20, 20);
	font-size: 14px;
	padding-top: 16px;
	text-align: center;
}
.button1 a:hover {
	background: url('../images/button2.png') no-repeat scroll left bottom transparent;
	color: rgb(249, 227, 202);
}
.middlecolumn {
	margin: 0px auto 21px;
	height: auto;
	width: 240px;
	padding-top: 5px;
	padding-bottom: 21px;
	border-radius: 4px;
	background: url('../images/middlecolumnbg.png') no-repeat scroll center center transparent;
}
.middlecolumn h4 {
	color: rgb(249, 198, 138);
	font-family: oswald;
	font-size: 30px;
	text-align: center;
}
.middlecolumn h6 {
	color: rgb(255, 255, 255);
	font-family: open sans;
	font-size: 14px;
	text-align: center;
	margin-bottom: 0px;
}
.bxwrap1 .pricebg {
	background: url('../images/pricebg.png') no-repeat scroll center center transparent;
	height: 74px;
	width: 74px;
	text-align: center;
	float: right;
	margin-top: -85px;
	z-index: 500;
	position: relative;
	margin-right: 10px;
}
.bxwrap1 .pricebg p {
	color: rgb(120, 20, 20);
	padding-top: 14px;
	margin-bottom: 0px;
	font-size: 30px;
	font-family: oswald;
}
.button2 a:link, .button2 a:visited {
	margin: 0px auto 21px;
	display: block;
	float: none;
	width: 158px;
	height: 35px;
	text-transform: uppercase;
	font-family: open sans;
	background: url('../images/button2.png') no-repeat scroll left top transparent;
	color: rgb(120, 20, 20);
	font-size: 14px;
	padding-top: 16px;
	text-align: center;
}
.button2 a:hover {
	background: url('../images/button2.png') no-repeat scroll left bottom transparent;
	color: rgb(249, 227, 202);
}
.sendgift a:link, .sendgift a:visited {
	display: block;
	margin: 0px auto 11px;
	float: none;
	width: 195px;
	height: 53px;
	background: url('../images/sendgift.png') no-repeat scroll left top transparent;
	color: rgb(120, 20, 20);
	font-family: open sans;
	font-size: 14px;
	text-align: center;
	padding-top: 174px;
}
.sendgift a:hover {
	background: url('../images/sendgift.png') no-repeat scroll left bottom transparent;
}
.columnheadline h3 {
	color: rgb(120, 20, 20);
	text-transform: uppercase;
	margin-bottom: 42px;
	margin-top: 42px;
	padding-right: 25px;
	background: url('../images/columnheadlinebg.png') repeat-x scroll right center transparent;
}
.columnheadline h3 span {
	padding-right: 70px;
	background: url('../images/columnheadlinebgsmall.png') no-repeat scroll right center rgb(255, 255, 255);
}
.accordion1 .accordion-heading {
	background: url('../images/accordion1hover.png') no-repeat scroll left center rgb(120, 20, 20);
	border-radius: 4px;
	height: 50px;
	margin-bottom: 4px;
}
.accordion1 .accordion-heading a {
	font-size: 18px;
	font-family: oswald;
	color: rgb(242, 221, 198);
	margin-left: 65px;
	padding-top: 10px;
}
.accordion1 .accordion-heading:hover a {
	color: rgb(250, 210, 161);
}
.accordion1 .accordion-inner1 {
	font-family: open sans;
	color: rgb(51, 51, 51);
	padding: 20px;
	border: medium none;
}
.recentnewsrow {
	border-bottom: 1px dashed rgb(120, 20, 20);
	margin-bottom: 21px;
}
.recentnewsrow h4 {
	line-height: 0;
	margin-bottom: 21px;
}
.ch-gridwrapper {
	float: left;
	width: 120px;
	display: inline-block;
}
.ch-grid {
	margin: 0px 0px 20px;
	padding: 0px;
	list-style: none outside none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after, .ch-item:before {
	content: "";
	display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0px;
	float: left;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
}
.ch-img-1 {
	background-image: url('../images/recentnews1.png');
}
.ch-img-2 {
	background-image: url('../images/recentnews2.png');
}
.ch-info {
	position: absolute;
	background: none repeat scroll 0% 0% rgb(120, 20, 20);
	width: inherit;
	height: inherit;
	border-radius: 100%;
	opacity: 0;
	transition: all 0.4s ease-in-out 0s;
	transform: scale(0);
}
.ch-info p {
	color: rgb(250, 210, 161);
	font-size: 18px;
	margin: 23px 0px 0px;
	line-height: 1;
	text-transform: uppercase;
	font-family: oswald;
	text-align: center;
}
.ch-info p span {
	color: rgb(250, 210, 161);
	font-size: 14px;
	margin: 0px;
	line-height: 1;
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}
.footer {
	margin-top: 21px;
	padding-bottom: 20px;
	width: 100%;
	height: auto;
	background: url('../images/footer.png') no-repeat scroll center top rgb(109, 11, 69);
}
.footer p {
	font-family: open sans;
	font-size: 12px;
	color: rgb(255, 255, 255);
}
.footerheadline h4 {
	font-family: 'Oswald';
	line-height: 1;
	margin-top: 42px;
	margin-bottom: 21px;
	color: rgb(249, 198, 138);
	font-size: 24px;
	background: url('../images/footerline.png') no-repeat scroll right center transparent;
}
.footerheadline1 h4 {
	color: rgb(249, 198, 138);
	font-size: 18px;
}
.footerheadline1 p {
	font-size: 14px;
}
.testimonial {
	margin-bottom: 21px;
	border-bottom: 1px dashed rgb(249, 198, 138);
}
.testimonialname {
	text-align: right;
	margin-right: 40px;
	font-style: italic;
	font-size: 13px;
	line-height: 1;
	margin-top: -10px;
}
.testimonialbg {
	padding: 10px;
	border-radius: 4px;
	position: relative;
	height: auto;
	background-color: rgba(255, 255, 255, 0.2);
}
.testimonialbg:before {
	content: " ";
	position: absolute;
	width: 0px;
	height: 0px;
	right: 20px;
	top: 100%;
	border-width: 16px 14px 8px 0px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2) transparent transparent rgba(255, 255, 255, 0.2);
	border-bottom-left-radius: 15px;
}
.tweet {
	margin-top: 21px;
	padding-bottom: 18px;
	border-bottom: 1px dashed rgb(249, 198, 138);
}
.tweetlast {
	border-bottom: medium none;
}
.tweet img {
	margin-top: 5px;
	float: left;
}
.tweet p {
	margin-left: 30px;
}
.tweet p.twittertime {
	font-size: 10px;
	color: rgb(203, 182, 160);
	float: left;
	text-align: left;
	line-height: 1;
	margin-top: -15px;
}
.blogtags {
	border-bottom: 1px dashed rgb(249, 198, 138);
	padding-bottom: 21px;
	margin-bottom: 21px;
}
.blogtags span {
	padding-bottom: 10px;
}
.blogtags span a {
	color: rgb(255, 255, 255);
	font-size: 12px;
	margin-right: 3px;
	margin-bottom: 5px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 5px 0px;
	text-align: center;
	width: 80px;
	display: inline-block;
}
.blogtags span a:link, .blogtags span a:visited {
}
.blogtags span a:hover {
	color: rgb(109, 11, 69);
	background: none repeat scroll 0% 0% rgb(250, 178, 124);
}
.subscribefieldwrapper {
	margin-bottom: 42px;
}
.subscribefieldwrapper input {
	color: rgb(255, 255, 255);
	margin-top: -10px;
	height: 26px;
	border: medium none;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: none;
	font-style: italic;
}
.subscribefieldwrapper input:focus {
	display: inline-block;
	border: medium none;
	box-shadow: none;
}
.subscribefield {
	float: left;
	width: 60%;
	margin-right: 5px;
}
.subscribefieldwrapper .buttonsubscribe {
	height: 33px;
	width: 99px;
	color: rgb(120, 20, 20);
	font-size: 17px;
	margin-bottom: 21px;
	float: left;
	background: url('../images/buttonsubscribe.png') no-repeat scroll center top transparent;
}
.subscribefieldwrapper .buttonsubscribe:hover {
	background: url('../images/buttonsubscribe.png') no-repeat scroll center bottom transparent;
}
.subscribefieldwrapper *::-moz-placeholder {
color: rgb(255, 255, 255);
}
.bottom {
	background: none repeat scroll 0% 0% rgb(0, 0, 0);
	height: auto;
}
.icons a div i {
	float: left;
	width: 31px;
	height: 31px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.icons a div i:link, .icons a div i:visited {
}
.icons a div i:hover {
}
.icons .icontwitter {
	background: url('../images/icontwitter.png') no-repeat scroll left top transparent;
	transition: all 0.3s ease 0s;
}
.icons .icontwitter:hover {
	background: url('../images/icontwitter.png') no-repeat scroll left bottom transparent;
}
.icons .iconfacebook {
	background: url('../images/iconfacebook.png') no-repeat scroll left top transparent;
	transition: all 0.3s ease 0s;
}
.icons .iconfacebook:hover {
	background: url('../images/iconfacebook.png') no-repeat scroll left bottom transparent;
}
.icons .icongoogle {
	background: url('../images/icongoogle.png') no-repeat scroll left top transparent;
	transition: all 0.3s ease 0s;
}
.icons .icongoogle:hover {
	background: url('../images/icongoogle.png') no-repeat scroll left bottom transparent;
}
.icons .iconrss {
	background: url('../images/iconrss.png') no-repeat scroll left top transparent;
	transition: all 0.3s ease 0s;
}
.icons .iconrss:hover {
	background: url('../images/iconrss.png') no-repeat scroll left bottom transparent;
}
.icons .iconskype {
	background: url('../images/iconskype.png') no-repeat scroll left top transparent;
	transition: all 0.3s ease 0s;
}
.icons .iconskype:hover {
	background: url('../images/iconskype.png') no-repeat scroll left bottom transparent;
}
.icons .iconyoutube {
	background: url('../images/iconyoutube.png') no-repeat scroll left top transparent;
	transition: all 0.3s ease 0s;
}
.icons .iconyoutube:hover {
	background: url('../images/iconyoutube.png') no-repeat scroll left bottom transparent;
}
.copyright p {
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.copyright a:link, .copyright a:visited {
	color: rgb(249, 198, 138);
}
.copyright a:hover {
	color: rgb(255, 255, 255);
}
.topofpage {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	height: 32px;
	width: 32px;
	background: url('../images/topofpage.png') no-repeat scroll left top transparent;
}
#main *::-moz-placeholder {
color: rgb(120, 20, 20);
}
.ch-grid4:after, .ch-item:before {
	content: "";
	display: table;
}
/* ::::: http://rayoflightthemes.com/htmltemplates/lotus_html_template/spa_black/css/media.css ::::: */

@media only screen and (min-width: 1200px) {
.phone p {
	margin-right: 0px;
}
.subscribefield {
	float: left;
	width: 65%;
	margin-right: 5px;
}
}
@media only screen and (max-width: 1000px) {
#menu li {
	padding: 65px 10px 0px;
}
.circleimage1 {
	width: 220px;
	height: 220px;
}
.circleimage2 {
	width: 220px;
	height: 220px;
}
.footerheadline h4 {
	background: none repeat scroll 0% 0% transparent;
}
}
@media only screen and (max-width: 830px) {
.menuwrapperdesktop {
	display: none;
}
.menuwrappermobile {
	display: block;
}
.recentnewsrow h4 {
	line-height: 1;
	margin-bottom: 11px;
}
.recentnewsrow {
	padding-bottom: 21px;
}
.footer {
	background: url('../images/footermobile.png') repeat scroll 0% 0% rgb(109, 11, 69);
}
}
@media only screen and (max-width: 400px) {
.accordion1 .accordion-heading a {
	margin-left: 35px;
}
.columnheadline h3 span {
	padding-right: 10px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
}
@media only screen and (max-width: 300px) {
}
/* ::::: http://rayoflightthemes.com/htmltemplates/lotus_html_template/spa_black/css/bxslider.css ::::: */

.bxwrap1 {
	width: 220px;
	margin: 0px auto;
}
.bxwrap1 ul li img {
	margin: 42px auto 21px;
	border-radius: 100%;
	float: none;
	display: block;
}
.bxwrap1 p {
	text-align: center;
	color: rgb(255, 255, 255);
}
.bxwrap1 .bx-wrapper {
	position: relative;
	padding: 0px;
}
.bxwrap1 .bx-wrapper .bx-pager, .bxwrap1 .bx-wrapper .bx-controls-auto {
	position: absolute;
	top: -10px;
	width: 100%;
}
.bxwrap1 .bx-wrapper .bx-pager {
	text-align: center;
	font-size: 0.85em;
	font-family: Arial;
	font-weight: bold;
	color: rgb(255, 255, 255);
}
.bxwrap1 .bx-wrapper .bx-pager .bx-pager-item, .bxwrap1 .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
}
.bxwrap1 .bx-wrapper .bx-pager.bx-default-pager a {
	background: url('../images/smalldot.png') no-repeat scroll left top transparent;
	text-indent: -9999px;
	display: block;
	width: 12px;
	height: 12px;
	margin: 21px 3px;
	outline: 0px none;
	transition: all 0.3s ease 0s;
}
.bxwrap1 .bx-wrapper .bx-pager.bx-default-pager a:hover, .bxwrap1 .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: url('../images/smalldot.png') no-repeat scroll left bottom transparent;
}
.bx-wrapper .bx-prev {
	display: none;
}
.bx-wrapper .bx-next {
	display: none;
}
/* ::::: http://rayoflightthemes.com/htmltemplates/lotus_html_template/spa_black/css/prettyphoto.css ::::: */

/* ::::: http://rayoflightthemes.com/htmltemplates/lotus_html_template/spa_black/css/sequencejs-theme.modern-slide-in.css ::::: */

.sequence-theme {
}
.sequence-theme {
	background: url('../images/sliderbg1.png') no-repeat scroll center top transparent;
}
#sequence {
	max-width: 1200px;
	margin-top: 25px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	width: 100%;
	float: none;
	background-position: 50% 100%;
	color: white;
	position: relative;
	height: 450px;
}
#sequence > .sequence-canvas {
	height: 100%;
}
#sequence > .sequence-canvas > li {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: -50%;
}
#sequence > .sequence-canvas > li img {
	height: 96%;
}
#sequence > .sequence-canvas li > * {
	position: absolute;
	transition-property: right, opacity;
}
.sequence-next, .sequence-prev {
	color: white;
	cursor: pointer;
	display: none;
	font-weight: bold;
	position: absolute;
	top: 50%;
	z-index: 1000;
	height: 51px;
	width: 51px;
	margin-top: -47.5px;
}
.sequence-prev {
	left: 3%;
}
.sequence-next {
	right: 3%;
}
.sequence-pagination {
	bottom: 5%;
	right: 46%;
	position: absolute;
	z-index: 10;
	transition-duration: 0.5s;
}
.sequence-pagination .paginationslider {
	background: url('../images/dots.png') no-repeat scroll left top transparent;
	display: block;
	margin-left: 7px;
	margin-right: 5px;
	float: left;
	cursor: pointer;
	width: 18px;
	height: 16px;
	transition: all 0.3s ease 0s;
}
.sequence-pagination .paginationslider:hover {
	background: url('../images/dots.png') no-repeat scroll left bottom transparent;
	transition: all 0.3s ease 0s;
}
.sequence-next, .sequence-prev {
	margin-top: -2%;
	position: absolute;
	opacity: 0.2;
	transition-duration: 1s;
}
.sequence-next:hover, .sequence-prev:hover {
	opacity: 1;
	transition-duration: 1s;
}
.sequence-theme h2 {
	color: rgb(249, 198, 138);
	font-size: 48px;
	text-transform: uppercase;
}
.sequence-theme h3 {
	font-family: oswald, "bebas neue";
	color: rgb(238, 225, 209);
	font-size: 24px;
	text-transform: uppercase;
}
.sequence-theme p {
	color: rgb(238, 225, 209);
	font-size: 14px;
}
.sequence-theme p span {
	color: rgb(249, 198, 138);
}
.title {
	right: 65%;
	width: 42%;
	opacity: 0;
	bottom: 20%;
	z-index: 50;
}
.animate-in .title {
	right: 53%;
	opacity: 1;
	transition-duration: 0.5s;
}
.animate-out .title {
	right: 35%;
	opacity: 0;
	transition-duration: 0.5s;
}
.subtitle {
	right: 35%;
	width: 35%;
	opacity: 0;
	top: 80%;
}
.animate-in .subtitle {
	right: 45%;
	opacity: 1;
	transition-duration: 0.5s;
}
.animate-out .subtitle {
	right: 65%;
	opacity: 0;
	transition-duration: 0.5s;
}
.subtitle1 {
	right: 35%;
	width: 40%;
	opacity: 0;
	top: 93%;
}
.animate-in .subtitle1 {
	right: 55%;
	opacity: 1;
	transition-duration: 0.5s;
}
.animate-out .subtitle1 {
	right: 65%;
	opacity: 0;
	transition-duration: 0.5s;
}
.buttonslider {
	right: 65%;
	width: 40%;
	opacity: 0;
	top: 123%;
}
.animate-in .buttonslider {
	right: 43%;
	opacity: 1;
	transition-duration: 0.5s;
}
.animate-out .buttonslider {
	right: 65%;
	opacity: 0;
	transition-duration: 0.5s;
}
.model {
	right: 30%;
	bottom: -40%;
	opacity: 0;
	position: relative;
	height: auto ! important;
	max-height: 365px ! important;
	width: auto;
	min-width: 225px;
	max-width: 414px;
}
.animate-in .model {
	right: 5%;
	opacity: 1;
	transition-duration: 1s;
}
.animate-out .model {
	right: 25%;
	opacity: 0;
	transition-duration: 0.5s;
}
@media only screen and (min-width: 1200px) {
.title {
	right: 75%;
	width: 42%;
	opacity: 0;
	bottom: 20%;
	z-index: 50;
}
.animate-in .title {
	right: 56%;
	opacity: 1;
	transition-duration: 0.5s;
}
.animate-out .title {
	right: 35%;
	opacity: 0;
	transition-duration: 0.5s;
}
.subtitle1 {
	right: 35%;
	width: 40%;
	opacity: 0;
	top: 93%;
}
.animate-in .subtitle1 {
	right: 58%;
	opacity: 1;
	transition-duration: 0.5s;
}
.animate-out .subtitle1 {
	right: 65%;
	opacity: 0;
	transition-duration: 0.5s;
}
.sequence-pagination {
	right: 47%;
}
}
@media only screen and (max-width: 838px) {
#sequence {
	height: 550px;
}
#sequence .model {
	width: auto;
}
.sequence-pagination {
	right: 45%;
}
}
@media only screen and (max-width: 768px) {
#sequence {
	height: 500px;
}
#sequence .title {
	font-size: 2.8em;
}
#sequence .subtitle {
	font-size: 1.6em;
}
#sequence .sequence-next, #sequence .sequence-prev {
	margin-top: -40px;
}
#sequence .model {
	width: auto;
}
}
@media only screen and (max-width: 700px) {
#sequence .model {
	right: 50%;
	min-width: 60%;
	width: 90%;
}
#sequence .animate-in .model {
	right: 15%;
}
#sequence .animate-out .model {
	right: 50%;
}
#sequence .title {
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
	left: 0%;
	padding: 4%;
	bottom: -45%;
	width: 100%;
	z-index: 10;
}
#sequence .animate-in .title {
	right: 0%;
}
#sequence .animate-out .title {
	right: -100%;
}
#sequence .subtitle {
	visibility: hidden;
}
#sequence .subtitle1 {
	visibility: hidden;
}
#sequence .buttonslider {
	visibility: hidden;
}
#sequence .sequence-pagination {
	bottom: 2%;
	left: 2%;
}
}
@media only screen and (max-width: 518px) {
#sequence {
	height: 450px;
}
}
@media only screen and (max-width: 468px) {
#sequence {
	height: 415px;
}
#sequence .sequence-pagination {
}
}
@media only screen and (max-width: 418px) {
#sequence {
	height: 375px;
}
}
@media only screen and (max-width: 368px) {
#sequence {
	height: 325px;
}
#sequence .title {
	font-size: 2.2em;
}
}
.sequence-preloader .preloading .circle:nth-child(2) {
	animation-delay: 0.15s;
}
.sequence-preloader .preloading .circle:nth-child(3) {
	animation-delay: 0.3s;
}
