<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>::maxBuz::</title>
</head>
<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="wrapper">
			<div class="layout_header">
				<!--start header-->
				<div class="header_wrapper">
					<div class="logo_image">
						<img src="images/logo.jpg" id="logo" data-type="logo" data-edit="true">
					</div>
					<div class="compnynamencaption">
							<h1 id="heading" data-type="heading">max<span>Buz</span></h1>
							<h2 id="caption" data-type="caption">The smart Business company</h2>
					</div>
				</div>
				<!--end header-->
				<div class="clear"></div>
			</div>
			<div class="layot_topmenu">
				<!-- start topmenu -->
				<div class="top_menu">
                                            <ul data-type="menu">
                                                    <li><a data-alias="index">Home</a></li>
                                                    <li><a data-alias="aboutus">About Us</a></li>
                                                    <li><a data-alias="services">Services</a></li>
                                                    <li class="active"><a data-alias="contactus">Contact Us </a></li>
						</ul>
						
					<div class="clear"></div>
				</div>
				<!-- end topmenu -->
			</div>
			<div class="main_content_area">
				<div class="layout_row1">
					<!-- start maincontent -->
					<div class="content_left left_pad">
					<div class="content_left_hdr">
						<h3>Contact <span>Us</span></h3>
					</div>
					
					<div class="clear"></div>
					<div class="contact_form">
						<h4>Keep in touch</h4>
						<div class="clear"></div>
						<form action="" method="post">
							<input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Name :">
							<input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Email :">
							<input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Telephone :">
							<input name="" type="text" class="text_area" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Message :">
							<input name="" type="submit" class="submit" value="SUBMIT">
						</form>
					</div>
				</div>
					<div class="content_right">
						<div class="contact_address">
							<div class="clear"></div>
							<span>Contact Address</span>
							<div class="clear"></div>
								Praesent vestibulum,<br/>
								molestie lacus,<br/>
								Aenean nonum, Phasellus porta<br/>
								Call : 00 00 00000
						</div>
						<div class="clear"></div>
				</div>
					<div class="clear"></div>
				<!-- end maincontent -->
			  </div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="footer_outer">
			<div class="footer">
				<!--start footer-->
				<div class="ftr_link">
				<ul  data-type="menu">
					<li><a data-alias="index" href="#">Home</a>/</li><li><a data-alias="aboutus" href="#">About us</a>/</li><li><a data-alias="services" href="#">Services</a>/</li><li><a data-alias="contactus" href="#">Contact us</a></li>
				</ul>
				</div>
				<div class="copy">
				<p>&copy;2013 maxBuz All Rights Reserved</p>
				</div>
				<!--end footer-->
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>