<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>Amen Photography</title>
</head>

<body>
	<div class="outerwrapper_container">
		<div id="sitecolor">
		<div class="outerwrapper">
			<div class="wrapper">
				<!--start header-->{$editableheader}<!--end header-->
				<div class="clear"></div>
				<div class="contentarea_wrapper">
					<div class="twoclumn_layout">
						<div class="left_column">
							<div class="left_column_content">
								<div class="photo">
								<!--start box1-->{$editablebox1}<!--end box1-->
								</div>
								<div class="details">
									<!-- start box1_content-->{$editablebox1_content}<!-- end box1_content-->
								</div>
							</div>
						</div>
						<div class="right_column">
							<div class="right_column_content">
								<!-- start maincontent-->{$editablemaincontent}<!-- end maincontent-->
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			<div class="clear"></div>
			</div>
			<!-- start footer -->{$editablefooter}<!-- end footer -->
		</div>
		<div class="clear"></div>
	</div>
	</div>
</body>
</html>
