<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Contact Me Page</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css">
</head>

<body id="sitecolor">

<!--start header-->{$editableheader}<!--end header-->

<!--start topmenu-->{$editabletopmenu}<!--end topmenu-->

<!--start maincontent-->{$editablemaincontent}<!--end maincontent-->

<!--start footer-->{$editablefooter}<!--end footer-->
</body>
</html>
