@font-face {
  font-family: 'Rouge Script';
  font-style: normal;
  font-weight: 400;
  src: local('Rouge Script'), local('RougeScript-Regular'), url(http://fonts.gstatic.com/s/rougescript/v4/AgXDSqZJmy12qS0ixjs6V3hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
