<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>::Whales Tours & Travels::</title>
</head>
<body>
<div class="main_outer">
	<div id="sitecolor">
		<div class="wrapper">
			<div class="layout_header">
			<!-- start header -->
			<div class="header_wrapper">
					<div class="logo_sec">
					<div class="logo_name">
						<h1 id="heading" data-type="heading">W<span>hales</span> </h1>
						<h2 id="caption" data-type="caption">Tours &amp; Travels</h2>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end header -->
			<div class="clear"></div>
			</div>
			<div class="layot_topmenu">
			<!-- start topmenu -->
				<div class="top_menu">
					<ul  data-type="menu">
						<li class="active"><a data-alias="index">Home</a></li>
						<li><a data-alias="aboutus">About Us</a></li>
						<li><a data-alias="gallery">Gallery</a></li>
						<li><a data-alias="contactus">Contact Us </a></li>
					</ul>
					<div class="clear"></div>
				</div>
				 <!-- end topmenu -->
			<div class="clear"></div>
			</div>
			<div class="layout_bannerarea">
			<div class="banner_area_wrapper">
				<div class="banner">
					<!-- start banner -->
					<div data-type="slider">
						<img src="images/banner.jpg" data-edit="true" title="Click here to update your gallery" />
					</div>
					<!-- end banner -->
				</div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="layout_row1">
			<!-- start row1-->
			<div class="homecontentrow1">
				<div class="threecolumnbox">
						<h3>Welcome to <span>Whales Tours</span> </h3>
						<div class="homecontentrow1_image">
						<img src="images/img1.jpg" data-edit="true">
						</div>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet
						</p>
						<div class="clear"></div>
						<div class="more_blk"><a class="morelink right">more</a></div>
						<div class="clear"></div>
					</div>
					
					<div class="threecolumnbox2">
						<h3>Top <span>Destinations</span></h3>
						<div class="exp">
							<ul>
								<li>
									<a href="#">Maldives</a><br/>Maecenas ut ipsum id nibh cursus sagittis sit...
								</li>
								<li>
									<a href="#">Switzerland</a><br/>Mauris iaculis semper magna in eleifend. Phasellus a...
								</li>
								<li>
									<a href="#">Malaysia</a><br/>Quisque ipsum ipsum, tincidunt eu euismod non, blandit...
								</li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="more_blk"><a class="morelink right">more</a></div>
						<div class="clear"></div>
					</div>
					
					<div class="threecolumnbox3">
						<h3>Latest <span>Offer</span> News </h3>
						<div class="new_date">
							<ul>
								<li>
									<span class="date"><span>10</span>June</span>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
									Phasellus porta. 
									</p>
								</li>
								<li>
									<span class="date"><span>12</span>June</span>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
									Phasellus porta. 
									</p>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="more_blk"><a class="morelink right">more</a></div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
			</div>
			<!-- end row1-->
			<div class="clear"></div>
			</div>
			<div class="layout_homecontentrow2">
			<!-- start row2-->
			<div class="homecontentrow2">
				<div class="recent_work_blk">
					<div class="recent_work_blk_hdr">
						Hot<span> Packges</span>
					</div>
					<div class="clear"></div>
					<div class="recent_works">
						<div class="r_work">
							<img src="images/work1.jpg" data-edit="true">
							<div class="clear"></div>
								<h5>Honeymoon Package</h5>
								<div class="clear"></div>
								6-23 Nights ; 3-5 stars
								<span>$6500</span>
						</div>
						<div class="r_work">
							<img src="images/work2.jpg" data-edit="true">
							<div class="clear"></div>
								<h5>Vacation Package</h5>
								<div class="clear"></div>
								6-23 Nights ; 3-5 stars
								<span>$6500</span>
						</div>
						<div class="r_work">
							<img src="images/work3.jpg" data-edit="true">
							<div class="clear"></div>
								<h5>Top Destination Package</h5>
								<div class="clear"></div>
								6-23 Nights ; 3-5 stars
								<span>$6500</span>
						</div>
					</div>
				</div>
				<div class="phylosophy_blk">
					<div class="phylosophy_hdr">Client <span>Speaks</span></div>
					<p>
						Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
							Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
							consectetuer adipis cing elit. Mauris fermentum dictum magna. 
							Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.
					</p>
					<div class="clear"></div>
						<div class="more_blk"><a class="morelink right">more</a></div>
				</div>
			</div>
			<!-- end row2-->
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	<div class="footer_outer">
			<div class="footer">
				
				<!-- start footer -->
				<div id="site_banner" data-type="site_banner"></div>
				<div class="footer_content">
				 <p>&copy;2013 Whales Tours &amp; Travels All Rights Reserved</p>
				 <div class="socialshare"  data-type="socialshare">
					<a href="#"><img src="images/ricon_facebook.png" data-edit="true"></a>
					<a href="#"><img src="images/ricon_linkedin.png" data-edit="true"></a>
					<a href="#"><img src="images/ricon_twitter.png" data-edit="true"></a>
				</div>
				</div>
				<!-- end footer -->
			</div>
		</div>
</div>		
</div>	
</body>
</html>
