/* color:#6a9400; */
body,html{
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(../images/bg_top_green.jpg) repeat-x top;
	border:0px;
	color:#f8f8f8;
	line-height:20px
	}
p, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
* {
	border:none
}
a{
	border:0;
	color:#1BC2EF;
	}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
.main {
	margin:0 auto;
	width:1050px;
}
.outerwrapper_container{
	border-top:2px solid #1C1C1C;}
.main_outer{
	background:url(../images/headbg_green.jpg) no-repeat center top;
}
.outerwrapper{
	width:100%;
	overflow:hidden;
	}
.wrapper{
	width:1050px; border-top:0;padding-bottom:5px; margin: 0 auto;}
.header_wrapper{
	height:130px;
	width:1050px; margin-top:0px;}
.logo_sec{
	float:left;
	width:400px;
	height:95px;
	padding-top:25px;
}
.logo{
	float:left;
	margin-top:15px;
}
.logo_name{
	float:left;
	width:400px;
	height:95px;
}
.logo_name h1{
	font-family: 'Open Sans', sans-serif; font-size:40px; color:#FFF; font-weight:normal; padding: 10px 0 0 0; }
.logo_name h1 span{
	font-family: 'Open Sans', sans-serif; font-size:40px; color:#6a9400;}
.logo_name h2{
	font-family: 'Open Sans Condensed', sans-serif; font-size:20px; color:#FFF; font-weight:normal; letter-spacing:.17em; margin-top:15px;}
.main_navigation{
	width:600px;
	height:40px;
	margin-top:80px;
	float:left;
}
.main_navigation ul{
	width:600px;
	height:40px;
	float:left;
}
.main_navigation li{
	float:left;
	height:40px;
	margin-right:5px;
	padding:0; list-style:none;
	float:left;
}
.main_navigation li a{
	font:14px  Arial,Helvetica,sans-serif;
	text-decoration:none;
	color:#FFF;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	padding:5px 20px;
	height:35px;
	line-height:35px;
	display:inline-block;
	text-transform:none; text-align:center;
	background:none;
	float:left;
}
.main_navigation a:hover, .active{
	background:#6a9400;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
}
/***************Main Navigation Submenu***************/

.socialshare{ 
	margin:0;
	padding:0px;
	float:right;}	
.socialshare a{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.socialshare a:hover{ 
	text-decoration:none;
	outline:none;
	cursor:pointer;
	opacity:0.5;
}
.banner_area_wrapper{
	width:1010px;
	padding:0px 20px;
	margin-top:15px;
	height:440px;
}
.banner{
	height:400px;
	width:1010px;
	margin-top:10px;
	background:none;
	float:left;}
.banner img{
	height:400px;
	float:left;
	width:1010px;}
.banner_bottom{
	width:1010px;
	height:30px;
	float:left;
	background:url(../images/banner-shade.jpg) no-repeat;
}
.homecontentrow1{
	padding:10px 20px;
	margin-top:15px;
	float:left;
	width:1010px;}
.threecolumnbox{
	width:641px;
	padding:0px 26px 0px 0px;
	border-right:1px dashed #cccccc;
	height:320px;
	float:left;}
.rightmarg1{
	margin-right:35px;}
.threecolumnbox h3{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#514E4E;
	margin-bottom:20px;
	}
.threecolumnbox h3 span{
	color:#6a9400;}
.threecolumnbox2{
	width:300px;
	padding:0px 0px 0px 30px;
	height:250px;
	float:left;}
	
.threecolumnbox2 h3{
	 font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#514E4E;
	margin-bottom:20px;
	}
.threecolumnbox2 h3 span{
	color:#6a9400;}
.homecontentrow1_image{
	width:220px;
	float:left;
	margin-right:8px;
	margin-bottom:20px;}
.homecontentrow1_image img{
	width:220px;
	height:211px;
	float:left;
	border:5px solid #e2e2e2;}
.welcome_note{
	width:396px;
	font:13px Verdana, Arial, Helvetica, sans-serif;
	color:#737372;
	float:left;
	margin-left:15px;
	line-height:20px;
}
.homecontentrow1 p{
	color: #5c5c5c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;}
.homeblkrow1{
	padding:35px 6px 25px 6px;
	width:1038px;
	}
	
	
.blkbox{
	width:320px;
	float:left;
	border:1px solid #efefef;
	padding:7px;
	}
.blkbox ul{
	width:320px;
	float:left;
	margin:0px;
}
.blkbox li{
	width:320px;
	list-style:none;
	display:block;
	margin:0px 0px 5px 0px;
	font-size:14px; color:#afafaf; font-weight:normal;
	background-image:url(../images/adv-li.jpg);
	background-repeat:no-repeat;
	padding-left:18px;
}
.rightmarg1{
	margin-right:15px;}
.blkbox h3{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#514E4E;
	padding:15px;
	border:1px solid #efefef;
	background:#f5f5f5;
	margin-bottom:8px;
	}
.blkbox h3 span{
	color:#6a9400;}
.homeblkrow1_image{
	margin-bottom:20px;}
.homeblkrow1_image img{
	width:310px;
	height:150px;
	border:5px solid #F3F1EF;}
.homeblkrow1 p{
	color: #969595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;}	
	
	
	
	
	
.exp{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.exp li{
	width:282px;
	list-style:none;
	background: url("../images/menu_marker.png") no-repeat scroll 0 8px transparent;
	color:#5c5c5c;
    padding-bottom: 18px;
    padding-left: 18px;
}
.pad li p{
	width:282px;
	float:left;
	margin-top:7px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.more_blk{
	width:300px;
	float:left;
	margin-top:10px;
}
.morelink{
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#ffffff;
	padding:3px 35px 3px 20px;
	line-height:21px;
	cursor:pointer;
	background:url(../images/right_arrow.png) #6a9400 85% 50% no-repeat;}
.new_date{
	width:300px;
	float:left;
}
.new_date ul{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
.new_date li{
	width:300px;
	margin:0px 0px 17px 0px;
	padding:5px 0px 14px 0px;
	border-bottom:1px dashed #cccccc;
	list-style:none;
}
.date {
	float:left;
	width:46px;
	margin-right:20px;
	text-align:center;
	font-size:30px;
	color:#9ccc24;
	line-height:1.2em;
	padding-bottom:20px
}
.date span {
	display:block;
	font-size:53px;
	line-height:1.2em;
	margin-top:-8px;
	margin-bottom:-22px;
	letter-spacing:-2px
}
.homecontentrow2{
	margin:15px 0px 0px 0px;
	padding:15px 0px;
	width:1050px;
	float:left;
	}
.phylosophy_blk{
	width:300px;
	float:left;
	margin-top:15px;
	padding-left:30px;
	padding-bottom:20px;
	background:url(../images/sep1.jpg) repeat-y left top;
}
.phylosophy_blk p{
	width:300px !important;
	float:left;
	color: #b5b5b5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	line-height:21px;
}
.phylosophy_hdr{
	color: #6a9400;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	width:300px;}
.phylosophy_hdr span{
	color: #FFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.homecontentrow2_content{
}
.recent_work_blk{
	width:700px;
	padding-right:20px;
	margin-top:15px;
	float:left;
}
.recent_work_blk_hdr{
	color: #6a9400;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	float:left;
	width:700px;}
.recent_work_blk_hdr span{
	color: #FFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
}
.recent_works{
	width:699px;
	margin-top:10px;
	float:left;
}
.r_work{
	width:200px;
	float:left;
	margin-right:27px;
}
.r_work img{
	width:190px;
	border:5px solid #545353;
	height:140px;
	float:left;
}
.r_work p{
	width:200px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 16px;
	color: #FFF;
	float:left;
	text-align:center;
	margin:5px 0 0 0;
	padding:0px;
}
.footer_outer{
	width:100%;
	height:80px;
	margin:0px;
	background:url(../images/ftr_bg-green.jpg) repeat-x;
}
.footer{
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:25px 0 15px 0; width:1050px;}
footer_content{
	width:1050px;
	float:left;
}
.footer_content p{
	color: #ccdef0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 15px;
	width:500px;
	float:left;
	}
.footer_logo{
	height:35px;
	float:right;
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#4a4a4a; font-weight:normal;}
.footer_logo span{
	font-family: 'Open Sans', sans-serif; font-size:25px; color:#a7a7a7;}
/*------------------------------------------innercontentarea--------------------------------------------*/
.banner_area_inner_wrapper{
	width:1010px;
	padding:0px 20px;
	margin-top:15px;
	height:340px;
}
.banner_inner{
	height:300px;
	width:1010px;
	margin-top:10px;
	background:none;
	float:left;}
.banner_inner img{
	height:300px;
	float:left;
	width:1010px;}
.innercontentrea{
	padding:25px;
}
.innercontentrea_inner{
	padding:25px;
	background-color:#FFFFFF;
	margin-top:5px;
	}

.innercontentrea_leftcol{
	width:699px;
	float:left;
	padding: 0 25px 0 0;
	}
.innercontentrea_banner{
	width:699px;
	height:220px;
	float:left;
	margin:0px 0px 10px 0px;
}
.innercontentrea_rightcol{
	width:246px;
	padding-left:25px;
	float:right;
	border-left:1px solid #E9E8E6;}
.innercontentrea_leftcol h2{
	color:#6a9400;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	padding-bottom:20px;
}
.innercontentrea_leftcol p{
	font-family:Arial, Helvetica, sans-serif;
	color:#868686;
	font-size:14px;
	line-height:22px;
	padding-bottom:15px;
}
.featuredservices{
	width:248px;
	margin-bottom:25px;}
.featuredservices h3{
	color:#6a9400;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	background:url(../images/featured_icon_green.jpg) no-repeat;
	padding-left:40px;
	padding-bottom:15px;}
.Testimonials h3{
	color:#6a9400;
	font-family:"open Sans Condensed", arial;
	font-size:29px;
	font-weight:normal;
	background:url(../images/testimonial_icon_yellow.jpg) no-repeat;
	padding-left:40px;
	padding-bottom:15px;}
.featuredservices ul{
	margin:0;
	padding:0;}
.featuredservices li{
	list-style:none;
	border-bottom:1px dashed #E9E8E6;
	padding:10px 0;}
.featuredservices li a{
	color:#98c527;
	font-family:"open Sans Condensed", arial;
	font-size:16px;
	text-decoration:none;
	font-weight:normal;
	padding:7px 0 7px 35px;
	background:url(../images/adv-li_yellow.jpg)  5% 50% no-repeat;}
.featuredservices li a:hover{
	color:#44637a;
}	
.Testimonials ul{
	margin:0;
	padding:0;}
.Testimonials li{
	list-style:none;
	border-bottom:1px dashed #E9E8E6;
	padding:10px 0 0 0;}
.Testimonials p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#969595;
	line-height:19px;
	padding-bottom:10px;}
.author{
	color:#9cbf45 !important;
	text-align:right;}
.contact_address{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:22px;
	padding-left:40px;
}
.contact_address span{
	color:#6a9400;
	font-family:"open Sans Condensed", arial;
	font-size:30px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
	margin-bottom:10px;
}
.contact_address p{
	width:260px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#969595;
	line-height:19px;
}
.contact_form{
	width:320px;
	float:left;
	margin-top:30px;
}
.contact_form h4{
	color:#9b9b9b;
	font-family:"open Sans Condensed", arial;
	font-size:26px;
	font-weight:normal;
	float:left;
	margin-bottom:10px;
	width:320px;
}
.text_feild {
    background:#FFF;
    border: 1px solid #dadada;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.text_area {
    background:#FFF;
    border: 1px solid #dadada;
    color: #bababa;
    font: 13px Arial,Helvetica,sans-serif;
    height: 100px;
    margin: 0;
    padding: 5px;
    width: 300px;
	margin:10px 0px;
}
.submit{
	width:100px;
	height:34px;
	float:left;
	margin:10px 0px;
	cursor:pointer;
    color: #FFF;
    font: 16px Arial,Helvetica,sans-serif;
	border:0;
	outline:none;
	background:#8dbf0e;
}
.submit:hover{
    font: 16px Arial,Helvetica,sans-serif;
	background:#011823;
}
.content_left{
	width:650px;
	float:left;
	padding-right:47px;
	border-right:1px solid #E9E8E6;
}
.content_left_hdr{
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 31px;
    font-weight: normal;
	color:#514E4E;
	margin-bottom:20px;
	width:650px;
	}
.content_left p{
	color: #5c5c5c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 22px;
	margin:25px 0px 15px 0px;
}
.content_left_hdr span{
	color:#6a9400;}
.content_right{
	width:300px;
	float:left;
}
