<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>Total Design</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="outerwrapper">
			<div class="wrapper">
				<div class="layout_header">
					<!-- start header -->{$editableheader}<!-- end header -->
				</div>
				<div class="layot_topmenu">
					 <!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
				</div>
			<div class="layout_row1">
			<!-- start maincontent -->{$editablemaincontent}<!-- end maincontent -->
			<div class="clear"></div>
			</div>
			</div>
			<!-- start footer -->{$editablefooter}<!-- end footer -->
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	
</div>
</div>
</body>
</html>
