<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>LUXUS Fashion</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper">
		<div class="wrapper">
			<div class="layout_header">
			<!-- start header -->
			<div class="header_wrapper">
				<div class="logo_sec">
					<div class="logo">
						<img src="images/logo.png" id="logo" data-type="logo" data-edit="true">
					</div>
					<div class="logo_name">
						<h1 id="heading" data-type="heading"><span>L</span>UXUS</h1>
						<h2 id="caption" data-type="caption">FASHION</h2>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end header -->
			<div class="clear"></div>
			</div>
			<div class="layot_topmenu">
				<div class="top_menu">
					<!-- start topmenu -->
					<ul  data-type="menu">
						<li class="active"><a href="#" data-alias="index">Home</a></li>
						<li><a href="#"data-alias="aboutus">About Us</a></li>
						<li><a data-alias="gallery">Gallery</a></li>
						<li><a href="#" data-alias="contactus">Contact Me </a></li>
					</ul>
					<div class="clear"></div>
					<!-- end topmenu -->
				</div>
			<div class="clear"></div>
			</div>
			<div class="layout_bannerarea">
			<div class="banner_area_wrapper">
				<div class="banner">
					<!-- start banner -->
					<div data-type="slider">
						<img src="images/banner.jpg" data-edit="true" title="Click here to update your gallery">
					</div>
					<!-- end banner -->
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="layout_row1">
			<div class="homecontentrow1">
				<div class="threecolumnbox">
						<!--start box1-->
						<h3>Welcome dear <span>Visitor!</span> </h3>
						<div class="clear"></div>
						<div class="homecontentrow1_image">
						<img src="images/img1.jpg" data-edit="true">
						<div class="clear"></div>
						</div>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
							Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
							consectetuer adipis cing elit.
						</p>
						<div class="clear"></div>
						<div class="more_blk"><a class="morelink right">more</a></div>
						<div class="clear"></div>
						<!--end box1-->
					</div>
					<div class="threecolumnbox2">
						<!--start box2-->
						<h3>Our <span>Services</span> </h3>
						<div class="clear"></div>
						<div class="exp">
							<ul>
								<li>
									<a href="#">Praesent vestibulum</a><br/>Maecenas ut ipsum id nibh cursus sagittis sit...
								</li>
								<li>
									<a href="#">Praesent vestibulum</a><br/>Mauris iaculis semper magna in eleifend. Phasellus a...
								</li>
								<li>
									<a href="#">Praesent vestibulum</a><br/>Quisque ipsum ipsum, tincidunt eu euismod non, blandit...
								</li>
							</ul>
							<div class="clear"></div>
							<div class="more_blk"><a class="morelink right">more</a></div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<!--end box2-->
					</div>
					<div class="threecolumnbox3">
						<!--start box3-->
						<h3>New <span>Face</span> </h3>
						<div class="clear"></div>
						<div class="new_face">
							<img src="images/new_face.jpg" data-edit="true">
							<div class="clear"></div>
							<p>
							Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
								Phasellus porta. 
							</p>
							<div class="clear"></div>
							<div class="more_blk"><a class="morelink right">more</a></div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<!--end box3-->
					</div>
					<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="layout_homecontentrow2">
			<div class="homecontentrow2">
				<div class="recent_work_blk">
					<!--start box4-->
					<div class="recent_work_blk_hdr">
						<a href="#">Recent <span>Models</span></a>
					</div>
					<div class="clear"></div>
					<div class="recent_works">
						<div class="r_work">
							<img src="images/work1.jpg" data-edit="true">
							<div class="clear"></div>
							<p>Praesent vestibulum</p>
						</div>
						<div class="r_work">
							<img src="images/work2.jpg" data-edit="true">
							<div class="clear"></div>
							<p>Praesent</p>
						</div>
						<div class="r_work">
							<img src="images/work3.jpg" data-edit="true">
							<div class="clear"></div>
							<p>Praesent vestibulum</p>
						</div>
					</div>
					<div class="clear"></div>
					<!--end box4-->
				</div>
				<div class="designer_blk">
					<!--start box5-->
					<div class="designer_blk_hdr">New <span>Designer</span></div>
					<div class="clear"></div>
					<img src="images/new_designer.jpg" data-edit="true">
					<div class="clear"></div>
					<p>
						Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. Phasellus porta. 
					</p>
					<div class="clear"></div>
					<div class="more_blk"><a class="morelink right">more</a></div>
					<div class="clear"></div>
					<!--end box5-->
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="layot_footer">
	<div class="footer_outer">
			<div class="footer">
			<!-- start footer -->
			<div class="footer_content">
			<div id="site_banner" data-type="site_banner"></div>
				 <p>&copy;2013 Luxus Fashion All Rights Reserved</p>
				 <div class="socialshare"  data-type="socialshare">
					<a href="#"><img src="images/ricon_facebook.png" data-edit="true"></a>
					<a href="#"><img src="images/ricon_linkedin.png" data-edit="true"></a>
					<a href="#"><img src="images/ricon_twitter.png" data-edit="true"></a>
				</div>
			</div>
			<!-- end footer -->
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
	</div>
	</div>
</body>
</html>
