<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>LUXUS Fashion</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper">
		<div class="wrapper">
			<div class="layout_header">
			<!-- start header -->{$editableheader}<!-- end header -->
			<div class="clear"></div>
			</div>
			<div class="layot_topmenu">
				<div class="top_menu">
					<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
				</div>
			<div class="clear"></div>
			</div>
			<div class="layout_bannerarea">
			<div class="banner_area_wrapper">
				<div class="banner">
					<!-- start banner -->{$editablebanner}<!-- end banner -->
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="layout_row1">
			<div class="homecontentrow1">
				<div class="threecolumnbox">
						<!--start box1-->{$editablebox1}<!--end box1-->
					</div>
					<div class="threecolumnbox2">
						<!--start box2-->{$editablebox2}<!--end box2-->
					</div>
					<div class="threecolumnbox3">
						<!--start box3-->{$editablebox3}<!--end box3-->
					</div>
					<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="layout_homecontentrow2">
			<div class="homecontentrow2">
				<div class="recent_work_blk">
					<!--start box4-->{$editablebox4}<!--end box4-->
				</div>
				<div class="designer_blk">
					<!--start box5-->{$editablebox5}<!--end box5-->
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="layot_footer">
	<div class="footer_outer">
			<div class="footer">
			<!-- start footer -->{$editablefooter}<!-- end footer -->
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
	</div>
	</div>
</body>
</html>
