<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Page</title>
    <!-- Bootstrap -->
    <link href="public/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Comfortaa:400,700|Bitter:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="public/css/about.css">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1><span class="varaa">varaa</span><span class="com">.com</span> ajanvarausjärjestelmä</h1>
            <p>Meidän ilmainen ja helppokäyttöinen järjestelmä tulee mullistamaan liiketoimintasi</p>
        </div>
    </div>

    <div class="jan">
        <div class="jan-content">
            <h2>Keitä me olemme?</h2>
            <p>Me tiedämme, että menestys rakentuu useista pienistä päivittäisistä tehdyistä asioista!</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="jan-cell">
                        <h2>Missio</h2>
                        <p>Yleensä yritykset syyttävät
                        taloustilannetta tai muita tekijöitä
                        ongelmistaa. Isoin yksittäinen haaste
                        jota ei mainita ääneen on
                        digitalisoituminen.</p>

                        <p>Me haluamme auttaa kauneusalan
                        yrityksiä digitalisoitumisen murroksessa.
                        Me tarjoamme sinulle kaikki
                        välineet sähköiseen liiketoimintaan!</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="jan-cell">
                        <h2>Keitä me olemme</h2>
                        <p>Varaa.comin takana on joukko nuoria
                        yrittäjiä jotka ymmärtävät
                        pienyrittäjiä ja osaavat rakentaa
                        heidän tarpeisiin soveltuvia ratkaisuja.</p>

                        <p>Varaa.com on saanut tukea suomalaisilta
                        bisnesenkeleiltä jotka auttavat aktiivisesti
                        liiketoiminnan kehittämisessä.</p>
                    </div>
               </div>
                <div class="col-lg-4 col-md-4">
                    <div class="jan-cell">

                        <h2>Yhteystiedot</h2>
                        <p>Varaa.com Digital Oy<br/>
                            Kirkonkyläntie 3A<br/>
                            00700 Helsinki</p>

                            <p>045 146 3755<br/>
                            yritys@varaa.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
