/*
Theme: Super Saloon
Version: 1.0.0
Author: Anis Tuhin
License: Md. Anisur Rahman
Website: www.anistuhin.com
This contents can be used only if the speaker gives his written permission.
*/


/* GLOBAL STYLES */

body, header, hgroup, nav, a, ul, li, footer, section, img, section, table, td, tr, th {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}
body {
	color: #907A6A;
	font: 14px/23px "Courier New",Courier,mono;
	padding-top: 60px;
}
a {
	color: #66CC33;
	cursor: pointer;
}
a:hover {
	opacity: 1;
}
h1, h2, h3, b {
	margin: 0;
	padding: 0;
	font-weight: 300;
}
h3 {
	font-size: 31px;
	margin-bottom: 15px;
}
span{
	color:#66CC33;}
/* LOGO STYLES */

.left  img{
	margin-right: 200px;
	margin-right: 200px;
	display: block;
	margin-top: 20px;
	width: 34px;
	height: 27px;
	background-color: #66CC33;
	opacity: .7;
	cursor: pointer;
}
.left img:hover {
	opacity: 1;
}

/* LOGO STYLES END HERE */

/* MAIN NAVIGATION STYLES */

hgroup {
	font-size: 1.2em;
	background: rgba(255,255,255,.9);
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid #66CC33;
	padding: 0 10%;
}
hgroup ul {
	list-style: none;
	padding: 18px 0;
	margin: 0 auto;
	clear: right;
	width: 750px;
}
hgroup ul li {
	font-size: 23px;
	float: left;
	margin: 0 20px;
	text-transform: uppercase;
}
hgroup ul li a {
	color: #66CC33;
	text-decoration: none;
	opacity: .7;
}
hgroup ul li a:hover, .active a {
	opacity: 1;
}

/* MAIN NAVIGATION STYLES END HERE */

/* CUSTOM STYLES */

.nomargin{
	margin-right:0px !important;
}
.wrap {
	margin: 0 auto;
	width: 1050px;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.margin-top {
	margin-top: 20px;
}
.clear{
	clear:both;
}
.first {
	width: 496px;
	margin-right: 24px;
}
.first {
	width: 496px;
	margin-right: 0;
}
ul.bjqs-controls.v-centered li.bjqs-next, ul.bjqs-controls.v-centered li.bjqs-prev {
	display: none !important;
}
ol.bjqs-markers li a, ol.active-markers li a{
	text-indent: -99999px !important
}
#jqsiteeditor hgroup {
	top: 60px;
	left: 0;
	width: 1024px;
}

/* CUSTOM STYLES END HERE*/


/* GLOBAL STYLES END HERE */


/* HOME PAGE STYLES */

/* SLIDER STYLES */

.slider {
	background: #66CC33;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
.slider .bjqs-prev, .slider .bjqs-next {
	display: none !important;
}
.slider .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
.slider .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.slider .dots li.active {
	background: #fff;
	opacity: 1;
}
.slider img {
	width: 100%;
	margin: 0 auto;
}


/* SLIDER STYLES END HERE */


/* CONTENT STYLES */

.mycontent,.teammate{
	width:1050px;
	margin: 0 auto;
	padding:25px 6px;
	border-radius:20px;
	-webkit-border-radius:20px;
}
.mycontent{
	border-top: 2px solid #66CC33;
}
.mycontent_image{
	margin-bottom:20px;}
.mycontent_image img{
	width:290px;
	height:100px;
}
.mycontent p{
	color: #907A6A;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;}
.preview{
	width:300px;
	padding:0px 28px 30px 0px;
	float:left;}
.preview h3{
    font-size: 31px;
    font-weight: normal;
	color:#907A6A;
	margin-bottom:40px;
	}
.preview img{
	width:300px;
	height:210px;
	padding:5px 0px;
	}
.setit{
	width:300px;
	float:left;
	margin-top:10px;
}
.seemore{
	border-radius:3px;
	-webkit-border-radius:3px;
	color:#ffffff;
	padding:7px 25px 7px 10px;
	line-height:21px;
	border:1px dashed #edaa07;
	cursor:pointer;
	background:url(../images/right_arrow.png) #66CC33 80% 55% no-repeat;
	transition: ease 1s;}
.seemore:hover{
	cursor:pointer;
	background:url(../images/right_arrow.png) #907A6A 85% 55% no-repeat;
	transition: ease 1s;}
.recent_work{
	width:700px;
	padding-left:20px;
	float:left;
}
.recent_work img{
	max-width:700px;
	max-height:350px;
}
.recent_work_hdr{
	color: #907A6A;
    font-size: 31px;
    font-weight: normal;
    margin-bottom: 20px;
	float:left;
}
.recent_work_hdr span{
    font-size: 31px;
}
.recent_works{
	width:699px;
	margin-top:25px;
	float:left;
}
.recent{
	width:200px;
	float:left;
	margin-right:49px;
}
.recent img{
	width:190px !important;
	border:1px dashed #66CC33;
	background:none;
	padding:4px;
	height:140px !important;
	float:left;
}
.recent p{
	width:200px;
    font-size: 13px;
	color: #66CC33;
	float:left;
	text-align:center;
	margin:5px 0 0 0;
	padding:0px;
}
.teammate{
	border-bottom: 2px solid #66CC33;
}
.teammate h3{
	width: 100%;
	text-align: center;
}
.setitout{
	width:321px;
	float:left;
	margin-top: 20px;
}

.rightgap{
	margin-right:36px;}
.setitout h3{
    font-size:28px;
    font-weight: normal;
	text-align:center;
	padding:10px;
	margin-bottom:5px;
	}
.setitoutimg{
	margin-bottom:10px;}
.setitoutimg img{
	cursor: pointer;
	width:180px;
	height:180px;
	border-radius:90px;
	-webkit-border-radius:90px;
	border:5px solid #66CC33;
	margin-left:65px;
	transition: ease 2s;
}
.setitoutimg img:hover{
	opacity:0.8;
	border-radius:0px;
	transition: ease 2s;}
	
.teammate p{
	color: #907A6A;
    font-size: 14px;
	text-align:center;
    line-height: 22px;
    padding-bottom: 15px;}		

/* FOOTER STYLES */

.footer {
	background: #66CC33;
	color: #ffffff;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	min-height: 70px;

}
.footer p {
	font-size: 16px;		
	padding-top: 10px;
	float: left;
	clear: left;
}
.footer a {
	opacity: .7;
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	opacity: 1;
}
.footer ul {
	float: right;
	clear: right;
	list-style: none;
	padding: 20px 0;
}
.footer ul li {
	float: left;
}
.footer ul li a {
	content: '';
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 10px;
	text-indent: -99999px;
	display: block;
}
.footer ul li a.facebook {
	background: url('../images/facebook.png');
}
.footer ul li a.facebook:hover {
	background: url('../images/facebook1.png');
}
.footer ul li a.twitter {
	background: url('../images/twitter.png');
}
.footer ul li a.twitter:hover {
	background: url('../images/twitter1.png');
}
.footer ul li a.youtube {
	background: url('../images/youtube.png');
}
.footer ul li a.youtube:hover {
	background: url('../images/youtube1.png');
}
.footer ul li a.rss {
	background: url('../images/rss.png');
}
.footer ul li a.rss:hover {
	background: url('../images/rss1.png');
}

/* FOOTER STYLES END HERE */


/* CONTENT STYLES END HERE */

/* HOME PAGE STYLES END HERE*/


/* ABOUT STYLES */

.about {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	padding: 40px 0;
}
.about p {
	margin-bottom: 20px;
}
/* OPINION STYLES */

.opinions{
	width:1024px;
	margin: 40px auto 0;
	padding-top: 40px;
	border-top: 3px dashed #66CC33;
}
.opinions ul{
	height: 190px;
	margin:0;
	padding:0;
	list-style: none;
	border:2px dashed #503e32;
	margin-top: 30px;
}
.opinions li{
	width: 200px;
	float: left;
	list-style:none;
	border-right:2px dashed #503e32;
	padding:10px 20px;}
.opinions li:last-child {
	border-right: 0;
	}
.opinions p{
	font-size:13px;
	color: #66CC33;
	line-height:19px;
	padding-bottom:10px;}
.speaker{
	color:#916445 !important;
	text-align:right;}

/* OPINION STYLES END HERE */


/* ABOUT STYLES END HERE */

/* SERVICE STYLES */

.aboutcontent{
	width:1024px;
	margin:50px auto;
}
.service {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	padding: 40px 0 0;
}
.service ul {
	width: 1024px;
	clear: both;
	list-style: none;
}
.service ul li {
	width: 500px;
	float: left;
	margin-right: 24px;
}
.service ul li:nth-child(even) {
	margin-right: 0;
}
.service_list {
	margin-bottom: 20px;
	height: 500px;
	text-align: center;
	border: solid 2px #66CC33;
	border-radius: 5px;
	background: #f7f7f6;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
}
.service_list h3 {
	margin: 0;
	position: relative;
	font-size: 1.2em;
	color: #ffffff;
	padding: 10px;
	background: #66CC33;
}
.service_list img {
	width: 496px;
	height: 250px;
	opacity: 1;
	transition: ease 2s;
}
.service_list img:hover{
	opacity:0.6;
	transition: ease 2s;
	cursor: pointer;
}
.service_list p {
	position: relative;
	padding: 0 50px 20px;
}


.newface{
	width:1024px;
	margin: 0 auto;
	padding:25px 0;
	border-top: 2px dashed #66CC33;
}
.seeitout{
	width:333px;
	float:left;
	margin-top: 20px;
}

.rightgap2{
	margin-right:12px;}
.seeitout h3{
    font-size:28px;
    font-weight: normal;
	}
.seeitoutimg{
	margin-bottom:10px;}
.seeitoutimg img{
	width:180px;
	height:180px;
	border:5px solid #66CC33;
	transition: 1s ease-in all;}
.seeitoutimg img:hover{
	cursor: pointer;
	opacity:0.6;
	transition: 1s ease-in all;}
	
.newface p{
	color: #907A6A;}		

/* SERVICE STYLES END HERE*/



/* CONTACT STYLES */
.contact_details {
	width: 1024px;
	margin: 0 auto;
}
.contact_form {
	margin: 30px 0 30px 24px;
	width: 600px;
	float: left;
}
.text_feild, .text_area {
	position: relative;
    background: rgba(57,52,45,.5);
    border: 1px solid #b5b5b5;
    color: #ffffff;
    font-size: 13px;
    padding:  0 0 0 15px;
	margin: 10px 0;
	display: inline-block;
	float: none;
	clear: both;
	width: 500px;
}
.text_feild {
	height: 30px;
}
.text_area {
    height: 230px;
}
.submit{
	width: 100px;
	height: 34px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	margin: 10px 0px;
	cursor: pointer;
    color: #FFF;
    font: 16px;
	border:0;
	outline:none;
	background: rgba(57,52,45,1);
}
.submit:hover{
    font: 16px;
	background: rgba(57,52,45,.8);
}

/* CONTACTT STYLES END HERE */


/* HOME DETAILS */


.two {
	margin: 30px 0;
	width: 400px;
	float: left;
}
.address{
	padding:10px;
	font-size:13px;
	color:#828788;
	line-height:19px;
	border: 1px dashed #66CC33;
}
.address span{
	font-size:22px;
	font-weight:normal;
	padding:10px 0px;
	float:left;
}
.address p{
	width:258px;
	float:left;
	font-size:13px;
	color:#828788;
	line-height:19px;
}
.home_map {
	margin-top: 20px;
	position: relative;
	border: 4px solid #66CC33;
}
/* HOME DETAILS END HERE*/
