.panel-heading {
    cursor: pointer;
}

.as-service-category {
    display: block;
    cursor: pointer;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}
.as-service {
    display: none;

    label {
        font-weight: 400;
        cursor: pointer;
    }
}

.as-service-name {
    cursor: pointer;
}

.as-service-time {
    display: none;
    p {
        margin: 0px 0 15px;
        span {
            padding: 6px;
            display: inline-block;
        }
        label {
            text-align: left;
            margin-bottom: 5px;
        }
    }
    .btn-default:hover {
        background: #449d44;
        color: white;
    }
}

.as-employee {
    label {
        text-align: left;
        margin-bottom: 5px;
    }
}

.as-back {
    display: block;
    cursor: pointer;
}

.datepicker-dropdown:before,
.datepicker-dropdown:after {
    content: none;
}

.btn-as-time {
    margin: 0 5px 5px 0;
}

.as-calendar {
    text-align: center;

    li {
        border-right: 1px solid #eee;
        padding: 0 2px;
        a {
            padding: 5px 5px;
            display: block;
            text-align: center;
        }

        &:nth-child(2) {
            border-left: 1px solid #eee;
        }
        &:first-child,
        &:last-child {
            border-right: none;
            a {
                vertical-align: middle;
                display: table-cell;
            }
        }

        &.active {
            a {
                background-color: #30C454;
                color: #fff;
                border-radius: 5px;
            }
        }
    }
}

.as-loading {
    display: none;
}

#as-step-4 {
    position: relative;
}

.as-overlay-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 242, 102, 0.65);
    height: 100%;
    z-index: 2;
    color: #333;
    font-size: 2em;
    text-align: center;
    padding-top: 10%;
}

.ajs-body {
    max-height: 400px;
    overflow: scroll;
}
