/**
 * @package Joomla
 * @subpackage ol_anteez Theme
 */ 

/*	General style */
body				{color:#808080;
					background-color:#f2ede5;
					background-repeat: no-repeat;
					background-position:center top;
					background-size: 100%;
					font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}

/*headings*/
h1,h2,h3,h4,h5,h6	{color:#1a1a1a; font-weight:300;}
h1{font-size:30px}
h2{font-size:27px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}

hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}
/*links*/
a					{color:#9dc130;
					text-decoration:none;}
a:hover,
a:active,
a:focus				{color:#1a1a1a;}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure{margin-bottom:20px}
/*modules*/
.white {
	color: #333;
	background-color: #fff;
	margin: 0 auto 5px auto;
	border: 1px solid #f1f1f1;
	padding: 5px;
}
.white:hover {
	color: #333;
	background-color: #f9f9f9;
}
.grey {
	color: #333;
	background-color: #f5f5f5;
	margin: 0 auto 5px auto;
	padding: 5px;
	border: 1px solid #f1f1f1;
}
.grey:hover {
	color: #333;
	background-color: #ddd;
}
.red {
	color: #f1f1f1;
	margin: 0 auto 5px auto;
	background-color: #cc3333;
	padding: 5px;
	border: 1px solid #fafafa;
}
.blue {
	color: #f1f1f1;
	margin: 0 auto 5px auto;
	background-color: #0099ff;
	padding: 5px;
	border: 1px solid #fafafa;
}
.green {
	color: #f1f1f1;
	margin: 0 auto 5px auto;
	background-color: #99cc00;
	padding: 5px;
	border: 1px solid #fafafa;
}
.orange {
	color: #f1f1f1;
	margin: 0 auto 5px auto;
	background-color: #fc7317;
	padding: 5px;
	border: 1px solid #fafafa;
}

.white h3, .grey h3
{
margin: -5px 0px 3px 0px;  font-size: 1.5em; padding: 0px 8px; line-height:34px; 
}

.dark h3, .dark h3, .red h3, .blue h3, .green h3, .orange h3{ color: #f1f1f1; margin: -5px 0px 3px 0px;  font-size: 1.5em; line-height:34px; padding: 4px; border-bottom: 1px #999 solid ;

}

.dark {
	background-color: #444;
	margin: 0 auto 5px auto;
	color: #ddd;
	padding: 5px;
}
.dark ul, .mcolor ul, .white ul {
	padding-left: 10px;
}

.dark a, .colors a { color: #ddd; text-decoration: underline;}

/*lists*/
li {list-style:none;}

span.latestItemImage img 			{max-width:100%!important;}

/*	Grid */
.block				{padding:0 5px 10px 5px;}


/*joomla columns*/
.cols-2 .item,
.cols-3 .item,
.cols-4 .item		{float:left;
					margin:0 2%;}


.cols-2 .item		{width:48.0%;}
.cols-3 .item		{width:30.2%;}
.cols-4 .item		{width:21.5%;}


.column-1			{margin-left:0!important;}

.cols-2 .column-2,
.cols-3 .column-3,
.cols-4 .column-4	{margin-right:0!important;}


/*	Joomla meus */
/*default menu*/
.joomla-nav		{margin:0;}
.joomla-nav li	{list-style:none;
				margin:0;}



/*menu1 style*/
.menu1 li		{margin-bottom:10px;}
.menu1 li a		{display:block;
				padding:4px 15px;
				background:#f5f5f5;
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				border-radius:3px;
				color:#808080;
				text-decoration:none;}

.menu1 li a:hover,
.menu1 li a:active,
.menu1 li a:focus,
.menu1 li a.active	{
					color:#fff;
					text-decoration:none;}

/*	Joomla elements */
.cat-children		{margin-bottom:20px;}

/*messages*/
.tip-wrap		{background:#fff;
				padding:10px;
				border:solid 1px #ddd;}

/*article archives*/
.filter-search	select		{margin-right:10px;}

/*	Forms */
.inputbox,
input,
textarea		{border:0;
				background:url(../images/input-bg.png);
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				border-radius:3px;
				padding:7px;
				color:#808080;}

/*forms buttons*/
.button,
.btn,
button				{font-size:90%!important;
					text-transform:uppercase;
					padding:2px 10px;
					background-image:url(../images/button-bg.png);
					background-repeat:repeat-x;
					background-position:left bottom;
					background-color:#555;
					color:#fff;
					text-decoration:none;
					-moz-border-radius:3px;
					-webkit-border-radius:3px;
					border-radius:3px;
					cursor:pointer;
					border:0;}


.button:hover,
.btn:hover,
button:hover		{color:#fff;
					text-decoration:none;
					background-position:left top;}

/*contact form*/
#contact-form legend				{font-size:92%;
									font-style:italic;
									color:#999;}
#contact-form input					{width:300px;
									max-width:90%;
									margin-bottom:15px;}

#contact-form .control-label		{padding-bottom:5px;}



#contact-form textarea				{width:450px;
									max-width:90%;
									margin-bottom:15px;}
					
#contact-form .email-copy input		{width:20px;}
/*	Page layout */
.container 			{background:#fff;}

/*separator*/
.separator 			{visibility:visible;
					height:3px;
					width:auto;
					margin:0 21px;
					background:url(../images/line.png) repeat-x;}


/*slider container*/
#slider .container				{}

/*feature section*/
#feature .container 			{padding-top:10px;}

/*before content section*/
#top .container 		{padding-top:10px;}

/*content section*/
#content .container 			{padding-top:10px;}

/*after content section*/
#info .container .separator	{background:url(../images/line.png) repeat-x;
										margin-bottom:20px;} 

/*bottom section*/
#bottom	.container				{background:#333; color:#eee;
								border-top:solid 1px #ddd;
								border-bottom:solid 1px #ddd;
								padding-top:10px;}

#bottom .container a	{ color:#ede3d4;}
#bottom .container h3		{ color:#eee;}

/*page bottom container section*/
#page-container-bottom  		{padding-bottom:10px;}


/*category list section*/
.category-list			{margin-bottom:20px;}


/*module bottom margins in sidebars*/
.left .module-container,
.right .module-container	{margin-bottom:20px;}				
					

/*	Header */
#header							{
								padding:10px 0;}

#header.container						{ background: none !important;}
/*logo*/ 
.logo				{float:left;
					margin-left:1%;
					padding-left:10px;}


#logo-image			{margin:0;}
#logo-image a		{display:block;
					text-indent:-999px;
					overflow:hidden;}

/*header content*/
.header-content					{float:right;
								margin-right:1%;}


.search-form			{text-align:right; width: 200px; float: right;}

/*header content*/
.header-content					{margin:0px; z-index: 1000; }

.search-form			{text-align:right; width: 200px; height: 50px; float: right;}
/*navigation container*/
#navigation					{display:block;
							font-size: 15px;
							padding:0px;}

/*fixed navigation when site is scroll*/
.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;}


#navigation	ul			{margin:0; }	

/*hide select menu*/
.select-menu 			{display:none;}

/*joomla menus*/
.menu1 li a								{color:#808080;}


.menu1 li a:hover,
.menu1 li a:active,
.menu1 li a:focus,
.menu1 li a.active						{color:#333;}

/* left offset of submenus need to match (see below) */
#navigation .sf-menu ul 						{width:160px!important;}



/* match ul width */ 
#navigation ul.sf-menu li li.sfHover ul 		{left:169px!important;} 



/* match top ul list item height */
#navigation .sf-menu > li:hover > ul,
#navigation .sf-menu > li.sfHover > ul 			{top:42px!important;} 
					

#navigation ul.main-nav							{margin:0;}


/*root menu items*/
#navigation .sf-menu li 						{background: none;
												margin:0;}
#navigation .sf-menu a							{border:0;
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
transition: all 300ms linear; 
padding:12px 15px;												
color:#f1f1f1;}

/*active root menu items*/
#navigation .sf-menu li:hover, 
#navigation .sf-menu li.sfHover,
#navigation .sf-menu li.sfHover a,
#navigation .sf-menu li#current a,
#navigation .sf-menu a:focus, 
#navigation .sf-menu a:hover, 
#navigation .sf-menu a:active,
#navigation .sf-menu li.selected a			{color: #111 !important;background-color:#fafafa;}


/*padding right fore parent menu item*/	

/*dropdown menu items*/	
#navigation .sf-menu li li					{background:#fafafa;}

#navigation .sf-menu li li a				{font-weight:normal; 
											color:#333;
											font-size:12px;
											text-shadow: none;
											padding:10px 15px;
											border-bottom:0;
											border-left:0;}	
																															

/*dropdown hover and active menu items*/									
#navigation .sf-menu li li:hover, 
#navigation .sf-menu li li.sfHover,
#navigation .sf-menu li li#current a,
#navigation .sf-menu li li a:focus, 
#navigation .sf-menu li li a:hover, 
#navigation .sf-menu li li a:active 			{background:#eee; color: #333 !important;}


/*joomla menus*/

							
/*style for ul dropdown container*/
#navigation .sf-menu li ul					{border:0;
											-moz-border-radius:3px;
											-webkit-border-radius:3px;
											border-radius:3px;
											margin: 0px;
											padding: 0px;
											margin-top:-3px;
											background-color:#fff;}
											
#navigation .sf-menu li ul ul 				{margin-top:0; margin-left: -9px;}

/*	Footer */
/*footer section*/
#footer							{font-size:95%;}
#footer .separator				{background-position:left -1px;
								margin-bottom:15px;}
#footer .block					{padding-bottom:15px;}

/*footer menu*/
.footer-menu		{margin:0;}
.footer-menu li		{display:inline;
					list-style:none;
					margin:0 10px 0 0;
					background:url(../images/footer-menu-bg.png) no-repeat right center;
					padding-right:15px;}

.footer-menu li:last-child	{margin-right:0;
							padding-right:0;
							background:0;}

.footer-menu li	a			{text-transform:uppercase;
							font-size:92%;}


/*	Articles */
/*article layout*/
.article-bg					{margin-bottom:20px;}




/*article info*/
.article-info				{font-size:92%;
							font-style:italic;
							color:#999;
							margin-bottom:15px;
							padding:5px 0;}
							
.article-info ul 			{margin:0;}
.article-info ul li			{list-style:none;float:left;margin:0 15px 0 0;padding:0 0 0 18px;}


.article-info ul li.category-name	{background:url(../images/icons/16x16/folder_2.png) no-repeat left center;}
.article-info ul li.create,
.article-info ul li.modified,
.article-info ul li.published		{background:url(../images/icons/16x16/calendar_2.png) no-repeat left center;}
.article-info ul li.createdby		{background:url(../images/icons/16x16/user_2.png) no-repeat left center;}
.article-info ul li.hits			{background:url(../images/icons/16x16/graph.png) no-repeat left center;}

/*print and email icons*/
.article-info ul li.print-icon,
.article-info ul li.email-icon		{display:block;
									float:right;
									margin:0;
									padding:0;}

.article-info ul li.print-icon a,
.article-info ul li.email-icon a	{display:block;
									width:18px;
									height:18px;
									margin-left: 8px;
									text-indent:-999px;
									overflow:hidden;}

.article-info ul li.email-icon a	{background:url(../images/system/emailButton.png) no-repeat center center;}
.article-info ul li.print-icon a	{background:url(../images/system/printButton.png) no-repeat center center;}




/*	Modules */
/*module1 style*/
.module1 		{background:#f5f5f5;
				border:solid 1px #ddd;
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				border-radius:3px;
				padding:20px;}

/*center style*/
.text-center	{text-align:center;}




/*latest news module*/
.latestnews					{margin:0;}
.latestnews li				{list-style:none;
							margin:0 0 10px 0;
							padding:0 0 10px 0;
							display:block;
							border-bottom:solid 1px #ddd;}

.latestnews li a			{background:url(../images/readmore-arrow.png) no-repeat right 4px;
							padding:0 14px 0 0;}	

/*breadcrumb module*/
.breadcrumbs				{font-size:92%;
							padding-top:11px;}
.breadcrumbs ul				{margin:0;
							text-align:left;}
.breadcrumbs ul	li			{display:inline;
							margin:0;}
.breadcrumbs li.pathway		{background:url(../images/breadcrumb.png) no-repeat right center;
							margin:0 7px 0 0;
							padding:0 16px 0 0;}
/*search module*/
#mod-search-searchword		{margin-top:5px;
							width:90%;
							background: #fff;
							padding-left:20px;
							font-size:94%;}

/*	Pagination */

.readmore			{background-color:#fafafa; padding: 5px 15px; }

ul.pagenav 				{margin-bottom:0;}
.pagination,
.k2Pagination 			{float:left;
						width:100%;
						padding:0!important;
						margin:0 0 45px 0!important;}
.pagination ul,
.k2Pagination ul 		{padding:0!important;
						margin:0!important;}

.pagination ul li,
.k2Pagination ul li 	{float:left;
						margin:0 10px 0 0!important;
						border:0!important;
						padding:0!important;
						list-style:none;}

.pagination ul li.pagination-start span.pagenav,
.pagination ul li.pagination-prev span.pagenav,
.pagination ul li.pagination-next span.pagenav,
.pagination ul li.pagination-end span.pagenav,
.pagination ul li span.pagenav,
.pagination ul li a.pagenav,
.k2Pagination ul li.pagination-start span.pagenav,
.k2Pagination ul li.pagination-prev span.pagenav,
.k2Pagination ul li.pagination-next span.pagenav,
.k2Pagination ul li.pagination-end span.pagenav,
.k2Pagination ul li span.pagenav,
.k2Pagination ul li a.pagenav,
.k2Pagination ul li 								{display:block;
													padding:0;
													margin:0;
													line-height:25px;
													height:25px;
													width:29px;
													font-size:100%;}

.pagination ul li span.pagenav,
.k2Pagination ul li span.pagenav 					{text-align:center;
													-moz-border-radius:3px;
													-webkit-border-radius:3px;
													border-radius:3px;
													font-weight:normal;}

.pagination ul li a.pagenav,
.k2Pagination ul li a.pagenav 					{border:solid 1px #ddd;
												text-align:center;
												-moz-border-radius:3px;
												-webkit-border-radius:3px;
												border-radius:3px;
												background:#fff;}
												
.pagination ul li a.pagenav:hover,
.pagination ul li a.pagenav:active,
.pagination ul li a.pagenav:focus,
.k2Pagination ul li a.pagenav:hover,
.k2Pagination ul li a.pagenav:active,
.k2Pagination ul li a.pagenav:focus 			{background-position: left center;}

.pagination ul li.pagination-start span.pagenav,
.pagination ul li.pagination-prev span.pagenav,
.pagination ul li.pagination-next span.pagenav,
.pagination ul li.pagination-end span.pagenav,
.k2Pagination ul li.pagination-start span.pagenav,
.k2Pagination ul li.pagination-prev span.pagenav,
.k2Pagination ul li.pagination-next span.pagenav,
.k2Pagination ul li.pagination-end span.pagenav,
.pagination ul li.pagination-start a.pagenav,
.pagination ul li.pagination-prev a.pagenav,
.pagination ul li.pagination-next a.pagenav,
.pagination ul li.pagination-end a.pagenav,
.k2Pagination ul li.pagination-start a.pagenav,
.k2Pagination ul li.pagination-prev a.pagenav,
.k2Pagination ul li.pagination-next a.pagenav,
.k2Pagination ul li.pagination-end a.pagenav 				{border:0!important;
															background:0!important;}

.pagination ul li.pagination-start span.pagenav,
.pagination ul li.pagination-prev span.pagenav,
.pagination ul li.pagination-next span.pagenav,
.pagination ul li.pagination-end span.pagenav,
.k2Pagination ul li.pagination-start span.pagenav,
.k2Pagination ul li.pagination-prev span.pagenav,
.k2Pagination ul li.pagination-next span.pagenav,
.k2Pagination ul li.pagination-end span.pagenav 			{font-weight:normal;}


ul.pagenav li.pagenav-next,
ul.pagenav li.pagenav-prev 					{margin-bottom:15px;}
.results,
.pagination-results							{line-height:25px;
											text-align:right;
											margin:0;}
											
/**article navigation*/
ul.pagenav									{text-align:right;
											margin-bottom:20px;}
ul.pagenav li								{display:inline;
											margin:0 0 0 10px;}



body{min-width:960px}
.container{margin-left:auto;margin-right:auto;width:960px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24{display:inline;float:left;margin-left:5px;margin-right:5px}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16,.push_17,.pull_17,.push_18,.pull_18,.push_19,.pull_19,.push_20,.pull_20,.push_21,.pull_21,.push_22,.pull_22,.push_23,.pull_23{position:relative}
.alpha{margin-left:0}.omega{margin-right:0}.container .grid_1{width:30px}.container .grid_2{width:70px}.container .grid_3{width:110px}.container .grid_4{width:150px}.container .grid_5{width:190px}.container .grid_6{width:230px}.container .grid_7{width:270px}.container .grid_8{width:310px}.container .grid_9{width:350px}.container .grid_10{width:390px}.container .grid_11{width:430px}.container .grid_12{width:470px}.container .grid_13{width:510px}.container .grid_14{width:550px}.container .grid_15{width:590px}.container .grid_16{width:630px}.container .grid_17{width:670px}.container .grid_18{width:710px}.container .grid_19{width:750px}.container .grid_20{width:790px}.container .grid_21{width:830px}.container .grid_22{width:870px}.container .grid_23{width:910px}.container .grid_24{width:950px}.container .prefix_1{padding-left:40px}.container .prefix_2{padding-left:80px}.container .prefix_3{padding-left:120px}.container .prefix_4{padding-left:160px}.container .prefix_5{padding-left:200px}.container .prefix_6{padding-left:240px}.container .prefix_7{padding-left:280px}.container .prefix_8{padding-left:320px}.container .prefix_9{padding-left:360px}.container .prefix_10{padding-left:400px}.container .prefix_11{padding-left:440px}.container .prefix_12{padding-left:480px}.container .prefix_13{padding-left:520px}.container .prefix_14{padding-left:560px}.container .prefix_15{padding-left:600px}.container .prefix_16{padding-left:640px}.container .prefix_17{padding-left:680px}.container .prefix_18{padding-left:720px}.container .prefix_19{padding-left:760px}.container .prefix_20{padding-left:800px}.container .prefix_21{padding-left:840px}.container .prefix_22{padding-left:880px}.container .prefix_23{padding-left:920px}.container .suffix_1{padding-right:40px}.container .suffix_2{padding-right:80px}.container .suffix_3{padding-right:120px}.container .suffix_4{padding-right:160px}.container .suffix_5{padding-right:200px}.container .suffix_6{padding-right:240px}.container .suffix_7{padding-right:280px}.container .suffix_8{padding-right:320px}.container .suffix_9{padding-right:360px}.container .suffix_10{padding-right:400px}.container .suffix_11{padding-right:440px}.container .suffix_12{padding-right:480px}.container .suffix_13{padding-right:520px}.container .suffix_14{padding-right:560px}.container .suffix_15{padding-right:600px}.container .suffix_16{padding-right:640px}.container .suffix_17{padding-right:680px}.container .suffix_18{padding-right:720px}.container .suffix_19{padding-right:760px}.container .suffix_20{padding-right:800px}.container .suffix_21{padding-right:840px}.container .suffix_22{padding-right:880px}.container .suffix_23{padding-right:920px}.container .push_1{left:40px}.container .push_2{left:80px}.container .push_3{left:120px}.container .push_4{left:160px}.container .push_5{left:200px}.container .push_6{left:240px}.container .push_7{left:280px}.container .push_8{left:320px}.container .push_9{left:360px}.container .push_10{left:400px}.container .push_11{left:440px}.container .push_12{left:480px}.container .push_13{left:520px}.container .push_14{left:560px}.container .push_15{left:600px}.container .push_16{left:640px}.container .push_17{left:680px}.container .push_18{left:720px}.container .push_19{left:760px}.container .push_20{left:800px}.container .push_21{left:840px}.container .push_22{left:880px}.container .push_23{left:920px}.container .pull_1{left:-40px}.container .pull_2{left:-80px}.container .pull_3{left:-120px}.container .pull_4{left:-160px}.container .pull_5{left:-200px}.container .pull_6{left:-240px}.container .pull_7{left:-280px}.container .pull_8{left:-320px}.container .pull_9{left:-360px}.container .pull_10{left:-400px}.container .pull_11{left:-440px}.container .pull_12{left:-480px}.container .pull_13{left:-520px}.container .pull_14{left:-560px}.container .pull_15{left:-600px}.container .pull_16{left:-640px}.container .pull_17{left:-680px}.container .pull_18{left:-720px}.container .pull_19{left:-760px}.container .pull_20{left:-800px}.container .pull_21{left:-840px}.container .pull_22{left:-880px}.container .pull_23{left:-920px}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

body									{color:#808080;}

/*headings color*/
h1, h2, h3, h4, h5, h6					{color:#1a1a1a;}


/*logo text color*/
#logo-text a 							{color:#4d4d4d;}


/*site slogac text color*/
#site-slogan							{color:#9dc130;}


/*general links color*/
body a									{color:#9dc130;}


/*hover links color*/
body a:hover, 
body a:active, 
body a:focus							{color:#1a1a1a;}

/*article info*/
.article-info							{color:#999999;}


/*forms text color*/
input, 
textarea,
select.select-menu						{color:#808080;}


/*legend foms*/
#contact-form legend					{color:#999999;}

/*buttons foms*/
.button,
.btn,
button									{color:#ffffff;}


.button:hover,
.btn:hover,
button:hover							{color:#ffffff;}


#fix-header {
	position:relative;
}
#mcpanel {
	padding: 10px;
	clear: both;
	font: 55px;
	left: 10px;
	top: 10px;
	position:absolute;
	background: #9dc130;
	color: #f1f1f1;
	display: block;
}
/* System Messages */
#system-message{margin:0}
#system-message dt{display:none}
#system-message dd{background:none!important;padding:0!important}
#system-message dd.message ul,#system-message dd.error ul,#system-message dd.notice ul{color:#222;font-weight:400;margin:0;padding:0}
#system-message dd.message ul{background:#FFFEF4;border-top:1px solid #EAE8CC;border-bottom:1px solid #EAE8CC}
#system-message dd.error ul{background:#fff3f4;border-top:1px solid #FF969B;border-bottom:1px solid #FF969B}
#system-message dd.notice ul{background:#f4faff;border-top:1px solid #96ccff;border-bottom:1px solid #96ccff}
#system-message dd.message ul li,#system-message dd.error ul li,#system-message dd.notice ul li{list-style:none;background:none;text-indent:0;text-align:center;margin:0;padding:8px 16px}
.btn{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
div.catItemTagsBlock ul.catItemTags li a, div.itemTagsBlock ul.itemTags a:hover, .header-content {background:#9dc130;}
.header-content {padding: 0px 20px; -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.1); -webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
