


html, body {
	height: 100%;
}

body {
	background: url(../images/body_bg.png) top left repeat-x #f0f2e5;
	color: #666563;
	font: 1em "Lucida Grande", Verdana, Arial, sans-serif;
}
.all_html{
	float:left;
}
.hidden{
	text-indent: -999999px;
}

.bold{
	font-weight: bold;
}

a{
	text-decoration: none;
}

#wrapper {
	background: url(../images/logo_hightlight.png) top left no-repeat;
	width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -94px; 
}

#header{
	padding: 44px 0 0 0;
	position: relative;
	height: 95px;
}

#phone {
	background: url(../images/phone_bg.png) top left no-repeat;
	width: 210px;
	height: 30px;
	position:absolute;
	text-align: center;
	font-size: 0.7em;
	line-height: 240%;
	right: 40px;
	top:0px;
}

.logo {
	background: url(../images/blue/logo.png) top left no-repeat;
	display: block;
	width: 270px;
	height: 90px;
	margin: 0 0 0 15px;
	float: left;
}

#content {
	padding: 50px 50px 100px 40px;
}
#navigation {
	float: right;
	position: relative;
	margin: 53px 30px 0 0;
}


#sliderwrapper{
	width: 945px;
	height: 420px;
	position: relative;
}


#menu {
    float: right;
    list-style: none outside none;
    margin-right: 20px;
    padding: 0;
}

#menu li {
	padding: 4px 8px 0px 8px;
	float:left; 
	margin: 0px 4px 0px 4px;
	display:block; 
	width:auto; 
	position:relative;
	z-index:500; 
}

ul#menu li.backLava {
	position:absolute; 
	z-index:3;
	background-color:#fff;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
}


#menu li a {
	position: relative; 
	z-index: 5;
	display: block;
	padding: 2px 0 2px 12px;
	color: #a4a29c;
	font-size: 0.76em;
	text-align: center;
	width: 100%;
}

#menu li a:hover {
	text-shadow: 1px 1px 0px #fff;
	color: #666563;
}

/* submenu, it's hidden by default */
#menu ul {
	position:absolute; 
	right:0; 
	display:none; 
	margin:0 0 0 -1px; 
	padding:0; 
	width: 20em;
	list-style:none;
}

#menu ul li {
	padding: 4px 12px 2px 0;
	margin: 0;
	display:block;
	text-align: center;
	float: right; 
	position:relative;
	z-index:500; 
	background-color:#fff;
}

#menu ul li:last-child {
	-moz-border-radius-topleft: 12px; 
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-bottomleft: 12px; 
	-webkit-border-bottom-left-radius: 12px;
}

#menu ul li:first-child {
	-moz-border-radius-topright: 12px; 
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-bottomright: 12px; 
	-webkit-border-bottom-right-radius: 12px;
	padding-right:20px;
}


#menu ul a {
	display:block; 
	text-align: center;
	font-size: 0.6em;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0 0 0 0;
}


/* fix ie6 issue */

*html #menu ul {
	margin:0 0 0 -2px;
}


/* overflow problem in ie7 */

#slidercontainer {
	width: 945px;
	height: 420px;
	overflow: hidden;
	position: relative;
}

#glass{
	background: url(../images/glass.png) top left no-repeat;
	width: 945px;
	height: 375px;
	position: absolute;	
	left: -2px;
	top:0;
	z-index: 199;
}

#footer, .pusher {
	height: 94px;
}

#footer {
	background: url(../images/blue/footer_bg.png) top left repeat-x;
}


#footercontent {
	background: url(../images/footer_highlight.png) top center no-repeat;
	text-shadow: 1px 1px 0px #73b2dd;
	position: relative;
	height: 42px;
	width: 910px;
	margin: auto;
	color: #fff;
	font-size: 0.6em;
	padding: 52px 0 0 30px;
}

#footercontent .address{
	display: block;
	float: left;
	width: 40%;
	color: #fff;
}

#footercontent .footerlogo {
	background: url(../images/blue/logo_small.png) top center no-repeat;
	display: block;
	width: 120px;
	height: 50px;
	float: right;
	text-indent: -999999px;
	position: absolute;
	top:30px;
	right:40px;
	cursor: pointer;
}

#footercontent ul {
	margin:0; 
	padding:0; 
	list-style:none;
}

#footercontent ul li, #footercontent a{
	float: left;
	color: #fff;
	padding: 0 1em 0 0;
}



.col1{
	width: 260px;
	float: left;
}

.col2{
	width: 260px;
	float: left;
	margin: 0 0 0 40px;
}

.col3{
	width: 260px;
	float: right;
}

.col1and2 {
	width: 520px;
	float: left;
	margin: 0 0 0 0;
}

.shadowcol {
	background: url(../images/colshadow.png) 580px 20px no-repeat;
}

h3 {
	color: #67b3df;
	font-size: 30px;
	margin: 0 0 0.6em 0;
}

h4 {
	font-size: 0.8em;
	color: #67b3df;
}

.col1 img, .col2 img, .col3 img {
	margin: 0 0 1.6em 0;
}

p {
	font-size: 0.7em;
	line-height: 135%;
	text-shadow: 0.1em 0.1em 0em #fdfff1;
}

.spaced {
	margin: 2em 0 2em 0;
}

/***** regular list with dots ******/
ul.list {
	font-size: 0.7em;
	line-height: 130%;
	color: #4795c2;
	font-weight: bold;
	margin: 1.6em 0 1.6em 0;
	text-shadow: 0.1em 0.1em 0em #fdfff1;
}

ul.list li {
	list-style: disc;
	list-style-position: inside;
}

ul.dark {
	color: #666563;
}

ul.floater {
	background: url(../images/divider.png) bottom center no-repeat;
	width: 46%;
	line-height: 180%;
	float: left;
	padding: 0 0 2.2em 0;
	margin: 1em 1.4em 1em 0;
}

ul.top {
	margin-top: 0;
}

/***** list with symbols ******/

ul.symbols li b {
	font-size: 0.7em;
	line-height: 130%;
	color: #4795c2;
}

ul.symbols li p {
	line-height: 130%;
	font-size: 0.65em;
}

ul.symbols li {
	padding: 0.5em 0 0.76em 3.6em;
}

ul.symbols li.eye {
	background: url(../images/blue/symbol_eye.png) center left no-repeat;
}

ul.symbols li.lip {
	background: url(../images/blue/symbol_lip.png) center left no-repeat;
}


ul.symbols li.shoe {
	background: url(../images/blue/symbol_shoe.png) center left no-repeat;
}

ul.symbols li.butterfly {
	background: url(../images/blue/symbol_butterfly.png) center left no-repeat;
}

ul.symbols li.mirror {
	background: url(../images/blue/symbol_mirror.png) center left no-repeat;
}

ul.symbols li.dryer {
	background: url(../images/blue/symbol_dryer.png) center left no-repeat;
}


/***** list for pricelist ******/

ul.pricelist {
	font-size: 0.7em;
	line-height: 130%;
	margin: 0.6em 0 1.6em 0;
	text-shadow: 0.1em 0.1em 0em #fdfff1;
}

ul.pricelist li {
	background: url(../images/dotted.png) bottom left repeat-x;
	list-style: none;
	list-style-position: inside;
	position: relative;
	padding: 0.6em 0 0.6em 0 ;
}

ul.pricelist span{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #a4a29c;
	display: block;
	float: right;
	text-align: right;
	width: 6em;
	font-size: 1.5em;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom:6px;
}


/***** picture list ******/
ul.picturelist li {
	float: left;
	display: block;
	margin: 0 1em 1em 0;
}



/***** double col ******/

.doublecol1{
	width: 410px;
	float: left
}

.doublecol2{
	width: 420px;
	float: right
}

.doublecol1 img, .doublecol2 img {
	margin: 0 0 1.6em 0;
}


/*********forms***********/

input {
	background: url(../images/blue/input.png) top left no-repeat transparent;
	padding: 10px 20px 10px 20px;
	margin: 0 0 10px 0;
	border: 0;
	width: 390px;
	vertical-align: top;
}

input:focus{
	background: url(../images/blue/input.png) -35px left no-repeat;
}

textarea {
	background: url(../images/blue/textarea.png) top left no-repeat transparent;
	border: 0;
	width: 350px;
	height: 120px;
	margin: 0 0 10px 0;
	padding: 16px 20px 4px 20px;
	overflow: auto;
}

textarea:focus {
	background: url(../images/blue/textarea.png) bottom left no-repeat transparent;
}

button{
	background: url(../images/submit.png) top left no-repeat transparent;
	text-indent: -999999px;
	cursor: pointer;
	width: 116px;
	height: 26px;
	float: right;
	border: 0;
	margin: 10px 26px 0 0;
}

button:hover{
	background: url(../images/submit.png) bottom left no-repeat transparent;
}

input.blur {
	color: #b5b4b0;
}

fieldset {
	position: relative;
}

.error {
	position: absolute;
	font-size: 0.6em;
	top: 11px;
	color: #fa8673;
	right: 60px;
	text-transform: uppercase;
	padding: 0 0 0 26px;
	display:none;
}

.message-error {
	right:40px;
}

#form {
	position: relative;
}

.thx {
	position: absolute;
	z-index: 99;
	width: 380px;
	text-align: center;
	top:170px;
	font-size: 1em;	
	color: #67b3df;
	display: none;
}



/***SLIDER *************************************/
#slider {
	width: 940px;
	height: 375px;
	overflow: hidden;
}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}
	
#slider li{ 
	width: 940px;
	height: 375px;
}	

#slider li .slide {
	background-color: #fff;
	height: 335px;
	margin: 20px;
}

.slide1 {
	background: url(../images/hair.png) top right no-repeat #fff;
	border: 1px solid #e0e4cc;
	height: 337px;
	margin: 17px;
}	
	
.slide2 {
	background: url(../images/face.png) top left no-repeat #fff;
	border: 1px solid #e0e4cc;
	height: 337px;
	margin: 17px;
}	
	
.slide3 {
	background: url(../images/nails.png) top right no-repeat #fff;
	border: 1px solid #e0e4cc;
	height: 337px;
	margin: 17px;
}	

.slide1 h1 {
	padding: 180px 0 0 40px;
	font-size: 80px;
	color: #d1cfc7;
	display: block;
}
	
.slide1 h2 {
	font-size: 40px;
	padding: 0 0 0 40px;
	display: block;
	color: #d1cfc7
}
	
.slide2 h1 {
	padding: 165px 40px 0 0;
	font-size: 80px;
	color: #d1cfc7;
	display: block;
	text-align: right;
}
	
.slide2 h2 {
	font-size: 40px;
	padding: 0 40px 0 0;
	color: #d1cfc7;
	display: block;
	text-align: right;
}
	
.slide3 h1 {
	padding: 165px 0 0 40px;
	font-size: 80px;
	display: block;
	color: #d1cfc7
}
	
.slide3 h2 {
	font-size: 40px;
	padding: 0 0 0 40px;
	display: block;
	color: #d1cfc7
}

ol#controls{
	padding: 0;
	margin: 20px 0 20px 0;
	text-align: center;
	padding: 0 0 0 446px;
	position: absolute;
}

ol#controls li {
	background: url(../images/blue/sliderdots.png) top left no-repeat;
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 10px 0 0;
	text-indent: -999999px;
}

ol#controls li.current {
	background: url(../images/blue/sliderdots.png) left -10px no-repeat;
}

ol#controls li a {
	display: block;
	width: 10px;
	height: 10px;
}
.cufon cufontext {
    font-weight: normal;
}
.slide1 > h1, .slide1 h2 {
	margin: 0;
	margin-top: 10px;
}
h2 cufon {
    font-size: 35px;
    font-weight: normal;
}
cufon canvas {
position: relative!important;
display:inline-block;
}
div.page_content {
font-weight: normal;
width: 100%;
font-size: 26px;
margin-bottom: 22px;
}




/*Responsiv css start*/

@media only screen and (max-width:768px) {
	

#wrapper {
    width: 100%;
}	
.logo {
	background-size:100%;
	 width: 195px;
	 margin: 20px 0 0 15px;
	
}
#navigation {
    margin-top: 35px;
    width: 60%;
}
#sliderwrapper {
    height: 420px;
    margin: 0 auto;
    position: relative;
    width: 95%;
}
#glass {
	width:100%;
}

#slidercontainer {
    float: left;
    width: 98%;
	height: 351px;
}
#slidercontainer > div {
    width: 100% !important;
}
#slider li {
    height: 375px;

    padding: 0;
    width: 692px;
}


.slide1, .slide2, .slide3 {
	background-size:88% 100%;
}
.slide1 h1,.slide2 h1, .slide3 h1 {
	font-size:35px !important;
}
.slide1 h2,.slide2 h2, .slide3 h2  {
	font-size:25px;
}

.col3 {
    float: left;
    margin-top: 20px;
    width: 274px;
}
#glass {
    border-right: 2px solid #d3d2cd;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    width: 100%;
}

#footercontent ul {
	width:100%;
}
#footercontent {
	width:100%;
	padding: 52px 0 0 4px;
}

#footercontent ul li, #footercontent a  {
    color: #fff;
    float: left;
    padding: 0 1em 0 0;
    text-align: center;
    width: 100%;
}
#footercontent .footerlogo {
	right:11px;
}
.col3 {
    float: left;
    margin-top: 20px;
    width: 100%;
}
ul.symbols li {
    float: left;
    padding: 0.5em 0 0.76em 3.6em;
    width: 36%;
}
.doublecol1 {
    float: left;
    width: 100%;
}
ul.floater {
	width: 46%;
	padding:0;
	background:none;
}
.doublecol1 {
    float: left;
    margin-left: 10%;
    width: 100%;
}
.doublecol2 {
    margin: 23px auto 0;
    width: 80%;
	float:none;
}
.doublecol2 h3{
	text-align:center;
}
.cufon {
	margin-top:25px;
}
.doublecol1 img, .doublecol2 img {
    margin: 0 3em 1.6em;
}

}

@media only screen and (max-width:480px) {
	#sliderwrapper {
    display: none;
    height: 420px;
    margin: 0 auto;
    position: relative;
    width: 95%;
}
#phone {
    margin-right: 17%;
}
.logo_center {
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
#navigation {
    float: left;
    margin-top: 0;
    width: 100%;
}
#menu li {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
}
#menu ul{
	display:none !important;
}

.col1, .col2, .col3 {
    float: left;
    margin-left: 16%;
    width: 75%;
}
ul.symbols li{
    width: 70%;
}
#footercontent {
    padding: 35px 0 0 4px;
    width: 100%;
}
#footercontent .footerlogo {
    float: left;
    right: 11px;
    top: 49px;
    width: 100%;
}
ul.floater {
    padding: 0;
    width: 80%;
	background:none;
}
.doublecol1 {
    float: left;
    margin-left: 30%;
    width: 100%;
}
.doublecol1 img, .doublecol2 img {
    margin: 0 0 1.6em;
    width: 100%;
}
.backLava{
	display:none !important;
}
#menu {
    border-top: 1px solid;

}
.level1 {
    border-bottom: 1px solid;
}
.col1 h3, .col2 h3, .col3 h3 {

    text-align: center;
}
div.page_content {
    float: left;
    margin-bottom: 18px;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}
}

				/*	Color-box.css*/
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#fff;}

#colorBox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../images/border1.png) 0 0 no-repeat;}
    #cboxTopCenter{height:25px; background:url(../images/border1.png) 0 -50px repeat-x;}
    #cboxTopRight{width:25px; height:25px; background:url(../images/border1.png) -25px 0 no-repeat;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../images/border1.png) 0 -25px no-repeat;}
    #cboxBottomCenter{height:25px; background:url(../images/border1.png) 0 -75px repeat-x;}
    #cboxBottomRight{width:25px; height:25px; background:url(../images/border1.png) -25px -25px no-repeat;}
    #cboxMiddleLeft{width:25px; background:url(../images/border2.png) 0 0 repeat-y;}
    #cboxMiddleRight{width:25px; background:url(../images/border2.png) -25px 0 repeat-y;}
    #cboxContent{background:#fff; font-size:0.6em; color: #b5b4b0;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{display:none; position:absolute; bottom:0px; left:100px; color:#fff;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#fff;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#fff;}
        #cboxLoadingOverlay{background:url(../images/loading.gif) 5px 5px no-repeat #fff;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}


					/*reset.css*/
					

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;

}
img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.fixed:after{
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
	}
.fixed{
	display:block;
	}
/*  \*/
.fixed{
	min-height:1%;
	}
* html .fixed{
	height:1%;
	}

.clear {
	clear: both;
}	

