@CHARSET "UTF-8";
/* General */
.rbPointer{cursor: pointer}
.rbBlock{display: block}
.rbInline{display: inline}
.rbFloatLeft{float: left}
.rbFloatRight{float: right}
.rbFloatNone{float: none}
.rbClearLeft{clear: left}
.rbClearRight{clear: right}
.rbClearBoth{clear: both}
.rbOverflow{overflow: hidden}
.rbAlignRight{text-align: right}
.rbStrike{text-decoration: line-through}
.rbW50{width: 50px !important}.rbW60{width: 60px !important}.rbW70{width: 70px !important}.rbW80{width: 80px !important}.rbW90{width: 90px !important}
.rbW100{width: 100px !important}.rbW150{width: 150px !important}.rbW200{width: 200px !important}.rbW250{width: 250px !important}
.rbW300{width: 300px !important}.rbW350{width: 350px !important}.rbW400{width: 400px !important}.rbW450{width: 450px !important}
.rbW500{width: 500px !important}.rbW550{width: 550px !important}
.rbPt5{padding-top: 5px !important}.rbPt10{padding-top: 10px !important}.rbPt15{padding-top: 15px !important}.rbPt20{padding-top: 20px !important}.rbPt30{padding-top: 30px !important}.rbPt40{padding-top: 40px !important}.rbPt50{padding-top: 50px !important}
.rbPb5{padding-bottom: 5px !important}.rbPb10{padding-bottom: 10px !important}.rbPb15{padding-bottom: 15px !important}.rbPb20{padding-bottom: 20px !important}.rbPb30{padding-bottom: 30px !important}.rbPb40{padding-bottom: 40px !important}.rbPb50{padding-bottom: 50px !important}
.rbPl5{padding-left: 5px !important}.rbPl10{padding-left: 10px !important}.rbPl15{padding-left: 15px !important}.rbPl20{padding-left: 20px !important}.rbPl30{padding-left: 30px !important}.rbPl40{padding-left: 40px !important}.rbPl50{padding-left: 50px !important}
.rbPr5{padding-right: 5px !important}.rbPr10{padding-right: 10px !important}.rbPr15{padding-right: 15px !important}.rbPr20{padding-right: 20px !important}.rbPr30{padding-right: 30px !important}.rbPr40{padding-right: 40px !important}.rbPr50{padding-right: 50px !important}
.rbP5{padding: 5px !important}.rbP10{padding: 10px !important}.rbP15{padding: 15px !important}.rbP20{padding: 20px !important}.rbP30{padding: 30px !important}.rbP40{padding: 40px !important}.rbP50{padding: 50px !important}
.rbMt5{margin-top: 5px !important}.rbMt10{margin-top: 10px !important}.rbMt15{margin-top: 15px !important}.rbMt20{margin-top: 20px !important}
.rbMb5{margin-bottom: 5px !important}.rbMb10{margin-bottom: 10px !important}.rbMb15{margin-bottom: 15px !important}.rbMb20{margin-bottom: 20px !important}
.rbMl5{margin-left: 5px !important}.rbMl10{margin-left: 10px !important}.rbMl15{margin-left: 15px !important}.rbMl20{margin-left: 20px !important}
.rbMr5{margin-right: 5px !important}.rbMr10{margin-right: 10px !important}.rbMr15{margin-right: 15px !important}.rbMr20{margin-right: 20px !important}
.rbM5{margin: 5px !important}.rbM10{margin: 10px !important}.rbM15{margin: 15px !important}.rbM20{margin: 20px !important}
.rbLh14{line-height: 14px !important}.rbLh16{line-height: 16px !important}.rbLh18{line-height: 18px !important}

@CHARSET "UTF-8";
.rbContainer{
	color: #000;
	font: normal 11px Verdana, Arial, sans-serif;
	overflow: hidden;
	width: 100%;
}
.rbContainer p, .rbContainer ul{margin: 0; padding: 0}
.rbContainer a{
	color: #868788;
	font-size: 11px;
	font-weight: normal;
}
.rbContainer .RBooking_Font,
.RBooking_OverlayBox{
	font: normal 12px Verdana, Arial, sans-serif;
}
.rbDatepickerIcon{
	background: url(../img/frontend/calendar.png) 0 0 no-repeat;
	border: none;
	outline: none;
	display: inline-block;
	height: 24px;
	margin: 3px 2px 0 11px;
	width: 25px;
}
.rbDate{
	float: left;
	margin: 0 3px 0 0;
}
.rbBtn{
	border: none;
	cursor: pointer;
	height: 36px;
}
.rbBtnReview{
	background: url(../img/frontend/btn_review.png) 0 0 no-repeat; 
	width: 169px;
}
.rbBtnBook{
	background: url(../img/frontend/btn_book.png) 0 0 no-repeat; 
	width: 96px;
}
.rbBtnFinish{
	background: url(../img/frontend/btn_finish.png) 0 0 no-repeat; 
	width: 96px;
}
.rbBtnContinue{
	background: url(../img/frontend/btn_continue.png) 0 0 no-repeat; 
	width: 117px;
}
.rbBtnAddVoucher{
	background: url(../img/frontend/btn_add_voucher.png) 0 0 no-repeat;
	width: 143px;
	margin: 10px 0 0 !important;
}
.rbBtnConfirm{
	background: url(../img/frontend/btn_confirm.png) 0 0 no-repeat; 
	width: 169px;
}
.rbBtnBack{
	background: url(../img/frontend/btn_back.png) 0 0 no-repeat;
	width: 97px;
}
.rbBtnEnquiry{
	background: url(../img/frontend/btn_enquiry.png) 0 0 no-repeat; 
	width: 156px;
}
.rbBtnHover{
	background-position: 0 -36px;
}
.rbForm{}
.rbForm p{
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 6px 5px;
}
.rbLabel{
    display: block;
    font-weight: bold;
    margin: 0 0 5px;
}
.rbValue{
	float: left;
	text-align: left;
	padding: 6px 0 0 0;
}
.rbPointer{cursor: pointer}
.rbText,
.rbSelect,
.rbTextarea{
	background-color: #fff;
	border: solid 1px #e1dcdc;
	box-shadow: inset 2px 2px 1px #f1f1f1, -4px -4px 0 2px #ebf0ed, 4px 4px 0 2px #ebf0ed, 4px -4px 0 2px #ebf0ed, -4px 4px 0 2px #ebf0ed;
	padding: 5px 3px;
	margin-left: 5px;
}
.rbText{
	display: block;
	float: none !important;
}
.rbBox{
	
}
.rbBoxTop{
	height: 3px;
	/*background: #fff url(../img/frontend/f_top_middle.png) 0 0 repeat-x;*/
	position: relative;
}
/*
.rbBoxTopLeft{
	background: #fff url(../img/frontend/f_top_left.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 3px;
}
.rbBoxTopRight{
	background: #fff url(../img/frontend/f_top_right.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 3px;
}*/
.rbBoxWTop{
	background-color: #2d2c2b;
	color: #fff;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 2px 0 0;
	padding: 0 10px;
	position: relative;
}
.rbBoxMiddle{
	/*background: #fff url(../img/frontend/f_middle_right.png) top right repeat-y;
	border-left: solid 1px #d0c5c5;*/
	overflow: hidden;
	padding: 6px 9px 6px 6px;
}
/*
.rbBoxBottom{
	background: transparent url(../img/frontend/f_bottom_middle.png) bottom left repeat-x;
	height: 5px;
	position: relative;
}
.rbBoxBottomLeft{
	background: #fff url(../img/frontend/f_bottom_left.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 5px;
}
.rbBoxBottomRight{
	background: #fff url(../img/frontend/f_bottom_right.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 5px;
}*/
.rbGray{color: #868788}
.rbRed{color: #9e0c0c}
.rbARight{text-align: right}
.rbBold{font-weight: bold}
.rbFloatLeft{float: left}
.rbFloatRight{float: right}
.rb3Img{
	border: none;
	height: 96px;
	float: right;
	width: 128px;
}
.rb3Items{
	float: left;
	width: 165px;
}
.rb3Items p{
	margin: 0 0 5px 0;
}
.rbW300{width: 300px}
.rbW320{width: 320px}
.rbW328{width: 328px}
.rbH100{height: 100px}

.rbLegend{
	background: url("app/web/img/frontend/line.png") no-repeat scroll 100px bottom;	
	overflow: hidden;
	margin: 10px 0 15px;
}
.rbLegendText{
	background: url(../img/frontend/legend_middle.png) 0 0 repeat-x;
	color: #0e0f0f;
	font-weight: bold;
	line-height: 31px;	
	display: block;
	float: left;
	height: 31px;
}
.rbLegendLeft{
	background: url(../img/frontend/legend_left.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 31px;
	width: 18px;
}
.rbLegendRight{
	background: url(../img/frontend/legend_right.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 31px;
	width: 18px;
}
.rbExtraTable{
	border-collapse: collapse;
	margin: 0 0 10px 0;
	width: 100%; 
}
.rbExtraTable td{
	border-bottom: solid 1px #d1cccc;
	padding: 6px 4px;
}
.rbExtraTable .rbKey{
	color: #4f5052;
	font-size: 12px;
	text-align: right;
	width: 60%;
}
.rbExtraTable .rbValue{
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.rbError{
	color: #B36A67;
	background-color: #FEFCE7;
	margin: 0 10px;
	padding: 5px 5px 5px 44px !important;
	border: solid 1px #F8F3C9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}
.rbError span{
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/frontend/f_info.png) 0 0 no-repeat;
}
.RBooking_Error{
	/* overlay */
	margin: 5px 10px 0;
	min-height: 30px;
	height: auto !important;
	height: 30px;
}
.RBooking_Table_Holder{
	display: block;
	float: left;
	margin: 0 3px 2px 0;
	padding: 6px 0 0 0;
	/*padding: 1px;
	background-color: #fff;
	border: solid 1px #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;*/
	overflow: hidden;
}
.RBooking_Table{
	float: left;
	padding: 2px 5px;
	/*background-color: #293950;
	color: #fff;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;*/
}
.RBooking_Table_Price{
	float: left;
	padding: 2px 5px;
	/*background-color: #34AEE1;
	color: #fff;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;*/
}
/* overlay */
.RBooking_Overlay {
    background-color: #333;
    display: none;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
}
.RBooking_OverlayBox {
    background-color: #fff;
    border: 1px solid #333;
    display: none;
    position: absolute;
    z-index: 9999;
}
.RBooking_OverlayBoxTop {
	height: 65px;
	overflow: hidden;
}
.RBooking_OverlayBoxMiddle {
	position: relative;
	overflow: hidden;
}
.RBooking_OverlayBoxSeats{
	overflow: hidden;
	padding: 2px 10px;
}
.RBooking_Table_Holder{cursor: pointer;}
.RBooking_OverlayBoxHead,
.RBooking_OverlayBoxBottom{
	height: 40px;
	padding: 5px 0 0 0;
	text-align: center;
	overflow: hidden;
}
.RBooking_OverlayBoxHead{
	padding: 0;
}
.RBooking_OverlayBoxLegend {
	height: 20px;
	padding: 5px 10px 0;
	overflow: hidden;
}
.RBooking_Select_Seats:link,
.RBooking_Select_Seats:visited{
	color: #0099FF;
	text-decoration: none;
}
.RBooking_Select_Seats:hover,
.RBooking_Select_Seats:active{
	text-decoration: underline;
}

#service{
	text-align: center;
}
#serviceHeader{
	font-weight: bold;
}
#serviceContent{
	width: 60%;
	margin: 0 auto 20px;
}
#serviceContent a{
    background-color: #DEF9CD;
    border-radius: 4px;
    color: #000000;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
    padding: 5px 15px;
    text-decoration: none;
}
#serviceContent a:focus,
#serviceContent a.timeActive{
	background-color: #0082CE;
	color: #FFF;
}
/* Map */
.sbook-rect{
	cursor: pointer;
	display: block;
	font-size: 0.9em;
	overflow: hidden;
	position: absolute;
	text-align: center;
	z-index: 1000;
}
.sbook-empty{background-color: #135E8D; color: #fff}
.sbook-available{color: green}
.sbook-busy{color: red; cursor: default}

.form-logo{
	float: left;
	margin-right: 20px;
    margin-top: 10px;
}
.rbForm{
	overflow: hidden;
	display: inline-block;
}