<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Super Saloon</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style_wooden.css" type="text/css">
</head>
<body>
	<div id="sitecolor">
	<hgroup>
	<!--start header-->{$editableheader}<!--end header-->
	<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
	</hgroup>
	<div class="clear"></div>
	<div class="banner">
		<!-- start slider -->{$editableslider}<!-- end slider -->
	</div>
	<!-- start maincontent -->{$editablemaincontent}<!-- end maincontent -->
	<div class="home_details">
		<div class="fixed">
		<!-- start featured -->{$editablefeatured}<!-- end featured -->
		</div>
	</div>
	
	
	<div id="site_banner" data-type="site_banner" ></div> 
	<div class="clear"></div>
	<!-- start footer -->{$editablefooter}<!-- end footer -->
	</div>
</body>
</html>
