<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>Vicky Photography</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="outerwrapper">
			<div class="wrapper">
				<!--start header-->
				<div class="header_wrapper">
					<div class="logo_area">
						<div class="logo_image">
							<img src="images/logo.jpg" id="logo" data-type="logo" data-edit="true">
						</div>
						<div class="compnynamencaption">
							<h1 id="heading" data-type="heading">Vicky</h1>
							<h2 id="caption" data-type="caption">Professional Photographer</h2>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="top_menu">
					<ul data-type="menu">
						<li><a data-alias="index">Home</a>||</li>
						<li><a data-alias="about">About</a>||</li>
						<li><a data-alias="gallery">Gallery</a>||</li>
						<li class="active"><a data-alias="contactus">Contact Us</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				
					<div class="clear"></div>
				</div>
				<!--end header-->
			<div class="clear"></div>
			<!--start row1-->
			<div class="contentarea_wrapper">
					<div class="twoclumn_layout">
						<div class="left_column">
							<div class="left_column_content">
								<div class="details">
									<h2>Contact Address</h2>
									<p>
										Praesent vestibulum,<br/>
								molestie lacus,<br/>
								Aenean nonum, Phasellus porta<br/>
								Call : 00 00 00000
									</p>
								</div>
						  </div>
						</div>
						<div class="right_column">
							<div class="right_column_content">
								<h2>Contact Me</h2>
								<div class="contact_form">
						<h4>Keep in touch</h4>
						<div class="clear"></div>
						<form action="" method="post">
							<input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Name :">
							<input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Email :">
							<input name="" type="text" class="text_feild" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Telephone :">
							<input name="" type="text" class="text_area" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''; " value="Message :">
							<input name="" type="submit" class="submit" value="SUBMIT">
						</form>
					</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<!--end row1-->
				<div class="clear"></div>
				<!-- start footer -->
				<div class="footer">
				<div id="site_banner" data-type="site_banner"></div>
				<div class="footer_content">
				 <p>&copy;2013 Vicky All Rights Reserved</p>
				 <div class="socialshare"  data-type="socialshare">
					<img src="images/ricon_facebook.png" data-edit="true">
					<img src="images/ricon_linkedin.png" data-edit="true">
					<img src="images/ricon_twitter.png" data-edit="true">
				 </div>
				</div>
			</div>
			<!-- end footer -->
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
