<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>Vicky Photography</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="outerwrapper">
			<div class="wrapper">
				<!--start header-->{$editableheader}<!--end header-->
				<div class="clear"></div>
				<div class="contentarea_wrapper">
					<div class="twoclumn_layout">
						<div class="left_column">
							<div class="left_column_content">
								<div class="photo">
								<!--start box1-->{$editablebox1}<!--end box1-->
								</div>
								<div class="details">
									<!-- start box1_content-->{$editablebox1_content}<!-- end box1_content-->
								</div>
							</div>
						</div>
						<div class="right_column">
							<div class="right_column_content">
								<h2>Gallery</h2>
								<div class="portfolio">
						<ul>
							<li>
							<!-- start box4-->{$editablebox4}<!-- end box4-->
							</li>
							<li>
							<!-- start box5-->{$editablebox5}<!-- end box5-->
							</li>
							<li>
							<!-- start box6-->{$editablebox6}<!-- end box6-->
							</li>
							<li>
							<!-- start box7-->{$editablebox7}<!-- end box7-->
							</li>
							<li>
							<!-- start box8-->{$editablebox8}<!-- end box8-->
							</li>
							<li>
							<!-- start box9-->{$editablebox9}<!-- end box9-->
							</li>
						</ul>
						<div class="clear"></div>
					</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			<div class="clear"></div>
			</div>
			<div class="footer">
				<!-- start footer -->{$editablefooter}<!-- end footer -->
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
</body>
</html>
