<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<title>Vicky Photography</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper_container">
		<div class="outerwrapper">
			<div class="wrapper">
				<!--start header-->
				<div class="header_wrapper">
					<div class="logo_area">
						<div class="logo_image">
							<img src="images/logo.jpg" id="logo" data-type="logo" data-edit="true">
						</div>
						<div class="compnynamencaption">
							<h1 id="heading" data-type="heading">Vicky</h1>
							<h2 id="caption" data-type="caption">Professional Photographer</h2>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="top_menu">
					<ul data-type="menu">
						<li><a data-alias="index">Home</a>||</li>
						<li class="active"><a data-alias="about">About</a>||</li>
						<li><a data-alias="gallery">Gallery</a>||</li>
						<li><a data-alias="contactus">Contact Us</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				
					<div class="clear"></div>
				</div>
				<!--end header-->
				<div class="clear"></div>
				<div class="contentarea_wrapper">
					<div class="twoclumn_layout">
						<div class="left_column">
							<div class="left_column_content">
								<div class="photo">
								<!--start box1-->
								<img src="images/photo1.jpg" data-edit="true">
								<!--end box1-->
								</div>
								<div class="details">
									<!-- start box1_content-->
									<h2>AMEN</h2>
									<p>Professional Photographer </p>
									<p>Scotland</p>
									<!-- end box1_content-->
								</div>
							</div>
						</div>
						<div class="right_column">
							<div class="right_column_content">
								<!-- start maincontent-->
								<h2>SUB PAGE</h2>
								<p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. Tip: Add your own image by double clicking the image and clicking Change Image. I'm a paragraph. Click here to add your own text and edit me. Its easy. Just click Edit Text or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. Im a great place for you to tell a story and let your users know a little more about you</p>
								
								<p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. Tip: Add your own image by double clicking the image and clicking Change Image. I'm a paragraph. Click here to add your own text and edit me. Its easy. Just click Edit Text or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. Im a great place for you to tell a story and let your users know a little more about you
								
								This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. Tip: Add your own image by double clicking the image and clicking Change Image. I'm a paragraph. Click here to add your own text and edit me. Its easy. Just click Edit Text or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. Im a great place for you to tell a story and let your users know a little more about you</p>
								<div class="clear"></div>
								<!-- end maincontent-->
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			<div class="clear"></div>
			</div>
			<!-- start footer -->
			<div class="footer">
				<div id="site_banner" data-type="site_banner"></div>
				<div class="footer_content">
				 <p>&copy;2013 Vicky All Rights Reserved</p>
				 <div class="socialshare"  data-type="socialshare">
					<img src="images/ricon_facebook.png" data-edit="true">
					<img src="images/ricon_linkedin.png" data-edit="true">
					<img src="images/ricon_twitter.png" data-edit="true">
				 </div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end footer -->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
</body>
</html>
