@CHARSET "UTF-8";
.asContainer .asServicesOuter{
	float: none;
	width: 100%;
}
.asContainer .asCartOuter{
	width: 100%;
}
.asContainer .asCartInner{
	margin: 0 0 10px 0;
}
.asContainer .asElementTag{
	background-color: #ECF0F1;
	height: 28px;
	line-height: 28px;
}
.asContainer .asServicePrice,
.asContainer .asServiceTime{
	padding: 0 10px 0 40px;
	font: normal 14px/28px PTSansBold;
}

.asContainer .asSingleEmployee,
.asContainer a.asSingleEmployee,
.asContainer a.asSingleEmployee:link,
.asContainer a.asSingleEmployee:active,
.asContainer a.asSingleEmployee:visited,
.asContainer a.asSingleEmployee:focus,
.asContainer a.asSingleEmployee:hover{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #d1d8da;
	display: block;
	width: 220px;
	height: 210px;
	float: left;
	margin: 0 16px 16px 0;
	text-align: center;
	text-decoration: none;
	padding: 1px;
}
.asContainer .asSingleEmployee.asSingleAvailable{
	
}
.asContainer a.asSingleEmployee:hover,
.asContainer .asSingleEmployee.asSingleAvailable:hover{
	border: solid 2px #89cc6f;
	padding: 0px;
	text-decoration: none;
}
.asContainer .asSingleEmployeeNameOuter{
	color: #0082ce;
	cursor: pointer;
	font: normal 17px PTSansBold;
	height: 49px;
	display: table;
	width: 100%;
}
.asContainer .asSingleEmployeeNameInner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.asContainer .asSingleEmployeePic{
	cursor: pointer;
	display: block;
	height: 100px;
}
.asContainer .asSingleEmployeePic img{
	border: none;
	vertical-align: middle;
}
.asContainer .asSingleEmployeeNA{
	display: block;
	margin: 11px 0 0;
}
.asContainer .asSingleEmployeePhone{
	color: #1e2021;
	display: block;
	font: normal 15px PTSansBold;
	height: 19px;
	overflow: hidden;
	margin: 11px 0 0;
}
.asContainer .asSingleEmployeeEmail{
	color: #0082ce;
	display: block;
	font: normal 15px PTSansRegular;
	height: 19px;
	overflow: hidden;
	margin: 6px 0 0;
}
.asContainer .asSingleEmployeeEmail a{
	color: #0082ce;
	padding: 0 0 0 5px;
	text-decoration: none;
	vertical-align: top;
}
.asContainer .asSingleEmployeeEmailIcon{
	width: 19px;
	height: 19px;
	display: inline-block;
}
.asContainer .asSingleEmployeePhoneInner,
.asContainer .asSingleEmployeeEmailInner{
	margin: 0 auto;
	display: inline-block;
	padding: 0 0 0 24px;
}
.asContainer .asSingleEmployeeEmailInner{
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
}
.asContainer .asSingleUnavailable .asSingleEmployeeNameOuter,
.asContainer .asSingleUnavailable .asSingleEmployeePhone,
.asContainer .asSingleUnavailable .asSingleEmployeeEmail,
.asContainer .asSingleBooked .asSingleEmployeeNameOuter,
.asContainer .asSingleBooked .asSingleEmployeePhone,
.asContainer .asSingleBooked .asSingleEmployeeEmail,
.asContainer .asSingleCart .asSingleEmployeeNameOuter,
.asContainer .asSingleCart .asSingleEmployeePhone,
.asContainer .asSingleCart .asSingleEmployeeEmail{
	color: #b9c0c2;
}
.asContainer .asSingleSelected{
	background-color: #dbf2d2;
}
.asContainer .asLayout1{
	display: none;
}
.asContainer .asSingleCartInfo{

}
.asContainer .asSingleCartHead{
	border-bottom: solid 1px #e0e3e4;
	margin: 0 0 5px;
	padding: 0 0 5px;
}
.asContainer .asSingleCartService{
	color: #222425;
	font: normal 20px PTSansBold;
	float: left;
}
.asContainer .asSingleCartRemove{
	float: right;
}
.asContainer .asSingleCartRemove a{
	display: inline-block;
	height: 26px;
	width: 26px;
}
.asContainer .asSingleCartEmployee{
	color: #0082ce;
	font: normal 17px PTSansRegular;
	margin: 0 0 5px;
}
.asContainer .asSingleCartDate,
.asContainer .asSingleCartPrice{
	overflow: hidden;
	margin: 0 0 1px;
}
.asContainer .asSingleCartLabel{
	color: #000;
	font: normal 17px PTSansRegular;
	width: 25%;
	display: inline-block;
	float: left;
}
.asContainer .asSingleCartValue{
	color: #777676;
	font: normal 16px PTSansRegular;
	width: 75%;
	display: inline-block;
	float: left;
}
.asContainer .asSelectorSingleDatepicker .asSelectorCalendar{
	max-width: 400px;
}

/* Custom */
.asSelectorSingleForm .asBoxInner{
	display: inline-block;
	width: 100%;
}
.asContainer .asLabel{
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	float: none;
}
.asSingleCategories{
	width: 45%;
	float: left;
}
.asSingleServices{
	width: 45%;
	float: left;
}
.asSingleEmployees{
	width: 30%;
	float: left;
}
.asSingleDate{
	clear: both;
	width: 100%;
}
.asSingle .asBox{
	padding: 10px;
}
.asSingle .asBox ul{
    margin: 0;
    padding: 0;
    border:1px solid #ddd;
	padding:5px 0px 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#f8f8f8;
}
.asSingle .asBox .asBoxInner ul{
	background-color:#fff;
	background-image:-moz-linear-gradient(#fff,#f8f8f8);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
}
.asSingle .asBox li{
	display: block;
}
.asSingle .asBox li a{
	display:block;
	height:26px;
	line-height:26px;
	padding:0px 10px;
	text-decoration:none;
	color:#333;
	font-weight:bold;
	position: relative;
}
.asSingle .asBox li a:hover,
.asSingle .asBox li a.asUnavailable{
	background-color:rgba(231,26,121,0.15);
}
.asSingle .asBox li a.asUnavailable{
	cursor: default;
}
.asSingle .asBox li.active a,
.asSingle .asBox li.active a:hover{
	background-color:#e71a79; 
	cursor:default;
	color: #FFF; 
}
.asSingleDate{
	margin-top: 20px;	
}
.asSingleDate .asBox{
	text-align: center;
}
.asSingleDate .asBox label{
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 20px;
}
.asSingleDate .dateStart{
	text-align: center;
	margin-bottom: 20px;
}
.asSingleDate .dateStart ul{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.asSingleDate .dateStart ul li{
	display: inline-block;
}
.asSingleDate .asBox li a{
	font-weight: normal;
	padding: 0 15px;
	margin: 0 10px;
	border-radius: 4px;
}
.asSingleDate .asBox .times{
	width: 100%;
}
.asSingleDate .asBox .times  .timeInner td{
	background-color:#f8f8f8;
	padding: 5px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px 1px 1px 0;
}
.asSingleDate .asBox .times  .timeInner td.borderLeft{
	border-left: 1px solid #ddd;
}
.asSingleDate .asBox .asdate .times .timeInner td{
	background-color:#fff;
	background-image:-moz-linear-gradient(#fff,#f8f8f8);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
}
.asSingleDate .asBox .times ul{
	background: none;
	border: 0;
}
.asSingleServices ul .asServiceMore{
	background: #FFF;
    border-bottom: 1px solid #ddd;
    padding: 0 0 0 20px;
}
.asSingleServices ul .asServiceMore ul{
	background: none !important;
    border: 0 none;
    border-radius: 0;
    min-height: 0 !important;
}
.asSingleServices ul .asServiceMore ul a{
	background: none !important;
    display: inline-block;
    padding: 0;
}
.asSingleServices ul .asServiceMore ul a:hover span,
.asSingleServices ul .asServiceMore ul li.active a span{
	color: #0082CE;
}
.asContainer .asServicePrice, .asContainer .asServiceTime{
	padding: 0 5px 0 30px;
}
.asContainer .asServicePrice{
	background-position: -3px 0;
}
.asSingleDate .asBox .times li a{
	border-radius: 0;
}
/* Responsive design */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.asSingleCategories,
	.asSingleServices,
	.asSingleEmployees{
		display: block;
		float: none;
		width: 60% !important;
		margin: auto;
	}
}
@media screen and (max-width: 767px) {
	.asSingleCategories,
	.asSingleServices,
	.asSingleEmployees{
		display: block;
		float: none;
		width: auto !important;
	}
	.asSingleDate {
		overflow-y: hidden;
		overflow-x: auto; 
	}
	.asdate{
		min-width: 600px;
	}
	.asSingleDate .asBox li a{
		margin: 0;
    	padding: 0 5px;
	}
}
@media screen and (max-width: 479px) {
	body{
		margin: 3px;
	}
	.asContainer .asLabel,
	.asContainer .asValue{
		float: none;
		padding: 0;
		width: 100%;
	}
	.asContainer .asRowControl{
		float: none;
		width: 100%;
	}
	.asContainer .asSelectorServiceBox .asLabel{
		display: none;
	}
	.asContainer .asElementOutline {
	    margin: 12px 5px;
	    overflow: hidden;
	    padding: 0;
	}
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 768px) and (max-width: 860px), (min-width: 1024px) and (max-width: 1450px) {

}