<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Limon</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
<div id="sitecolor">
	<div id="container_wrap">
		<div id="header">
			<!-- start header -->{$editableheader}<!-- end header -->
			<div class="nav">
			<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
			</div>
		</div>
		
		<div id="our_story" class="main_content">
			<!-- start maincontent -->{$editablemaincontent}<!-- end maincontent -->
		
		<div class="clear"></div>
		<div id="footer">
		<!-- start footer -->{$editablefooter}<!-- end footer -->
		
	</div>
	</div>
</body>			
</html>	