<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Limon</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
<div id="sitecolor">
	<div id="container_wrap">
		<div id="header">
			<!-- start header -->
			<div class="logo">
				<img src="images/logo.png" id="logo" data-type="logo" data-edit="true" />
			</div>
			<!-- end header -->
			<div class="nav">
			<!-- start topmenu -->
				<ul data-type="menu">		
					<li><a data-alias="index">Home</a></li>
					<li class="active"><a data-alias="about">About</a></li>
					<li><a data-alias="service">Service</a></li>
					<li><a data-alias="contact">Contact</a></li>
				</ul>
			  <div class="clear"></div>
			 <!-- end topmenu -->
			</div>

		</div>
		
		<div id="contact_us" class="main_content">
			<!-- start maincontent -->
			<div class="page_heading">
				<h2>Contact Us</h2>	
			</div>
			
			<div class="small_left_column">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				
				<form action="javascript:;" method="post" id="contact_form">
					<div class="row">
						<p>
							<label>Your Name</label>
							<input type="text" name="name" class="text_field" />
						</p>
						<p>
							<label>Your Email</label>
							<input type="text" name="email" class="text_field" />
						</p>
					</div>
					<div class="row">
						<p>
							<label>Your Phone Number</label>
							<input type="text" name="phone" class="text_field" />
						</p>
						<p>
							<label>Subject</label>
							<select class="text_field" name="subject">
								<option>Select a subject...</option>
								<option>Option 2</option>
							</select>
						</p>
					</div>
					<p>
						<label>Message / Question</label>
						<textarea class="text_field" rows="10" cols="10" name="message"></textarea>
					</p>
					<input type="submit" class="button" value="Send Message" />
				</form>
				<div class="clear"></div>
			</div>
			<div id="sidebar" class="large_right_column">
				<div id="hq" class="container">
					<h3>Limon Headquarters</h3>
					<div class="content">
						<ul>
							<li class="mail">
								<b>By E-mail</b>
								<p>
									info@limon.com
								</p>						
							</li>
							<li class="phone">
								<b>By Phone</b>
								<p>1-800-996-1010</p>								
							</li>
							<li class="fax last">
								<b>By Fax</b>
								<p>1-800-996-1010</p>					
							</li>
						</ul>
					</div>
				</div>
			<div class="clear"></div>
			</div>
		</div>
		<!-- end maincontent -->
		<div class="clear"></div>
		
		<div id="footer">
		<!-- start footer -->
				<div class="left">
					<p>Copyright &copy; Limon 2011. All Rights Reserved.</p>
				</div>
				
				<div class="right">
					<ul>
						<li class="facebook"><a href="">Facebook</a></li>
						<li class="twitter"><a href="">Twitter</a></li>
						<li class="flickr"><a href="">Facebook</a></li>
					</ul>
				</div>
		</div>
		<!-- end footer -->
		
	</div>
	</div>
</body>			
</html>