<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<title>Limon</title>
<link data-type="sitestyle" rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
<div id="sitecolor">
	<div id="container_wrap">
		<div id="header">
			<!-- start header -->{$editableheader}<!-- end header -->
			<div class="nav">
			<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
			</div>	
		</div>		
		<div id="homepage" class="main_content">
		
			<div class="banner">
			<!-- start banner -->{$editablebanner}<!-- end banner -->
			</div>
		
			<div id="welcome">
			<!-- start box1 -->{$editablebox1}<!-- end box1 -->
			<div id="details">
				<!-- start box2 -->{$editablebox2}<!-- end box2 -->
			<div id="feedback">
				<!-- start box3 -->{$editablebox3}<!-- end box3 -->			
		</div>
		
		
		<div id="footer">
		<!-- start footer -->{$editablefooter}<!-- end footer -->
		
	</div>
	</div>
</body>
</html>