body{background:#3f1445 url(../images/bg.jpg) scroll 50% 0 no-repeat; }
body,html{
	margin:0;
	padding:0;
	color:#333333;
	font-family:"Trebuchet MS", "Helvetica Condensed", Arial;
	font-size:13px;}
p,ul,li, h1,h2,h3,h4,h5,h6,h7{
	padding:0;
	margin:0;}
a{
	border:0;
	text-decoration:none;
	color:#1BC2EF;
	}
li{ list-style:none;}
.clear{
	clear:both;}
.right{
	float:right;}
.left{
	float:left;}
.wrapper{ max-width:980px; margin:0 auto; width:100%;}

#sitecolor{ background:#3f1445 url(../images/bg.jpg) scroll 50% 27% no-repeat;}


/* Header CSS */

.logo_image{ float:left; margin:30px 0 15px 0;}

.menu_wrapper ul li a{
	padding: 1px 25px 1px 25px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-ms-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	
	height:37px;
	display:inline-block;
	font-weight: normal;
	text-decoration: none;
	margin-top: -1px;
	line-height: 37px;
	text-align: center;
	font-family: 'Oswald';
	font-size: 17px;
	color: #ffffff;
	letter-spacing: 0px;
	cursor:pointer;
}

.menu_wrapper ul li a:hover, .menu_wrapper li.active a{border: 1px solid #ab5788; padding:0px 24px;}

.menu_wrapper ul li{ float:left; margin:0 3px;}

.compnynamencaption { float:right; margin-top:60px;}


/*****CONTENT CSS******/

.content_wrapper{ background:#1c0a1d; padding:20px; margin-bottom:35px;}

.banner{ margin-bottom:20px;}

.welcome_box{
	width: 619px;
	height: 275px;
	float:left;
	padding:5px;
	background: rgb(83,29,82); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(83,29,82,1) 0%, rgba(40,15,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,29,82,1)), color-stop(100%,rgba(40,15,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(83,29,82,1) 0%,rgba(40,15,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(83,29,82,1) 0%,rgba(40,15,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(83,29,82,1) 0%,rgba(40,15,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(83,29,82,1) 0%,rgba(40,15,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#531d52', endColorstr='#280f28',GradientType=0 ); /* IE6-9 */

}

.welcome_text{ min-height:222px; max-height:100%; border:1px solid #673867; padding:25px;}

.welcome_text h2{ font-size: 52px;color: #cfc2d0; font-weight:normal;}

.welcome_text h3{font-size: 23px;color: #a66da4; font-weight:normal; margin:5px 0;}

.welcome_text p{font-size: 13px; color: #a888a8; margin:5px 0;}

.ournews_box { width: 289px; height: 275px; float:right; background: rgb(102,24,71); /* Old browsers */
background: -moz-linear-gradient(top, rgba(102,24,71,1) 2%, rgba(45,16,34,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(102,24,71,1)), color-stop(100%,rgba(45,16,34,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(102,24,71,1) 2%,rgba(45,16,34,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(102,24,71,1) 2%,rgba(45,16,34,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(102,24,71,1) 2%,rgba(45,16,34,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(102,24,71,1) 2%,rgba(45,16,34,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#661847', endColorstr='#2d1022',GradientType=0 ); /* IE6-9 */
padding:5px;}

.ournews_content{ border:1px solid #673867; min-height:220px; padding:25px; margin-bottom:20px;}

.ournews_content h2{ font-size: 52px;color: #cfc2d0; font-weight:normal; margin:5px 0;}

.ournews_content .date{font-size: 14px; font-weight:bold;color: #dba6c7;}

.ournews_content p{font-size: 13px; color: #a25d88; margin:5px 0;}

.readmore{height: 36px; width: 99px; display:inline-block; text-align:center; line-height:36px; color:#3f1530; text-transform:uppercase; font-weight:bold;background: url('../images/button-1_1.png') repeat-x top center; -webkit-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -ms-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; margin-top:10px; cursor:pointer;} 

.footerboxs{ margin-top:20px; float:left; clear:both; width:100%;}

.footerboxs h2{ font-size: 36px;color: #cfc2d0; font-weight:normal; margin:5px 0 10px;}

.box1{ float:left; width:250px; padding:0 20px 0 0; border-right:1px solid #312133;}

.service{ border-bottom:1px solid #312133; padding:0 0 20px; margin-bottom:10px;}

.service h3{ font-size: 18px;color: #983d77; margin-bottom:10px; font-weight:normal;}

.service a{font-size: 13px;color: #704e6b; margin-bottom:10px;}

.service a:hover{ text-decoration:underline;}

.box2{width:299px; padding:0 50px; float:left; border-right:1px solid #312133; font-size: 12px;
color: #695269;}

.box2 img{ margin:5px 0 20px;}

.box2 p{margin:5px 0;}

.box3{ width:222px; float:right;}

.box3 li{ background:url(../images/marker-1.png) no-repeat scroll 0 50%; height:40px; line-height:45px; border-bottom:1px solid #312133; display:block; padding:0 0 0 30px; color:#dabcdc; cursor:pointer;}

.box3 li:hover{ color:#d473ae}

.box3 li:last-child{ border:none;}

.copyright{ margin:15px 0 0 0; padding:25px 0 15px; border-top:1px solid #312133; width:100%; float:left; clear:both; text-align:center;}

/* Main content */
.main-content{ padding:5px;}

.content-box{ border:1px solid #673867; padding:25px;}

.content-box h1{font-size: 36px;color: #cfc2d0; font-weight:normal; margin:5px 0; }

.content-box p{ margin-bottom:10px; color:#695269}

.readmore:hover{ background:url(../images/button_01.png) scroll 0 0;}

@media screen and (min-width:320px) and (max-width:979px){
	#sitecolor{ background:#3f1445;}
	.logo_image { text-align:center; width:100%;}
	.menu_wrapper ul li{ float:none; margin:0; width:100%;}
	.menu_wrapper ul li a{ width:100%; border:none; padding:0 !important;border:none;}
	.menu_wrapper li.active a{background:#ab5788; padding:0 !important;border:none;}
	.menu_wrapper ul li a:hover{ padding:0 !important; background:#ab5788; border:none;}
	.compnynamencaption{ width:100%;}
	.welcome_box, .ournews_box{ height:auto;}
	.banner img, .contentboxes, .box1, .box2, .box3, .welcome_box, .ournews_box{ width:100%; margin-bottom:20px; float:left; padding:0}
	.ournews_content{ height:auto; margin:0;}
	.box2{ text-align:center; border:none;}
	.box1{ border:none;}
	.content-box{ padding:15px;}
}

@media screen and (min-width:320px) and (max-width:600px){
	.box2 img{ width:100%;}
}