.comfortaa {
  font-family: "Comfortaa", Helvetica, Arial, Verdana;
}
.orange {
  color: #ec7923;
}
.main {
  margin-bottom: 20px;
}
.as-table-wrapper {
  overflow-x: scroll;
}
.as-table-left-header {
  margin-top: 1px;
}
.as-table-left-header td {
  text-align: center;
  height: 30px;
}
.nav-as .dropdown-menu > li > a {
  font-weight: 300;
}
.nav-as .dropdown-menu > li > a:hover,
.nav-as .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #f09652;
}
.nav-as .open > a,
.nav-as .open > a:hover,
.nav-as .open > a:focus {
  background-color: #f09652;
  color: #fff;
}
.as-table {
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
.as-table th {
  min-width: 150px;
  max-width: 200px;
}
.as-table td {
  color: #333333;
  background-color: #f5b869;
  border: 1px solid #fff;
}
.as-table .inactive td {
  background-color: #888;
  color: #eeeeee;
}
.as-table .booked {
  background-color: #ed1c24;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}
.as-table .booked a {
  color: #fff;
}
.as-table small {
  font-weight: 700;
  margin-right: 30px;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.as-calendar {
  background: #eee;
  white-space: nowrap;
  overflow-x: scroll;
}
.as-col {
  width: 200px;
  display: inline-block;
  margin-bottom: 0px;
}
.as-col ul {
  padding: 0px;
  margin-left: -3px;
  margin-bottom: 0px;
}
.as-col li {
  height: 30px;
  line-height: 28px;
  list-style-type: none;
  margin: 0;
  color: #333333;
  background-color: #f5b869;
  border: 1px solid #fff;
  text-align: center;
}
.as-col li.as-col-header {
  background: #ccc;
  font-weight: 700;
}
.as-col li.active {
  cursor: pointer;
}
.as-col li.inactive {
  background-color: #888;
  color: #eeeeee;
  cursor: no-drop;
}
.as-col li.booked {
  background-color: #ed1c24;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-align: left;
  padding: 0 10px;
}
.as-col li.booked a {
  color: #fff;
}
.as-col li.booked span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 165px;
  display: inline-block;
}
.as-col li.freetime {
  background-color: #888;
  font-size: 13px;
  text-align: left;
  padding: 0 10px;
}
.as-col li.freetime a {
  color: #ff0000;
}
.as-col li.freetime span {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 165px;
  display: inline-block;
}
.as-col li.slot-booked-head {
  border-bottom: 0;
}
.as-col li.slot-booked-body {
  border-top: 0;
  border-bottom: 0;
}
.as-col-left-header {
  width: 100px;
  display: inline-block;
}
.as-col-left-header li {
  height: 30px;
  line-height: 28px;
  list-style-type: none;
  color: #333333;
  background-color: #ddd;
  border: 1px solid #fff;
  text-align: center;
}
.as-modal-form {
  display: none;
}
.as-submit-row {
  text-align: right;
  padding-top: 10px;
  border-top: 1px dotted #ddd;
}
.as-calendar-action {
  width: 300px;
  margin: 20px;
}
.as-calendar-book {
  width: 800px;
  margin: 20px;
}
.as-freetime-form {
  width: 500px;
  margin: 20px;
}
div.tooltip-inner {
  max-width: 350px;
}
.js-sortable-1 {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
