<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>D design</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper">
		<div class="wrapper">
			<div class="layout_header">
			<!-- start header -->
			<div class="header_wrapper">
				<div class="logo_sec">
					<div class="logo">
						<img src="images/logo.jpg" id="logo" data-type="logo" data-edit="true">
					</div>
					<div class="logo_name">
						<h1 id="heading" data-type="heading"><span>D</span> designs </h1>
						<h2 id="caption" data-type="caption">The Complete IT Solutions</h2>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end header -->
			</div>
			<div class="layot_topmenu">
			<!-- start topmenu -->
				<div class="top_menu">
					<ul  data-type="menu">
						<li class="active"><a data-alias="index">Home</a></li>
						<li><a data-alias="aboutus">About Us</a></li>
						<li><a data-alias="ourservices">Our Services</a></li>
						<li><a data-alias="contactus">Contact Us </a></li>
					</ul>
				</div>
			<!-- end topmenu -->
			<div class="clear"></div>
			</div>
			<div class="layout_bannerarea">
			
			<div class="banner_area_wrapper">
					<div class="welcome_area">
						<!-- start w_box -->
						<h2>Welcome</h2>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
						Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
						consectetuer adipis cing elit. Mauris fermentum dictum magna. 
						Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.</p>
						<p><a class="morelink">more</a></P>
						<div class="clear"></div>
						<!-- end w_box -->
					</div>
					<div class="banner">
						<!-- start banner -->
						<div data-type="slider">
						<img src="images/banner.png" data-edit="true" title="Click here to update your gallery">
						</div>
						<!-- end banner -->
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				</div>
				<div class="layout_homecontentrow2">
				
				<div class="homeblkrow1">
				<div class="blkbox rightmarg1">
						<!-- start box1-->
						<div class="homeblkrow1_image">
						<img src="images/img1.jpg" data-edit="true">
						</div>
						<!-- end box1 -->
						<!-- start box1_content-->
						<h3>Web <span>Shop</span> </h3>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
						Phasellus porta. Fusce suscipit varius mi.</p>
						<p><a class="morelink">more</a></P>
						<div class="clear"></div>
						<!-- end box1_content-->
			  </div>
					<div class="blkbox rightmarg1">
						<!-- start box2-->
					  	<div class="homeblkrow1_image">
						<img src="images/img2.jpg" data-edit="true">
						</div>
						<!-- end box2 -->
						<!-- start box2_content-->
						<h3>Web<span> Site</span> </h3>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
						Phasellus porta. Fusce suscipit varius mi. </p>
						<p><a class="morelink">more</a></P>
						<div class="clear"></div>
						<!-- end box2_content-->
					</div>
					<div class="blkbox">
						<!-- start box3-->
					  	<div class="homeblkrow1_image">
							<img src="images/img3.jpg" data-edit="true">
						</div>
						<!-- end box3 -->
						<!-- start box3_content-->
						<h3>Creative <span>Design</span> </h3>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
						Phasellus porta. Fusce suscipit varius mi.</p>
						<p><a class="morelink">more</a></P>
						<div class="clear"></div>
						<!-- end box3_content-->
					</div>
					<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
	</div>
	<div class="clear"></div>
	<div class="footer_outer">
			<div class="footer">
			<!-- start footer -->
			<div id="site_banner" data-type="site_banner"></div>
			<div class="footer_content">
				 <p>&copy;2013 D design All Rights Reserved </p>
				 <div class="socialshare"  data-type="socialshare">
					<img src="images/ricon_facebook.png" data-edit="true">
					<img src="images/ricon_linkedin.png" data-edit="true">
					<img src="images/ricon_twitter.png" data-edit="true">
				</div>
			</div>
			<!-- end footer -->
			</div>
			</div>
		</div>
	</div>
</body>
</html>
