<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>D design</title>
</head>

<body>
<div class="main_outer">
	<div id="sitecolor">
	<div class="outerwrapper">
		<div class="wrapper">
			<div class="layout_header">
			<!-- start header -->{$editableheader}<!-- end header -->
			</div>
			<div class="layot_topmenu">
			<!-- start topmenu -->{$editabletopmenu}<!-- end topmenu -->
			<div class="clear"></div>
			</div>
			<div class="layout_bannerarea">
			
			<div class="banner_area_wrapper">
					<div class="welcome_area">
						<!-- start w_box -->{$editablew_box}<!-- end w_box -->
					</div>
					<div class="banner">
						<!-- start banner -->{$editablebanner}<!-- end banner -->
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				</div>
				<div class="layout_homecontentrow2">
				
				<div class="homeblkrow1">
				<div class="blkbox rightmarg1">
						<!-- start box1-->{$editablebox1}<!-- end box1 -->
						<!-- start box1_content-->{$editablebox1_content}<!-- end box1_content-->
			  </div>
					<div class="blkbox rightmarg1">
						<!-- start box2-->{$editablebox2}<!-- end box2 -->
						<!-- start box2_content-->{$editablebox2_content}<!-- end box2_content-->
					</div>
					<div class="blkbox">
						<!-- start box3-->{$editablebox3}<!-- end box3 -->
						<!-- start box3_content-->{$editablebox3_content}<!-- end box3_content-->
					</div>
					<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
			</div>
	</div>
	<div class="clear"></div>
	<div class="footer_outer">
			<div class="footer">
			<!-- start footer -->{$editablefooter}<!-- end footer -->
			</div>
			</div>
		</div>
	</div>
</body>
</html>
