<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Meta Content" />
<meta name="keywords" content="Meta Keywords" />
<link data-type="sitestyle" href="styles/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<title>Cinemax Entertainment</title>
</head>			

<body>
		<div class="outerwrapper">
			<div id="sitecolor">
			<div class="wrapper">
				<div class="layout_header">
					<!-- start header -->
					<div class="header_wrapper">
						<div class="logo_sec">
							<div class="logo">
								<img src="images/logo.png" id="logo" data-type="logo" data-edit="true">
							</div>
							<div class="logo_name">
								<h1 id="heading" data-type="heading"><span>Cine</span>max </h1>
								<h2 id="caption" data-type="caption">Entertainment</h2>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				<div class="layot_topmenu">
					<div class="top_menu">
						<ul  data-type="menu">
							<li class="active"><a href="#" data-alias="index">Home</a></li>
							<li><a href="#" data-alias="aboutus">About Us</a></li>
							<li><a href="#" data-alias="gallery">Gallery</a></li>
							<li><a href="#" data-alias="contactus">Contact Us </a></li>
						</ul>
					<div class="clear"></div>
				</div>
				</div>
				<!-- end header -->
				</div>
				<div class="layout_bannerarea">
					<div class="banner_area_wrapper">
					 
					<div class="layout_banner">
					<div class="banner">
					<!-- start maincontent -->
						<div data-type="slider">
						<img src="images/banner.jpg" data-edit="true" title="Click here to update your gallery">
						</div>
					<!-- end maincontent -->
						</div>
					</div>
					
					
					<div class="layout_welcome_area">
					<!-- start box -->
						<div class="welcome_area">
						<h2>Welcome</h2>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
						Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
						consectetuer adipis cing elit. Mauris fermentum dictum magna. 
						Sed laore et aliquam leo. Ut tellus dolor, dapibus eget, element um vel, cursus eleifend, elit.</p>
						<p><a class="morelink right">more</a></P>
						<div class="clear"></div>
					</div>
					<!-- end box -->
					</div>
					
					<div class="clear"></div>
				</div>
				</div>
				<div class="layout_homecontentrow2">
					<!-- start box2 -->
					<div class="homecontentrow2">
						<div class="homecontentrow2_hdr">
						New Release <span>Movies</span>
						</div>
						<div class="homecontentrow2_content">
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
								<div class="fourcolumnbox_image">
								<img src="images/img4.jpg" data-edit="true">
								</div>
								<p><span><a href="#">Praesent vestibulum</a></span></p>
								<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
								<div class="clear"></div>
							</div>
								
							</div>
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
									<div class="fourcolumnbox_image">
									<img src="images/img5.jpg" data-edit="true">
									</div>
									<p><span><a href="#">Praesent vestibulum</a></span></p>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
									<div class="clear"></div>
								</div>
							</div>
							
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
									<div class="fourcolumnbox_image">
									<img src="images/img6.jpg" data-edit="true">
									</div>
									<p><span><a href="#">Praesent vestibulum</a></span></p>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
									<div class="clear"></div>
								</div>
							</div>
							
							<div class="layout_fourcolumnbox">
								<div class="fourcolumnbox ">
									<div class="fourcolumnbox_image">
									<img src="images/img7.jpg" data-edit="true">
									</div>
									<p><span><a href="#">Praesent vestibulum</a></span></p>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris.</p>
									<div class="clear"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<!-- end box2 -->
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="layout_row1">
				<!-- start box3 -->
				<div class="homecontentrow1">
				<div class="threecolumnbox">
						<h3>Top Rated <span>Movies</span> </h3>
						<div class="homecontentrow1_image">
						<img src="images/img1.jpg" data-edit="true">
						</div>
						<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
							Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, 
							consectetuer adipis cing elit.
						</p>
						<div class="clear"></div>
						<div class="more_blk"><a class="morelink right">more</a></div>
						<div class="clear"></div>
					</div>
					
					<div class="threecolumnbox2">
						<h3>Latest <span>News</span> </h3>
						<div class="exp">
							<ul>
								<li>
									<a href="#">Praesent vestibulum</a><br/><p>Maecenas ut ipsum id nibh cursus sagittis...</p>
								</li>
								<li>
									<a href="#">Praesent vestibulum</a><br/><p>Mauris iaculis semper magna in eleifend. Phasellus a...</p>
								</li>
								<li>
									<a href="#">Praesent vestibulum</a><br/><p>Quisque ipsum ipsum, tincidunt eu euismod non, blandit...</p>
								</li>
								<li>
									<a href="#">Praesent vestibulum</a><br/><p>Maecenas ut ipsum id nibh cursus sagittis...</p>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="more_blk"><a class="morelink right">more</a></div>
						<div class="clear"></div>
					</div>
					
					<div class="threecolumnbox3">
						<h3>Upcoming <span>Releases</span> </h3>
						<div class="new_date">
							<ul>
								<li>
									<span class="date"><img src="images/img8.jpg" data-edit="true"></span>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
									Phasellus porta. 
									</p>
								</li>
								<li>
									<span class="date"><img src="images/img9.jpg" data-edit="true"></span>
									<p>Praesent vestibulum molestie lacus. Aenean nonum my hendrerit mauris. 
									Phasellus porta. 
									</p>
								</li>
							</ul>
							<div class="clear"></div>
							<div class="more_blk"><a class="morelink">more</a></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<!-- end box3 -->
				</div>
			<div class="clear"></div>
			</div>
		<div class="clear"></div>
		<div class="footer_outer">
			<div class="footer">
			<!-- start footer -->
			<div id="site_banner" data-type="site_banner"></div>
			<div class="footer_content">
				 <p>&copy;2013 Cinemax Entertainment All Rights Reserved</p>
				 <div class="socialshare"  data-type="socialshare">
							<a href="#"><img src="images/ricon_facebook.png" data-edit="true"></a>
							<a href="#"><img src="images/ricon_linkedin.png" data-edit="true"></a>
							<a href="#"><img src="images/ricon_twitter.png" data-edit="true"></a>
				</div>
			</div>
			<!-- end footer -->
			</div>
		</div>
		</div>
		</div>
</body>
</html>
